<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2 class="text-capitalize">School Account</h2>
      </div>
    </div>
  </div>
</div>


<div class=" panel-content ">
  <div class="row ">
    <div class="col-md-12 ">
      <div class="widget ">
        <div class="table-area ">
          <div class="widget-title ">
            <h3>List of School<span class="tableTotal ">(Total : {{totalItems}}) </span></h3>
          </div>
          <div class="athleteaccountsholder">
            <uib-accordion close-others=" oneAtATime ">
              <div uib-accordion-group class="panel-default " is-open="s.open " ng-repeat="school in items track by $index ">
                <uib-accordion-heading>
                  <div class="schoolaccount-playerholder">
                    <div class="row ">
                      <div class="col-md-6 ">
                        <h4 class="schoolaccount-name text-left m-clear r-titillium-web-regular"> <span>{{$index+1}})</span> <span>{{school.school.sfaID}}</span> <span>{{school.school.schoolName}} </span></h4>

                      </div>
                      <div class="col-md-3 ">
                        <p class="schoolacoount-registerdate m-clear">{{school.createdAt | date}}</p>
                        <p class="m-clear"><span class="fz12">Payment Mode :</span><span class="fz12" ng-repeat="paymentmode in school.transaction track by $index">{{paymentmode.paymentMode}} <span ng-if="school.transaction.length!=1 && school.transaction.length !=0 && $index !=school.transaction.length-1" >,</span>                          </span>
                      </div>
                      <div class="col-md-3 ">
                        <span class="athleteaccount-upgraded pull-right label label-success text-right" ng-if="school.upgrade">Upgraded</span>
                      </div>
                    </div>

                  </div>
                </uib-accordion-heading>
                <div class="athleteaccount-datateam ">
                  <div class="text-center ">
                    <label class=" ">Data Team :</label>
                  </div>
                  <table class="table table-hover table-bordered ">
                    <thead>
                      <th>
                        <div class="text-capitalize ">
                          System Mode
                        </div>
                      </th>
                      <th ng-if="school.displayData.package1.name">
                        <div class="text-capitalize">
                          Package-{{school.displayData.package1.name}}

                        </div>
                      </th>
                      <th class="hide">
                        <div class="text-capitalize">
                          Regs Fees
                        </div>
                      </th>
                      <th>
                        <div class="text-capitalize ">
                          Tax
                        </div>
                      </th>
                      <th>
                        <div class="text-capitalize ">
                          Discount
                        </div>
                      </th>
                      <th>
                        <div class="text-capitalize ">
                          Amt Paid
                        </div>
                      </th>
                      <th>
                        <div class="text-capitalize ">
                          Amt Outstanding
                        </div>
                      </th>
                      <th>
                        <div class="text-capitalize ">
                          Payment Status
                        </div>
                      </th>
                      <th>
                        <div class="text-capitalize">
                          Verified
                        </div>
                      </th>
                      <th>
                        <div class="text-capitalize ">
                          Payu Id
                        </div>
                      </th>
                    </thead>
                    <tbody>
                      <td>
                        <div class="text-capitalize">
                          <span ng-repeat="paymentmode in school.transaction track by $index">{{paymentmode.paymentMode}} <span ng-if="$index<school.transaction.length-1">,</span>                          </span>
                        </div>
                      </td>
                      <td ng-if="school.displayData.package1.date">
                        <div>
                          <p class="m-clear">{{school.displayData.package1.date | date}}</p>
                          <p class="m-clear">Amount : {{school.displayData.package1.amount}}</p>
                        </div>
                      </td>
                      <td class="hide">
                        <div>
                          {{school.displayData.AmountPaid}}
                        </div>
                      </td>
                      <td>
                        <div>
                          {{school.displayData.sgst + school.displayData.cgst + school.displayData.igst}}
                        </div>
                      </td>
                      <td>
                        <div>
                          {{school.displayData.discount}}
                        </div>
                      </td>
                      <td>
                        <div>
                          {{school.displayData.AmountPaid}}
                        </div>
                      </td>
                      <td>
                        <div>
                          {{school.displayData.outstandingAmount}}
                        </div>
                      </td>
                      <td>
                        <div>
                          <span ng-repeat="verfieddata in school.transaction track by $index">{{verfieddata.paymentStatus}} <span ng-if="$index<school.transaction.length-1">,</span>                          </span>
                        </div>
                      </td>
                      <td>
                        <div class="text-capitalize">
                          {{ school.school.status }}
                        </div>
                      </td>
                      <td>
                        <div>
                          <span ng-repeat="payid in school.displayData.payuId track by $index">{{payid}}  <span ng-if="$index<school.displayData.payuId-1">,</span>                          </span>
                        </div>
                      </td>
                    </tbody>
                  </table>
                </div>

                <div class="athleteaccount-accountteam ">
                  <div class="text-center ">
                    <!-- <pre class="text-left">{{school|json}}</pre> -->
                    <label class="">Account Team :</label>
                    <div class="pull-right " style="margin-bottom:10px; ">
                      <button type="submit " class="btn btn-primary" ng-click="editAccountModal(school)">Edit</button>
                    </div>
                    <table class="table table-hover table-bordered ">
                      <thead>
                        <th>
                          <div class="text-capitalize ">
                            Payment mode date
                          </div>
                        </th>
                        <th ng-if="school.displayData.package1.name">
                          <div class="text-capitalize">
                            Package- {{school.displayData.package1.name}}
                          </div>
                        </th>
                        <th>
                          <div class="text-capitalize ">
                            SGST @ 9%
                          </div>
                        </th>
                        <th>
                          <div class="text-capitalize ">
                            CGST @ 9%
                          </div>
                        </th>
                        <th>
                          <div class="text-capitalize">
                            IGST @ 9%
                          </div>
                        </th>
                        <th>
                          <div class="text-capitalize ">
                            Discount
                          </div>
                        </th>
                        <th>
                          <div class="text-capitalize ">
                            Net Total
                          </div>
                        </th>
                        <th>
                          <div class="text-capitalize ">
                            Mode of payment
                          </div>
                        </th>
                        <th>
                          <div class="text-capitalize ">
                            Chq no
                          </div>
                        </th>
                        <th>
                          <div class="text-capitalize ">
                            Recipt No
                          </div>
                        </th>
                        <th>
                          <div class="text-capitalize ">
                            Remark
                          </div>
                        </th>
                      </thead>
                      <tbody>
                        <td>
                          <div class="text-capitalize text-left">
                            <span ng-repeat="paymentdate in school.transaction track by $index">{{paymentdate.dateOfTransaction | date}} <span ng-if="$index <school.transaction.length - 1">|</span>                            </span>
                          </div>
                        </td>
                        <td ng-if="school.displayData.package1.amount">
                          <div>
                            {{school.displayData.package1.amount}}
                          </div>
                        </td>
                        <td>
                          <div>
                            {{school.displayData.sgst}}
                          </div>
                        </td>
                        <td>
                          <div>
                            {{school.displayData.cgst}}
                          </div>
                        </td>
                        <td>
                          <div>
                            {{school.displayData.igst}}
                          </div>
                        </td>
                        <td>
                          <div>
                            {{school.displayData.discount}}
                          </div>
                        </td>
                        <td>
                          <div>
                            {{school.displayData.AmountToPay}}
                          </div>
                        </td>
                        <td>
                          <div>
                            <span ng-repeat="paymentmode in school.transaction track by $index">{{paymentmode.paymentMode}} <span ng-if="$index < school.transaction.length-1">,</span>                            </span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <span ng-repeat="chq in school.displayData.checkNo track by $index"> {{chq}} <span ng-if="$index < school.displayData.checkNo.length-1">,</span>                            </span>
                          </div>
                        </td>
                        <td>
                          <div>
                            <span ng-repeat="rcpt in school.displayData.receiptId track by $index"> {{rcpt}} <span ng-if="$index < school.displayData.receiptId.length-1">,</span>                            </span>
                            </span>
                          </div>
                        </td>
                        <td>
                          <div>
                            {{school.displayData.remarks}}
                          </div>
                        </td>
                      </tbody>
                    </table>
                  </div>
                </div>
            </uib-accordion>
            </div>
            <div class="tableData " ng-show="totalItems===0 ">
              <h5>No data found</h5>
            </div>
            <div class="tableData " ng-show="totalItems===undefined ">
              <h5>Loading Data</h5>
            </div>
            <ul ng-if="totalItems " ng-change="viewTable() " uib-pagination total-items="totalItems " items-per-page="maxRow
                " ng-model="formData.page " max-size="template.pageMax " class="pagination-sm " boundary-links="true " force-ellipses="true "></ul>
          </div>
        </div>
      </div>
    </div>
  </div>