<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2 class="text-uppercase">Heats</h2>
      </div>
    </div>
  </div>
</div>

<div class="panel-content">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="form-elements-sec detailsport-team">
          <form name="detailForm" role="form" class="sec">
            <div class="row">
              <div class="col-md-12">
                <!-- MATCH AND SPORT -->
                <div class="row">
                  <!-- <pre>{{formData | json}}</pre> -->
                  <!-- MATCH ID -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Match Id*</label>
                      <input type="text" name="incrementalId" ng-model="formData.matchId" class="form-control" placeholder="MatchId" readonly>
                      <div class="error-msg" ng-if="detailForm.incrementalId.$invalid && detailForm.incrementalId.$touched">Please Enter Valid Match Id *</div>
                    </div>
                  </div>
                  <!-- MATCH ID END -->
                  <!-- SPORT  -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Sport</label>
                      <input type="text" name="incrementalId" ng-model="formData.sport.sportslist.sportsListSubCategory.name" class="form-control"
                        placeholder="Sport" readonly>
                      <div class="error-msg" ng-if="detailForm.incrementalId.$invalid && detailForm.incrementalId.$touched">Please Enter Valid Match Id *</div>
                    </div>
                  </div>
                  <!-- SPORT END -->
                </div>
                <!-- MATCH AND SPORT END -->
                <!-- DATE && TIME HOLDER -->
                <div class="row">
                  <div class="col-md-6">
                    <!-- DATE -->
                    <div class="form-group">
                      <label class="date-mb40">Schedule Date</label>{{formData.scheduleDate}}
                      <input name="schDate" type="text" ui-date="dateOptions" ng-model="formData.scheduleDate" class="form-control" placeholder="Enter Schedule Date">
                      <div class="error-msg" ng-if="detailForm.schDate.$invalid && detailForm.schDate.$touched">Please Enter Schedule Date *</div>
                    </div>
                    <!-- END DATE -->
                  </div>
                  <div class="col-md-6">
                    <!-- TIME -->
                    <div class="form-group">
                      <label class="date-mb40">Schedule Time</label>
                      <!-- <input type="text" name="schTime" ng-model="formData.nextMatch" class="form-control" placeholder="Enter Schedule Time"> -->
                      <input name="schtime" type="text" ng-model="formData.scheduleTime" class="form-control" placeholder="HH:MM">
                      <!-- <div uib-timepicker ng-model="formData.scheduleTime" hour-step="1" minute-step="1" show-meridian="true"></div> -->
                      <div class="error-msg" ng-if="detailForm.schTime.$invalid && detailForm.schTime.$touched">Please Enter Schedule Time *</div>
                    </div>
                    <!-- END TIME -->
                  </div>
                </div>
                <!-- DATE AND TIME HOLDER END -->

                <!-- VIDEO LINK -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Video Link</label>
                      <input type="text" name="video" ng-model="formData.video" class="form-control" placeholder="Enter video link">
                      <div class="error-msg" ng-if="detailForm.video.$invalid && detailForm.video.$touched">Please Enter Video Link*</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Video Type</label>
                      <input type="text" name="videotype" ng-model="formData.videoType" class="form-control" placeholder="Enter video Type">
                      <div class="error-msg" ng-if="detailForm.videotype.$invalid && detailForm.videotype.$touched">Please Enter Video Type*</div>
                    </div>
                  </div>

                </div>
                <!-- VIDEO LINK END -->

                <!-- GENDER + AGE + EVENT -->
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Gender</label>
                      <input type="text" name="gender" ng-model="formData.sport.gender" class="form-control" placeholder="Gender" readonly>
                      <div class="error-msg" ng-if="detailForm.gender.$invalid && detailForm.gender.$touched">Please Enter Valid Match Id *</div>
                    </div>
                  </div>
                  <!-- GENDER END -->
                  <!-- AGE GROUP -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Age-group</label>
                      <input type="text" name="agegroup" ng-model="formData.sport.ageGroup.name" class="form-control" placeholder="Age" readonly>
                      <div class="error-msg" ng-if="detailForm.agegroup.$invalid && detailForm.agegroup.$touched">Please Enter Valid Match Id *</div>
                    </div>
                  </div>
                  <!-- AGE GROUP END -->
                  <!-- EVENT -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Event-Category</label>
                      <input type="text" name="event" ng-model="formData.sport.sportslist.name" class="form-control" placeholder="Event" readonly>
                      <div class="error-msg" ng-if="detailForm.event.$invalid && detailForm.event.$touched">Please Enter Event *</div>
                    </div>
                  </div>
                </div>
                <!-- GENDER + AGE + EVENT END -->

                <!-- ROUND AND HEAT -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Round</label>
                      <input type="text" name="round" ng-model="formData.round" class="form-control" placeholder="Round" readonly>
                      <div class="error-msg" ng-if="detailForm.round.$invalid && detailForm.round.$touched">Please Enter Round *</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Heat</label>
                      <input type="text" name="heat" ng-model="formData.heatNo" class="form-control" placeholder="Heat No" readonly>
                      <div class="error-msg" ng-if="detailForm.heat.$invalid && detailForm.heat.$touched">Please Enter Heat No *</div>
                    </div>
                  </div>
                </div>
                <!-- ROUND AND HEAT END -->
                <!-- TABLE OF HEAT PLAYERS -->
                <div class="table-heat-players text-center table-responsive" ng-if="formData.resultHeat">
                  <table class="table">
                    <thead>
                      <th>
                        <div class="text-center">
                          Lane No
                        </div>
                      </th>
                      <th>
                        <div class="text-center">
                          SFA ID
                        </div>
                      </th>
                      <th>
                        <div class="text-center">
                          Name
                        </div>
                      </th>
                      <th>
                        <div class="text-center">
                          School Name
                        </div>
                      </th>
                      <th>
                        <div class="text-center">
                          Time
                        </div>
                      </th>
                      <th>
                        <div class="text-center">
                          Result
                        </div>
                      </th>
                      <th>
                        <div class="text-center">
                          Function
                        </div>
                      </th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="player in formData.resultHeat.players track by $index">
                        <td>
                          <div class="display-content-holder" ng-if="!player.show">
                            <p>{{player.laneNo}}</p>
                          </div>
                          <div class="edit-content-holder" ng-if="player.show">
                            <input type="text" name="incrementalId" ng-model="player.laneNo" class="form-control" placeholder="Sport">
                            <div class="error-msg" ng-if="detailForm.incrementalId.$invalid && detailForm.incrementalId.$touched">Please Enter Valid Match Id *</div>
                          </div>
                        </td>
                        <td>
                          <div class="display-content-holder" ng-if="!player.show">
                            <p>
                              {{player.sfaId}}
                            </p>
                          </div>
                          <div class="edit-content-holder" ng-if="player.show">
                            <input type="text" name="incrementalId" ng-model="player.sfaId" class="form-control" placeholder="Sport" readonly>
                            <div class="error-msg" ng-if="detailForm.incrementalId.$invalid && detailForm.incrementalId.$touched">Please Enter Valid Match Id *</div>
                          </div>
                        </td>
                        <td>
                          <div class="display-content-holder" ng-if="!player.show">
                            <p>{{player.fullname}}</p>
                          </div>
                          <div class="edit-content-holder" ng-if="player.show">
                            <input type="text" name="incrementalId" ng-model="player.fullname" class="form-control" placeholder="Sport" readonly>
                            <div class="error-msg" ng-if="detailForm.incrementalId.$invalid && detailForm.incrementalId.$touched">Please Enter Valid Match Id *</div>
                          </div>
                        </td>
                        <td>
                          <div class="display-content-holder" ng-if="!player.show">
                            <p title="{{player.schoolname}}">{{player.schoolname | truncate:35}}</p>
                          </div>
                          <div class="edit-content-holder" ng-if="player.show">
                            <input type="text" name="incrementalId" ng-model="player.schoolname" class="form-control" placeholder="Sport" readonly>
                            <div class="error-msg" ng-if="detailForm.incrementalId.$invalid && detailForm.incrementalId.$touched">Please Enter Valid Match Id *</div>
                          </div>
                        </td>
                        <td>
                          <div class="display-content-holder" ng-if="!player.show">
                            <p>{{player.time}}</p>
                          </div>
                          <div class="edit-content-holder" ng-if="player.show">
                            <input type="text" name="incrementalId" ng-model="player.time" class="form-control" placeholder="Sport">
                            <div class="error-msg" ng-if="detailForm.incrementalId.$invalid && detailForm.incrementalId.$touched">Please Enter Valid Match Id *</div>
                          </div>
                        </td>
                        <td>
                          <div class="display-content-holder" ng-if="!player.show">
                            <p>{{player.result}}</p>
                          </div>
                          <div class="edit-content-holder" ng-if="player.show">
                            <input type="text" name="incrementalId" ng-model="player.result" class="form-control" placeholder="Sport">
                            <div class="error-msg" ng-if="detailForm.incrementalId.$invalid && detailForm.incrementalId.$touched">Please Enter Valid Match Id *</div>
                          </div>
                        </td>
                        <td>
                          <div class="display-content-holder mt10">
                            <p>
                              <a class="btn btn-primary" target="_blank" ng-click="editHeat($index)">
                                    <i class="fa fa-pencil"></i>
                                  </a>
                              <a class="btn btn-danger" ng-click="confDel(player._id)">
                                    <i class="fa fa-trash"></i>
                                  </a>
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- TABLE OF HEAT PLAYERS END -->
              </div>
              <div class=" text-center mt20 odd-even-button ">
                <button class="btn btn-default " type="submit " ng-click="saveDataMatch(formData) ">Save</button>
                <button class="btn btn-default " ng-click="cancelHeat(formData.sport.sportslist.drawFormat.name)">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>