<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2 class="text-uppercase">Matches</h2>
      </div>
    </div>
  </div>
</div>

<div class="panel-content">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="form-elements-sec">
          <form name="detailForm" role="form" class="sec">
            <div class="row">
              <div class="col-md-12">
                <!-- MATCH HEAD -->
                <div class="form-group">
                  <h5 class="text-center">MATCH DETAILS</h5>
                </div>
                <!-- MATCH HEAD END -->
                <!-- <pre>{{formData | json}}</pre> -->
                <!-- MATCH DETAILS -->

                <!-- MATCH ID + ROUND + SPORTNAME -->
                <div class="row">
                  <!-- MATCH ID -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Match Id*</label>
                      <input type="text" name="incrementalId" ng-model="matchData.matchId" class="form-control" placeholder="Enter Name" readonly>
                      <div class="error-msg" ng-if="detailForm.incrementalId.$invalid && detailForm.incrementalId.$touched">Please Enter Valid Match Id *</div>
                    </div>
                  </div>
                  <!-- END MATCH ID -->
                  <!-- ROUND -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Round</label>
                      <input type="text" name="round" ng-model="formData.sportType" class="form-control" placeholder="Enter Round" readonly>
                      <div class="error-msg" ng-if="detailForm.round.$invalid && detailForm.round.$touched">Please Enter Valid Round *</div>
                    </div>
                  </div>
                  <!-- END ROUND -->
                  <!-- SPORT NAME -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Sport Name</label>
                      <input type="text" name="sportname" ng-model="formData.sportsName" class="form-control" placeholder="Enter Sport" readonly>
                      <div class="error-msg" ng-if="detailForm.sportname.$invalid && detailForm.sportname.$touched">Please Enter Filter*</div>
                    </div>
                  </div>
                  <!-- END SPORT NAME -->
                </div>
                <!-- MATCH ID + ROUND + SPORTNAME END -->

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Age</label>
                      <input type="text" name="age" ng-model="formData.age" class="form-control" placeholder="Enter Age" readonly>
                      <div class="error-msg" ng-if="detailForm.incrementalId.$invalid && detailForm.incrementalId.$touched">Please Enter Valid Match Id *</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Gender</label>
                      <input type="text" name="gender" ng-model="formData.gender" class="form-control" placeholder="Enter gender" readonly>
                      <div class="error-msg" ng-if="detailForm.incrementalId.$invalid && detailForm.incrementalId.$touched">Please Enter Valid Match Id *</div>
                    </div>
                  </div>
                </div>

                <!-- DATE AND TIME -->
                <div class="row">
                  <!-- DATE -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Schedule Date</label>
                      <input name="schDate" ui-date="dateOptions" ng-model="formData.scheduleDate" class="form-control" ng-required="true" placeholder="Enter Schedule Date">
                      <div class="error-msg" ng-if="detailForm.schDate.$invalid && detailForm.schDate.$touched">Please Enter Schedule Date *</div>
                    </div>
                  </div>
                  <!-- END DATE -->
                  <!-- TIME -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Schedule Time</label>
                      <input name="schDate" ng-model="formData.scheduleTime" class="form-control" ng-required="true" placeholder="Enter Schedule Time">
                      <!-- <input type="text" name="schTime" ng-model="formData.nextMatch" class="form-control" placeholder="Enter Schedule Time"> -->
                      <!-- <div uib-timepicker ng-model="formData.scheduleTime" hour-step="1" minute-step="1" show-meridian="true"></div> -->
                      <div class="error-msg" ng-if="detailForm.schTime.$invalid && detailForm.schTime.$touched">Please Enter Schedule Time *</div>
                    </div>
                    <!-- END TIME -->
                  </div>
                </div>
                <!-- DATE AND TIME -->

                <!-- STATUS + CHECKBOX -->
                <div class="row">
                  <!-- RACQUET STATUS -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Status</label>
                      <ui-select name="status" id="status" theme="bootstrap" ng-model="formData.resultsRacquet.status" ng-disabled="formData.resultsRacquet.status==='IsCompleted'"
                        required>
                        <ui-select-match placeholder="Please Enter Status">
                          {{$select.selected}}
                          <!-- {{formData.resultsCombat.status.status}} -->
                        </ui-select-match>
                        <ui-select-choices repeat="status in statusList | filter: $select.search track by $index">
                          <span ng-bind-html="status"></span>
                        </ui-select-choices>
                      </ui-select>

                      <div class="error-msg" ng-if="detailForm.status.$invalid && detailForm.status.$touched">Please Enter Status*</div>
                    </div>
                  </div>
                  <!-- RACQUET STATUS END -->
                  <!-- CHECKBOX -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label></label>
                      <div class="checkbox">
                        <div class="row">
                          <div class="col-md-6">
                            <label><input type="checkbox" ng-model="formData.resultsRacquet.isDraw" value="formData.resultsCombat.isdraw"> isdraw</label>
                          </div>
                          <div class="col-md-6">
                            <label><input type="checkbox" ng-model="formData.resultsRacquet.isNoMatch" value="formData.resultsCombat.isNoMatch"> isNoMatch</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- CHECKBOX END -->
                </div>
                <!-- STATUS + CHECKBOX -->

                <!-- SCORE CARD -->
                <div class="form-group" fields>
                  <label>Score Card <span ng-show="type.required">*</span></label>
                  <div>
                    <upload-image ng-model="formData.resultsRacquet.scoreSheet" multiple inobj></upload-image>
                  </div>
                </div>
                <!-- END SCORE CARD -->

                <!-- MATCH PHOTO -->
                <div class="form-group">
                  <label>Match<span ng-show="type.required">*</span></label>
                  <div>
                    <upload-image ng-model="formData.resultsRacquet.matchPhoto" multiple inobj></upload-image>
                  </div>
                </div>
                <!-- END MATCH PHOTO -->

                <!-- WINNER HOLDER -->
                <div class="row">
                  <!-- WINNER TEAM ID -->
                  <div class="col-md-12">
                    <!-- WINNER -->
                    <div class="form-group">
                      <label>Winner Team</label>
                      <select name="sponsortype" class="form-control" ng-model="formData.resultsRacquet.winner.player" placeholder="Enter Video Type"
                        required>
                                   <option value="{{team.team}}" ng-repeat="team in formData.resultsRacquet.teams">{{team.schoolName}}</option>
                      </select>
                      <div class="error-msg" ng-if="sponsorForm.sponsortype.$invalid && sponsorForm.sponsortype.$touched">Please Enter Valid Type *</div>
                    </div>
                    <!-- WINNER END -->
                  </div>
                  <!-- REASON OTHER SPORTS -->
                  <div class="col-md-12 " ng-if="formData.resultsRacquet.winner.reason">
                    <div class="form-group">
                      <label>Reason</label>
                      <input type="text" name="winnerreason" ng-model="formData.resultsRacquet.winner.reason" class="form-control" placeholder="Enter Reason">
                    </div>
                  </div>
                  <!-- REASON OTHER SPORTS END -->
                </div>
                <!-- WINNER HOLDER END -->



                <!-- BORDER -->
                <p class="match-border"></p>

                <!-- MATCH DETAILS END -->



                <!-- TEAM CARDS -->
                <div class="team-header">
                  <h5 class="text-uppercase text-center">Team Details </h5>
                </div>
                <div class="team-card-holder" ng-repeat="team in formData.resultsRacquet.teams track by $index">
                  <div class="margintop-formgroup text-center">
                    <label for="" class=" text-uppercase">Team {{$index+1}}</label>
                  </div>

                  <!-- TEAM ID + SCHOOL NAME -->
                  <div class="row">
                    <!-- TEAM ID -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="team-card">
                          <label>Team Id*</label>
                          <input type="text" name="incrementalId" ng-model="team.teamId" class="form-control" placeholder="Enter Name" readonly>
                          <div class="error-msg" ng-if="detailForm.incrementalId.$invalid && detailForm.incrementalId.$touched">Please Enter Valid Match Id *</div>
                        </div>
                      </div>
                    </div>
                    <!-- END TEAM ID -->

                    <!-- SCHOOL NAME -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="team-card">
                          <label>School Name*</label>
                          <input type="text" name="schoolName" ng-model="team.schoolName" class="form-control" placeholder="Enter Sport" title="{{formData.teams[$index].schoolName}}"
                            readonly>
                          <div class="error-msg" ng-if="detailForm.schoolName.$invalid && detailForm.schoolName.$touched">Please Enter Filter*</div>
                        </div>
                      </div>
                    </div>
                    <!-- SCHOOL NAME END -->
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label><input type="checkbox" ng-model="team.noShow"> noShow</label>
                    </div>
                    <div class="col-md-6">
                      <label><input type="checkbox" ng-model="team.walkover"> walkover</label>
                    </div>
                  </div>

                  <!-- SETS -->
                  <div class="text-right add-sets">
                    <button class="btn btn-dark" type="submit " ng-click="addRacquetSet($index)">ADD</button>
                  </div>
                  <div class="form-group" ng-repeat="set in team.sets track by $index">
                    <span class="" ng-click="removeRacquet($parent.$index,$index)"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <h5>SET-{{$index + 1}} </h5>
                    <div class="row">
                      <div class="col-md-2">
                        <label for=""> Points</label>
                        <input type="number" name="points" ng-model="set.point" class="form-control" placeholder="Enter Point">
                      </div>
                      <div class="col-md-2">
                        <label for=""> Ace</label>
                        <input type="number" name="ace" ng-model="set.ace" class="form-control" placeholder="Enter Ace">
                      </div>
                      <div class="col-md-2">
                        <label for=""> Winner</label>
                        <input type="number" name="winner" ng-model="set.winner" class="form-control" placeholder="Enter Winner">
                      </div>
                      <div class="col-md-2">
                        <label for=""> unforcedError</label>
                        <input type="number" name="unforcedError" ng-model="set.unforcedError" class="form-control" placeholder="Enter Unforced Error">
                      </div>
                      <div class="col-md-2">
                        <label for=""> serviceError</label>
                        <input type="number" name="serviceError" ng-model="set.serviceError" class="form-control" placeholder="Enter Service Error">
                      </div>
                      <div class="col-md-2">
                        <label for=""> doubleFaults</label>
                        <input type="number" name="doubleFaults" ng-model="set.doubleFaults" class="form-control" placeholder="Enter Double Faults">
                      </div>
                    </div>
                  </div>
                  <!-- SETS END -->

                  <div class="player-card-holder margintop-formgroup" ng-repeat="player in formData.teams[$index].studentTeam track by $index">
                    <div class="text-uppercase">
                      <label>Player {{$index+1}} Details </label>
                    </div>
                    <div class="row">
                      <!-- SFA ID -->
                      <div class="player-card col-md-4">
                        <label for="">Sfa-Id</label>
                        <input type="text" name="playername" ng-model="player.studentId.sfaId" class="form-control" placeholder="Enter Name" readonly>
                        <div class="error-msg" ng-if="detailForm.playername.$invalid && detailForm.playername.$touched">Please Enter Valid Name *</div>
                      </div>
                      <!-- SFA ID END -->

                      <!-- PLAYER NAME -->
                      <div class="player-card col-md-4">
                        <label for="">First Name</label>
                        <input type="text" name="playername" ng-model="player.studentId.firstName" class="form-control" placeholder="Enter Name"
                          readonly>
                        <div class="error-msg" ng-if="detailForm.playername.$invalid && detailForm.playername.$touched">Please Enter Valid Name *</div>
                      </div>

                      <!-- END PLAYER NAME -->

                      <!-- SURNAME -->
                      <div class="player-card col-md-4">
                        <label for="">SurName</label>
                        <input type="text" name="playername" ng-model="player.studentId.surname" class="form-control" placeholder="Enter Name" readonly>
                        <div class="error-msg" ng-if="detailForm.playername.$invalid && detailForm.playername.$touched">Please Enter Valid Name *</div>
                      </div>
                      <!-- SURNAME -->
                    </div>
                  </div>
                </div>



                <div class="text-center mt20 odd-even-button">
                  <button class="btn btn-default" type="submit" ng-click="saveDataMatch(formData)">Save</button>
                  <button class="btn btn-default" ng-click="back()">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>