<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>View Old School</h2>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="form-elements-sec">
          <form name="detailForm" role="form" class="sec">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Team-ID</label>
                  <input type="text" name="name" ng-model="formData.teamId" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" name="name" ng-model="formData.name" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Sport</label>
                  <input type="text" name="name" ng-model="formData.sport" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Student Team</label>
                  <input type="text" name="name" ng-model="formData.studentTeam" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>School </label>
                  <input type="text" name="name" ng-model="formData.school" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Nominated Name</label>
                  <input type="text" name="name" ng-model="formData.nominatedName" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Nominated School Name</label>
                  <input type="text" name="name" ng-model="formData.nominatedSchoolName" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Nominated Contact Details</label>
                  <input type="text" name="name" ng-model="formData.nominatedContactDetails" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Nominated Email ID</label>
                  <input type="text" name="name" ng-model="formData.nominatedEmailId" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Is Video Analysis</label>
                  <input type="text" name="name" ng-model="formData.isVideoAnalysis" class="form-control" readonly>
                </div>

              </div>
            </div>
            <!--<div class="text-center mt20 odd-even-button">
                            <button class="btn btn-default" type="submit" ng-click="saveData(data)">Save</button>
                            <button class="btn btn-default" ng-click="onCancel(json.json.action[1].stateName)">Cancel</button>
                        </div>-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>