<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>{{title}} Sports list Sub Category</h2>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="form-elements-sec">
          <form name="detailForm" role="form" class="sec">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Name*</label>
                  <input type="text" name="thirdcategory" ng-model="formData.name" class="form-control" placeholder="Enter Name" required>
                  <div class="error-msg" ng-if="detailForm.thirdcategory.$invalid && detailForm.thirdcategory.$touched">Please Enter Valid Name *</div>
                </div>
                <div class="form-group">
                  <label>Sports Type</label>
                  <ui-select name="selectsprttype" id="selectsprttype" theme="bootstrap" ng-model="formData.sportsListCategory" ng-change="searchsSportListCategory($select.selected._id)"
                    required>
                    <ui-select-match placeholder="Enter SportsListCategory" allow-clear="true">
                      {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="item in sportlistcatitems | filter:$select.search" refresh="getAllSportListCategory($select.search)">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>
                  <div class="error-msg" ng-if="detailForm.selectsprttype.$invalid && detailForm.selectsprttype.$touched">Please Enter Sports Type*</div>
                </div>
                <div class="form-group">

                  <label>Isteam</label>

                  <!--<select name="selectisteam" id="selectisteam" class="form-control" ng-model="formData.isTeam" placeholder="Enter IsTeam"
                    required>
                    
                    <option value=true>True</option>
                    <option value=false>False</option>
                  </select>-->

                  <input type="radio" ng-model="formData.isTeam" id="radio02" name="radio2" ng-value="true" required>True
                  </input>

                  <input type="radio" ng-model="formData.isTeam" id="radio01" name="radio2" ng-value="false" required>False</input>
                  <!--<ui-select name="selectisteam" id="selectisteam" theme="bootstrap" ng-model="formData.isTeam" required>
                    <ui-select-match placeholder="Enter Team">
                      {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="item in teamStatus | filter:$select.search">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>-->
                  <div class="error-msg" ng-if="detailForm.selectisteam.$invalid && detailForm.selectisteam.$touched">Please Enter Isteam*</div>
                </div>
                <div class="form-group">
                  <label>Filter</label>

                  <ui-select name="selectfilter" multiple="" id="selectfilter" theme="bootstrap" ng-model="formData.filter" required>
                    <ui-select-match placeholder="Enter Filter">
                      {{$select.selected[$index].name}}
                    </ui-select-match>
                    <ui-select-choices repeat="item in filterList | filter:{name:$select.search}">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>
                  <!--<ui-select name="selectfilter" id="selectfilter" ng-model="formData.filter" theme="bootstrap" ng-required="type.required"
                    ng-if="type.dropDownType == 'single'" required>
                    <ui-select-match placeholder="Enter Filter">
                      <span ng-if="type.dropDownField==''">{{$select.selected}}</span>
                      <span ng-if="type.dropDownField!=''">{{$select.selected[type.dropDownField]}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in filterList | filter:$select.search" refresh-delay="0" refresh="refreshTags($select.search)">
                      <span ng-if="type.dropDownField==''">{{tag}}</span>
                      <span ng-if="type.dropDownField!=''">{{tag[type.dropDownField]}}</span>
                    </ui-select-choices>
                  </ui-select>-->
                  <div class="error-msg" ng-if="detailForm.selectfilter.$invalid && detailForm.selectfilter.$touched">Please Enter Filter*</div>
                </div>
                <div class="form-group">
                  <label>Rules and Regulation</label>
                  <ui-select name="selectrulandreg" id="selectrulandreg" theme="bootstrap" ng-model="formData.rules" ng-change="searchRules($select.selected._id)"
                    required>
                    <ui-select-match placeholder="Enter Rules And Regulation" allow-clear="true">
                      {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices refresh.delay="0" repeat="item in rulesitems | filter:$select.search" refresh="getAllRules($select.search)">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>
                  <div class="error-msg" ng-if="detailForm.selectrulandreg.$invalid && detailForm.selectrulandreg.$touched">Please Enter Rules And Regulation*</div>
                </div>
                <div class="text-center mt20 odd-even-button">
                  <button class="btn btn-default" type="submit" ng-click="saveData(formData,detailForm)">Save</button>
                  <button class="btn btn-default" ng-click="onCancel('sportslistsubcat')">Cancel</button>
                </div>
              </div>
            </div>
            <!--<div class="text-center mt20 odd-even-button">
                            <button class="btn btn-default" type="submit" ng-click="saveData(data)">Save</button>
                            <button class="btn btn-default" ng-click="onCancel(json.json.action[1].stateName)">Cancel</button>
                        </div>-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>