<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>{{title}} Sponsor</h2>
      </div>
    </div>
  </div>
</div>

<div class="panel-content">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="form-elements-sec">
          <form name="sponsorForm" role="form" class="sec">
            <div class="row">
              <!-- SPONSOR NAME -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Sponsor Name</label>
                  <input type="text" name="sponsor" ng-model="formData.name" class="form-control" placeholder="Enter Name" required>
                  <div class="error-msg" ng-if="sponsorForm.sponsor.$invalid && sponsorForm.sponsor.$touched">Please Enter Valid Name *</div>
                </div>
              </div>
              <!-- SPONSOR NAME END -->

              <!-- CITY -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" name="city" ng-model="formData.city" class="form-control text-capitalize" placeholder="Enter City" required>
                  <div class="error-msg" ng-if="sponsorForm.city.$invalid && sponsorForm.city.$touched">Please Enter Valid City *</div>
                </div>
              </div>
              <!-- CITY END -->
            </div>
            <!-- HEADER IMAGE -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Sponsor Image <span style="color:#ea5249;">(Note:image size should be 300x300 only *)</span> <span ng-show="type.required">*</span></label>
                  <upload-image ng-model="formData.headerimage" inobj></upload-image>
                </div>
              </div>
            </div>
            <!-- HEADER IMAGE END -->

            <!-- CONTENT TEXTANGULAR -->
            <div class="row">
              <div class="col-md-12">
                <div class="sponsor-content">
                  <label for="">Content</label>
                  <!-- <div class="form-group">
                        <label for="">Header</label>
                        <input type="text" ng-model="formData.section1.text.header" placeholder="Title" class="form-control" ng-required="formData.section1.type=='text'">
                      </div> -->
                  <div class="textholder tinymce form-group">
                    <text-angular ng-model="formData.content" name="sponsorcontent" ng-required='true'></text-angular>
                    <div class="error-msg" ng-if="sponsorForm.sponsorcontent.$invalid && sponsorForm.sponsorcontent.$touched">Please Enter Valid Content *</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- CONTENT TEXTANGULAR END -->

            <!-- BANNER VIDEO CONTENT -->
            <div class="banner-video-holder">
              <!-- VIDEO -->
              <div class="row">
                <!-- VIDEO LINK -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Video Link</label>
                    <input type="text" name="video" ng-model="formData.video.link" class="form-control" placeholder="Enter Link" required>
                    <div class="error-msg" ng-if="sponsorForm.video.$invalid && sponsorForm.video.$touched">Please Enter Valid Link *</div>
                  </div>
                </div>
                <!-- VIDEO LINK END -->

                <!-- VIDEO TYPE -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Video Type</label>
                    <select name="videotype" class="form-control" ng-model="formData.video.type" placeholder="Enter Video Type" required>
                           <option value="vimeo">vimeo</option>
                           <option value="youtube">youtube</option>
                    </select>
                    <div class="error-msg" ng-if="sponsorForm.videotype.$invalid && sponsorForm.videotype.$touched">Please Enter Valid Type *</div>
                  </div>
                </div>
                <!-- VIDEO TYPE END -->
              </div>
              <!-- VIDEO END -->
              <!-- BANNER VIDEO IMAGE -->
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Sponsor Image <span style="color:#ea5249;">(Note:image size should be 1920x600 only *)</span> <span ng-show="type.required">*</span></label>
                    <upload-image ng-model="formData.video.image" inobj></upload-image>
                  </div>
                </div>
              </div>
              <!-- BANNER VIDEO IMAGE END -->
            </div>
            <!-- BANNER VIDEO CONTENT -->

            <!-- GALLERY -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Gallery Images</label>
                  <upload-image ng-model="formData.gallery" inobj></upload-image>
                </div>
              </div>
            </div>
            <!-- GALLERY END -->
            <!-- VIDEO GALLERY TABLE -->
            <div class="row">
              <div class="form-group">
                <div class="swiperGallery-container">
                  <div class="swiperGallery-button text-right" ng-click="addRow(formData);">
                    <button class="btn btn-default" type="submit">Add Row</button>
                  </div>
                  <div class="swiperGallery-holder table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Image</th>
                          <th>Video Link</th>
                          <th>Type</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="content in formData.videoTable">
                          <td>
                            <div class="form-group">
                              <upload-image ng-model="content.image" inobj no-view></upload-image>
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <input type="text" placeholder="Video Link" class="form-control" ng-model="content.link">
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <input type="number" placeholder="Video Type" class="form-control" ng-model="content.type">
                            </div>
                          </td>
                          <td ng-click="deleteRow(formData,$index);">
                            <button class="btn btn-default" type="submit">Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- VIDEO GALLERY TABLE -->



          </form>
        </div>
      </div>
    </div>
  </div>
</div>