<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>{{title}} Team Sports</h2>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="form-elements-sec">
          <form name="detailForm" role="form" class="sec">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Team-ID</label>
                  <input type="text" name="name" ng-model="formData.teamId" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Date & Time of Registration</label>
                  <input type="text" ng-model="formData.createdAt | date:'MMMM dd, y @ h:mm a'" class="form-control" readonly>
                </div>
                <!-- <div class="form-group">
                  <label>Time of Registration</label>
                  <input type="text" ng-model="formData.createdAt | date:'shortTime'" class="form-control" readonly>
                </div> -->
                <div class="form-group">
                  <label>Year</label>
                  <input type="text" name="name" ng-model="formData.createdAt | date:'yyyy'" class="form-control" readonly>
                </div>
                <div class="form-group" ng-if="formData.createdBy">
                  <label>Created By</label>
                  <input type="text" name="name" ng-model="formData.createdBy" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>School Name</label>
                  <input type="text" name="name" ng-model="formData.school" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>School City</label>
                  <input type="text" name="name" ng-model="formData.studentTeam[0].city" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Team Name</label>
                  <input type="text" name="name" ng-model="formData.name" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Sport Name</label>
                  <input type="text" name="name" ng-model="formData.sport" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <div class="viewStudent">
                    <label>Student Team</label>
                    <ui-select disabled multiple ng-model="formData.studentTeam" class="form-control">
                      <ui-select-match>
                        <span ng-bind="$item.sfaId+' - '+$item.name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in formData.studentTeam">
                      </ui-select-choices>
                    </ui-select>
                    <div class="overlay"></div>
                  </div>
                </div>
                <div class="form-group" ng-if="formData.nominatedName">
                  <label>Nominated Name</label>
                  <input type="text" name="name" ng-model="formData.nominatedName" class="form-control" readonly>
                </div>
                <div class="form-group" ng-if="formData.nominatedSchoolName">
                  <label>Nominated School Name</label>
                  <input type="text" name="name" ng-model="formData.nominatedSchoolName" class="form-control" readonly>
                </div>
                <div class="form-group" ng-if="formData.nominatedContactDetails">
                  <label>Nominated Contact Details</label>
                  <input type="text" name="name" ng-model="formData.nominatedContactDetails" class="form-control" readonly>
                </div>
                <div class="form-group" ng-if="formData.nominatedEmailId">
                  <label>Nominated Email ID</label>
                  <input type="text" name="name" ng-model="formData.nominatedEmailId" class="form-control" readonly>
                </div>
                <div class="form-group" ng-if="formData.isVideoAnalysis">
                  <label>Is Video Analysis</label>
                  <input type="text" name="name" ng-model="formData.isVideoAnalysis" class="form-control" readonly>
                </div>
                <div class="form-group" ng-if="formData.captain">
                  <label>Captain</label>
                  <input type="text" name="name" ng-model="formData.captain" class="form-control" readonly>
                </div>
                <div class="form-group" ng-if="formData.goalKeeper">
                  <label>GoalKeeper</label>
                  <input type="text" name="name" ng-model="formData.goalKeeper" class="form-control" readonly>
                </div>

              </div>
            </div>
            <div class="text-center mt20 odd-even-button">
              <button class="btn btn-default" type="submit" ui-sref="teamsport">Back</button>
            </div>
            <!--<div class="text-center mt20 odd-even-button">
                            <button class="btn btn-default" type="submit" ng-click="saveData(data)">Save</button>
                            <button class="btn btn-default" ng-click="onCancel(json.json.action[1].stateName)">Cancel</button>
                        </div>-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>