<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>Media</h2>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="table-area">
          <div class="widget-title">
            <div class="pull-right">
              <a class="btn btn-primary" href="{{adminURL}}media/sampleExcelDownload"><i class="fa fa-download"></i>&nbsp;Sample Excel</a>
              <a class="btn btn-primary" href="{{adminURL}}media/sampleExcelDownloadPress"><i class="fa fa-download"></i>&nbsp;Sample Press Excel</a>


              <span class="btn btn-success" ui-sref="excel-upload({controller:'match',funcName:'uploadExcelMatch',view:'uploadFilter'})">
                Upload-Excel
             </span>
            </div>
            <h3> All Media </h3>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Order</th>
                  <th>Folder</th>
                  <th>Media Type</th>
                  <th>Media</th>
                  <th class="text-center" colspan="2">Operations</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="value in medias | filter:search">
                  <td>{{$index+1}}</td>
                  <td>{{value.order}}</td>
                  <td>{{value.folder}}</td>
                  <td>{{value.mediatype}}</td>
                  <td>{{value.medialink}}</td>
                  <td class="text-center">
                    <a ng-click="deleteFunc(value._id)" class="btn btn-primary">
                                          <i class="fa fa-trash"></i>
                                      </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" ng-if="medias.length==0">
              <h5>No results found</h5>
            </div>
          </div>
          <div class="">
            <uib-pagination total-items="media.total" ng-model="pagination.pagenumber" items-per-page="20"></uib-pagination>
            <!-- <uib-pagination ng-show="medias.length > 0" ng-change="reload();" total-items="media.total" ng-model="pagination.pagenumber"
                items-per-page="20"></uib-pagination> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>