<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>Matches</h2>
      </div>
    </div>
  </div>
</div>


<div class="panel-content" ng-if="!showMatch">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="form-elements-sec">
          <div class="button-matched-holder">
            <div class="row match-head-holder">
              <div class="col-md-8">
                <!-- <h3 class="m-clear">List of Matches<span class=" tableTotal ">(Total : {{totalItems}}) </span></h3> -->
                <a class="btn btn-success" ui-sref="detailmatches">
                    Create
                 </a>
                <span class="btn btn-success" ui-sref="excel-upload({controller:'match',funcName:'uploadExcelMatch',view:'uploadFilter'})">
                    Upload-Excel
                 </span>
                <span class="btn btn-success" ui-sref="excel-upload({controller:'match',funcName:'updateExcelMatch',view:'updateExcelResult'})">
                    Update-Excel-Score
                 </span>
                <span class="btn btn-success" ng-click="createExcel()">
                    Create-Excel
                 </span>
                <span class="btn btn-success" ng-click="createExcel()">
                    Edit Weight
                 </span>

              </div>
              <!-- <div class="col-md-4">
                <form class="search-form mr-form">
                  <input type="text" class="form-control" ng-change="searchInTable(search)" placeholder="Search Here...
                                         " ng-model="search" />
                </form>
              </div> -->
            </div>
          </div>
          <form name="detailForm" role="form" class="sec">
            <div class="row">
              <div class="col-md-12">
                <!-- SEARCH BAR END -->
                <!-- GENDER -->
                <div class="form-group">
                  <label>Gender</label>
                  <select name="selectgender" class="form-control" ng-model="form.gender" placeholder="Enter Gender" required>
                        <option style="display:none" >Enter Gender</option>
                         <option value="male">Male</option>
                         <option value="female">Female</option>
                         <option value="both">Male&Female</option>
                        </select>
                  <div class="error-msg" ng-if="detailForm.selectgender.$invalid && detailForm.selectgender.$touched">Please Enter Gender*</div>
                </div>
                <!-- END GENDER -->

                <!-- SPORT LIST -->
                <div class="form-group">
                  <label>Sports List</label>
                  <ui-select name="selectsportslist" id="selectsportslist" theme="bootstrap" ng-model="form.sportslist" ng-change="searchSportList($select.selected._id)"
                    required>
                    <ui-select-match placeholder="Enter Sports List" allow-clear="true">
                      {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices refresh.delay="0" repeat="item in sportitems | filter:$select.search" refresh="getAllSportList($select.search)">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>
                  <div class="error-msg" ng-if="detailForm.selectsportslist.$invalid && detailForm.selectsportslist.$touched">Please Enter Sport List *</div>
                </div>
                <!-- SPORT LIST END -->
                <!-- AGE GROUP -->
                <div class="form-group">
                  <label>Age Group</label>
                  <ui-select name="selectSchoolName" id="selectSchoolName" theme="bootstrap" ng-model="form.ageGroup" ng-change="searchAge($select.selected._id)"
                    required>
                    <ui-select-match placeholder="Enter Age Group" allow-clear="true">
                      {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices refresh.delay="0" repeat="item in ageitems | filter:$select.search" refresh="getAllAge($select.search)">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>
                  <div class="error-msg" ng-if="detailForm.selectSchoolName.$invalid && detailForm.selectSchoolName.$touched">Please Enter Age Group *</div>
                </div>
                <!-- AGE GROUP END -->

                <!-- WEIGHT -->
                <div class="form-group">
                  <label>Weight</label>
                  <ui-select name="selectWeight" id="selectWeight" theme="bootstrap" ng-model="form.weight" ng-change="searchWeight($select.selected._id)">
                    <ui-select-match placeholder="Enter Weight" allow-clear="true">
                      {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices refresh.delay="0" repeat="item in weightitems | filter:$select.search" refresh="getAllWeight($select.search)">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>
                  <div class="error-msg" ng-if="detailForm.selectWeight.$invalid && detailForm.selectWeight.$touched">Please Enter Weight *</div>
                </div>
                <!-- WEIGHT END -->

                <!-- DRAW FORMAT -->
                <div class="form-group">
                  <label>Draw Formats</label>
                  <select name="selectDraws" class="form-control" ng-model="form.resultType" required>
                        <option  value="knockout">Knockout</option>
                        <option  value="heat">Heat</option>
                        <option  value="direct-final">Direct Final</option>
                        <option  value="league-cum-knockout">League cum Knockout</option>
                        <option  value="qualifying-knockout">Qualifying Knockout</option>
                        <option  value="qualifying-round">Qualifying Round</option>
                        <option  value="swiss-league">Swiss League</option>
                    </select>
                  <div class="error-msg" ng-if="detailForm.selectDraws.$invalid && detailForm.selectDraws.$touched">Please Enter Valid Draw *</div>
                </div>

                <div class="form-group" ng-if="form.resultType=='qualifying-knockout'">
                  <label>Excel Type</label>
                  <select name="excelType" class="form-control" ng-model="form.excelType">
                        <option  value="qualifying">Qualifying</option>
                        <option  value="knockout">Knockout</option>
                    </select>
                </div>
                <!-- DRAW FORMAT END -->

                <!-- SPORT TYPE -->
                <div class="form-group" ng-if="form.resultType!='qualifying-knockout'&&form.resultType!='qualifying-round'">
                  <label>Sport Type</label>
                  <select name="selectplayer" class="form-control" ng-model="form.playerType">
                        <option  value="team">Team</option>
                        <option  value="individual">Individual</option>
                    </select>
                  <!--<div class="error-msg" ng-if="detailForm.selectplayer.$invalid && detailForm.selectplayer.$touched">Please Enter Valid Player Type *</div>-->
                </div>
                <!-- SPORT TYPE END -->
                <div class="form-group">
                  <label>Graphics Export ?</label>
                  <input type="radio" ng-model="form.graphics" name="yes" value="yes" /> Yes
                  <input type="radio" ng-model="form.graphics" name="no" value="no" /> No
                </div>

                <!-- PLAYER SPECIFIC EXPORT -->
                <div class="form-group" ng-if="form.playerType=='team'">
                  <label>Player Specific Export ?</label>
                  <select name="playerSpecific" class="form-control" ng-model="form.playerSpecific">
                            <option  value="yes">YES</option>
                            <option  value="no">NO</option>
                      </select>
                  <div class="error-msg" ng-if="detailForm.playerSpecific.$invalid && detailForm.playerSpecific.$touched">Please Enter Valid Export *</div>
                </div>

                <!-- PLAYER SPECIFIC EXPORT END -->
                {{showMatch}}
                <!-- BUTTONS -->
                <div class="text-center mt20 odd-even-button">
                  <button class="btn btn-info" ng-click="viewMatch(form)"><i class="fa fa-eye"></i> View</button>
                  <button class="btn btn-default" type="submit" ng-click="generateExcel(form)" ng-disabled="detailForm.$invalid">Generate Excel</button>
                </div>
                <!-- BUTTONS END -->
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="match-nomatch-buttons">
    <div class="">
      <div class="col-md-4">
        <button class="btn btn-green-outline btn-scoring" ng-click="$dismiss()">back</button>
      </div>
      
      <div class="col-md-4">
        <button class="btn btn-green-outline btn-scoring" ng-click="generateExcel(form)">Save</button>
      </div>
      
    </div>
  </div> -->
</div>

<!-- 
</div>
</div> -->

<!--Table-->
<!-- <div class=" panel-content" ng-if="showMatch"> -->
<div class=" panel-content" hidden>
  <div class="row ">
    <div class="col-md-12 ">
      <div class="widget ">
        <div class="table-area ">
          <div class="widget-title ">


            <div class="row match-head-holder">
              <div class="col-md-8">
                <h3 class="m-clear">List of Matches<span class=" tableTotal ">(Total : {{totalItems}}) </span></h3>
              </div>
              <div class="col-md-4">
                <form class="search-form mr-form">
                  <input type="text" class="form-control" ng-change="searchInTable(search)" placeholder="Search Here...
                                     " ng-model="search" />
                </form>
              </div>
            </div>
            <div class="row">
              <div class="match-button-holder text-right">
                <div class="col-md-2">
                  <div class="btn btn-success form-control" ng-click="openExportExcel()">
                    Filter
                  </div>
                </div>
                <div class="col-md-10">
                  <a class="btn btn-success" ui-sref="detailmatches">
                      Create
                   </a>
                  <span class="btn btn-success" ui-sref="excel-upload({controller:'match',funcName:'uploadExcelMatch',view:'uploadFilter'})">
                      Upload-Excel
                   </span>
                  <span class="btn btn-success" ui-sref="excel-upload({controller:'match',funcName:'updateExcelMatch',view:'updateExcelResult'})">
                      Update-Excel-Score
                   </span>
                </div>
              </div>
            </div>

          </div>
          <div class="table-responsive">
            <!--<div class="table-responsive " ng-show="totalItems>0 ">-->
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>
                    Match Id
                  </th>
                  <th>
                    Round
                  </th>

                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <!--<tr ng-repeat="item in items">-->
                <!-- <tr ng-repeat="item in items"> -->
                <tr ng-repeat="item in items|filter:item.matchId">
                  <!--<tr>-->
                  <td>{{($index + 1)+((form.page-1)*maxRow)}}</td>
                  <!--<td>{{($index + 1)}}</td>-->
                  <td>{{item.matchId}}</td>
                  <td>{{item.round}}
                    <!-- <pre>{{item.sport.sportslist.sportsListSubCategory.sportsListCategory.name}}</pre>
                    <pre>{{item.matchId}}</pre>
                    <pre>{{item.sport.sportslist.sportsListSubCategory.isTeam}}</pre> -->
                  </td>
                  <td>
                    <a class="btn btn-primary" target="_blank" ng-click="specificFormat(item.sport.sportslist.sportslistSubCategory.sportsListCategory,item.matchId,item.sport.sportslist.sportsListSubCategory.isTeam)">
                        <i class="fa fa-pencil"></i> Edit
                      </a>
                    <a class="btn btn-danger" ng-click="confDel(item._id)">
                        <i class="fa fa-trash"></i> Delete
                      </a>
                  </td>
                  <!--<td ng-repeat="but in json.json.action">
                                          <a class="btn" ng-class="but.buttonClass" ng-click="json.eventAction(but,item) ">
                                              <i class="fa" ng-class="but.icon"></i>{{but.name}}
                                          </a>
                                      </td>-->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tableData " ng-show="totalItems===0 ">
            <h5>No data found</h5>
          </div>
          <div class="tableData " ng-show="totalItems===undefined ">
            <h5>Loading Data</h5>
          </div>
          <ul ng-if="totalItems" ng-change="viewTable()" uib-pagination total-items="totalItems" items-per-page="maxRow" ng-model="form.page"
            max-size="template.pageMax" class="pagination-sm" boundary-links="true " force-ellipses="true "></ul>
        </div>
      </div>
    </div>
  </div>
</div>