<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>View Old School</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <form name="detailForm" role="form" class="sec">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>School Name</label>
                                    <input type="text" name="name" ng-model="oldschool.name" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <!--<div class="text-center mt20 odd-even-button">
                            <button class="btn btn-default" type="submit" ng-click="saveData(data)">Save</button>
                            <button class="btn btn-default" ng-click="onCancel(json.json.action[1].stateName)">Cancel</button>
                        </div>-->
                        <div class="text-center mt20 odd-even-button">
                            <button class="btn btn-default" type="submit" ui-sref="oldschool">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>