/* Bootstrap Variables Goes Here */

// COLOR VARIABLES
$brand-primary: #10259c !default; //blue
$brand-success: #27b465 !default; //green
$brand-warning: #ffb026 !default; //yellow
$brand-danger: #da495b !default; //red
$brand-info: #000072 !default; //lighter-blue
$base: #1a1a1a !default; //black
$white: #fff !default;
$grey: #e1e1e1 !default;
$dark-grey: #757575 !default;
$light-grey: #e5e5e5 !default;
$other-blue: #2a45d4 !default;
$light-green: #bcd200 !default;
$bg-table: #f2f2f2 !default;
$grey-year: #c0c0c0 !default;
$green-graph: #0edb87 !default; // COLOR VARIABLES END
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@import "other/font-fix";
body {
    padding-top: 60px;
     ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
     ::-webkit-scrollbar-track {
        background-color: transparent;
    }
     ::-webkit-scrollbar-thumb {
        background-color: $grey;
    }
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

.btn,
[ui-sref],
a {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.btn,
.form-control,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.input-lg {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}

// /*******************************START OF SCSSS ******************************
// /*******************************START OF SCSSS ******************************
// /*******************************START OF SCSSS ******************************
// COMMON CLASSES
.m-clear {
    margin: 0;
}

.m-auto {
    margin: 0 auto;
}

.mtb-10 {
    margin: 10px 0;
}
.mlr-10{
  margin: 0px 10px;
}

.p-clear {
    padding: 0;
}

.display-inline {
    display: inline;
}

.relate {
    position: relative;
}

.static {
    position: static;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.display-block {
    display: block !important;
}

.inline-block {
    display: inline-block;
}

.v-top {
    vertical-align: top;
}

.v-mid {
    vertical-align: middle;
}

.v-bottom {
    vertical-align: bottom;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalise {
    text-transform: capitalize;
}

.no-textdecoration {
    text-decoration: none;
}

.get-center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

.pointer {
    cursor: pointer;
}

.no-border {
    border: none !important;
}

// SWIPER
.digital-swiper {
    margin: 15px 0;
    position: relative;
    overflow: auto;
    white-space: nowrap;
    .swiper-slide {
        background-color: transparent;
        font-size: 14px;
        text-align: left;
    }
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        width: auto;
        height: auto;
        padding: 5px;
        margin: 0;
        background-image: none;
        font-size: 20px;
        @include transform(translateY(-50%));
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: -20px;
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        left: -20px;
    }
}

// END SWIPER
// CUSTOM CHECKBOX
.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    background: transparent;
    color: #a0a0a0;
    cursor: pointer;
    line-height: 1;
}

.custom-checkbox-checked{
  background-color: #a0a0a0;
  color: #fff;
  // border-color: #000;
}
// CUSTOM CHECKBOX END

.link-white{
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  &:active, &:hover, &:focus{
    color: #fff;
  }
}
.knockout-date {
    font-size: 10px;
    line-height: 1;
}
// COMMON CLASSES END
// BUTTONS
.btn-green-outline {
    border: 1px solid $brand-success;
    background: transparent;
    color: $brand-success;
    outline: none;
    &:active,
    &:focus,
    &:hover {
        border: 1px solid $brand-success;
        background: transparent;
        color: $brand-success;
        outline: none;
    }
}

// BUTTONS END
// REMOVE RESULT HEADER
.removeresult-header {
  padding: 5px 0;
  position: relative;
  background: #eee;
}
.removeresult-holder {
  padding: 0 20px;
  text-align: right;
}
.close-resultreset {
  padding: 0px 10px;
  position: absolute;
  top: 50%;
  right: 20px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  @include transform(translateY(-50%));
}
.btn-removeresult {
  padding: 5px 10px;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  font-size: 12px;
  line-height: 1;
  &:active, &:focus, &:hover{
    background-color: transparent;
    color: #000;
    outline: none;
  }
}
// REMOVE RESULT HEADER END
// MATCH START PAGE
.matchstart-page,
.racketscore-page,
.scorefootball-page,
.scorehockey-page,
.scorevolleyball-page {
    min-height: calc(100vh - 100px);
    position: relative;
}

.matchstart-header {
    padding: 10px 0;
    background-color: $brand-primary;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.matchplayer-card {
    padding: 10px;
    margin: 20px auto;
    box-shadow: 0 0 10px #a0a0a0;
    position: relative;
}

.player1 {
    border-bottom: 10px solid #7fdfff;
}

.player2 {
    border-bottom: 10px solid $brand-danger;
}

.matchplayer-playerid {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

.matchplayer-image {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 100%;
    margin: 0 10px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.matchplayer-details {
    width: calc(100% - 125px);
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    .matchplayer-name {
        font-size: 18px;
        font-weight: 700;
    }
    .matchplayer-school {
        font-size: 16px;
    }
}

.matchstart-noshow,
.matchstart-uploadpic {
    width: 100%;
    height: 150px;
    margin: 50px 0 20px;
    position: relative;
    background-color: $dark-grey;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    p {
        width: 100%;
    }
}

.matchstart-uploadpic {
    margin: 10px;
    margin-left: 0;
    display: inline-block;
    background-color: transparent;
}

.remove-pic {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
}

.matchstart-score {
    padding: 10px 0;
    margin: 20px 0;
}

.btn-scoring {
    width: 100%;
    text-transform: uppercase;
}

.opponentsingle-selector{
  padding: 3px 20px;
  margin: 0;
}

.match-selectwinner{
  .ui-select-bootstrap .ui-select-choices-row > span{
    padding: 0;
  }
}

// MATCH START PAGE END
// MATCH NO MATCH MODAL
.match-nomatch {
    padding: 0;
    margin-top: 30px;
    .modal-header {
        padding: 0;
    }
    .matchstart-header {
        padding: 15px 20px;
    }
}

.match-nomatch-modal {
    position: relative;
}

.modal-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: -35px;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
}

.match-nomatch-radio {
    padding: 30px 0;
    label {
        font-size: 16px;
    }
}

.match-nomatch-buttons {
    margin: 30px 0;
}

// MATCH NO MATCH MODAL END
// COMBAT-SCORE PAGE
.combatscore-page {
    min-height: calc(100vh - 60px);
}

.scoring-set {
    padding: 10px 0;
    // border-bottom: 1px solid #ccc;
}

.combatscore-scorecard {
    text-align: center;
    &:last-child {
        .scoring-set {
            border-bottom: none;
        }
    }
}

.scoring-set {
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.score-number {
    width: 100px;
    height: 80px;
    padding: 5px 10px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

.score-buttons {
    padding: 10px 13px;
    margin: 0px 5px;
    border: 1px solid $dark-grey;
    border-radius: 100%;
    box-shadow: 2px 2px 5px #a0a0a0;
    background-color: transparent;
    cursor: pointer;
    font-size: 21px;
    line-height: 1;
    &:active,
    &:focus,
    &:hover {
        outline: 0;
        outline-offset: 0;
        box-shadow: 2px 2px 5px #a0a0a0;
    }
}

.combatscore-uploads {
    margin: 20px 0 30px;
    text-align: center;
}

.btn-uploadscoring {
    width: auto;
}

.matchstart-uploadholder {
    position: relative;
    overflow: hidden;
}

.upload-scorecard {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
}

.combatscore-uploadpic {
    width: 110px;
    height: auto;
    padding: 2px;
    border: 1px solid #ccc;
    margin: 0px 10px 10px 0;
    display: inline-block;
    position: relative; // background-color: #757575;
    color: #fff;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
}

.combatscore-pics,
.combatscore-selects {
    margin: 20px 0;
}

// COMBAT-SCORE PAGE END
// RACKET-SCORE PAGE
.datapoint-name {
    position: absolute;
    top: 20%;
    left: 0px;
    @include transform(translateY(-50%));
}

.showhide-set {
    padding: 10px 0;
    .form-group {
        margin: 0;
    }
}

.addset {
    float: right;
}

.setshow-element {
    margin: 0px 10px;
}

.racquet-setscore {
    margin: 20px 0;
    text-align: center;

    .scoring-set{
      border: none;
    }
}

.setpoint-element {
    display: inline-block;
    vertical-align: middle;
    label {
        display: block;
    }
}

// RACKET-SCORE PAGE END
// RACKET DOUBLE-SCORE PAGE
.teamcard {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    .teamcard-header {
        padding: 10px;
        background-color: #ccc;
    }
    .matchplayer-card {
        margin: 0;
        box-shadow: none;
        border-bottom: 1px solid #ccc;
    }
    .combatscore-player {
        &:last-child {
            .matchplayer-card {
                border: none;
            }
        }
    }
    .matchplayer-image {
        width: 60px;
        height: 60px;
    }
}
// RACKET DOUBLE-SCORE PAGE END

// FOOTBALL SCORE
.teamscore-point{
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }
  text-align: center;
}
.teamdatapoint-name{
  display: block;
}
.teamscore-buttons{
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  box-shadow: 0px 2px 5px #a0a0a0;
  font-size: 16px;
}
.teamscore-number{
  width: 40px;
  height: 40px;
  padding: 5px 2px;
  font-size: 20px;
  line-height: 1;
}
.teamplayer{
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
  cursor: pointer;
}
.teamplaying, .teamsubstitute{
  // padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  margin: 20px 0;
}

.teamplaying-title{
  padding: 5px 10px;
  background-color: #ccc;
  p{
    margin: 0;
  }
}
.teamscore-pointholder {
    margin-bottom: 20px;
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}
.team-teampoints {
    text-align: center;
}

.draw-checkbox{
  .custom-checkbox{
    margin: 5px;
  }
}
// FOOTBALL SCORE END
// PENALTY SHOOTOUT MODAL
.penaltyshoot-player{
  width: calc(100% - 110px);
  display: inline-block;
}
.penalty-point {
  margin-left: 10px;
  display: inline-block;
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }
  .teamscore-number{
    height: initial;
    font-size: 14px;
  }
}
.teamplaying-nametitle{
  display: inline-block;
  width: calc(100% - 110px);
  margin-right: 15px !important;
}
// PENALTY SHOOTOUT MODAL END
// TEAM SELECTION MODAL
.select-teamcoach{
  padding: 5px 10px;
  label{
    font-size: 12px;
    line-height: 1;
  }
  .form-control {
    font-size: 12px;
    height: initial;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }
}

.teamselection-playertable{
  border: 1px solid #ccc;
  border-radius: 5px;
  .table{
    margin: 0;
  }
}
.teamselect-jersey{
  text-align: center;
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }
  .teamscore-number{
    width: 30px;
    height: initial;
    font-size: 14px;
  }
}
.select-isplaying{
  text-align: center;
  vertical-align: middle;
  .checkbox{
    margin: 0;
  }
}
.teamselection-head{
  font-size: 12px;
  line-height: 1;
  text-align: center;
}
.teamhead-player{
  // width: 60%;
  text-align: left;
}
.teamselect-name{
  font-size: 12px;
}
// TEAM SELECTION MODAL END

// CONFIRM COMPLETE MODAL
.completematch-modal{
  .modal-title{
    color: #fb7700;
    text-align: center;
  }
  .modal-footer{
    padding: 0;
    border: none;
  }
}
.warning-logo{
  margin: 0px 5px;
  color: red;
}
.confirmation-message{
  font-size: 18px;
  font-weight: 700;
}
.confirmationmodal-button{
  padding: 5px;
}

.btn-modalconfirm{
  width: 49%;
  margin: 0;
  border: 1px solid #ccc;
  display: inline-block;
  background-color: transparent;
  color: #27b465;
  font-weight: 700;

  &:active, &:hover, &:focus {
    background-color: transparent;
    color: #27b465;
    border-color: #27b465;
  }
}
// CONFIRM COMPLETE MODAL END

.hello{
  width: 100%;
  height: 50px;
  border: 1px solid #fff;
  background-color: #ccc;
}

.hello2{
  // height: 100px;
  background-color: red;
}
