 @media (max-width: $screen-sm-max) {
     // Tablet

     .teamselection-modal{
       .modal-dialog{
         width: 700px;
       }
     }
    // MATCH CENTER
    .teammatchcenter-modal{
      .matchplayer-details{
        width: calc(100% - 85px);
        .matchplayer-school{
          font-size: 14px;
        }
      }
    }
    // MATCH CENTER  END
    //  TABLET END
 }
