 @media (max-width: $screen-xs-max) {
     // Mobile
	.table-flip table { width: 100%; border-collapse: collapse; border-spacing: 0; }

	.table-flip th,
	.table-flip td { margin: 0; vertical-align: top; }
	.table-flip th { text-align: left; }

	.table-flip table { display: block; position: relative; width: 100%; }
	.table-flip thead { display: block; float: left; }
	.table-flip tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	.table-flip thead tr { display: block; }
	.table-flip th { display: block; text-align: right; }
	.table-flip tbody tr { display: inline-block; vertical-align: top; }
	.table-flip td { display: block; min-height: 1.25em; text-align: left; }


	/* sort out borders */

	.table-flip th { border-bottom: 0; border-left: 0; }
	.table-flip td { border-left: 0; border-right: 0; border-bottom: 0; }
	.table-flip tbody tr { border-left: 1px solid #babcbf; }
	.table-flip th:last-child,
	.table-flip td:last-child { border-bottom: 1px solid #babcbf; }
 }
