 @media (max-width: $screen-xs-max) {
     // Mobile
     // MATCH CENTER
    .matchcenter-modal{
      .racquet-setscore .scoring-set{
        &:last-child{
          .setpointlabel{
            display: block;
          }
        }
      }
      .setpoint-element{
        margin: 5px 0;
      }
      .matchplayer-image{
        width: 40px;
        height: 40px;
      }
      .score-number{
        width: 40px;
        height: 40px;
        font-size: 18px;
      }
      .scoringset-school{
        width: auto;
        display: block;
        padding: 0 10px;
      }
      .matchwinner{
        position: static;
        font-size: 14px;
        padding: 0 10px;
        p{
          margin: 0;
        }
      }
      .matchstart-header{
        padding-left: 15px;
      }
      .matchcenter-sporticon{
        width: 50px;
        display: inline-block;
        position: static;
        vertical-align: middle;
      }
      .matchcenter-heading{
        width: calc(100% - 55px);
        display: inline-block;
        font-size: 14px;
        vertical-align: middle;
      }
      .matchwinner-title{
        font-size: 14px;
      }
    }
    // MATCH CENTER END
    // TEAM MATCH CENTER
    .teammatchcenter-modal{
      .modal-container{
        padding: 0;
      }
       .matchstart-header{
         padding-left: 15px;
       }
       .matchwinner{
         position: static;
         font-size: 14px;
         p{
           margin: 0;
         }
       }
       .matchcenter-teamschool{
         width: auto;
         display: block;
       }
       .matchcenter-sporticon{
         width: 50px;
         display: inline-block;
         position: static;
         vertical-align: middle;
       }
       .matchcenter-heading{
         width: calc(100% - 55px);
         display: inline-block;
         font-size: 14px;
         vertical-align: middle;
       }
       .matchwinner-title{
         font-size: 14px;
       }
       .matchcenter-teamcol{
         &:nth-child(even){
           .team-formationholder{
              padding-left: 25px;
              padding-right: 0px;
              text-align: left;
           }
           .team-formationicon{
             left: 0;
             right: auto;
           }
         }
       }
    }
    // TEAM MATCH CENTER END

    // TABLE FLIP
	.table-flip table { width: 100%; border-collapse: collapse; border-spacing: 0; }

	.table-flip th,
	.table-flip td { margin: 0; vertical-align: top; }
	.table-flip th { text-align: left; }

	.table-flip table { display: block; position: relative; width: 100%; }
	.table-flip thead { display: block; float: left; }
	.table-flip tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	.table-flip thead tr { display: block; }
	.table-flip th { display: block; text-align: right; }
	.table-flip tbody tr { display: inline-block; vertical-align: top; }
	.table-flip td { display: block; min-height: 1.25em; text-align: left; }


	/* sort out borders */

	.table-flip th { border-bottom: 0; border-left: 0; }
	.table-flip td { border-left: 0; border-right: 0; border-bottom: 0; }
	.table-flip tbody tr { border-left: 1px solid #babcbf; }
	.table-flip th:last-child,
	.table-flip td:last-child { border-bottom: 1px solid #babcbf; }
  // TABLE FLIP END
  
  //Mobile
 }
