<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>{{title}} Testimonial</h2>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="form-elements-sec">
          <form name="detailForm" role="form" class="sec">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Author*</label>
                  <input type="text" ng-model="formData.author" class="form-control" placeholder="Enter Auhor" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Designation</label>
                  <input type="text" ng-model="formData.designation" class="form-control" placeholder="Enter Designation">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Content</label>
                  <text-angular ng-model="formData.content" name="content"></text-angular>
                </div>
                <div class="form-group">
                  <label>Image <span style="color:#ea5249;">(Note:image size should be 350px * 250px  only *)</span> <span ng-show="type.required">*</span></label>
                  <upload-image ng-model="formData.image" inobj></upload-image>
                </div>
                <div class="text-center mt20 odd-even-button">
                  <button class="btn btn-default" type="submit" ng-click="saveData(formData)">Save</button>
                  <button class="btn btn-default" ng-click="onCancel('agegroup')">Cancel</button>
                </div>
              </div>
            </div>
            <!--<div class="text-center mt20 odd-even-button">
                            <button class="btn btn-default" type="submit" ng-click="saveData(data)">Save</button>
                            <button class="btn btn-default" ng-click="onCancel(json.json.action[1].stateName)">Cancel</button>
                        </div>-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
