<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
    </title>
    <style>
        @font-face {
            font-family: 'TitilliumWeb-Bold';
            src: url("../../font/TitilliumWeb-Bold.ttf");
        }
        
        @font-face {
            font-family: 'TitilliumWeb-Regular';
            src: url("../../font/TitilliumWeb-Regular.ttf");
        }
        
        .body {
            font-family: TitilliumWeb-Regular;
        }
        
        .img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }
        
        .inline-block {
            display: inline-block;
        }
        
        .text-center {
            text-align: center;
        }
        
        .list-inline>li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }
        
        table {
            width: 600px;
            margin: 0 auto;
        }
        
        h2:before {
            content: '';
            width: 51px;
            height: 0px;
            color: #00aaff;
            top: 50%;
            display: block;
            border-bottom: 1px solid #00aaff;
            left: 5px;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        
        h2:after {
            content: '';
            width: 51px;
            height: 0px;
            color: #00aaff;
            top: 50%;
            display: block;
            border-bottom: 1px solid #00aaff;
            right: -45px;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>
                    <div class="logo text-center" style="margin-top: 30px;"><img src="https://sfa.wohlig.co.in/img/img/logo.png" class="img-responsive" style="margin: 0 auto;"><br></div>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <span style="font-family: TitilliumWeb-Regular;color:#0a1a72;font-size: 20px;">WELCOME TO </span>
                    <h2 style="margin:0px;position: relative;font-family: TitilliumWeb-Bold;color:#00aaff;font-size: 27px;">VERIFICATION CENTER AT SFA MUMBAI 2017 </h2>
                </td>

            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <div style="padding: 0px 35px; font-family: TitilliumWeb-Regular;font-size: 17px;">
                        <p> Dear Sir/ Madam, </p>
                        <p style="font-family:TitilliumWeb-Bold;">Congratulations, You are now a verified Athlete for SFA Mumbai 2017.</p>
                        <p> Find below your SFA ID and SFA Password to be used to gain access<br> to Sports Registration Forms.</p>
                        <p>i. SFA ID: <%=sfaID%> <br>ii SFA Password: <%=password%>(To be kept confidential)</p>
                        <p> We will inform you via Email/SMS, once the Sports Registrations are
                            <br>open.</p>
                        <p>The Sports Registration forms will be available on</p>
                        <p>Link.</p>
                        <p>For further queries please call its on <span style="font-family:TitilliumWeb-Bold;">7045684365 /66 /67 </span>                            or<br> email us at info@sfanow.in <span style="font-family:TitilliumWeb-Bold;">info@sfanow.in</span></p>
                        <p style="font-family:TitilliumWeb-Bold;">Regards,<br>Team SFA</p>

                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="blue-footer" style="background:#0a1a72;font-family: TitilliumWeb-Regular;">
                        <ul class="list-inline" style="padding: 8px 35px;font-size: 16px;font-weight: bold">
                            <li><img src="https://sfa.wohlig.co.in/img/img/14.png" alt=""></li>
                            <li style="vertical-align: top;padding-left: 0;"><a href="" style="color:#fff;text-decoration: none;">www.sfanow.in</a></li>
                            <li><img src="https://sfa.wohlig.co.in/img/img/13.png" alt=""></li>
                            <li style="vertical-align: top;padding-left: 0;"><a href="" style="color:#fff;text-decoration: none;">/sportsforallnow</a></li>
                            <li><img src="https://sfa.wohlig.co.in/img/img/12.png" alt=""></li>
                            <li style="vertical-align: top;padding-left: 0;"><a href="" style="color:#fff;text-decoration: none;">/sfanow</a></li>
                            <li><img src="https://sfa.wohlig.co.in/img/img/11.png" alt=""></li>
                            <li style="vertical-align: top;padding-left: 0;"><a href="" style="color:#fff;text-decoration: none;">/sfanow </a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</body>

</html>