<div class="matchstart-page">
  <div class="removeresult-header" ng-show="removeReset" ng-if="formData.status === 'IsLive'">
    <div class="container">
      <div class="removeresult-holder">
        <span class="fa fa-times close-resultreset" ng-click="removeReset()"></span>
        <button type="button" class="btn btn-removeresult" ng-click="resetResultPop()">RESET RESULT</button>
      </div>
    </div>
  </div>
  <div class="matchstart-header clearfix">
    <div class="container">
      <div class="pull-right">
        <p class="m-clear">match id: <span>{{matchData.matchId}}</span> </p>
      </div>
      <p class="m-clear">{{matchDetails.sportsName}} {{matchDetails.age}} {{matchDetails.gender}}</p>
    </div>
  </div>
  <div class="matchstart-section get-center">
    <!-- PLAYER SELECTION SECTION -->
    <div class="matchstart-playerheader hide">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-5">
            <div class="matchstart-playerselect form-group">
              <label for="">Select 1st Player</label>
              <ui-select id="matchWinnerPlayer" ng-model="match.resultsCombat.winner.player" theme="bootstrap">
                  <ui-select-match placeholder="Select Winner"> {{$select.selected.firstName}} {{$select.selected.surname}}</ui-select-match>
                  <ui-select-choices repeat="player._id as player in match.players | filter: $select.search">
                        <p class="opponentsingle-selector" ng-click="match.resultsCombat.winner.opponentsSingle=match.opponentsSingle[$index]">{{player.firstName}} {{player.surname}}</p>
                  </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-md-5 col-sm-5">
            <div class="matchstart-playerselect form-group">
              <label for="">Select 2nd Player</label>
              <ui-select id="matchWinnerPlayer" ng-model="match.resultsCombat.winner.player" theme="bootstrap">
                  <ui-select-match placeholder="Select Winner"> {{$select.selected.firstName}} {{$select.selected.surname}}</ui-select-match>
                  <ui-select-choices repeat="player._id as player in match.players | filter: $select.search">
                        <p class="opponentsingle-selector" ng-click="match.resultsCombat.winner.opponentsSingle=match.opponentsSingle[$index]">{{player.firstName}} {{player.surname}}</p>
                  </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="form-group">
              <label for=""></label>
              <button type="button" name="button" class="btn btn-green-outline btn-scoring">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PLAYER SELECTION SECTION END -->
    <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-6 col-sm-6">
        <!-- FOR INDIVIDUALS CARD -->
        <div class="matchstart-players" ng-if="matchDetails.isTeam==false">
          <div class="matchplayer-card" ng-repeat = "player in matchDetails.players track by $index">
            <div class="matchplayer-playerid">
              <p>SFA ID: <span class="text-uppercase">{{player.sfaId}}</span></p>
            </div>
            <div class="matchplayer-image">
              <!-- <img src="img/dishapatani1.jpg" alt="" class="img-responsive"> -->
              <img ng-src="{{player.photograph|serverimage}}" alt="{{player.firstName}} {{player.surname}}" class="img-responsive">
            </div>
            <div class="matchplayer-details">
              <p class="matchplayer-name" title="{{player.firstName}} {{player.surname}}">{{player.firstName}} {{player.surname}}</p>
              <p class="matchplayer-school" title="{{player.school.name}}">{{player.school.name}}</p>
            </div>
          </div>
        </div>
        <!-- FOR INDIVIDUALS END CARD-->
        <!-- FOR TEAM CARD -->
        <div class="matchstart-players" ng-if="matchDetails.isTeam==true">
          <div class="matchplayer-card" ng-repeat = "team in matchDetails.teams track by $index">
            <div class="matchplayer-playerid">
              <p class="text-uppercase">TEAM ID: <span>{{team.teamId}}</span></p>
            </div>
            <div class="matchplayer-image">
              <!-- <img src="img/dishapatani1.jpg" alt="" class="img-responsive"> -->
              <img ng-src="{{team.photograph|serverimage}}" alt="{{team.schoolName}}" class="img-responsive">
            </div>
            <div class="matchplayer-details">
              <p class="matchplayer-name" title="{{team.schoolName}}">{{team.schoolName}}</p>
            </div>
          </div>
        </div>
        <!-- FOR TEAM CARD END -->
      </div>
      <div class="col-md-2 col-sm-3">
        <div class="matchstart-noshow pointer" ng-click="showNoMatch();">
          <p class="get-center">CLICK HERE IN CASE OF NO MATCH AND WALKOVER</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-3">
        <!-- <div class="matchstart-uploadholder text-uppercase ">
          <button class="btn btn-green-outline btn-scoring">Upload Picture</button>
          <upload-image ng-model="formData.matchPhoto" ng-callback="getMatchPhoto(data)" allow-type="image/*" no-view class="pointer upload-scorecard" multiple inobj></upload-image>
        </div> -->
        <div class="digital-swiper scorescard-swiper" ng-if="formData.matchPhoto.length>0">
          <div class="matchstart-uploadpic text-uppercase" ng-repeat= "pic in formData.matchPhoto track by $index">
            <span class="remove-pic" ng-click="removeMatchScore(pic)"><i class="fa fa-times"></i></span>
            <img ng-src="{{pic.image|serverimage}}" alt="" class="img-responsive">
          </div>
        </div>
        <div class="matchstart-score">
          <button type="button" class="btn btn-green-outline btn-scoring" ng-click="saveResult(formData)" ng-if="matchDetails.isTeam==false">start scoring</button>
          <button type="button" class="btn btn-green-outline btn-scoring" ng-click="saveTeamResult(formData)" ng-if="matchDetails.isTeam==true">start scoring</button>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <pre>{{matchDetails|json}}</pre>
      <pre>formData {{formData|json}}</pre>
    </div> -->
    </div>
  </div>
</div>
