<div class="matchstart-page">
  <div class="matchstart-header clearfix">
    <div class="container">
      <div class="pull-right">
        <p class="m-clear">match id: <span>mu17-123456</span> </p>
      </div>
      <p class="m-clear">football - boys u-16 - round 1</p>
    </div>
  </div>
  <div class="matchstart-section get-center">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-6">
        <div class="matchstart-players">
          <div class="matchplayer-card player1">
            <div class="matchplayer-playerid">
              <p>SFA ID: <span>MA-17-123456</span></p>
            </div>
            <div class="matchplayer-image">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <div class="matchplayer-details">
              <p class="matchplayer-name">Sudharshan A Anandkumar</p>
              <p class="matchplayer-school">Jamnabai Narsee International School</p>
            </div>
          </div>
          <div class="matchplayer-card player2">
            <div class="matchplayer-playerid text-capitalize">
              <p>SFA ID: <span>MA-17-123456</span></p>
            </div>
            <div class="matchplayer-image">
              <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
            </div>
            <div class="matchplayer-details">
              <p class="matchplayer-name">Sudharshan A Anandkumar</p>
              <p class="matchplayer-school">Jamnabai Narsee International School</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="matchstart-noshow pointer" ng-click="showNoMatch();">
          <p class="get-center">CLICK HERE IN CASE OF NO MATCH AND WALKOVER</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="matchstart-uploadpic text-uppercase hide">
          <p class="get-center ">Upload Picture</p>
        </div>
        <div class="matchstart-uploadpic text-uppercase  ">
          <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
        </div>
        <div class="matchstart-score">
          <button type="button" class="btn btn-green-outline btn-scoring">start scoring</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
