<div class="combatscore-page">
  <div class="matchstart-header clearfix">
    <div class="container">
      <div class="pull-right">
        <p class="m-clear">match id: <span>{{match.matchId}}</span> </p>
      </div>
      <p class="m-clear"><span>{{match.sportsName}} </span> - <span>{{match.age}} </span> - <span> {{match.gender}}</span> </p>
      <!-- <p style="color:red">{{match.resultsCombat.status}}</p> -->
    </div>
  </div>
  <div class="combatscore-scoring">
    <div class="container">
      <div class="row">
        <!-- <pre>{{match|json}}</pre> -->
        <!-- ATHlETE -->
        <div class="col-md-6 col-sm-6" ng-repeat="player in match.players track by $index">
            <div class="combatscore-player">
                <div class="matchplayer-card {{player.player}}">
                    <div class="matchplayer-playerid">
                        <p>SFA ID: <span>{{player.sfaId}}</span></p>
                    </div>
                    <div class="matchplayer-image">
                        <img ng-src="{{player.photograph|serverimage}}" alt="{player.firstName}} {{player.surname}}" class="img-responsive">
                    </div>
                    <div class="matchplayer-details">
                        <p class="matchplayer-name"><span> {{player.firstName}} </span> <span> {{player.surname}} </span></p>
                        <p class="matchplayer-school">{{player.school.name | truncate:'22'}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ATHlETE END -->
      </div>
      <!-- ATHLETE SCORE -->
      <div class="combatscore-sets">
        <div class="row">
          <div class="col-md-6 col-sm-6" ng-repeat="player in match.resultsCombat.players track by $index">
            <div class="combatscore-scorecard" ng-repeat = "set in player.sets track by $index">
              <div class="scoring-set form-group">
                <label for="{{player.player}}{{$index}}" class="text-uppercase" ng-if="player.sets.length<=1">SCORE</label>
                <label for="{{player.player}}{{$index}}" class="text-uppercase" ng-if="player.sets.length>1">SET <span>{{$index+1}}</span></label>
                <!-- <pre>{{player.sets.length}}</pre> -->
                <div class="relate">
                  <button class="btn score-buttons score-decrement" ng-click="decrementScore(set,'point');"><i class="fa fa-minus"></i></button>
                  <input type="number" ng-model="set.point" id="{{player.player}}{{$index}}" min="0" class="score-number display-inline form-control">
                  <button class="btn score-buttons score-increment" ng-click="incrementScore(set,'point');"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ATHLETE SCORE END -->
      <div class="combatscore-uploads text-center">
        <div class="combatscore-pics">
          <div class="row">
          <div class="col-md-offset-1 col-md-5 col-sm-6">
            <div class="matchstart-uploadholder text-uppercase ">
              <button class="btn btn-green-outline btn-scoring btn-uploadscoring">Upload Picture</button>
              <upload-image ng-model="match.resultsCombat.matchPhoto" ng-callback="getMatchPhoto(data)" allow-type="image/*" no-view class="pointer upload-scorecard" multiple inobj></upload-image>
            </div>
            <div class=" digital-swiper">
            <div class="combatscore-uploadpic text-uppercase" ng-repeat="pic in match.resultsCombat.matchPhoto track by $index">
              <span class="remove-pic" ng-click="removeMatchScore(pic,'matchPhoto')"><i class="fa fa-times"></i></span>
              <img ng-src="{{pic.image|serverimage}}" alt="" class="img-responsive">
            </div>
          </div>
          </div>
          <div class="col-md-5 col-sm-6">
            <div class="matchstart-uploadholder text-uppercase ">
              <button class="btn btn-green-outline btn-scoring btn-uploadscoring">Upload Scorecard</button>
              <upload-image ng-model="match.resultsCombat.scoreSheet" ng-callback="getMatchPhoto(data)" allow-type="image/*" no-view class="pointer upload-scorecard" multiple inobj></upload-image>
            </div>
            <div class="digital-swiper">
            <div class="combatscore-uploadpic text-uppercase" ng-repeat="pic in match.resultsCombat.scoreSheet">
              <span class="remove-pic" ng-click="removeMatchScore(pic,'scoreSheet')"><i class="fa fa-times"></i></span>
              <img ng-src="{{pic.image|serverimage}}" alt="" class="img-responsive">
            </div>
          </div>
          </div>
        </div>
        </div>
        <div class="combatscore-selects">
          <div class="row">
          <div class="col-md-offset-2 col-md-4 col-sm-6">
            <div class="match-selectwinner text-left">
              <label for="matchWinnerPlayer" class="text-uppercase">Select Winner</label>
              <!-- SELECT -->
              <select class="form-control" ng-model="match.resultsCombat.winner.player" ng-init="match.winner.player=''">
                <option ng-repeat="player in match.players track by $index" value="{{player._id}}">{{player.firstName}} {{player.surname}}</option>
              </select>
              <!-- SELECT  END-->
              <!-- UI SELECT -->
              <!-- <ui-select id="matchWinnerPlayer" ng-model="match.winner.player" theme="bootstrap">
                  <ui-select-match placeholder="Select Winner"> {{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="player.player as player in match.players | filter: $select.search">
                        <p>{{player.name}}</p>
                  </ui-select-choices>
              </ui-select> -->
              <!-- UI SELECT END -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6" ng-if="match.sportsName=='Boxing'">
            <div class="match-winreason text-left">
              <label for="matchWinnerReason" class="text-uppercase">won by</label>
              <!-- SELECT -->
              <select class="form-control" ng-init="match.winner.reason=''" ng-model="match.resultsCombat.winner.reason">
                <option ng-repeat="reason in reasons track by $index" value="{{reason}}">{{reason}}</option>
              </select>
              <!-- SELECT  END-->
              <!-- UI SELECT -->
              <!-- <ui-select id="matchWinnerReason" ng-model="match.winner.reason" theme="bootstrap">
                  <ui-select-match placeholder="Won By"> {{$select.selected}}</ui-select-match>
                  <ui-select-choices repeat="reason as reason in reasons | filter: $select.search">
                        <p>{{reason}}</p>
                  </ui-select-choices>
              </ui-select> -->
              <!-- UI SELECT END -->
            </div>
          </div>
        </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-4">
              <button class="btn btn-green-outline btn-scoring" ui-sref="matchstart({'drawFormat':stateParam.drawFormat, 'sport': stateParam.sport, 'id':matchId})">back</button>
          </div>
          <div class="col-md-4 col-sm-4">
              <button class="btn btn-green-outline btn-scoring" promise-btn = "yourPromise" ng-click="saveResult(match)">Save</button>
          </div>
          <div class="col-md-4 col-sm-4">
              <button class="btn btn-green-outline btn-scoring" ng-click="matchComplete();">complete</button>
          </div>
        </div>

        <!-- <div class="row" style="text-align: left;">
          <pre>{{match.resultsCombat|json}}</pre>
        </div> -->
      </div>
    </div>
  </div>
</div>
