<div class="scoringimages-page">
  <!-- MATCH HEADER -->
  <div class="matchstart-header clearfix">
    <div class="container">
      <div class="pull-right">
        <p class="m-clear">match id: <span>{{match.matchId}}</span> </p>
      </div>
      <p class="m-clear"><span>{{match.sportsName}} </span> - <span>{{match.age}} </span> - <span> {{match.gender}}</span> </p>
      <!-- <p style="color:red">{{match.resultImages.status}}</p> -->
    </div>
  </div>
  <!-- MATCH HEADER END -->
  <div class="scoringimages-section">
    <div class="container">
      <div class="qualifying-tableholder table-responsive">
        <table class="table digitalscore-table">
          <thead>
            <tr>
              <th>
                <div>
                  <p class="m-clear">Sr. No</p>
                </div>
              </th>
              <th ng-if="match.isTeam == true">
                <div>
                  <p class="m-clear">Team ID</p>
                </div>
              </th>
              <th ng-if="match.isTeam == false">
                <div>
                  <p class="m-clear">Sfa ID</p>
                </div>
              </th>
              <th ng-if="match.isTeam == false">
                <div>
                  <p class="m-clear">name</p>
                </div>
              </th>
              <th>
                <div>
                  <p class="m-clear">
                    school Name
                  </p>
                </div>
              </th>
              <th>
                <div class="">
                  <p class="m-clear">Present</p>
                </div>
              </th>
              <th>
                <div class="">
                  <p class="m-clear">Lane No.</p>
                </div>
              </th>
              <th>
                <div class="">
                  <p class="m-clear">Time</p>
                </div>
              </th>
              <th>
                <div class="">
                  <p class="m-clear">Result</p>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in match.resultImages.players track by $index">
              <td>
                <div class="text-capitalize text-left">{{$index + 1}} </div>
              </td>
              <td ng-if="match.isTeam == true">
                <div class="text-capitalize text-left">{{player.teamId}} </div>
              </td>
              <td ng-if="match.isTeam == false">
                <div class="text-capitalize text-left">{{player.sfaId}} </div>
              </td>
              <td ng-if="match.isTeam == false">
                <div class="text-capitalize text-left" title="{{match.opponentsSingle[0].athleteId.firstName}} {{match.opponentsSingle[0].athleteId.surname}}">{{player.firstName}} {{player.surname}} </div>
              </td>
              <td>
                <div class="text-capitalize text-left">
                  {{player.schoolName}}
                </div>
              </td>
              <td >
                <div class="form-group text-center">
                  <input type="checkbox" ng-model="player.attendance" class="form-control">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="match.resultHeat.players[$index].laneNo" placeholder="Enter Lane No" min="0">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="match.resultHeat.players[$index].time" placeholder="Enter Time" min="0">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="match.resultHeat.players[$index].result" placeholder="Enter Result">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="combatscore-uploads text-center">
        <div class="combatscore-pics">
          <div class="row">
          <div class="col-md-offset-1 col-md-5 col-sm-6">
            <div class="matchstart-uploadholder text-uppercase ">
              <button class="btn btn-green-outline btn-scoring btn-uploadscoring">Upload Picture</button>
              <upload-image ng-model="match.resultImages.matchPhoto" ng-callback="getMatchPhoto(data)" allow-type="image/*" no-view class="pointer upload-scorecard" multiple inobj></upload-image>
            </div>
            <div class=" digital-swiper">
            <div class="combatscore-uploadpic text-uppercase" ng-repeat="pic in match.resultImages.matchPhoto track by $index">
              <span class="remove-pic" ng-click="removeMatchScore(pic,'matchPhoto')"><i class="fa fa-times"></i></span>
              <img ng-src="{{pic.image|serverimage}}" alt="" class="img-responsive">
            </div>
          </div>
          </div>
          <div class="col-md-5 col-sm-6">
            <div class="matchstart-uploadholder text-uppercase ">
              <button class="btn btn-green-outline btn-scoring btn-uploadscoring">Upload Scorecard</button>
              <upload-image ng-model="match.resultImages.scoreSheet" ng-callback="getMatchPhoto(data)" allow-type="image/*" no-view class="pointer upload-scorecard" multiple inobj></upload-image>
            </div>
            <div class="digital-swiper">
            <div class="combatscore-uploadpic text-uppercase" ng-repeat="pic in match.resultImages.scoreSheet">
              <span class="remove-pic" ng-click="removeMatchScore(pic,'scoreSheet')"><i class="fa fa-times"></i></span>
              <img ng-src="{{pic.image|serverimage}}" alt="" class="img-responsive">
            </div>
          </div>
          </div>
        </div>
        </div>

        <div class="scoreimage-btns">
          <div class="row">
          <div class="col-md-offset-2 col-md-4 col-sm-6">
              <button class="btn btn-green-outline btn-scoring" ng-click="backFunc();">back</button>
          </div>
          <div class="col-md-4 col-sm-6">
              <button class="btn btn-green-outline btn-scoring" ng-click="completePopup();">complete</button>
          </div>
          <!-- <div class="col-md-4 col-sm-6">
              <button class="btn btn-green-outline btn-scoring" ng-click="log();">log</button>
          </div> -->
        </div>
        </div>

        <!-- <div class="row" style="text-align: left;">
          <pre>{{match.resultImages|json}}</pre>
        </div> -->
      </div>
    </div>
  </div>
</div>
