@media screen and (max-width: 1200px) {
  // *********KNOCKOUT SINGLES *********
  .knockout-cardholder {
    min-height: 165px;
  }
  .knockout-cardholder-round2 {
    min-height: 360x;
  }
  .knockout-cardholder-round3 {
    min-height: 720px;
  }
  .scheduledata-knockout {
    font-size: 12px;
  } // *********KNOCKOUT SINGLES END*********
  // **********KNOCKOUT DOUBLES ************
  .knockout-doubles-cardholder {
    min-height: 286px;
  }
  .knockout-doubles-cardholder-round2 {
    min-height: 602px;
  }
  .knockout-doubles-cardholder-round3 {
    min-height: 1204px;
  } // **********KNOCKOUT DOUBLES END ************
  // CHAMPIONSHIP SCHEDULE
  .chamionshipschedule-page {
    padding: 0;
  } // CHAMPIONSHIP SCHEDULE END
  // SPONSER_PAGE
  .sponsor-partner-page {
    padding: 30px 0px;
  } // SPONSER_PAGE END
}

@media screen and (max-width: 991px) {
  // KNOCKOUT DOUBLES
  .knockout-doubles-round {
    margin-top: 100px;
  } // KNOCKOOUT DOUBLES END
  // KNOCKOUT SINGLES
  .knockout-sportname {
    margin-top: 120px;
  } // KNOKOUT SINGLES END
  // HEATS
  .heat-rounds {
    margin-top: 105px;
  } // HEATS END
  // TIME_TRIAL
  .time-trial-round {
    margin-top: 105px;
  } // TIME_TRIAL END
  // QUALIFYING + FINAL
  .qualifying-final-round {
    margin-top: 105px;
  } // QUALIFYING + FINAL END
  // LEAGUE + KNOCKOUT
  .league-knockout-round {
    margin-top: 92px;
  } // LEAGUE + KNOCKOUT END
  // QUALIFYING + KNOCKOUT
  .qualifying-knockout-round {
    margin-top: 92px;
  } // QUALIFYING + KNOCKOUT END
  // CHAMPIONSHIP_SCHEDULE
  .championsip-draws {
    margin-top: 100px;
  }
  .championship-schedule-tablefooter {
    padding-left: 0;
  } // CHAMPIONSHIP_SCHEDULE END
  // SWISS LEAGUE
  .swiss-league-round {
    margin-top: 92px;
  } // SWISS LEAGUE END
  // SPONSPER PAGE
  .sponser-partner-title h2 {
    font-size: 30px;
  }
  .sponser-partner-title {
    margin-top: 90px;
  } // SPONSPER PAGE END
  // INDIVIDUAL SPONSER
  .sponser-videoplay-holder {
    padding: 5px 10px;
  }
  .sponser-videoplay-holder .sponer-playe-button {
    font-size: 12px;
  } // INDIVIDUAL SPONSER END
  // GALLERY
  .featured-gallery-page .featured-gallery-header {
    margin-top: 50px;
    font-size: 40px;
  } // GALLERY END
  // FEATURE
  .allfeaturedheader {
    margin-top: 55px;
  }
  .featurevideo-play {
    width: 30px;
    height: 30px;
  }
  .featurevideo-play .fa-play {
    font-size: 14px;
    line-height: 30px;
  } // FEATURE END
  // CHAMPIONS ARCHIVE
  .archive-scheduledetail {
    font-size: 11px;
  }
  .archive-datacardvalue {
    font-size: 30px;
  }
  .archive-datacardtext {
    font-size: 14px;
  }
  .championsarchive-bgbanner {
    margin-top: 90px;
  } // CHAMPIONS END
  // CHAMPIONS ARCHIVE END
  .videoarchive-card {
    height: 110px;
  } // CHAMPIONS ARCHIVE END
}

@media screen and (max-width: 767px) {
  // KNOCKOUT DOUBLES
  .knockout-doubles-round {
    margin-top: 30px;
  }
  .knockout-swiper-holder .swiper-button-next {
    right: 15px;
  }
  .knockout-swiper-holder .swiper-button-prev {
    left: 15px;
  }
  .knockout-doubles-cardholder {
    min-height: 280px;
  }
  .knockout-doubles-cardholder-round2 {
    min-height: 560px;
  }
  .knockout-doubles-cardholder-round3 {
    min-height: 1120px;
  } // KNOCOUT DOUBLES END
  // KNOCKOUT SINGLES
  .knockout-sportname {
    margin-top: 40px;
  }
  .knockout-cardholder {
    min-height: 175px;
  }
  .knockout-cardholder-round2 {
    min-height: 380px;
  }
  .knockout-cardholder-round3 {
    min-height: 760px;
  } // KNOCKOUT SINGLES END
  // HEATS
  .heat-rounds {
    margin-top: 25px;
  } // HEATS END
  .time-trial-round {
    margin-top: 25px;
  } // TIME_TRIAL END
  // QUALIFYING + FINAL
  .qualifying-final-round {
    margin-top: 0px;
  } // QUALIFYING + FINAL END
  // LEAUGE + KNOCKOUT
  .league-knockout-round {
    margin-top: 10px;
  } // LEAUGE + KNOCKOUT END
  // QUALIFYING + KNOCKOUT
  .qualifying-knockout-round {
    margin-top: 10px;
  } // QUALIFYING + KNOCKOUT END
  // CHAMPIONSHIP_SCHEDULE
  .championsip-draws {
    margin-top: 10px;
  } // CHAMPIONSHIP_SCHEDULE END
  // SWISS LEAGUE
  .swiss-league-round {
    margin-top: 40px;
  } // SWISS LEAGUE END
  .sponser-partner-title {
    margin-top: 10px;
  } // GALLERY
  .featured-gallery-page .featured-gallery-header {
    margin-top: 0px;
    font-size: 30px;
  } // GALLERY END
  .allfeaturedheader {
    margin: 0px;
  }
  .championsarchive-videoarchiveholder {
    flex: none;
    width: 250px;
  }
  .championsarchive-videoholder {
    padding-bottom: 15px;
  }
  .championsarchive-bgbanner {
    margin-top: 0px;
  }
  .championsarchive-rankingtableholder>table>tbody>tr>td {
    &:nth-child(n+3) {
      padding: 18px;
    }
    &:last-child() {
      padding: 8px;
    }
  }
  .rankingtable-score {
    display: inline-block;
    vertical-align: middle;
  }
  .rankingtable-medal {
    display: inline-block;
    vertical-align: middle;
  }
  .championsarchive-rankingtableholder .rankingtable-medal {
    width: 15px;
  } // CHAMPIONS ARCHIVE HEADER
  .archive-venuholder {
    width: auto;
  }
  .archive-venutitle {
    width: 40%;
  }
  .archive-scheduledetail {
    font-size: 10px;
  }
  .archive-remainingdataholder {
    width: 100%;
    margin-left: 0px;
  }
  .archive-datacardvalue {
    font-size: 24px;
  }
  .archive-datacardtext {
    font-size: 10px;
  } // CHAMPIONS ARCHIVE HEADER END
  .videoarchive-card {
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  // KNOCKOUT DOUBLES PAGE
  .knockout-doubles-cardholder {
    min-height: 280px;
  }
  .knockout-doubles-cardholder-round2 {
    min-height: 560px;
  }
  .knockout-doubles-cardholder-round3 {
    min-height: 1120px;
  }
  .knockout-swiper-holder .swiper-button-next {
    right: 15px;
  }
  .knockout-swiper-holder .swiper-button-prev {
    left: 15px;
  } // END KNOCKOUT DOUBLES PAGE
  // HEATS
  .heat-sportname {
    h3 {
      font-size: 21px;
    }
  } // HEATS END
  // TIME_TRIAL
  .time-trial-sportname {
    h3 {
      font-size: 21px;
    }
  } // TIME_TRIAL END
  // QUALIFYING + FINAL
  .qf-final-sportname {
    h3 {
      font-size: 21px;
    }
  } // QUALIFYING + FINAL END
  // LEAUGE + KNOCKOUT
  .league-knockout-sportname {
    h3 {
      font-size: 21px;
    }
    .draws-downloadpdf {
      font-size: 12px;
    }
  } // LEAUGE + KNOCKOUT END
  // QUALIFYNG + KNOCKOUT
  .qf-knockout-sportname {
    h3 {
      font-size: 21px;
    }
  }
  .draws-downloadpdf {
    font-size: 12px;
  } // QUALIFYNG + KNOCKOUT END
  // CHAMPIONSHIP SCHEDULE
  .championshipdraw-card-form {
    padding: 20px;
  }
  .championship-drawstitle {
    h3 {
      font-size: 21px;
    }
    p {
      font-size: 12px;
    }
  }
  .championsschdule-pdfbutton {
    font-size: 12px;
  } // CHAMPIONSHIP SCHEDULE END
  // SWISS LEAGUE
  .swiss-league-round {
    margin-top: 30px;
  } // SWISS LEAGUE END
  .swiss-league-sportname {
    h3 {
      font-size: 21px;
    }
  }
  .sponser-partner-title h2 {
    font-size: 24px;
  } // INDIVIDUAL SPONSER
  .sponser-swipercard-imageholder {
    width: 80px;
    height: 80px;
  }
  .sponser-swipercard-contentholder {
    width: auto;
  }
  .sponser-swipercard-content {
    font-size: 14px;
  }
  .individual-swiper-holder .swiper-button-prev,
  .individual-swiper-holder .swiper-container-rtl .swiper-button-next {
    left: 15px;
  }
  .individual-swiper-holder .swiper-button-next,
  .individual-swiper-holder .swiper-container-rtl .swiper-button-prev {
    right: 0px;
  }
  .sponser-swipercard .inverted-commos-top {
    width: 25px;
  }
  .sponser-swipercard .inverted-commos-bottom {
    width: 25px;
  }
  .sponser-swipercard {
    padding: 0px 15px;
    padding-right: 30px;
  }
  .sponser-videoplay-holder .sponer-playe-button {
    font-size: 10px;
  }
  .sponser-videoplay-holder {
    padding: 0px 10px;
  } // INDIVIDUAL SPONSER END
  // END REGISTRATION MODAL
  .endregistration-header {
    h3 {
      font-size: 16px;
    }
  } // END REGISTRATION MODAL END
  // ALL GALLERY HEADER FONT
  .featured-gallery-page .featured-gallery-header {
    margin-top: 0px;
    font-size: 24px;
  } // ALL GALLERY HEADER FONT END
  // FEATURED VIDEO
  .allfeaturedheader {
    font-size: 24px;
  } // FEATURED VIDEO END
  // CHAMPIONS ARCHIVE
  .archive-sportspecificcardholder {
    width: 50px;
  }
  .archive-sportspecificcardholder p {
    font-size: 8px;
  }
  .archive-venuholder {
    width: auto;
  }
  .archive-scheduledetail {
    font-size: 10px;
  }
  .archive-remainingdataholder {
    width: 100%;
    margin-left: 0px;
  }
  .archive-venutitle {
    width: 40%;
  }
  .archive-datacardvalue {
    font-size: 24px;
  }
  .archive-datacardtext {
    font-size: 10px;
  }
  .championsarchive-bgbanner {
    height: calc(100vh - 15vh);
  } // MANIPLUATION IN TABLE FLIP
  .championsarchive-rankingtableholder>table>tbody>tr>td {
    &:nth-child(n+3) {
      padding: 18px;
    }
    &:last-child() {
      padding: 8px;
    }
  } // MANIPLUATION IN TABLE FLIP END
  .rankingtable-score {
    display: inline-block;
    vertical-align: middle;
  }
  .rankingtable-medal {
    display: inline-block;
    vertical-align: middle;
  }
  .championsarchive-rankingtableholder .rankingtable-medal {
    width: 15px;
  }
  .archivecard-imageholder {
    border-right: none;
  }
  .archivecard-imageholder {
    width: 135px;
    padding: 0 10px;
  } // CHAMPIONS ARCHIVE END
}