@media screen and (max-width: 1200px) {
  .hyderabad-sporticonholder {
    padding: 30px 0px;
  }
  .hyderabad-post-championship {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  // SFA_VIEDO
  .sfavideo-content p {
    font-size: 14px;
  } // END SFA_VIEDO
  .hyderabad-sporticonholder {
    padding: 30px 0px;
    .sport-icon-championship {
      padding-top: 0px;
    }
  }
  .hyderabad-sporticonholder .sport-icon-championship li {
    padding: 0px 1px;
    margin: 0px 2px;
  }
}

@media screen and (max-width: 767px) {
  // REGISTERED SPORTS
  .sportregistered-title {
    display: block;
    width: auto;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .sportregistered-viewbtn {
    width: auto;
    padding: 5px 10px;
    font-size: 14px;
  }
  .list-sportregistered {
    padding: 10px 0;
    margin: 0;
  }
  .registersport-lists {
    border-bottom: 1px solid #ccc;
    &:last-child {
      border: none;
    }
  } // REGISTERED SPORTS END
  // SPORTS DETAIL
  .sportsdetail-download {
    margin-top: -40px;
  } // SPORTS DETAIL END
  .hyderabad-sporticonholder .sport-icon-championship {
    padding-top: 25px;
  }
  .hyderabad-sporticonholder .sport-icon-championship li {
    padding: 2px;
    margin: 0px 0px;
  }
  .hyderabad-sporticonholder .sport-icon-championship p {
    font-size: 7px;
  }
}

@media screen and (max-width: 525px) {
  .hyderabad-sporticonholder .sport-icon-championship li {
    padding: 1px;
  }
}

@media screen and (max-width: 480px) {
  .hyderabad-multisporthead {
    h2 {
      font-size: 18px;
    }
  }
  .hyderabad-sporticonholder {
    padding: 0px;
  }
  .hyderabad-prosportexperience {
    h3 {
      font-size: 16px;
    }
  }
  .pro-dataanalytics-head {
    font-size: 20px;
    letter-spacing: 0px;
  }
  .hyderabad-sporticonholder .sport-icon-championship p {
    font-size: 6px;
  }
  .hyderabad-sporticonholder .sport-icon-championship li {
    padding: 1px;
    margin: 0px 0px;
  }
}

@media screen and (max-width: 400px) {
  .hyderabad-sporticonholder .sport-icon-championship p {
    font-size: 4.6px;
  }
  .hyderabad-sporticonholder .sport-icon-championship li {
    padding: 0px;
    margin: 0px 10px;
  }
}