 @media (max-width: $screen-sm-max) {
     // Tablet
    //  RESULTS PAGE
    .resultsport-player {
      margin: 30px 0 10px;
    }
    .result-dropdown{
      display: block;
    }
    .resultsport-topplayer {
        width: 48%;
        margin-right: 10px;
        float: left;
    }
    .allmedals-filterholder{
      .sportfilter-label{
        margin: 0;
        margin-top: 10px;
      }
    }
    .resulttable-medal{
      min-width: 70px;
    }
    //  RESULTS PAGE END
    // SPECIAL EVENTS PAGE
    .eventcard-date{
      font-size: 60px;
    }
    .eventcard-day{
      font-size: 24px;
    }
    .eventdetail-title{
      font-size: 16px;
    }
    .eventdetail-content{
      font-size: 12px;
      line-height: 1.2;
    }
    // SPECIAL EVENTS PAGE END
    // MATCH CENTER
    .teammatchcenter-modal{
      .matchplayer-details{
        width: calc(100% - 85px);
        .matchplayer-school{
          font-size: 14px;
        }
      }

    }
    // MATCH CENTER  END
    // Tablet End
 }
