 @media (max-width: $screen-sm-max) {
     // Tablet
     // PHOTO VIDEO POPUP
     .photovideo-modal{
       .modal-lg{
         width: 700px;
       }
     }
     .photovideo-popup .photovideo-vidframe{
       min-height: 220px;
     }
     .photovideo-popup{
       padding-right: 200px;
     }
     .photovideo-nav{
       font-size: 36px;
     }
     .photovideo-navleft{
       left: -30px;
     }
     .photovideo-navright{
       right: -30px;
     }
     .photovideo-sidesection{
       width: 200px;
       padding: 10px;
     }
     .photovideo-sidetitle{
       font-size: 14px;
     }
     .photovideo-footer{
       font-size: 10px;
     }
     .photovideo-navclose{
       font-size: 24px;
       right: -30px;
     }
     // PHOTO VIDEO POPUP END
    //  RESULTS PAGE
    .resultsport-player {
      margin: 30px 0 10px;
    }
    .result-dropdown{
      display: block;
    }
    .resultsport-topplayer {
        width: 48%;
        margin-right: 10px;
        float: left;
    }
    .allmedals-filterholder{
      .sportfilter-label{
        margin: 0;
        margin-top: 10px;
      }
    }
    .resulttable-medal{
      // min-width: 70px;
    }
    //  RESULTS PAGE END
    // SPECIAL EVENTS PAGE
    .eventcard-date{
      font-size: 60px;
    }
    .eventcard-day{
      font-size: 24px;
    }
    .eventdetail-title{
      font-size: 16px;
    }
    .eventdetail-content{
      font-size: 12px;
      line-height: 1.2;
    }
    // SPECIAL EVENTS PAGE END
    // MATCH CENTER
    .teammatchcenter-modal{
      .matchplayer-details{
        width: calc(100% - 85px);
        .matchplayer-school{
          font-size: 14px;
        }
      }

    }
    // MATCH CENTER  END
    // REPORT CARD PAGE
    .report-medaltableholder{
      .table {
        > thead {
          > tr {
            > td{
              padding: 10px 5px;
            }
          }
        }
      }
    }
    .report-contingentcount{
      font-size: 36px;
    }
    .report-countmale, .report-countfemale{
      font-size: 30px;
    }
    .report-ranktext-big{
      font-size: 36px;
    }
    .report-ranktext-small{
      font-size: 24px;
    }
    .medaltally-total{
      font-size: 12px;
    }
    .report-contingentprogress{
      width: 140px;
    }
    .report-medalholder{
      width: 15px;
    }
    .report-rankholder{
      width: calc(100% - 19px);
      font-size: 12px;
      .report-ranktext-big{
        font-size: 30px;
      }
    }
    .report-schoolheader{
      display: block;
      font-size: 18px;
      &:after{
        display: none;
      }
    }
    .report-medaltableholder{
      padding-bottom: 20px;
    }
    .report-summarycard{
      max-width: 65%;
    }
    .report-wingraph{
      width: 30%;
    }
    // REPORT CARD PAGE END
    // UPGRADE PACKAGE PAGE
    .upgradepackage-title{
      font-size: 36px;
    }
    // UPGRADE PACKAGE PAGE END
    // Tablet End
 }
