 @media (max-width: $screen-xs-max) {
     // Mobile
    //  ATHLETE PROFILE CARD
    .profileathleteimage-holder{
      width: 55px;
      height: 55px;
    }
    .profileathlete-cardcontent{
      width: calc(100% - 70px);
    }
    .athletecard-starflag{
      top: -10px;
    }
    .athletecard-starholder{
      width: 25px;
    }
    .athletecard-flagholder{
      width: 25px;
    }
    .profile-bluemedals{
      width: 15px;
    }
    //  ATHLETE PROFILE CARD END
    .resultsport-topplayer {
        width: auto;
        margin-right: 0;
        float: none;
    }
    // MATCH CENTER
    .matchcenter-modal{
      .racquet-setscore .scoring-set{
        &:last-child{
          .setpointlabel{
            display: block;
          }
        }
      }
      .setpoint-element{
        margin: 5px 0;
      }
      .matchplayer-image{
        width: 40px;
        height: 40px;
      }
      .score-number{
        width: 40px;
        height: 40px;
        font-size: 18px;
      }
    }
    // MATCH CENTER END
     // Mobile End
 }
