<div class="panel-content" ng-if="!showMatch">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="form-elements-sec">
          <form name="detailForm" role="form" class="sec">
            <div class="row">
              <div class="col-md-12">
                <!-- SEARCH BAR END -->
                <!-- SPORT TYPE -->
                <div class="form-group">
                  <label>Result Update</label>
                  <input type="text" name="resultupdate" id="resultupdate" class="form-control" ng-model="form.resultUpdate" readonly>
                </div>
                <!-- SPORT TYPE END -->
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
