<section class="schedule">
    <div class="championship-schedule championship-schedule-line mb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">

                    <div class="championship-scheduletitle ">
                        <h2 class="text-center text-capitalize d-fjalla-one m-clear">Championship schedule</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
                            <div class="championshipschedule-tableholder table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sport </th>
                                            <th>Dates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="schedule in scheduleData1 | orderBy:'sport.name' track by $index">
                                            <td class="champions-table-td">
                                                <div class="schedulesport-name">
                                                    {{schedule.sport.name}}
                                                </div>
                                            </td>
                                            <td class="champions-table-td">
                                                <div class="table2-championstable">
                                                    <div class="schedulesport-dates">
                                                        <span>{{schedule.scheduleDate}}</span>
                                                    </div>
                                                    <div class="championsschdule-pdfbutton" ng-repeat="pdf in schedule.pdfDetail track by $index" hidden>
                                                        <a href="{{pdf.trustedURL}}" target="_new" ng-if="pdf.pdfType !=='resultlink'">
                                                            <span ng-class="{'champions-draw-orange':pdf.pdfType =='schedulePdf' || pdf.pdfType =='order','champions-result-green':pdf.pdfType == 'resultPdf'}">
                                                                            {{pdf.textHeader}}
                                                            </span>
                                                        </a>
                                                        <a href="{{pdf.resultLink}}" target="_new" ng-if="pdf.pdfType =='resultlink'" class="champions-result-green">
                                                            {{pdf.textHeader}}
                                                        </a>
                                                    </div>
                                                    <div class="champions-upload-time" ng-if="schedule.uploadTime" hidden>
                                                        <span>{{schedule.uploadTime}}</span>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="championshipschedule-tableholder tale-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sport </th>
                                            <th>Dates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="schedule in scheduleData2 track by $index">
                                            <td ng-class="{'champions-height-odd':!schedule.sport}" class="champions-table-td">
                                                <div class="schedulesport-name">
                                                    {{schedule.sport.name}}
                                                </div>
                                            </td>
                                            <td ng-class="{'champions-height-odd':!schedule.sport}" class="champions-table-td">
                                                <div class="table2-championstable">
                                                    <div class="schedulesport-dates">
                                                        <span>{{schedule.scheduleDate}}</span>
                                                    </div>
                                                    <div class="championsschdule-pdfbutton" ng-repeat="pdf in schedule.pdfDetail track by $index" hidden>
                                                        <a href="{{pdf.trustedURL}}" target="_new" ng-if="pdf.pdfType !=='resultlink'">
                                                                    <span ng-class="{'champions-draw-orange':pdf.pdfType =='schedulePdf' || pdf.pdfType =='order','champions-result-green':pdf.pdfType == 'resultPdf'}" ng-if="schedule.pdfDetail">
                                                                    {{pdf.textHeader}}
                                                                    </span>
                                                        </a>
                                                        <a href="{{pdf.resultLink}}" target="_new" ng-if="pdf.pdfType =='resultlink'" class="champions-result-green">
                                                            {{pdf.textHeader}}
                                                        </a>
                                                    </div>
                                                    <div class="champions-upload-time" ng-if="schedule.uploadTime" hidden>
                                                        <span>{{schedule.uploadTime}}</span>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-11 col-sm-12 col-xs-12">
                            <div class="">
                                <p class="m-clear">
                                    *SFA shall keep you informed in-case there is any change of dates.
                                </p>
                                <p class="m-clear" ng-if="isCollege == false &&sfaCity == 'Mumbai'">*Football qualifiers will be held in November. Dates will be announced soon.</p>
                                <p class="m-clear">*The final draws and schedules for all sports will be published on the 8th November 2017.</p>
                                <p ng-if="sfaCity == 'Mumbai'">*The final draws and schedules publishing date for all sports will be announced soon.</p>
                                <p ng-if="sfaCity == 'Hyderabad'">*The final draws and schedules for all sports will be published on the 8th November 2017.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>