<section ng-if="sfaCity == 'Mumbai'">
    <div class="secion-img twoStrikes hidden-xs">
        <img src="img/About_Web_Mum.jpg" alt="" class="">
    </div>
    <div class="secion-img twoStrikes visible-xs">
        <img src="img/About_Mobile_Mum.jpg" alt="" class="">
    </div>
    <!-- <div class="secion-img twoStrikes">
        <img src="img/theory2.jpg" alt="" class="img-responsive">
        <div class="statement">
            <span class="pull-right">* Final dates to be announced shortly</span><br>
            <span class="pull-right">** Other venues to be announced shortly</span>
        </div>
    </div> -->
    <div class="container">
        <div class="largest">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <div class="largest-ball">
                        <img src="img/largest.png" alt="" class="img-responsive">
                        <div class="ball">
                            <img src="img/ball.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <p class="largest-content">Mumbai's ultimate inter-school sporting championship, where the best school contingents battle it out
                        to be ranked as the No. 1 School For Sport</p>
                    <div class="largest-list">
                        <ul class="list-unstyled">
                            <li>55,000 ATHLETES</li>
                            <li>850 INSTITUTIONS</li>
                            <li>25+SPORTING DISCIPLINES</li>
                            <li>50+ SPORTING ARENAS</li>
                            <li>180 CAMERAS</li>
                            <li>11,000 MATCH VIDEOS</li>
                            <li>3 VENUES</li>
                            <li>15 DAYS OF INTENSE COMPETITION</li>
                        </ul>
                    </div>
                    <p>*Only upto 55,000 athletes can participate at SFA Mumbai 2017</p>
                </div>
            </div>
        </div>
        <div class="proffessional">
            <div class="professional-img">
                <img src="img/professional.png" alt="" class="img-responsive ">
            </div>
            <div class="row">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <h3>PRO SPORT EXPERIENCE</h3>
                    <div class="content-padding">
                        <div class="row">
                            <div class="col-md-6  col-sm-12 col-xs-12">
                                <div class="list-common f-w">
                                    <p class="brand-blue ">World-Class Multi-Sporting Infrastructure & Facilities</p>
                                    <ul class="list-unstyled ">
                                        <li>In line with international technical guidelines </li>
                                        <li>Shock absorbing outdoor surfaces for injury minimization</li>
                                        <li>Best in class Stadium Experience </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6  col-sm-12 col-xs-12">
                                <div class="list-common f-w">
                                    <p class="brand-blue">High Quality Competition</p>
                                    <ul class="list-unstyled">
                                        <li>Representation by state and national level players</li>
                                        <li>Pre-determined eligibility criteria</li>
                                        <li>Attracting the city’s best talent </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6  col-sm-12 col-xs-12">
                                <div class="list-common f-w">
                                    <p class="brand-blue">Quality Governance</p>
                                    <ul class="list-unstyled">
                                        <li class="p-right30">Conducted as per best practices under the aegis of National and State Associations</li>
                                        <li>Certified officials </li>
                                        <li>Application of advanced technological solutions – photo finish system, electronic
                                            scoreboards, electronic piste etc </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6  col-sm-12 col-xs-12">
                                <div class="list-common f-w">
                                    <p class="brand-blue">Match Videography</p>
                                    <ul class="list-unstyled">
                                        <li>HD match videography</li>
                                        <li>Digital record maintenance </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <h3>PRO CARE FOR ENHANCED PERFORMANCE</h3>
                    <div class="content-padding">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="list-common f-w">
                                    <p class="brand-blue"> Injury Prevention Centres & Oncourt Physiocare </p>
                                    <ul class="list-unstyled list-dash">
                                        <li>Sport specialised physiotherapists and hospital partnership </li>
                                        <li>First-aid and Ambulance</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="list-common f-w">
                                    <p class="brand-blue "> Hydration & Nutrition Stations</p>
                                    <ul class="list-unstyled">
                                        <li>On and off-court access to clean drinking water</li>
                                        <li>Revitalization with complimentary energy drinks post matches </li>
                                        <li>Nutritious Food</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="list-common f-w">
                                    <p class="brand-blue"> Safe & Hygenic Sporting Environment</p>
                                    <ul class="list-unstyled">
                                        <li>24/7 private security </li>
                                        <li>Changing rooms, washrooms and warm-up areas </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boy-img">
                <img src="img/10.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="blue-sec">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <h3>PRO ONLINE PORTAL FOR TRANSPARENCY</h3>
                    <div class=" col-md-4 col-sm-6 col-xs-6">
                        <div class="">
                            <p class="brand-white">One Time E-Registration </p>
                            <ul class="list-unstyled one-time">
                                <li>Simple and secure e-registration process for athletes and schools</li>
                                <li>One Time E-Registration </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-md-4 col-sm-6 col-xs-6">
                        <div class=" match-video">
                            <p class="brand-white "> Fixtures, Draws And Match Schedules</p>
                            <ul class="list-unstyled ">
                                <li>To be published online prior to the championship </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-md-4 col-sm-6 col-xs-7">
                        <div class="">
                            <p class="brand-white">Record Maintenance</p>
                            <ul class="list-unstyled  one-time">
                                <li>All championship led scores, records, statistics & ranking table accessible via website
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <h3>PRO E-LOCKER FOR ATHLETE DEVELOPMENT</h3>
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="">
                            <p class="brand-white"> Athlete & School Profiles</p>
                            <ul class="list-unstyled">
                                <li>Comprehensive sport bios</li>
                                <li>Year-on-year record maintenance</li>
                                <li>Match statistics and reports</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="">
                            <p class="brand-white"> Match Videos</p>
                            <ul class="list-unstyled padd-r30">
                                <li>Enhanced with more statistics and advanced analytics - formation graph,scores,strike percentage
                                    etc.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="multi-sporting">
            <div class="multi-sporting-img">
                <img src="img/multi-sporting.png" alt="" class="img-responsive mar-auto">
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="blue-girl">
                        <img src="img/girlblue.png" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="sport-icon-championship">
                        <ul class="list-unstyled">
                            <li>
                                <img src="img/icons/Basketball.png" class="img-responsive">
                                <p>Basketball</p>
                            </li>
                            <li>
                                <img src="img/icons/Football.png" class="img-responsive">
                                <p>Football</p>
                            </li>
                            <li>
                                <img src="img/icons/Handball.png" class="img-responsive">
                                <p>HANDBALL</p>
                            </li>
                            <li>
                                <img src="img/icons/Hockey.png" class="img-responsive">
                                <p>Hockey</p>
                            </li>
                            <li>
                                <img src="img/icons/Kabaddi.png" class="img-responsive">
                                <p>Kabaddi</p>
                            </li>
                            <li>
                                <img src="img/icons/Khokho.png" class="img-responsive">
                                <p>Kho Kho</p>
                            </li>
                            <li>
                                <img src="img/icons/Throwball.png" class="img-responsive">
                                <p>Throwball</p>
                            </li>
                            <li>
                                <img src="img/icons/Volleyball.png" class="img-responsive">
                                <p>Volleyball</p>
                            </li>
                            <li>
                                <img src="img/icons/Waterpolo.png" class="img-responsive">
                                <p>Water Polo</p>
                            </li>
                        </ul>
                        <ul class="list-unstyled">
                            <li>
                                <img src="img/icons/Archery.png" class="img-responsive">
                                <p>Archery</p>
                            </li>
                            <li>
                                <img src="img/icons/Athletics.png" class="img-responsive">
                                <p>Athletics</p>
                            </li>
                            <li>
                                <img src="img/icons/Badminton.png" class="img-responsive">
                                <p>Badminton</p>
                            </li>
                            <li>
                                <img src="img/icons/Carrom.png" class="img-responsive">
                                <p>Carrom</p>
                            </li>
                            <li>
                                <img src="img/icons/Chess.png" class="img-responsive">
                                <p>Chess</p>
                            </li>
                        </ul>
                        <ul class="list-unstyled">
                            <li>
                                <img src="img/icons/Shooting.png" class="img-responsive">
                                <p>Shooting</p>
                            </li>
                            <li>
                                <img src="img/icons/Squash.png" class="img-responsive">
                                <p>Squash</p>
                            </li>
                            <li>
                                <img src="img/icons/Swimming.png" class="img-responsive">
                                <p>Swimming</p>
                            </li>
                            <li>
                                <img src="img/icons/Tabletennis.png" class="img-responsive">
                                <p>Table Tennis</p>
                            </li>
                            <li>
                                <img src="img/icons/Tennis.png" class="img-responsive">
                                <p>Tennis</p>
                            </li>
                        </ul>

                        <ul class="list-unstyled">
                            <li>
                                <img src="img/icons/Boxing.png" class="img-responsive">
                                <p>Boxing</p>
                            </li>
                            <li>
                                <img src="img/icons/Fencing.png" class="img-responsive">
                                <p>Fencing</p>
                            </li>
                            <li>
                                <img src="img/icons/Judo.png" class="img-responsive">
                                <p>Judo</p>
                            </li>
                            <li>
                                <img src="img/icons/Karate.png" class="img-responsive">
                                <p>Karate</p>
                            </li>
                            <li>
                                <img src="img/icons/MMA.png" class="img-responsive">
                                <p>Sport MMA</p>
                            </li>
                            <li>
                                <img src="img/icons/Taekwondo.png" class="img-responsive">
                                <p>Taekwondo</p>
                            </li>
                        </ul>
                    </div>
                    <p class="text-right">*More sports to be announced soon</p>
                </div>
            </div>
        </div>
        <div class="championship">
            <div class="championship-img">
                <img src="img/championship.png" alt="" class="img-responsive mar-auto">
                <div class="white-girl">
                    <img src="img/white-girl.png" alt="" class="img-responsive mar-auto">
                </div>
            </div>
            <div class="championship-content">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <p class="brand-orange">ELITE ATHLETE CLUB
                        </p>
                        <ul class="list-unstyled padd-r8 pb60">
                            <li class="twsb">Scouting for talented athletes across different sports and empowering them with:</li>
                            <li class="twr"> Training & Development scholarships to take their sporting prowess to the next level</li>
                            <li class="twr"> Complimentary mental and fitness assessment programs </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <p class="brand-orange">CHAMPION SCHOOLS</p>
                        <ul class="list-unstyled">
                            <li class="twsb">Each medal counts</li>
                            <li class="pb10 twr"> Gold -5 Points | Silver -3 Points | Bronze -1 Point</li>
                            <li class="twr"> Top performing schools will feature on the prestigious school ranking table!</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p class="brand-orange">THE BEST SCHOOL FOR SPORTS</p>
                        <ul class="list-unstyled">
                            <li class="pb10 twr">Win the championship to be titled&ensp;<span class="twsb">THE BEST SCHOOL FOR SPORTS IN MUMBAI</span>                                and we will help you defend your title!
                            </li>
                            <li class="text-justify twr"><span class="twsb">CHAMPIONSHIP FUND:</span> Youth Sport Development Fund will be awarded to
                                the top-ranking schools enabling them to further develop sport in their schools. It can be
                                utilised towards athlete & infrastructure development, facility refurbishment and equipment
                                enhancement.
                            </li>
                            <!--Granting Training
                            & Development scholarships to take their sporting prowess to the next level Complimentary mental
                            and fitness assessment programs-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="specialfeatures-color">
        <div class="container-fluid">
            <div class="specialfeatures">
                <h1>SPECIAL FEATURES</h1>
                <div class="row">
                    <div class="col-sm-12 col-xs-12 hidden-md hidden-lg">
                        <div class="img-features">
                            <img src="img/img-feature.png" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="xs-hidden">
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <ul class="list-unstyled">
                                <li class="brand-voilet">Opening Ceremony</li>
                                <li class="pb5">The biggest inter-school sports congregation where top contingents take a pledge to practice
                                    clean sports. (Swachh Games Swachh Bharat)</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li class="brand-voilet">Exhibition Matches</li>
                                <li class="pb5">By eminent sports personalities. </li>
                            </ul>
                            <ul class="list-unstyled">
                                <li class="brand-voilet">Interactive Workshops & Educational Sessions</li>
                                <li class="pb5">By professionals from the industry.</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li class="brand-voilet">Girl’s Day Celebration</li>
                                <li class="pb5">To encourage female athletes. #SheIsGold </li>
                            </ul>
                            <ul class="list-unstyled">
                                <li class="brand-voilet">Differently-abled Day </li>
                                <li> Day To celebrate the common spirit of sport we share.#<i>MoreAlike</i></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="list-coach">
                                <ul class="list-unstyled">
                                    <li class="brand-voilet">Coach’s Day</li>
                                    <li class="pb5">To acknowledge the dedication & efforts of coaches. </li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="brand-voilet"> Alumni Day</li>
                                    <li class="pb5"> An opportunity for the Sport Alumni to represent their school on the field again. </li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="brand-voilet"> Awards Night</li>
                                    <li> To reward the dedication & performance of distinguished athletes.</li>
                                </ul>
                                <div class="btn-register"><a ui-sref="register" target="_new"><button>REGISTER FOR SFA MUMBAI 2017</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-hidden">
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <ul class="list-unstyled">
                                <li class="brand-voilet">Opening Ceremony</li>
                                <li class="pb5">The biggest inter-school sports congregation where top contingents take a pledge to practice
                                    clean sports. (Swachh Games Swachh Bharat)</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li class="brand-voilet">Exhibition Matches</li>
                                <li class="pb5">By eminent sports personalities. </li>
                            </ul>
                            <ul class="list-unstyled">
                                <li class="brand-voilet">Interactive Workshops & Educational Sessions</li>
                                <li class="pb5">By professionals from the industry.</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li class="brand-voilet">Girl’s Day Celebration</li>
                                <li class="pb5">To encourage female athletes. #SheIsGold </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div class="list-coach">
                                <ul class="list-unstyled">
                                    <li class="brand-voilet">Coach’s Day</li>
                                    <li class="pb5">To acknowledge the dedication & efforts of coaches. </li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="brand-voilet"> Alumni Day</li>
                                    <li class="pb5"> An opportunity for the Sport Alumni to represent their school on the field again. </li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="brand-voilet"> Awards Night</li>
                                    <li> To reward the dedication & performance of distinguished athletes.</li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li class="brand-voilet">Differently-abled Day </li>
                                    <li> Day To celebrate the common spirit of sport we share.#<i>MoreAlike</i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="btn-register text-center"><a ui-sref="register" target="_new"><button>REGISTER FOR SFA MUMBAI 2017</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 hidden-sm hidden-xs">
                        <div class="img-features">
                            <img src="img/img-feature.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section ng-if="sfaCity == 'Hyderabad'">
    <!--IMAGE-->
    <!-- <div class="secion-img twoStrikes">
        <img src="img/theoryH.jpg" alt="" class="img-responsive">
    </div> -->
    <!--END IMAGE-->
    <!-- IMAGE-->
    <div class="secion-img twoStrikes hidden-xs">
        <img src="img/About_Web_Hyd.jpg" alt="" class="">
    </div>
    <div class="secion-img twoStrikes visible-xs">
        <img src="img/About_Mobile_Hyd.jpg" alt="" class="">
    </div>
    <!--END IMAGE-->

    <div class="container">
        <!--MULTI-SPORTS HEAD-->
        <div class="hyderabad-multisporthead">
            <h2 class="d-fjalla-one sport-color-primary text-uppercase text-center">Hyderabad's ultimate Professional Multi-sporting</h2>
            <h2 class="d-fjalla-one sport-color-primary text-uppercase text-center m-clear">inter-school championship</h2>
        </div>
        <!--END MULTI-SPORTS HEAD-->

        <!--SPORT ICONS-->
        <div class="multi-sporting hyderabad-sporticonholder">
            <div class="sport-icon-championship">
                <ul class="list-unstyled">
                    <li>
                        <img src="img/icons/Basketball.png" class="img-responsive">
                        <p>Basketball</p>
                    </li>
                    <li>
                        <img src="img/icons/Football.png" class="img-responsive">
                        <p>Football</p>
                    </li>
                    <li>
                        <img src="img/icons/Handball.png" class="img-responsive">
                        <p>HANDBALL</p>
                    </li>
                    <li>
                        <img src="img/icons/Hockey.png" class="img-responsive">
                        <p>Hockey</p>
                    </li>
                    <li>
                        <img src="img/icons/Kabaddi.png" class="img-responsive">
                        <p>Kabaddi</p>
                    </li>

                    <li>
                        <img src="img/icons/Khokho.png" class="img-responsive">
                        <p>Kho Kho</p>
                    </li>

                    <li>
                        <img src="img/icons/Throwball.png" class="img-responsive">
                        <p>Throwball</p>
                    </li>
                    <li>
                        <img src="img/icons/Volleyball.png" class="img-responsive">
                        <p>Volleyball</p>
                    </li>
                    <li>
                        <img src="img/icons/Waterpolo.png" class="img-responsive">
                        <p>Water Polo</p>
                    </li>
                </ul>

                <ul class="list-unstyled">
                    <li>
                        <img src="img/icons/Archery.png" class="img-responsive">
                        <p>Archery</p>
                    </li>
                    <li>
                        <img src="img/icons/Athletics.png" class="img-responsive">
                        <p>Athletics</p>
                    </li>

                    <li>
                        <img src="img/icons/Badminton.png" class="img-responsive">
                        <p>Badminton</p>
                    </li>
                    <li>
                        <img src="img/icons/Carrom.png" class="img-responsive">
                        <p>Carrom</p>
                    </li>
                    <li>
                        <img src="img/icons/Chess.png" class="img-responsive">
                        <p>Chess</p>
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li>
                        <img src="img/icons/Shooting.png" class="img-responsive">
                        <p>Shooting</p>
                    </li>
                    <li>
                        <img src="img/icons/Swimming.png" class="img-responsive">
                        <p>Swimming</p>
                    </li>
                    <li>
                        <img src="img/icons/Tabletennis.png" class="img-responsive">
                        <p>Table Tennis</p>
                    </li>
                    <li>
                        <img src="img/icons/Tennis.png" class="img-responsive">
                        <p>Tennis</p>
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li>
                        <img src="img/icons/Boxing.png" class="img-responsive">
                        <p>Boxing</p>
                    </li>
                    <li>
                        <img src="img/icons/Fencing.png" class="img-responsive">
                        <p>Fencing</p>
                    </li>
                    <li>
                        <img src="img/icons/Judo.png" class="img-responsive">
                        <p>Judo</p>
                    </li>
                    <li>
                        <img src="img/icons/Karate.png" class="img-responsive">
                        <p>Karate</p>
                    </li>

                    <li>
                        <img src="img/icons/Taekwondo.png" class="img-responsive">
                        <p>Taekwondo</p>
                    </li>
                </ul>
            </div>
        </div>
        <!--END SPORT ICONS-->

        <!--SFA CHAMPIONSHIP-->
        <div class="hyderabad-sfachampionshead">
            <h3 class="d-fjalla-one text-uppercase text-center sport-color-primary">SFa championships</h3>
        </div>
        <div class="hyderabad-sfachampionsholder">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="row">
                        <!--PRO SPORT EXPRIENCE-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="prosport-holder">
                                <div class="hyderabad-prosportexperience">
                                    <h3 class="d-fjalla-one text-uppercase text-left ">Pro Sport Experience</h3>
                                </div>
                                <div class="hyderabad-prosportimageholder">
                                    <img src="img/pro-1.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="hyderabad-prosport-content proffessional">
                                    <p class="m-clear brand-blue">
                                        World-Class Multi-Sporting Infrastructure & Facilities
                                    </p>
                                    <p class="m-clear brand-blue">
                                        Quality Governance
                                    </p>
                                    <ul class="list-unstyled">
                                        <li>
                                            Conducted by certified officials as per best practices under the aegis of National and State Associations
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--END PRO SPORT EXPRIENCE-->

                        <!--PRO CARE-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="prosport-holder pro-care-holder">
                                <div class="hyderabad-prosportexperience">
                                    <h3 class="d-fjalla-one text-uppercase text-left">Pro Sport Experience</h3>
                                </div>
                                <div class="hyderabad-prosportimageholder">
                                    <img src="img/pro-2.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="hyderabad-prosport-content proffessional">
                                    <p class="m-clear brand-blue">
                                        Injury Prevention Centres & Oncourt Physiocare
                                    </p>
                                    <ul class="list-unstyled">
                                        <li>
                                            On-court sport physiotherapists
                                        </li>
                                        <li>
                                            Hospital partner, first-aid and ambulance
                                        </li>
                                    </ul>
                                    <p class="m-clear brand-blue">
                                        Safe and Hygienic Sporting Environment
                                    </p>
                                    <p class="m-clear brand-blue">
                                        Hydration and Nutrition Stations
                                    </p>

                                </div>
                            </div>
                        </div>
                        <!--END PRO CARE-->
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h2 class="text-uppercase d-fjalla-one pro-dataanalytics-head">
                                Pro Data & Analytics PORTAL
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <!--PRO DATA-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="prosport-holder">
                                <div class="hyderabad-prosportexperience">
                                </div>
                                <div class="hyderabad-prosportimageholder">
                                    <img src="img/pro-3.png" alt="" class="img-responsive">
                                </div>
                                <div class="hyderabad-prosport-content proffessional">
                                    <p class="m-clear brand-blue">
                                        HD Match Videography
                                    </p>
                                    <ul class="list-unstyled">
                                        <li>
                                            All matches recorded for review, training, assessment and talent scouting
                                        </li>
                                    </ul>
                                    <p class="m-clear brand-blue">
                                        Digital Record Maintenance
                                    </p>
                                    <ul class="list-unstyled">
                                        <li>
                                            All championship led scores, records, statistics and ranking table accessible at SFA’s Data and Analytics Portal
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--PRO DATA-->

                        <!--ANOTHER PRO DATA-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="prosport-holder pro-care-holder another-pro-data-holder">
                                <div class="hyderabad-prosportexperience ">
                                </div>
                                <div class="hyderabad-prosportimageholder">
                                    <img src="img/pro-4.png" alt="" class="img-responsive">
                                </div>
                                <div class="hyderabad-prosport-content proffessional">
                                    <p class="m-clear brand-blue">
                                        Athlete and School Profiles
                                    </p>
                                    <ul class="list-unstyled">
                                        <li> Comprehensive sports bios of each school and athlete
                                        </li>
                                        <li>
                                            Year-on-year record maintenance
                                        </li>
                                    </ul>
                                    <p class="m-clear brand-blue">
                                        Online Management
                                    </p>
                                    <ul class="list-unstyled">
                                        <li>
                                            E-Registration, access to fixtures, draws, match schedules and results
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!--END ANOTHER PRO DATA-->
                    </div>

                    <div class="row">
                        <!--PRO SPORT EDUCATION-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="prosporteducation-holder">
                                <div class="prosporteducation-head">
                                    <h3 class="text-uppercase d-fjalla-one m-clear">PRO SPORTS EDUCATION</h3>
                                </div>
                                <div class="prosport-holder ">
                                    <div class="proffessional">
                                        <p class="m-clear brand-blue">
                                            Workshops, Clinics & Exhibition Games
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--END PRO SPORT EDUCATION-->
                    </div>
                </div>
            </div>
        </div>
        <!--END SFA CHAMPIONSHIP-->

        <!--VIDEO SECTION-->
        <div class="past-championship hyderabad-post-championship">
            <h2 class="text-center ">SFA Past Championships</h2>
            <div class="championship-blue ">
                <div class="video ">
                    <div class="display-inline relate ">
                        <a class="fancybox.iframe " href="https://www.youtube.com/embed/Gfhf2uWIg98 " fancybox-box>
                        <img src="img/icon/sport1.jpg " class="img-responsive ">
                    </a>
                        <h2 class="text-center ">SFA MUMBAI {{year16}}</h2>
                        <div class="video-icon ">
                            <a class="fancybox.iframe " href="https://www.youtube.com/embed/j-iLIlmhi4I " fancybox-box>
                            <img src="img/video.png " class="img-responsive ">
                        </a>
                        </div>
                    </div>
                    <div class="display-inline ml3 relate ">
                        <a class="fancybox.iframe " href="https://www.youtube.com/embed/Gfhf2uWIg98 " fancybox-box>
                        <img src="img/icon/sport2.jpg " class="img-responsive ">
                    </a>
                        <h2 class="text-center ">SFA MUMBAI {{year15}}</h2>
                        <div class="video-icon ">
                            <a class="fancybox.iframe " href="https://www.youtube.com/embed/Gfhf2uWIg98 " fancybox-box>
                            <img src="img/video.png " class="img-responsive ">
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--END VIDEO SECTION-->
    </div>
</section>