<section class="schedule">
    <div class="championship-schedule championship-schedule-line mb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">

                    <div class="championship-scheduletitle ">
                        <h2 class="text-center text-capitalize d-fjalla-one m-clear">Championship schedule</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
                            <div class="championshipschedule-tableholder table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sport </th>
                                            <th>Dates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="schedule in schedulelist track by $index">
                                            <td>
                                                <div class="schedulesport-name">
                                                    {{schedule.sport}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="schedulesport-dates">
                                                    <span ng-if="schedule.date1 && schedule.date2"> {{schedule.date1}}
                                                        <sup ng-if="schedule.date1 != '2' && schedule.date1 != '22'">th</sup>
                                                        <sup ng-if="schedule.date1 == '2' || schedule.date1 == '22'">nd</sup>
                                                        <span>-</span> {{schedule.date2}}
                                                        <sup ng-if="schedule.date2 != '2' && schedule.date2 != '22'">th</sup>
                                                        <sup ng-if="schedule.date2 == '2' || schedule.date2 == '22'">nd</sup> {{schedule.month}}
                                                    </span>
                                                    <span ng-if="schedule.date">{{schedule.date}}
                                                        <sup>th</sup> {{schedule.month}} </span>
                                                    <span ng-if="!schedule.date && !schedule.date1 && !schedule.date2">TBA</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="championshipschedule-tableholder tale-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sport </th>
                                            <th>Dates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="schedule in schedulelist2 track by $index">
                                            <td>
                                                <div class="schedulesport-name">
                                                    {{schedule.sport}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="schedulesport-dates">
                                                    <span ng-if="schedule.sport == ''" style="opacity:0;">dummy</span>
                                                    <span ng-if="schedule.date1 && schedule.date2"> {{schedule.date1}}
                                                        <sup ng-if="schedule.date1 != '2' && schedule.date1 != '22'">th</sup>
                                                        <sup ng-if="schedule.date1 == '2' || schedule.date1 == '22'">nd</sup>
                                                        <span>-</span> {{schedule.date2}}
                                                        <sup ng-if="schedule.date2 != '2' && schedule.date2 != '22'">th</sup>
                                                        <sup ng-if="schedule.date2 == '2' || schedule.date2 == '22'">nd</sup> {{schedule.month}}
                                                    </span>
                                                    <span ng-if="schedule.date">{{schedule.date}}
                                                        <sup>th</sup> {{schedule.month}} </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-11 col-sm-12 col-xs-12">
                            <div class="">
                                <p class="m-clear">
                                    *SFA shall keep you informed in-case there is any change of dates.
                                </p>
                                <p class="m-clear" ng-if="isCollege == false &&sfaCity == 'Mumbai'">*Football qualifiers will be held in November. Dates will be announced soon.</p>
                                <p class="m-clear">*The final draws and schedules for all sports will be published on the 8th November 2017.</p>
                                <p ng-if="sfaCity == 'Mumbai'">*The final draws and schedules publishing date for all sports will be announced soon.</p>
                                <p ng-if="sfaCity == 'Hyderabad'">*The final draws and schedules for all sports will be published on the 8th November 2017.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>