<div class="event-gallery-page">
  <!-- CONTAINER -->
  <div class="container">
    <!-- HEADER -->
    <div class="event-gallery-header sport-color-primary d-fjalla-one text-uppercase">
      SFA {{sfaCity}} {{eventYear}}
    </div>
    <!-- HEADER END -->

    <!-- VIDEOS -->
    <div class="event-gallery-videoholder" ng-if="eventVideos.length>0">
      <div class="even-gallery-videoheader">
        <h3 class="d-fjalla-one text-uppercase sport-blue-table ">Videos</h3>
      </div>
      <!-- SWIPER -->

      <div class="event-gallery-swiperholder relate">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide pointer" ng-repeat="videoCard in eventVideos track by $index">
              <!-- <div class="event-video-holder" ui-sref="featuredvideogallery({mediaType:'video',name:videoCard.folder})"> -->
              <div class="event-video-holder" ng-click="showPopup($index, eventVideos);">
                <div class="event-thumbnailholder" style="background-image:url('{{videoCard.thumbnails[3].link||videoCard.thumbnail}}')">
                  <div class="event-video-playholder">
                    <i class="fa fa-play event-play-button"></i>
                  </div>
                </div>
                <div class="evnt-thumbnailtitle d-fjalla-one" title="{{videoCard.folder}}">
                  {{videoCard.folder | truncate:'50'}}
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next">
          <!-- <span class="fa fa-chevron-right"> -->

        </div>
        <div class="swiper-button-prev">
          <!-- <span class="fa fa-chevron-left"> -->

        </div>
      </div>
    </div>
    <!-- VIDEOS END -->

    <!-- AD SPACE -->
    <div class="event-gallery-adspace relate" ng-if="firstAdBanner.status=='enable'">
      <div class="text-center d-fjalla-one">
        <!-- NO LINK -->
        <div class="ad-nolink" ng-if="firstAdBanner.linkType=='nolink'">
          <!-- DESKTOP -->
          <img ng-src="{{firstAdBanner.desktop.adBanner | serverimage2}}" alt="{{firstAdBanner.title}}" title="{{firstAdBanner.title}}"
            class="img-responsive hidden-xs">
          <!-- DESKTOP END -->

          <!-- MOBILE -->
          <img ng-src="{{firstAdBanner.mobile.mobileAdBanner | serverimage2}}" alt="{{firstAdBanner.title}}" title="{{firstAdBanner.title}}"
            class="img-responsive  visible-xs">
          <!-- MOBILE END -->
        </div>
        <!-- NO LINK END -->

        <!-- INTERNAL && EXTERNAL LINK -->
        <div class="ad-internal-external" ng-if="firstAdBanner.linkType=='internal' || firstAdBanner.linkType=='external'">
          <!-- DESKTOP -->
          <a href="{{firstAdBanner.desktop.adLink}}" target="{{firstAdBanner.linkType=='external' ? '_new' : '_self'}}">
              <img ng-src="{{firstAdBanner.desktop.adBanner | serverimage2}}"  alt="{{firstAdBanner.title}}" title="{{firstAdBanner.title}}"  class="img-responsive hidden-xs">
          </a>
          <!-- DESKTOP END -->

          <!-- MOBILE  -->
          <a href="{{firstAdBanner.mobile.mobileLink}}" target="{{firstAdBanner.linkType=='external' ? '_new' : '_self'}}">
            <img ng-src="{{firstAdBanner.mobile.mobileAdBanner | serverimage2}}"  alt="{{firstAdBanner.title}}" title="{{firstAdBanner.title}}"  class="img-responsive  visible-xs">
          </a>
          <!-- MOBILE  END -->

        </div>
        <!-- INTERNAL && EXTERNAL LINK END -->

        <!-- VIDEO -->
        <div class="ad-video" ng-if="firstAdBanner.linkType=='videolink'">
          <!-- DESKTOP -->
          <a class="fancybox.iframe hidden-xs" fancybox href="{{firstAdBanner.desktop.adLink}}">
            <img ng-src="{{firstAdBanner.desktop.adBanner | serverimage2 }}"  alt="image" class="img-responsive">
          </a>
          <!-- DESKTOP END -->

          <!-- MOBILE -->
          <a class="fancybox.iframe visible-xs" fancybox href="{{firstAdBanner.mobile.mobileLink}}">
            <img ng-src="{{firstAdBanner.mobile.mobileAdBanner | serverimage2 }}"  alt="image" class="img-responsive">
          </a>
          <!-- MOBILE END -->
        </div>
        <!-- VIDEO END -->
        <!-- <div class="get-center m-clear">AD SPACE</div> -->
      </div>
    </div>
    <!-- AD SPACE END -->

    <!-- PHOTOS -->
    <div class="event-gallery-photos">
      <div class="event-gallery-photoheader" ng-if="allPhotosbyCategory.length>0 || allPhotosbySport.length>0">
        <h3 class="d-fjalla-one text-uppercase sport-blue-table">Photos</h3>
      </div>
      <!-- CATEGORY -->
      <div class="event-gallery-category" ng-if="allPhotosbyCategory.length>0">
        <div class="event-gallery-subtitle text-uppercase">
          view by category
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="card in allPhotosbyCategory | orderBy:'folderName' track by $index">
            <div class="album-holder pointer" ui-sref="featuredgallery({mediaType:'photo',type:'Category',name:card._id})">
              <div class="album-pic-holder" style="background-image:url('{{card.mediaThumbnail | mediapathtwo}}')">
              </div>
              <div class="album-title-holder">
                <p class="d-fjalla-one text-uppercase m-clear album-subtitle" title="{{card._id}}">{{card._id | truncate:'22'}}</p>
                <p class="album-photo-detail"><span><i class="fa fa-picture-o color-darkgrey"></i></span><span> <span>{{card.totalCount}}</span> <span>Photos</span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- CATEGORY END -->

      <!-- AD SPACE -->
      <div class="event-gallery-adspace relate" ng-if="secondAdBanner.status=='enable'">
        <div class="adspace text-center d-fjalla-one">

          <!-- NO LINK -->
          <div class="ad-nolink" ng-if="secondAdBanner.linkType=='nolink'">
            <!-- DESKTOP -->
            <img ng-src="{{secondAdBanner.desktop.adBanner | serverimage2}}" alt="" class="img-responsive hidden-xs">
            <!-- DESKTOP END -->

            <!-- MOBILE  -->
            <img ng-src="{{secondAdBanner.mobile.mobileAdBanner | serverimage2}}" alt="" class="img-responsive  visible-xs">
            <!-- MOBILE  END -->
          </div>
          <!-- NO LINK END -->

          <!-- INTERNAL && EXTERNAL LINK -->
          <div class="ad-internal-external" ng-if="secondAdBanner.linkType=='internal' || secondAdBanner.linkType=='external'">
            <!-- DESKTOP -->
            <a href="{{secondAdBanner.desktop.adLink}}" class="hidden-xs" target="{{secondAdBanner.linkType=='external' ? '_new' : '_self'}}">
        <img ng-src="{{secondAdBanner.desktop.adBanner | serverimage2}}" alt="{{secondAdBanner.title}}" title="{{secondAdBanner.title}}"
        class="img-responsive">
        
      </a>
            <!-- DESKTOP END -->

            <!-- MOBILE -->
            <a href="{{secondAdBanner.mobile.mobileLink}}" class="visible-xs" target="{{secondAdBanner.linkType=='external' ? '_new' : '_self'}}">
        <img ng-src="{{secondAdBanner.mobile.mobileAdBanner | serverimage2}}" alt="{{secondAdBanner.title}}" title="{{secondAdBanner.title}}"
        class="img-responsive">
        
      </a>
            <!-- MOBILE END -->
          </div>
          <!-- INTERNAL && EXTERNAL LINK END -->

          <!-- VIDEO -->
          <div class="ad-video" ng-if="secondAdBanner.linkType=='videolink'">
            <!-- DESKTOP  -->
            <a class="fancybox.iframe hidden-xs" fancybox href="{{secondAdBanner.desktop.adLink}}">
        <img ng-src="{{secondAdBanner.desktop.adBanner | serverimage2 }}" alt="image" class="img-responsive">
      </a>
            <!-- DESKTOP  END -->

            <!-- MOBILE -->
            <a class="fancybox.iframe visible-xs" fancybox href="{{secondAdBanner.mobile.mobileLink}}">
        <img ng-src="{{secondAdBanner.mobile.mobileAdBanner | serverimage2 }}" alt="image" class="img-responsive">
      </a>
            <!-- MOBILE END -->
          </div>
          <!-- VIDEO END -->
          <!-- <div class="get-center m-clear">AD SPACE</div> -->
        </div>
      </div>
      <!-- AD SPACE END -->

      <!-- VIEW BY SPORT -->
      <div class="event-gallery-category event-gallery-sport" ng-if="allPhotosbySport.length>0">
        <div class="row">
          <div class="event-gallery-subtitle text-uppercase col-md-6 col-sm-6 col-xs-6">
            view by Sport
          </div>
          <!-- SEARCH -->
          <div class="col-md-6 col-sm-6 col-xs-6 event-gallery-sport-search visible-xs">
            <input type="text" name="sport" ng-model="card.folderName" id="" placeholder="Search By Sport" class="form-control">
          </div>
          <!-- SEARCH -->
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="card in allPhotosbySport | orderBy:'folderName' | filter:card.folderName track by $index">
            <div class="album-holder pointer" ui-sref="featuredgallery({mediaType:'photo',type:'Sport',name:card._id})">
              <div class="album-pic-holder" style="background-image:url('{{card.mediaThumbnail |mediapathtwo}}')">
              </div>
              <div class="album-title-holder">
                <p class="d-fjalla-one text-uppercase m-clear album-subtitle ">{{card._id | truncate:'25'}}</p>
                <p class="album-photo-detail"><span>
             <i class="fa fa-picture-o color-darkgrey"></i></span><span> <span>{{card.totalCount}}</span> <span>Photos</span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- VIEW BY SPORT END -->
    </div>
    <!-- PHOTOS END -->
  </div>
  <!-- CONTAINER END -->
</div>