<div class="event-gallery-page">
  <!-- CONTAINER -->
  <div class="container">
    <!-- HEADER -->
    <div class="event-gallery-header sport-color-primary d-fjalla-one text-uppercase">
      SFA {{sfaCity}} {{eventYear}}
    </div>
    <!-- HEADER END -->

    <!-- VIDEOS -->
    <div class="event-gallery-videoholder" ng-if="eventVideos.length>0">
      <div class="even-gallery-videoheader">
        <h3 class="d-fjalla-one text-uppercase sport-blue-table ">Videos</h3>
      </div>
      <!-- SWIPER -->

      <div class="event-gallery-swiperholder relate">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide pointer" ng-repeat="videoCard in eventVideos track by $index">
              <div class="event-video-holder" ui-sref="featuredvideogallery({mediaType:'video',name:videoCard.folder})">
                <div class="event-thumbnailholder" style="background-image:url('{{videoCard.thumbnails[3].link||videoCard.thumbnail}}')">
                </div>
                <div class="evnt-thumbnailtitle d-fjalla-one" title="{{videoCard.folder}}">
                  {{videoCard.folder | truncate:'50'}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"><span class="fa fa-chevron-right"></div>
        <div class="swiper-button-prev"><span class="fa fa-chevron-left"></div>
      </div>
    </div>
    <!-- VIDEOS END -->

    <!-- AD SPACE -->
    <div class="event-gallery-adspace relate hide">
      <div class="adspace text-center d-fjalla-one">
        <div class="get-center m-clear">AD SPACE</div>
      </div>
    </div>
    <!-- AD SPACE END -->

    <!-- PHOTOS -->
    <div class="event-gallery-photos">
      <div class="event-gallery-photoheader" ng-if="allPhotosbyCategory.length>0 || allPhotosbySport.length>0">
        <h3 class="d-fjalla-one text-uppercase sport-blue-table">Photos</h3>
      </div>
      <!-- CATEGORY -->
      <div class="event-gallery-category" ng-if="allPhotosbyCategory.length>0">
          <div class="event-gallery-subtitle text-uppercase">
            view category
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="card in allPhotosbyCategory track by $index">
              <div class="album-holder pointer">
                <div class="album-pic-holder" style="background-image:url('{{card.mediaThumbnail | mediapathtwo}}')" ui-sref="featuredgallery({mediaType:'photo',type:'Category',name:card._id})">
                </div>
                <div class="album-title-holder">
                  <p class="d-fjalla-one text-capitalize m-clear album-subtitle" title="{{card._id}}">{{card._id | truncate:'22'}}</p>
                  <p class="album-photo-detail"><span><i class="fa fa-picture-o color-darkgrey"></i></span><span> <span>{{card.totalCount}}</span>          <span>Photos</span></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CATEGORY END -->

<!-- AD SPACE -->
<div class="event-gallery-adspace relate hide">
  <div class="adspace text-center d-fjalla-one">
    <div class="get-center m-clear">AD SPACE</div>
  </div>
</div>
<!-- AD SPACE END -->

<!-- VIEW BY SPORT -->
<div class="event-gallery-category event-gallery-sport" ng-if="allPhotosbySport.length>0">
  <div class="event-gallery-subtitle text-uppercase">
    view by Sport
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="card in allPhotosbySport track by $index">
      <div class="album-holder pointer">
        <div class="album-pic-holder" style="background-image:url('{{card.mediaThumbnail |mediapathtwo}}')" ui-sref="featuredgallery({mediaType:'photo',type:'Sport',name:card._id})">
        </div>
        <div class="album-title-holder">
          <p class="d-fjalla-one text-capitalize m-clear album-subtitle ">{{card._id | truncate:'25'}}</p>
          <p class="album-photo-detail"><span>
             <i class="fa fa-picture-o color-darkgrey"></i></span><span> <span>{{card.totalCount}}</span> <span>Photos</span></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- VIEW BY SPORT END -->
</div>
<!-- PHOTOS END -->
</div>
<!-- CONTAINER END -->
</div>