<section class="bottom-padding college-faq-page">
    <div class="sport-name-bg text-center">
        <h1 class="color-orange  font-semi margin0" style="width: 20%;">FAQs</h1>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="accrd mt25">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" ng-repeat="faq in allFaqs | orderBy:'order'">
                        <uib-accordion-heading>
                            <h3 class="margin0 display-inline color-blue font-semi text-up font-semi mob-sec">{{faq.name}}</h3> <i class="pull-right fa" ng-class="{'fa-angle-down': status.isFirstOpen, 'fa-angle-right': !status.isFirstOpen}"></i>
                        </uib-accordion-heading>
                        <div ng-bind-html="faq.relatedContentOne" ng-if="faq.relatedContentOne">
                        </div>
                        <faqtable ng-if="faq.tableContent1" class="ruleDirective" value="faq.tableContent1">
                        </faqtable>
                        <faqtable ng-if="faq.tableContent2" class="ruleDirective" value="faq.tableContent2">
                        </faqtable>
                        <faqtable ng-if="faq.tableContent3" class="ruleDirective" value="faq.tableContent3">
                        </faqtable>
                        <faqtable ng-if="faq.tableContent4" class="ruleDirective" value="faq.tableContent4">
                        </faqtable>
                        <faqtable ng-if="faq.tableContent5" class="ruleDirective" value="faq.tableContent5">
                        </faqtable>
                        <faqtable ng-if="faq.tableContent6" class="ruleDirective" value="faq.tableContent6">
                        </faqtable>
                        <faqtable ng-if="faq.tableContent7" class="ruleDirective" value="faq.tableContent7">
                        </faqtable>
                        <faqtable ng-if="faq.tableContent8" class="ruleDirective" value="faq.tableContent8">
                        </faqtable>
                        <faqtable ng-if="faq.tableContent9" class="ruleDirective" value="faq.tableContent9">
                        </faqtable>
                        <faqtable ng-if="faq.tableContent10" class="ruleDirective" value="faq.tableContent10">
                        </faqtable>
                        <div ng-bind-html="faq.relatedContentTwo" ng-if="faq.relatedContentTwo">
                        </div>
                    </div>
</section>