<!-- FEATURED GALLERY -->
<div class="featured-gallery-page">
  <!-- CONTAINER -->
  <div class="container">
    <!-- HEADER -->
    <div class="featured-gallery-header gallery-all-header  d-fjalla-one text-uppercase sport-color-primary">
      SFA {{sfaCity}} {{eventYear}}
    </div>
    <!-- HEADER END -->

    <!-- FOLDER SELECT -->
    <div class="feature-gallery-photoholder">
      <div class="featured-gallery-select">
        <!-- FILTER AS PER SPORT -->
        <div class="row">
          <!-- PHOTO FILTER -->
          <div class="col-md-4" ng-if="mediaType == 'photo' && allfolderName.length>0">
            <div class="featured-gallery-dropdown">
              <span ng-click="viewFolder();">{{defaultFolder}} 
                
                <!-- <span class="text-uppercase" ng-class = " { 'fa-chevron-up' : showFolderFilter == true , 'fa-chevron-down' :  showFolderFilter == false } "></span>              -->
              <span class="text-uppercase ">
                  <img src="img/medal-icon/down-arrow-green.png" alt="arrow"  ng-class="{'down-arrow-green': showFolderFilter == false , 'up-arrow-green':showFolderFilter == true }">
              </span>

              </span>
              <div class="featured-gallery-dropdownfilter" ng-if="showFolderFilter">
                <ul class="list-unstyled m-clear">
                  <li class="text-uppercase" ng-click="selectFolder('all');"></li>
                  <input type="text" name="searchSport" id="" ng-model="folder.folderName" class="form-control" placeholder="Search By Sport">
                  <li class="custom-featuredgallery-dropdown text-uppercase" ng-repeat="folder in allfolderName | filter:folder.folderName track by $index"
                    ng-click="selectFolder(folder);">
                    {{folder._id}}
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 hide" ng-if="selectedType === 'Sport' && mediaType == 'photo'">
            <div class="featured-gallery-dropdown-boysgirls">
              <span ng-click="viewGender();">{{defaultGender}} 
                <!-- <i class="fa" ng-class = " { 'fa-chevron-up' : showGenderFilter == true , 'fa-chevron-down' :  showGenderFilter == false } "></i> -->
                <span class="text-uppercase ">
                    <img src="img/medal-icon/down-arrow-green.png" alt="arrow"  ng-class="{'down-arrow-green': showGenderFilter == false , 'up-arrow-green':showGenderFilter == true }">
                </span>
              </span>
              <div class="featured-gallery-dropdownfilter" ng-show="showGenderFilter">
                <ul class="list-unstyled m-clear">
                  <li ng-click="selectGender('all');"></li>
                  <li class="custom-featuredgallery-dropdown" ng-repeat="gender in genderItem track by $index" ng-click="selectGender(gender);">
                    {{gender}}</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- PHOTO FILTER END -->
          <!-- VIDEO FILTER END -->
          <div class="col-md-4" ng-if="mediaType == 'video' && allfolderName.length>0">
            <div class="featured-gallery-dropdown">
              <span ng-click="viewVideoFolder();">{{defaultFolder}} <i class="fa" ng-class = " { 'fa-chevron-up' : showFolderFilter == true , 'fa-chevron-down' :  showFolderFilter == false } "></i></span>
              <div class="featured-gallery-dropdownfilter" ng-if="showFolderFilter">
                <ul class="list-unstyled m-clear">
                  <li ng-click="selectFolder('all');"></li>
                  <li class="custom-featuredgallery-dropdown" ng-repeat="folder in allfolderName track by $index" ng-click="selectFolder(folder);">
                    {{folder._id}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- VIDEO FILTER END -->
        </div>
        <!-- FILTER AS PER SPORT END -->
      </div>

      <!-- MASONRY -->
      <div class="feature-gallery-mansonryholder" ng-if="allphotosbyfolder.length>0">
        <div class="row" masonry preserve-order>
          <div class="col-md-4 col-sm-4 col-xs-6 overridepadding masonry-brick" ng-repeat="folderImage in allphotosbyfolder track by $index">
            <div class="feature-masonry-picholder pointer" ng-click="showPopup($index, allphotosbyfolder);">
              <img ng-src="{{folderImage.mediaLink | mediapathtwo}}" alt="{{folderImage.title}} | SFA Photos" title="{{folderImage.title}} | SFA Photos"
                class="img-responsive" ng-if="mediaType == 'photo'">
              <img ng-src="{{folderImage.thumbnail}}" alt="{{folderImage.mediatitle}} | SFA Videos" title="{{folderImage.mediatitle}}  | SFA Videos"
                class="img-responsive" ng-if="mediaType == 'video'">
            </div>
          </div>
        </div>
      </div>
      <!-- MASONRY END -->
    </div>
    <!-- FOLDER SELECT END -->
  </div>
  <!-- CONTAINER END -->
</div>
<!-- FEATURED GALLERY END -->