<div class="gallery-page">
  <div class="container">
    <div class="gallery-title">
      SFA MUMBAI 2016-2017
    </div>
    <div class="galleryvideo-heading">
      <div class="galleryvideo-title">
        Video
      </div>
      <div class="gallery-video">
        <div class="card-holder">
          <div class="video-img">
            <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
          </div>
          <div class="video-title">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit
          </div>
        </div>

      </div>
    </div>


    <div class="galleryhighlight-adspace hidden-xs hidden-sm">
      <div class="highlight-adspace relate">
        <h1 class="get-center m-clear">
          AD SPACE
        </h1>
      </div>
    </div>

    <div class="gallery-photos">
      <div class="gallery-photos-title">
        Photos
      </div>
      <div class="viewgalleryby-categoery">
        <div class="gallery-photos-heading">
          View by Category
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="galleryphotos-holder">
            <div class="video-img">
              <img src="img/dishapatani1.jpg  " alt="" class="img-responsive">
            </div>
            <div class="galleryphotos-title">
              <p>All</p>
              <p>
                <span><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                <span>12 photos</span>

              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="galleryhighlight-adspace hidden-xs hidden-sm">
        <div class="highlight-adspace relate">
          <h1 class="get-center m-clear">
            AD SPACE
          </h1>
        </div>
      </div>

      <div class="viewgalleryby-sport">
        <div class="gallery-photos-heading">
          View by Sport
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="galleryphotos-holder">
            <div class="video-img">
              <img src="img/dishapatani1.jpg  " alt="" class="img-responsive">
            </div>
            <div class="galleryphotos-title">
              <p>Archery</p>
              <p>
                <span><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                <span>12 photos</span>

              </p>
            </div>
          </div>
        </div>

      </div>




    </div>




  </div>
</div>