<div class="gallerypost-page">
  <div class="container">
    <div class="row">
      <!-- MEDIA HOLDER -->
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="gallerypost-media">
          <!-- PHOTO HOLDER -->
          <div class="gallerypost-photoholder " ng-if="pic.mediatype == 'photo'">
            <img src="img/featuredthumbnail.jpg" alt="{{pic.title}} | SFA Photos" title="{{pic.title}} | SFA Photos" class="img-responsive m0-auto">
          </div>
          <!-- PHOTO HOLDER END -->
          <!-- VIDEO HOLDER -->
          <div class="gallerypost-videooholder " ng-if="pic.mediatype == 'video'" style="background-image:url('{{pic.thumbnail}}')">
            <iframe class="photovideo-vidframe" ng-src="{{'https://player.vimeo.com/video/' + pic.medialink |trusted }}" frameborder="0" title="{{pic.mediatitle}} | SFA Videos"></iframe>
          </div>
          <!-- VIDEO HOLDER END -->
        </div>
      </div>
      <!-- MEDIA HOLDER -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="gallerypost-content">
          <!-- GALLERY POST TITLE -->
          <div class="gallerypost-title">
            <span ng-if="pic.mediatype == 'photo'">{{pic.title}}</span>
            <span ng-if="pic.mediatype == 'video'">{{pic.mediatitle}}</span>
          </div>
          <!-- GALLERY POST TITLE END -->
          <!-- TAGS HOLDER -->
          <div class="gallerypost-tagsholder" ng-if="pic.tags.length > 0">
            <ul class="list-unstyled">
              <li class="gallerypost-taglist" ng-repeat="tag in pic.tags track by $index">
                <div class="gallerrypost-tagcard text-capitalize">
                  <p class="m-clear">Ram Singh  Tomar </p>
                  <p class="m-clear">Silver oaks High Shool .</p>
                  <p class="m-clear">SFA ID: 1234565</p>
                </div>
              </li>
            </ul>
          </div>
          <!-- TAGS HOLDER END -->
          <!-- POST SHARING SECTION -->
          <div class="gallerypost-shareholder">
            <p class="text-uppercase">Share This <span>Picture</span> <span>Video</span></p>
            <div class="photovideo-shareholder">
              <div class="photovideo-sharebox">
                <div class="photovideo-socialbutton">
                  <a>
                            <span class="fa fa-facebook"></span>
                          </a>
                </div>
              </div>
              <div class="photovideo-sharebox">
                <div class="photovideo-socialbutton">
                  <a>
                            <span class="fa fa-twitter"></span>
                          </a>
                </div>
              </div>
              <div class="photovideo-sharebox">
                <div class="photovideo-socialbutton">
                  <a>
                            <span class="fa fa-google-plus"></span>
                          </a>
                </div>
              </div>
            </div>
          </div>
          <!-- POST SHARING SECTION END -->
        </div>
      </div>
    </div>
  </div>
</div>
