<!--IMAGE-->
<div class="secion-img twoStrikes">
  <img src="img/theory2.jpg" alt="" class="img-responsive">
  <div class="statement">
    <span class="pull-right">* Final dates to be announced shortly</span><br>
    <span class="pull-right">** Other venues to be announced shortly</span>
  </div>
</div>
<!--END IMAGE-->

<div class="container">
  <!--MULTI-SPORTS HEAD-->
  <div class="hyderabad-multisporthead">
    <h2 class="d-fjalla-one sport-color-primary text-uppercase text-center">Hyderabad's ultimate Professional Multi-sporting</h2>
    <h2 class="d-fjalla-one sport-color-primary text-uppercase text-center m-clear">inter-school championship</h2>
  </div>
  <!--END MULTI-SPORTS HEAD-->

  <!--SPORT ICONS-->
  <div class="multi-sporting hyderabad-sporticonholder">
    <div class="sport-icon-championship">
      <ul class="list-unstyled">
        <li>
          <img src="img/icon/2_Basketball.png" class="img-responsive">
          <p>Basketball</p>
        </li>
        <li>
          <img src="img/icon/8_Football.png" class="img-responsive">
          <p>Football</p>
        </li>
        <li>
          <img src="img/icon/1_Handball.png" class="img-responsive">
          <p>HANDBALL</p>
        </li>
        <li>
          <img src="img/icon/5_Hockey.png" class="img-responsive">
          <p>Hockey</p>
        </li>
        <li>
          <img src="img/icon/7_Kabaddi.png" class="img-responsive">
          <p>Kabaddi</p>
        </li>

        <li>
          <img src="img/icon/6_Kho Kho.png" class="img-responsive">
          <p>Kho Kho</p>
        </li>

        <li>
          <img src="img/icon/4_Throwball.png" class="img-responsive">
          <p>Throwball</p>
        </li>
        <li>
          <img src="img/icon/3_Volleyball.png" class="img-responsive">
          <p>Volleyball</p>
        </li>
      </ul>
      <ul class="list-unstyled">
        <li>
          <img src="img/icon/17_Karate.png" class="img-responsive">
          <p>Karate</p>
        </li>
        <li>
          <img src="img/icon/14_Taekwondo.png" class="img-responsive">
          <p>Taekwondo</p>
        </li>
        <li>
          <img src="img/icon/15_Boxing.png" class="img-responsive">
          <p>Boxing</p>
        </li>
        <li>
          <img src="img/icon/16_Fencing.png" class="img-responsive">
          <p>Fencing</p>
        </li>
        <li>
          <img src="img/icon/13_Judo.png" class="img-responsive">
          <p>Judo</p>
        </li>
        <li>
          <img src="img/icon/26_Athletics.png" class="img-responsive">
          <p>Athletics</p>
        </li>

        <li>
          <img src="img/icon/23_Carrom.png" class="img-responsive">
          <p>Carrom</p>
        </li>
        <li>
          <img src="img/icon/24_Chess.png" class="img-responsive">
          <p>Chess</p>
        </li>
      </ul>
      <ul class="list-unstyled">
        <li>
          <img src="img/icon/22_WaterPolo.png" class="img-responsive">
          <p>Water Polo</p>
        </li>
        <li>
          <img src="img/icon/21_Swimming.png" class="img-responsive">
          <p>Swimming</p>
        </li>
        <li>
          <img src="img/icon/11_Table-Tennis.png" class="img-responsive">
          <p>Table Tennis</p>
        </li>
        <li>
          <img src="img/icon/9_Badminton.png" class="img-responsive">
          <p>Badminton</p>
        </li>

        <li>
          <img src="img/icon/19_Shooting.png" class="img-responsive">
          <p>Shooting</p>
        </li>
        <li>
          <img src="img/icon/20_Archery.png" class="img-responsive">
          <p>Archery</p>
        </li>
      </ul>
      <ul class="list-unstyled">

      </ul>
    </div>
  </div>
  <!--END SPORT ICONS-->

  <!--SFA CHAMPIONSHIP-->
  <div class="hyderabad-sfachampionshead">
    <h3 class="d-fjalla-one text-uppercase text-center sport-color-primary">SFa championships</h3>
  </div>
  <div class="hyderabad-sfachampionsholder">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="row">
          <!--PRO SPORT EXPRIENCE-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="prosport-holder">
              <div class="hyderabad-prosportexperience">
                <h3 class="d-fjalla-one text-uppercase text-left ">Pro Sport Experience</h3>
              </div>
              <div class="hyderabad-prosportimageholder">
                <img src="img/pro-1.jpg" alt="" class="img-responsive">
              </div>
              <div class="hyderabad-prosport-content proffessional">
                <p class="m-clear brand-blue">
                  World-Class Multi-Sporting Infrastructure & Facilities
                </p>
                <p class="m-clear brand-blue">
                  Quality Governance
                </p>
                <ul class="list-unstyled">
                  <li>
                    Conducted by certified officials as per best practices under the aegis of National and State Associations
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--END PRO SPORT EXPRIENCE-->

          <!--PRO CARE-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="prosport-holder pro-care-holder">
              <div class="hyderabad-prosportexperience">
                <h3 class="d-fjalla-one text-uppercase text-left">Pro Sport Experience</h3>
              </div>
              <div class="hyderabad-prosportimageholder">
                <img src="img/pro-2.jpg" alt="" class="img-responsive">
              </div>
              <div class="hyderabad-prosport-content proffessional">
                <p class="m-clear brand-blue">
                  Injury Prevention Centres & Oncourt Physiocare
                </p>
                <ul class="list-unstyled">
                  <li>
                    On-court sport physiotherapists
                  </li>
                  <li>
                    Hospital partner, first-aid and ambulance
                  </li>
                </ul>
                <p class="m-clear brand-blue">
                  Safe and Hygienic Sporting Environment
                </p>
                <p class="m-clear brand-blue">
                  Hydration and Nutrition Stations
                </p>

              </div>
            </div>
          </div>
          <!--END PRO CARE-->
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="text-uppercase d-fjalla-one pro-dataanalytics-head">
              Pro Data & Analytics PORTAL
            </h2>
          </div>
        </div>
        <div class="row">
          <!--PRO DATA-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="prosport-holder">
              <div class="hyderabad-prosportexperience">
              </div>
              <div class="hyderabad-prosportimageholder">
                <img src="img/pro-3.png" alt="" class="img-responsive">
              </div>
              <div class="hyderabad-prosport-content proffessional">
                <p class="m-clear brand-blue">
                  HD Match Videography
                </p>
                <ul class="list-unstyled">
                  <li>
                    All matches recorded for review, training, assessment and talent scouting
                  </li>
                </ul>
                <p class="m-clear brand-blue">
                  Digital Record Maintenance
                </p>
                <ul class="list-unstyled">
                  <li>
                    All championship led scores, records, statistics and ranking table accessible at SFA’s Data and Analytics Portal
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--PRO DATA-->

          <!--ANOTHER PRO DATA-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="prosport-holder pro-care-holder another-pro-data-holder">
              <div class="hyderabad-prosportexperience ">
              </div>
              <div class="hyderabad-prosportimageholder">
                <img src="img/pro-4.png" alt="" class="img-responsive">
              </div>
              <div class="hyderabad-prosport-content proffessional">
                <p class="m-clear brand-blue">
                  Athlete and School Profiles
                </p>
                <ul class="list-unstyled">
                  <li> Comprehensive sports bios of each school and athlete
                  </li>
                  <li>
                    Year-on-year record maintenance
                  </li>
                </ul>
                <p class="m-clear brand-blue">
                  Online Management
                </p>
                <ul class="list-unstyled">
                  <li>
                    E-Registration, access to fixtures, draws, match schedules and results
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <!--END ANOTHER PRO DATA-->
        </div>

        <div class="row">
          <!--PRO SPORT EDUCATION-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="prosporteducation-holder">
              <div class="prosporteducation-head">
                <h3 class="text-uppercase d-fjalla-one m-clear">PRO SPORTS EDUCATION</h3>
              </div>
              <div class="prosport-holder ">
                <div class="proffessional">
                  <p class="m-clear brand-blue">
                    Workshops, Clinics & Exhibition Games
                  </p>
                </div>
              </div>
            </div>

          </div>
          <!--END PRO SPORT EDUCATION-->
        </div>
      </div>
    </div>
  </div>
  <!--END SFA CHAMPIONSHIP-->

  <!--VIDEO SECTION-->
  <div class="past-championship hyderabad-post-championship">
    <h2 class="text-center ">SFA Past Championships</h2>
    <div class="championship-blue ">
      <div class="video ">
        <div class="display-inline relate ">
          <a class="fancybox.iframe " href="https://www.youtube.com/embed/Gfhf2uWIg98 " fancybox-box>
                        <img src="img/icon/sport1.jpg " class="img-responsive ">
                    </a>
          <h2 class="text-center ">SFA {{sfaCity | capitalize}} 2016</h2>
          <div class="video-icon ">
            <a class="fancybox.iframe " href="https://www.youtube.com/embed/j-iLIlmhi4I " fancybox-box>
                            <img src="img/video.png " class="img-responsive ">
                        </a>
          </div>
        </div>
        <div class="display-inline ml3 relate ">
          <a class="fancybox.iframe " href="https://www.youtube.com/embed/Gfhf2uWIg98 " fancybox-box>
                        <img src="img/icon/sport2.jpg " class="img-responsive ">
                    </a>
          <h2 class="text-center ">SFA {{sfaCity | capitalize}} 2015</h2>
          <div class="video-icon ">
            <a class="fancybox.iframe " href="https://www.youtube.com/embed/Gfhf2uWIg98 " fancybox-box>
                            <img src="img/video.png " class="img-responsive ">
                        </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--END VIDEO SECTION-->
</div>