<div class="individualsponser-page">
  <!-- CONTAINER -->
  <div class="container">
    <!-- SPONSER HEADER IMAGE -->
    <div class="sponser-header-image text-center">
      <!-- SPONSER IMAGE HOLDER -->
      <div class="specific-sponserimage-holder">
        <img src="{{sponsorData.headerImage | serverimage2}}" alt="" class="img-responsive">
      </div>
      <!-- SPONSER IMAGE HOLDER END -->
    </div>
    <!-- SPONSER HEADER IMAGE END -->
    <!-- LOGO CAPTION -->
    <!-- <div class="logo-caption text-center">
      <p class="text-capitalize ">Energy Drink Partner</p>
    </div> -->
    <!-- LOGO CAPTION END -->
    <!-- SPONSER CONTENT -->
    <div class="individual-sponsercontent">
      <div ng-bind-html="sponsorData.content"></div>
    </div>
    <!-- SPONSER CONTENT END -->

    <!-- BANNER IMAGE -->
    <div class="individual-banner-image">
      <div class="individual-banner-holder relate">
        <img src="{{sponsorData.video.videoimage | serverimage2 }}" alt="Banner" class="img-responsive">
        <div class="sponser-videoplay-holder">
          <i class="fa fa-play sponer-playe-button"></i>
        </div>
      </div>
    </div>
    <!-- BANNER IMAGE END -->

    <!-- SWIPER -->
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="individual-swiper-holder">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" ng-repeat="card in sponsorCard  track by $index">
                <!-- SWIPER CARD -->
                <div class="sponser-swipercard">
                  <div class="inverted-commos-bottom">
                    <img src="img/inverted.png" alt="" class="img-responsive">
                  </div>
                  <div class="inverted-commos-top">
                    <img src="img/inverted1.png" alt="" class="img-responsive">
                  </div>
                  <!-- SWIPER CARD IMAGE -->
                  <div class="sponser-swipercard-image display-inline">
                    <div class="sponser-swipercard-imageholder">
                      <img src="{{card.cardImage | serverimage2 }}" alt="user" class="img-responsive">
                    </div>
                  </div>
                  <!-- SWIPER CARD IMAGE END -->
                  <!-- SWIPER CARD CONTENT -->
                  <div class="sponser-swipercard-contentholder display-inline">
                    <!-- SWIPER CONTENT HEADER -->
                    <div class="sponser-swipercard-header">
                      <h3 class="sport-color-primary">{{card.header}}</h3>
                    </div>
                    <div class="sponser-swipercard-content">
                      <div ng-bind-html="card.content">

                      </div>
                      <p class="sponser-ceo">-{{card.designation}}</p>
                    </div>
                    <!-- SWIPER CONTENT HEADER END -->
                  </div>
                  <!-- SWIPER CARD CONTENT END -->
                </div>
                <!-- SWIPER CARD END -->
              </div>
            </div>
          </div>
          <div class="swiper-button-next"><span class="fa fa-chevron-right"></div>
          <div class="swiper-button-prev"><span class="fa fa-chevron-left"></div>
        </div>
      </div>
    </div>
    <!-- SWIPER END -->

    <!-- MASONARY -->
    <div class="individual-sponsergalleryholder">
      <div class="row" masonry>
        <div class="col-md-4 col-sm-6 col-xs-6 masonry-brick" ng-repeat="image in sponserData.videoGallery track by $index">
          <!-- <a fancybox href="{{image.img}}"> -->
            <div class="individual-sponsergallerycard relate">
              <div class="individual-sponsergallerycard-image" ng-if="image.type=='image'">
                <a fancybox href="{{image.img}}">
                  <img src="{{image.img}}" alt="image" class="img-responsive">
                </a>
              </div>
              <div class="individual-sponsergallerycard-video" ng-if="image.videoType=='video'">
                <a class="fancybox.iframe" fancybox href="https://www.{{image.vtype}}.com/embed/tMqQ8U4-QNI?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1">
                  <img src="{{image.vimage | serverimage2 }}" alt="video" class="img-responsive">
                </a>
              </div>
              <div class="sponser-videoplay-gallery" ng-if="image.videoType=='video'">
                  <i class="fa fa-play sponser-gallery-play"></i>
              </div>
            </div>
          <!-- </a> -->

        </div>
      </div>
    </div>
    <!-- MASONARY END -->

  </div>
  <!-- CONTAINER END -->
</div>