<div>
    <!--<img src="frontend/img/thankyou.jpg" alt="" class="img-responsive">-->
</div>
<div class="container">
    <div class="row">
        <div class="mtb text-center">
            <p>Thank You for filling out the player registration form for SFA Championship 2018-19, {{sfaCity}}.</p>
            <p>STEP 1 OF THE REGISTRATION PROCESS WILL BE COMPLETED ONCE YOU RECEIVE A CONFIRMATION EMAIL. You can then proceed to <b>SPORTS REGISTRATION (STEP 2)</b></p>
            <p>Kindly Note: In case SFA does not receive the payment within 4 working days your registration will stand CANCELLED.</p>
            <p>For any further queries kindly call us on 7045684365/66/67 or email us at <a href="mailto:info@sfanow.in">info@sfanow.in</a></p>
            <!-- <button class="btn btn-primary" ng-disabled="isDisabled1 == true" ng-click="redirectTo()">OK</button> -->
            <button class="btn btn-primary" ui-sref="registerplayer({type: 'school'})">Go To Register</button>
        </div>
    </div>

</div>
