<div class="paymentfailure-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 c0l-sm-10 col-sm-offset-1 col-xs-12">
                <div class="paymentfaiure-content text-center">
                    <h4>SORRY, YOUR PAYMENT WAS NOT SUCCESSFULL PLEASE TRY AGAIN LATER.</h4>
                    <button class="btn btn-primary text-uppercase" ng-click="autoTimeoutClick()">School Registration</button>
                </div>
            </div>
        </div>

    </div>
</div>