<div class="sorryathlete-page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 c0l-sm-10 col-sm-offset-1 col-xs-12">
        <div class="sorry-athletecontent text-left">
          <h4 class="d-opensans-regular text-capitalize text-justify">
            Sorry, Your transaction is in pending state , it takes about 2 business days to process a transaction. Once the payment process
            is complete, we will send a confirmation to your register email Id.
          </h4>
          <div class="text-center">
            <button class="btn btn-primary text-uppercase" ng-click="autoTimeoutClick()">Go To Register</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>