<!-- <div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-right">
                    <button class="btn" ng-click="printFunction('printSectionId')"> Print</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="reportcard-page d-opensans-regular" id="printSectionId">
    <!-- REPORT CARD HEADER -->
    <section class="">
        <div class="container">
            <div class="clearfix reportcard-header">
              <div class="float-left mob-floatclear">
                  <div class="reportcard-school d-fjalla-one">{{schoolData.contingent.schoolName}} </div>
                  <div class="reportcard-sfaid">Sfa ID: {{schoolData.contingent.sfaId}}</div>
              </div>
                <div class="pull-right mob-floatclear" ng-if="!schoolData.noRank">
                    <div class="report-cupcard">
                        <div class="report-cupholder">
                            <img src="img/medal-icon/trophy-big.png" alt="SFA Trophy | Sports For All" title="SFA Trophy | Sports For All" class="img-responsive">
                        </div>
                        <div class="report-cuprank">
                            <span>School Rank</span>
                            <span class="report-ranktext d-teko-semibold"><span class="report-ranktext-big">{{schoolData.schoolRank}}</span> <span class="report-ranktext-small">/<span>{{schoolData.totalSchoolCount}}</span></span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="report-greenbar">
                <div class="report-yellowbar"></div>
            </div>
        </div>
    </section>
    <!-- REPORT CARD HEADER END -->
    <!-- REPORT SUMMARY SECTION -->
    <section class="report-detailsection">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <!-- CONTINGENT BOX -->
                    <div class="report-content report-contingentholder">
                        <div class="report-titles">Contingent</div>
                        <div class="report-contingenttotal">
                            <div class="">
                                <div class="report-contingentblock">
                                    <div class="report-contingentcount">{{schoolData.contingent.totalStrength}}</div>
                                    Total Athletes
                                </div>
                                <div class="report-contingentblock">
                                  <div class="contingent-flexbox">
                                    <div class="reportcontingent-gender">
                                        <div class="report-gendericon">
                                            <img src="img/medal-icon/male-small.png" alt="Male Athletes | SFA Championship" class="img-responsive">
                                        </div>
                                        <span class="report-contingentcount report-countmale">{{schoolData.contingent.maleCount}}</span>
                                    </div>
                                    <div class="reportcontingent-gender">
                                        <div class="report-gendericon">
                                            <img src="img/medal-icon/female-small.png" alt="Female Athletes | SFA Championship" class="img-responsive">
                                        </div>
                                        <span class="report-contingentcount report-countfemale">{{schoolData.contingent.femaleCount}}</span>
                                    </div>
                                  </div>
                                    <span class="display-block">
                    Gender Ratio: <span>{{schoolData.contingent.genderRatio}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="reportcontingent-sportlist">
                            <ul class="list-unstyled">
                                <li ng-repeat="list in schoolData.contingent.sport|orderBy:'sportName' track by $index">
                                    <div class="clearfix">
                                      <div class="text-uppercase pull-left">
                                          {{list.sportName}}
                                      </div>
                                        <div class="pull-right">
                                            <div class="report-contingentprogress">
                                              <!-- ng-if="list.stackGender" -->
                                                <div class="progress progress-statistics" >
                                                    <div class="progress-bar reportgender-stats male-statistics" role="progressbar" style="width:{{list.malePercent}}%">
                                                        <span class="pull-right"> <span class="male-statisticsnumber">{{list.maleCount}} </span></span>
                                                    </div>
                                                    <div class="progress-bar reportgender-stats female-statistics" role="progressbar" style="width:{{list.femalePercent}}%">
                                                        <span class="pull-left"><span class="female-statisticsnumber">{{list.femaleCount}} </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="report-noshowcontingent">
                                              <span>{{list.noShowCount}}</span>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- CONTINGENT KEY -->
                        <div class="reportcontingent-keycard">
                          <ul class="list-unstyled">
                            <li>
                              <div class="reportcontingent-key">
                                <div class="report-keybox keybox-male"></div>
                                <span>Male Participation</span>
                              </div>
                            </li>
                            <li>
                              <div class="reportcontingent-key">
                                <div class="report-keybox keybox-female"></div>
                                <span>Female Participation</span>
                              </div>
                            </li>
                            <li>
                              <div class="reportcontingent-key">
                                <div class="report-keybox"></div>
                                <span>Registered but did not participate</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <!-- CONTINGENT KEY END -->
                    </div>
                    <!-- CONTINGENT BOX END -->
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <!-- PERFORMANCE SUMMARY -->
                    <div class="report-content report-performaneholder" ng-if="schoolData.noRank">
                        <div class="report-titles">Performance Summary</div>
                        <div class="reportperformance-content">
                            <!-- CUP AND RANK -->
                            <div class="report-cupcard">
                                <div class="report-cupholder">
                                    <img src="img/medal-icon/trophy-big.png" alt="SFA Trophy | Sports For All" title="SFA Trophy | Sports For All" class="img-responsive">
                                </div>
                                <div class="report-cuprank">
                                    <div class="report-schoolranktitle">School Rank</div>
                                    <div class="report-schoolrank">Not Applicable</div>
                                </div>
                                <p>Your School did not win a medal at the SFA Championship 2017-18, </br> hence ineligible for a School Rank</p>
                            </div>
                            <!-- CUP AND RANK END -->
                            <!-- MEDAL LIST -->
                            <div class="reportperformance-medallist">
                                <div class="report-medalflex">
                                    <div class="report-medalcol">
                                        <div class="">
                                            <div class="report-medalholder">
                                                <img src="img/medal-icon/gold-blue.png" alt="Gold Medal | SFA Championship" title="Gold Medal | SFA Championship" class="img-responsive">
                                            </div>
                                            <div class="report-rankholder">
                                                <span class="report-ranktext-big d-teko-semibold">00</span>
                                                <span class="inline-block">
                          <span>Out of</span>
                                                <span class="display-block d-teko-semibold">{{schoolData.medalsTally.medal.gold.totalGold}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="report-medalcol">
                                        <div class="">
                                            <div class="report-medalholder">
                                                <img src="img/medal-icon/silver-blue.png" alt="Silver Medal | SFA Championship" title="Silver Medal | SFA Championship" class="img-responsive">
                                            </div>
                                            <div class="report-rankholder">
                                                <span class="report-ranktext-big d-teko-semibold">00</span>
                                                <span class="inline-block">
                          <span>Out of</span>
                                                <span class="display-block d-teko-semibold">{{schoolData.medalsTally.medal.silver.totalSilver}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="report-medalcol">
                                        <div class="">
                                            <div class="report-medalholder">
                                                <img src="img/medal-icon/bronze-blue.png" alt="Bronze Medal | SFA Championship" title="Bronze Medal | SFA Championship" class="img-responsive">
                                            </div>
                                            <div class="report-rankholder">
                                                <span class="report-ranktext-big d-teko-semibold">00</span>
                                                <span class="inline-block">
                          <span>Out of</span>
                                                <span class="display-block d-teko-semibold">{{schoolData.medalsTally.medal.bronze.totalBronze}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- MEDAL LIST END -->
                        </div>
                    </div>
                    <!-- PERFORMANCE SUMMARY END -->
                    <!-- MEDALS TALLY -->
                    <div class="report-content report-medalsummaryholder " ng-if="!schoolData.noRank">
                        <div class="report-titles">Medal Tally</div>
                        <div class="report-medaltableholder table-responsive ">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>
                                            <div class="text-uppercase medaltally-total">
                                                Total Medals
                                                <span class="report-ranktext report-medalcount d-teko-semibold"><span class="report-ranktext-big">{{schoolData.medalsTally.totalCount}}</span> <span class="report-ranktext-small">/<span>{{schoolData.medalsTally.totalMedals}}</span></span>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="">
                                                <div class="report-medalholder">
                                                    <img src="img/medal-icon/gold-blue.png" alt="Gold Medal | SFA Championship" title="Gold Medal | SFA Championship" class="img-responsive">
                                                </div>
                                                <div class="report-rankholder">
                                                    <span class="report-ranktext-big d-teko-semibold">{{schoolData.medalsTally.medal.gold.count}}</span>
                                                    <span class="inline-block">
                            <span>Out of</span>
                                                    <span class="display-block d-teko-semibold">{{schoolData.medalsTally.medal.gold.totalGold}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="">
                                                <div class="report-medalholder">
                                                    <img src="img/medal-icon/silver-blue.png" alt="Silver Medal | SFA Championship" title="Silver Medal | SFA Championship" class="img-responsive">
                                                </div>
                                                <div class="report-rankholder">
                                                    <span class="report-ranktext-big d-teko-semibold">{{schoolData.medalsTally.medal.silver.count}}</span>
                                                    <span class="inline-block">
                            <span>Out of</span>
                                                    <span class="display-block d-teko-semibold">{{schoolData.medalsTally.medal.silver.totalSilver}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="">
                                                <div class="report-medalholder">
                                                    <img src="img/medal-icon/bronze-blue.png" alt="Bronze Medal | SFA Championship" title="Bronze Medal | SFA Championship" class="img-responsive">
                                                </div>
                                                <div class="report-rankholder">
                                                    <span class="report-ranktext-big d-teko-semibold">{{schoolData.medalsTally.medal.bronze.count}}</span>
                                                    <span class="inline-block">
                            <span>Out of</span>
                                                    <span class="display-block d-teko-semibold">{{schoolData.medalsTally.medal.bronze.totalBronze}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="">
                                                Your Rank
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="medalSport in schoolData.medalsTally.sportData|orderBy:'name' track by $index">
                                        <td>
                                            <div class="report-medal-td reporttable-sportdetails">
                                                <span class="reporttable-sportcount">{{medalSport.totalCount}}</span> <span>{{medalSport.name}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="report-medal-td">
                                              <span ng-if="medalSport.medals.gold">{{medalSport.medals.gold.count}}</span>
                                              <span ng-if="!medalSport.medals.gold">0</span></div>
                                        </td>
                                        <td>
                                            <div class="report-medal-td">
                                              <span ng-if="medalSport.medals.silver">{{medalSport.medals.silver.count}}</span>
                                              <span ng-if="!medalSport.medals.silver-box">0</span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="report-medal-td">
                                              <span ng-if="medalSport.medals.bronze">{{medalSport.medals.bronze.count}}</span>
                                              <span ng-if="!medalSport.medals.bronze">0</span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="report-medal-td"><span>{{medalSport.schoolRank}}</span> / <span>{{medalSport.totalSchoolCount}}</span></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- MEDALS TALLY END -->
                    <div class="report-content report-schoolsummaryholder">
                      <div class="report-summarycard">
                        <ul class="list-unstyled">
                          <li>
                            <div class="">
                              No Show: {{schoolData.contingent.noShowPercent}}%
                            </div>
                          </li>
                          <li>
                            <div class="">
                              Highest Participation: <span class="participation-name" ng-repeat="sportHigh in schoolData.contingent.highestParticipation track by $index">{{sportHigh.sportName}} <span class="participation-comma">,</span></span>
                            </div>
                          </li>
                          <li>
                            <div class="">
                              Least Participation: <span class="participation-name" ng-repeat="sportLow in schoolData.contingent.lowestParticipation track by $index">{{sportLow.sportName}} <span class="participation-comma">,</span></span>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="report-wingraph">
                        <round-progress max="100" current="schoolData.contingent.winPercent" color="#0eda85" bgcolor="#f5f5f5" radius="60" stroke="15" semi="false" rounded="false" clockwise="false" responsive="true" duration="1000" animation="easeInOutQuart" animation-delay="0"></round-progress>
                        <div class="get-center">
                          <div class="report-winpercentholder">
                            WIN <span class="display-block"><span class="winpercent-big">{{schoolData.contingent.winPercent}}</span> %</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="report-content">
                  <span class="text-uppercase color-sportprimary d-opensans-semibold">Sports Participated:</span> <span><span>{{schoolData.contingent.sportParticipationCount}}</span> / <span>{{schoolData.contingent.totalSportCount}}</span></span>
                </div>
                <div class="report-content">
                  <p class="text-uppercase m-clear color-sportprimary d-opensans-semibold">Did Not Participate In:</p>
                  <div class=""><span class="participation-name" ng-repeat="sportNo in schoolData.contingent.nonParticipatedSport track by $index">{{sportNo}} <span class="participation-comma">,</span></span></div>
                </div>
              </div>
            </div>
        </div>
    </section>
    <!-- REPORT SUMMARY SECTION END -->
    <section class="report-schoolperformance-section">
      <div class="container">
        <div class="report-schoolheader">
          Your School's Performance Vs. Top Performers at SFA {{sfaCity}} {{eventYear}}
        </div>
        <div class="reportsummary-schooltable">
          <div class="reportschool-tableholder table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>
                    <div class="reporttable-schoolheader">
                      School Name
                    </div>
                  </td>
                  <td>
                    <div class="reporttable-schoolheader">
                      Criteria
                    </div>
                  </td>
                  <td>
                    <div class="text-center reporttable-schoolheader">
                      Top Performance</div>
                  </td>
                  <td>
                    <div class="text-center reporttable-schoolheader">
                      Your Performance
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="school in schoolData.performance track by $index">
                  <td>
                    <div class="text-left">
                      {{school.topSchoolName}}
                    </div>
                  </td>
                  <td>
                    <div class="text-left">
                      {{school.criteria}}
                    </div>
                  </td>
                  <td>
                    <div class="">
                      {{school.topPerformance}}
                    </div>
                  </td>
                  <td>
                    <div class="">
                      {{school.myPerformance}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
</div>
