<section>
    <div class="banner sf-relative my-banner-school">
        <!-- <img src="img/new-banner.png" alt="" class="img-responsive width100"> -->
        <div class="p100 p1002">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-3 col-sm-3 col-xs-12 pointer" ng-click="state.reload()">
                        <div class="sf-school-logo sf-relative text-center border-r">
                            <img ng-src="{{getSchoolProfile.schoolLogo|serverimage2}}" alt="">
                            <!-- <img src="img/sf-school-profile-big.png" alt=""> -->
                            <div class="sigh-second sf-absulate">
                                <img ng-if="getSchoolProfile.status == 'Verified'" ng-src="img/sf-right-big.png" alt="" class="w30-main">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-9 text-c-m">
                        <div class="sf-school-data">
                            <div class="scl-title display-inline pointer" ng-click="state.reload()">
                                <h3 class="color-orange font-semi f-mcell-20">{{getSchoolProfile.schoolName}}</h3>
                            </div>
                            <!-- <div class="display-inline cup">
                                <img src="img/sf-cup.png" alt="">
                            </div> -->
                        </div>
                        <div class="data-list custom-li color-white display-inline mt15 text-c-m">
                            <ul class="padding0 sf-list-padding">
                                <li class="border-right-1 f14-zero">
                                    <div class="">
                                        <span class="">CONTINGENT STRENGTH {{eventYear}}</span>
                                    </div>
                                    <ul class="padding0 pad-line mt15">
                                        <li>
                                            <div class="sto-pro-list">
                                                <img src="img/sf-boys.png" alt="">{{maleCount || '0'}}
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sto-pro-list display-inline">
                                                <img src="img/sf-girl.png" alt="">{{femaleCount || '0'}}
                                            </div>
                                        </li>
                                        <li>
                                            <div class="sto-pro-list total display-inline">
                                                {{ totalCount || '0'}}
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="border-right-1">
                                    <div class="display-inline text-up text-center f14-zero">
                                        <p>{{eventYear}} rank</p>
                                        <p class="total display-inline mt5"> {{getSchoolProfile.rank || 'N.A'}} </p>
                                    </div>
                                    <!-- <div class="stu-data display-inline text-up text-center">
                                        <p>2016 rank</p>
                                        <p class="total display-inline mt5">4</p>
                                    </div> -->
                                </li>
                                <li class="border-right-1 hidden-xs">
                                    <div class="stu-data text-center sf-list">
                                        <span class="text-center text-up">Medals Won</span>
                                        <ul class="padd-left padding0 mt5">
                                            <li>
                                                <div class="medal-num">
                                                    <div class="img-medal display-inline">
                                                        <img src="img/sf-gold-big.png" alt="">
                                                    </div>
                                                    <div class="display-inline">
                                                        <p class="margin0 color-orange text-center">{{goldCount || 0 }}</p>
                                                        <p class="margin0">Gold</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="medal-num">
                                                    <div class="img-medal display-inline ">
                                                        <img src="img/sf-silver-big.png" alt="">
                                                    </div>
                                                    <div class="display-inline">
                                                        <p class="margin0 color-orange text-center">{{silverCount || 0 }}</p>
                                                        <p class="margin0">Silver</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="medal-num">
                                                    <div class="img-medal display-inline">
                                                        <img src="img/sf-bronze-big.png" alt="">
                                                    </div>
                                                    <div class="display-inline">
                                                        <p class="margin0 color-orange text-center">{{bronzeCount || 0 }}</p>
                                                        <p class="margin0">Bronze</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sf-list ptop-per hidden-md hidden-lg hidden-sm">
                            <span class="text-center text-up color-orange f-mcell-20">Medals Won</span>
                            <ul class="padd-left padding0 mt5 second-border">
                                <li>
                                    <div class="medal-num">
                                        <div class="img-medal display-inline">
                                            <img src="img/sf-gold-big.png" alt="">
                                        </div>
                                        <div class="display-inline f16-zero">
                                            <p class="margin0 color-orange text-center">{{goldCount || 0 }}</p>
                                            <p class="margin0 color-white">Gold</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="medal-num">
                                        <div class="img-medal display-inline ">
                                            <img src="img/sf-silver-big.png" alt="">
                                        </div>
                                        <div class="display-inline f16-zero">
                                            <p class="margin0 color-orange text-center">{{silverCount || 0 }}</p>
                                            <p class="margin0 color-white">Silver</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="medal-num">
                                        <div class="img-medal display-inline">
                                            <img src="img/sf-bronze-big.png" alt="">
                                        </div>
                                        <div class="display-inline f16-zero">
                                            <p class="margin0 color-orange text-center">{{bronzeCount || 0 }}</p>
                                            <p class="margin0 color-white">Bronze</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-common m40-main">
                            <!-- <button type="button" name="button" class="text-up btn-orange padd-btn" ui-sref="school-bio({id:callObject._id})">school bio</button> -->
                            <button ng-if="getSchoolProfile.isSpecialAward" type="button" name="button" class="text-up btn-orange padd-btn ml10" ng-click="getSpecialAward(schoolData.school)">Special Award</button>
                            <button type="button" name="button" class="hide text-up btn-orange padd-btn ml10" ui-sref="reportcard({school:getSchoolProfile.schoolName})">Report Card</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sf-absulate spon" ng-if="getSchoolProfile.supporterName && getSchoolProfile.supporterName">
            <div class="">
                <span class="color-orange text-cap f16 pull-left">Supported by:</span>
                <span class="onside text-center">
                    <img ng-src="{{ getSchoolProfile.supporterLogo | serverimage2 }}">
                    <span class="color-white text-cap f16">
                        <h4>{{getSchoolProfile.supporterName }}</h4>
                    </span>
                </span>

            </div>
        </div>
    </div>
    <!-- </div> -->
</section>
<section class="bottom-padding">
    <div class="container mt40">
        <div class="row">
            <div class="text-center">
                <h4 class="color-blue text-up font-semi">sports participated</h4>
            </div>
            <!-- <div class="hide"> -->
            <div class="hide">
                <!--mt-min-38-->
                <div class="float-right">
                    <h4 class="text-up color-blue display-inline">Year</h4>
                    <div class="display-inline">
                        <div class="sfa-select">
                            <select class="select" ng-model="filter.year" ng-change="changeYear()">
                                <option value="2015">{{year15}}</option>
                                <option value="2016">{{year16}}</option>
                                <option value="2017">{{eventYear}}</option>
                            </select>
                            <span class="only-border"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <div class="sport-slider mt40">
                    <flex-slider class="carousel" flex-slide="sportDetails in schoolSports | orderBy:'name' track by $index" slideshow="false" animation="slide"
                    item-width="200" item-margin="40">
                        <li>
                            <a>
                                <div class="sports-participate text-center">
                                    <!-- <img ng-src="{{sportDetails.inactiveimage | serverimage2}}" alt="" class="img-responsive image-width"> -->
                                    <img ng-src="{{ sportDetails.name !== filter.sport.name?(sportDetails.inactiveimage | serverimage2):(sportDetails.image  | serverimage2)}}"
                                    alt="" class="img-responsive image-width" ng-click="selectSport(sportDetails);">
                                    <span class="color-base text-up f16 mt10 equalSpacing">{{sportDetails.name}}</span>
                                    <div class="combine mt10">
                                        <div class="boy-sec display-inline color-base icon-right">
                                            <img ng-src="img/sf-boys-mini.png" alt="">{{ sportDetails.maleCount || 0 }}
                                        </div>
                                        <div class="boy-sec display-inline color-base icon-left">
                                            <img ng-src="img/sf-girl-mini.png" alt="">{{ sportDetails.femaleCount || 0 }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </flex-slider>
                    <div class="text-center" ng-if="!(schoolSports.length > 0)">
                        {{schoolSports == undefined && 'Loading .. ' || 'No Sports Participated'}}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt40" ng-if="!statsDetail">
            <!-- <div class="row mt40"> -->
            <div class="col-md-12">
                <div class=" text-center">
                    <h3 class="font-semi color-blue margin0">CONTINGENT STRENGTH {{eventYear}}</h3>
                    <div class="sf-list">
                        <ul class="padding0 pad-line mt15 ">
                            <li>
                                <div class="sto-pro-list">
                                    <img src="img/sf-boys-mini.png" alt="">{{maleCount || '0'}}
                                </div>
                            </li>
                            <li>
                                <div class="sto-pro-list display-inline">
                                    <img src="img/sf-girl-mini.png" alt="">{{femaleCount || '0'}}
                                </div>
                            </li>
                            <li>
                                <div class="sto-pro-list total display-inline" style="border: 1px solid #bbb;">
                                    {{totalCount || '0'}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="hide">
                    <!-- <div class="hide"> -->
                    <div class="float-right">
                        <h4 class="text-up color-blue display-inline">Year</h4>
                        <div class="display-inline">
                            <div class="sfa-select">
                                <select ng-change="onChangeContingentYear()" class="select" ng-model="filterStatistics.year">
                                    <option value="2015">{{year15}}</option>
                                    <option value="2016">{{year16}}</option>
                                    <option value="2017">{{eventYear}}</option>
                                </select>
                                <span class="only-border"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="!statsDetail">
            <div class="col-md-3 mt15" ng-repeat="data in athletes | orderBy:'name' track by $index">
                <a href="">
                    <div class="school-sec" ui-sref="student-profile({id:data._id})">
                        <!-- <img src="img/sf-cl.png" alt="" class="mt-min-18"> -->
                        <div class="stu-img text-center sf-relative specialSetting loadingSchoolProfile">
                            <img ng-src="{{data.profilePic | serverimage2:200:200:'cover'}}" alt="" class="">
                            <!-- <div class="sigh-pro sf-absulate">
                                <img src="img/sf-right.png" alt="">
                            </div> -->
                        </div>
                        <div class="stu-name text-center" title="{{data.name}}">
                            <h4 class="color-orange text-up font-semi">{{data.name | shorten:8}}</h4>
                        </div>
                        <div class="stu-id text-center">
                            <h4 class="color-blue">SFA ID: {{data.sfaId}}</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="text-center" ng-if="!(athletes.length > 0)">
                {{athletes == undefined && 'Loading .. ' || 'No Contingent Found'}}
            </div>
        </div>
        <!-- </ui> -->
        <div class="row" ng-if="!statsDetail">
            <div class="col-md-12">
                <div class="float-right sf-list">
                    <nav aria-label="Page navigation" ng-if="totalCount > 1">
                        <uib-pagination ng-change="getSchoolProfiles()" total-items="totalCount" ng-model="schoolData.page" items-per-page="schoolData.maxSize"
                            max-size="template.pageMax" class="pagination-sm" boundary-links="true" force-ellipses="true"></uib-pagination>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- when user select any sports -->
    <section ng-if="statsDetail">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="tab-list sf-list text-up">
                            <ul class="padding0 margin0">
                                <li>
                                    <a href="" ng-click="tabchange('player',1)" class="{{classa}}">player</a>
                                </li>
                                <!-- <li><a href="" ng-click="tabchange('match',2)" class="{{classb}}">match-videos</a></li> -->
                                <li>
                                    <a href="" ng-click="tabchange('statistics',3)" class="{{classc}}">statistics</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box-content bx-mob">
                        <div class="player" ng-show="tab=='player'">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-3 col-sm-4 col-xs-12 text-c-m hide">
                                    <h4 class="text-up color-blue display-inline">Year</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <!-- <select class="select" ng-change="callReload();" ng-model="callObject.year" ng-options="item for item in allYears">
                                            </select> -->
                                            <select class="select" ng-change="callReload();" ng-model="callObject.year" ng-options="item.year as item.display for item in allYears">
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">gender</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select" ng-change="callReload(genderValue,'gender');" ng-model="genderValue" ng-options="item for item in gender | orderBy">
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">age group</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select" ng-change="callReload(ageValue,'age');" ng-model="ageValue" ng-options="item for item in agegroup">
                                                <option value=""></option>
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt25">
                                <div class="col-md-3 mt15" ng-repeat="data in schoolStats.players | orderBy: 'name'" ng-if="schoolStats.players.length > 0">
                                    <a ui-sref="student-profile({id:data.athleteId})">
                                        <div class="school-sec">
                                            <!-- <img ng-src="img/sf-cl.png" alt="" class="mt-min-18"> -->
                                            <div class="stu-img text-center sf-relative specialSetting">
                                                <img ng-src="{{data.profilePic | serverimage2:200:200:'cover'}}" alt="">
                                                <!-- <div class="sigh-pro sf-absulate">
                                                    <img src="img/sf-right.png" alt="">
                                                </div> -->
                                            </div>
                                            <div class="stu-name text-center">
                                                <h4 class="color-orange text-up font-semi" title="{{data.name}}">{{data.name | shorten:8}}</h4>
                                            </div>
                                            <div class="stu-id text-center">
                                                <h4 class="color-blue">SFA ID: {{data.sfaId}}</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="text-center" ng-if="!(schoolStats.players.length > 0)">
                                    <h5>{{schoolStats.players === undefined && 'Loading ..' || 'No Students Found.'}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="statistics " ng-show="tab=='statistics'">
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-12 text-c-m hide">
                                    <h4 class="text-up color-blue display-inline">Year</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select ng-change="getStats()" ng-model="filterStatistics.year" class="select">
                                              
                                                <option value="2015">{{year15}}</option>
                                                <option value="2016">{{year16}}</option>
                                                <option value="2017">{{eventYear}}</option>
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">gender</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select" ng-change="callReloadStat(genderStat,'gender');" ng-model="genderStat" ng-options="item for item in gender | orderBy">
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">age group</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select" ng-change="callReloadStat(ageStat,'age');" ng-model="ageStat" ng-options="item for item in agegroup">
                                                <option value=""></option>
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12 text-c-m">
                                    <h4 class="text-up color-blue display-inline">category</h4>
                                    <div class="display-inline">
                                        <div class="sfa-select">
                                            <select class="select" ng-change="callReloadStat(eventStat,'event');" ng-model="eventStat" ng-options="item for item in eventCategory | orderBy">
                                                <option value=""></option>
                                            </select>
                                            <span class="only-border"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt25 main-over" ng-if="statsDetail">
                                <div class="col-md-12 mt25">
                                    <div class="table-statistics w700">
                                        <table class="table">
                                            <thead>
                                                <tr class="text-up color-white bg-table">
                                                    <th>
                                                        <span>year</span>
                                                    </th>
                                                    <th>
                                                        <span>CATEGORY</span>
                                                    </th>
                                                    <th>
                                                        <span>ROUND</span>
                                                    </th>
                                                    <th ng-if="table.layout == 'Knockout' || table.layout == 'Swiss League' || table.layout == 'League' || table.layout == 'League cum Knockout'">
                                                        <span>OPPONENT NAME</span>
                                                    </th>
                                                    <th ng-if="table.layout != 'Swiss League'">
                                                        <span>{{table.layout == 'Heats' ? (filter.sport.name == 'Athletics' ? 'Timing/Distance/Height'
                                                            : 'Timing') : 'Score'}}</span>

                                                    </th>
                                                    <th>
                                                        <span>result</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- DO NOT DELETE -->
                                                <!-- <tr  ng-repeat="stat in schoolStats"> -->
                                                <!-- DO NOT DELETE -->
                                                <tr class="other-bg" ng-repeat="stat in schoolStats.match | orderBy:['sportslist','ageGroup','gender']">
                                                    <td>
                                                        <span>{{stat.year}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-up">{{stat.ageGroup}}
                                                            <br> {{stat.gender}}
                                                            <br> {{stat.sportslist}}</span>
                                                    </td>
                                                    <!--<td><span class="text-up" ng-if="table.layout == 'Knockout'">{{stat.knockout.round}}</span></td>-->
                                                    <td class="text-up" ng-if="(table.layout=='Qualifying Knockout') || (table.layout=='Qualifying Round') || (table.layout=='Knockout') || (table.layout=='Swiss League') || (table.layout=='Heats') || (table.layout=='Leagues') || (table.layout=='League cum Knockout')">
                                                        {{stat.round || '-'}}</td>
                                                    <!-- <td class="text-up" ng-if="table.layout == 'Knockout'"><img src="img/sf-cup-mini.png" alt="" class="table-img" ng-if="stat.self.result == 'Won' || stat.self.result == 'Bye' || stat.self.result == 'Walkover'">{{stat.student.name}}</td> -->
                                                    <td class="text-up" ng-if="table.layout == 'Knockout' || table.layout == 'Swiss League' || table.layout == 'Leagues' || table.layout == 'League cum Knockout'">
                                                        <!-- <img src="img/sf-cup-mini.png" alt="" class="table-img" ng-if="stat.opponent.result == 'Won' || stat.opponent.result == 'Bye' || stat.opponent.result == 'Walkover'">{{stat.opponentName.detail.name || '-' | removeSchool:stat.opponent.detail.school.name
                                                        }}
                                                        <p>{{stat.opponent.detail.school.name}}</p> -->
                                                        <img src="img/sf-cup-mini.png" alt="" class="table-img" ng-if="stat.isAthleteWinner == false">{{stat.opponentName || '-' | removeSchoolWithDash:stat.school}}
                                                        <p>{{stat.school}}</p>
                                                    </td>
                                                    <td ng-if="table.layout != 'Swiss League'">
                                                        <div>{{stat.score || '-'}}</div>
                                                    </td>
                                                    <td class="sf-relative">
                                                        <div class="text-center display-inline ver-mid main-pos sf-absulate">
                                                            <div class="sf-play" ng-if="!stat.result && table.layout == 'Knockout' || table.layout == 'League' || table.layout == 'League cum Knockout'">
                                                                <span ng-if="stat.isAthleteWinner == true && !stat.reason && stat.opponentName">Won</span>
                                                                <span ng-if="stat.isAthleteWinner == false">Loss</span>
                                                                <span ng-if="stat.isAthleteWinner != false && stat.isAthleteWinner != true && !stat.reason">-</span>
                                                                <span ng-if="stat.isAthleteWinner != false && stat.isAthleteWinner != true && stat.reason">{{stat.reason}}</span>
                                                                <span ng-if="stat.isAthleteWinner == true && stat.reason">{{stat.reason}}</span>
                                                                <span ng-if="stat.isAthleteWinner == true && !stat.reason && !stat.opponentName">Bye</span>
                                                            </div>
                                                            <div class="sf-play" ng-if=" !stat.result && table.layout  !== 'Knockout' && table.layout  !== 'League' && table.layout !== 'League cum Knockout'">
                                                                <span ng-if="stat.isAthleteWinner == true">Won</span>
                                                                <span ng-if="stat.isAthleteWinner == false">Loss</span>
                                                                <span ng-if="stat.isAthleteWinner != false && stat.isAthleteWinner != true">-</span>
                                                            </div>
                                                            <div class="sf-play" ng-if="stat.result">
                                                                <span>{{stat.result || '-'}}</span>
                                                            </div>
                                                            <!-- <div class="sf-play">
                                                                <span>{{(table.layout == 'Qualifying Knockout'&& (stat.qualifyingknockout.heats.length
                                                                    == 0 ? stat.self.result : ((stat.self.position || ordinal)+'
                                                                    / '+stat.self.result))) || (table.layout == 'Knockout'&&
                                                                    stat.self.result) || (table.layout == 'Swiss League'&&
                                                                    stat.self.result) || (table.layout == 'Heats' && ((stat.self.standing
                                                                    || ordinal) ?(stat.self.result?(stat.self.standing ||
                                                                    ordinal)+' / '+stat.self.result:(stat.self.standing ||
                                                                    ordinal)):stat.self.result)) || (table.layout == 'League'
                                                                    && stat.self.result) || (table.layout == 'League cum
                                                                    Knockout' && stat.self.result) || (table.layout == "Qualifying
                                                                    Round" && stat.qualifyinground.result) || ""}}</span>
                                                            </div> -->
                                                            <div class="replay-img " ng-if="stat.video">
                                                                <!-- <a ng-if="stat.video != 'YTU' && stat.video != 'NA'" class="various fancybox.iframe" href="https://www.youtube.com/embed/{{stat.video}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                                                                            rel="gallery1" fancybox>
                                                                            <img src="img/sf-play.png" alt="">
                                                                        </a> -->
                                                                <a ng-if="stat.video != 'YTU' && stat.video != 'NA'" class="various fancybox.iframe" href="{{stat.video | linkvideo :stat.videoType}}"
                                                                    rel="gallery1" fancybox>

                                                                    <img src="img/sf-play.png" alt="">
                                                                </a>

                                                                <a ng-if="stat.video == 'NA'" ng-click="videoNA()">
                                                                    <img src="img/sf-play.png" alt="">
                                                                </a>
                                                                <a ng-if="stat.video == 'YTU'" ng-click="videoYTU()">
                                                                    <img src="img/sf-play.png" alt="">
                                                                </a>
                                                            </div>
                                                            <!-- <div class="replay-img " ng-if="stat.knockout.video || stat.heat.video || stat.league.video || stat.leagueknockout.video || stat.qualifyinground.video || stat.qualifyingknockout.video">
                                                                <a class="various fancybox.iframe" ng-if="stat.year == '2015' && stat.knockout.video != 'YTU' && stat.heat.video != 'YTU' && stat.league.video != 'YTU' && stat.leagueknockout.video != 'YTU' && stat.qualifyinground.video != 'YTU' && stat.qualifyingknockout.video != 'YTU' && stat.knockout.video != 'NA' && stat.heat.video != 'NA' && stat.league.video != 'NA' && stat.leagueknockout.video != 'NA' && stat.qualifyinground.video != 'NA' && stat.qualifyingknockout.video != 'NA'"
                                                                    href="https://www.youtube.com/embed/{{stat.knockout.video || stat.heat.video || stat.league.video || stat.leagueknockout.video || stat.qualifyinground.video || stat.qualifyinground.video}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                                                                    rel="gallery1" fancybox>
                                                                    <img src="img/sf-play.png" alt="">
                                                                </a>
                                                                <a class="various fancybox.iframe" ng-if="stat.year == '2016' && stat.knockout.video != 'YTU' && stat.heat.video != 'YTU' && stat.league.video != 'YTU' && stat.leagueknockout.video != 'YTU' && stat.qualifyinground.video != 'YTU' && stat.qualifyingknockout.video != 'YTU' && stat.knockout.video != 'NA' && stat.heat.video != 'NA' && stat.league.video != 'NA' && stat.leagueknockout.video != 'NA' && stat.qualifyinground.video != 'NA' && stat.qualifyingknockout.video != 'NA'"
                                                                    href="https://player.vimeo.com/video/{{stat.knockout.video || stat.heat.video || stat.league.video || stat.leagueknockout.video || stat.qualifyinground.video || stat.qualifyinground.video}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1 frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen"
                                                                    rel="gallery1" fancybox>
                                                                    <img src="img/sf-play.png" alt="">
                                                                </a>
                                                                <a ng-if="stat.knockout.video == 'NA' || stat.heat.video == 'NA' || stat.league.video == 'NA' || stat.leagueknockout.video == 'NA' || stat.qualifyinground.video == 'NA' || stat.qualifyingknockout.video == 'NA'"
                                                                    ng-click="videoNA()">
                                                                    <img src="img/sf-play.png" alt="">
                                                                </a>
                                                                <a ng-if="stat.knockout.video == 'YTU' || stat.heat.video == 'YTU' || stat.league.video == 'YTU' || stat.leagueknockout.video == 'YTU' || stat.qualifyinground.video == 'YTU' || stat.qualifyingknockout.video == 'YTU'"
                                                                    ng-click="videoYTU()">
                                                                    <img src="img/sf-play.png" alt="">
                                                                </a>
                                                            </div> -->
                                                        </div>

                                                        <!--  DO NOT DELETE -->
                                                        <!-- <div class="display-inline stu-data  right-pos sf-absulate">
                                                            <a href=""><img src="img/sf-play-btn.png" alt=""></a>
                                                        </div> -->
                                                        <!-- DO NOT DELETE -->
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <div ng-if="!(schoolStats.match.length > 0) " class="text-center">
                                            {{schoolStats.match == undefined && 'Loading ..' || teamDetails.layout && 'No'+table.layout+'found.' || 'No Data Found.'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>