<div class="specialevets-page">
  <div class="container">
    <!-- SPECIAL EVENT TITLE -->
    <div class="specialevents-header">
      Special Events
    </div>
    <!-- SPECIAL EVENT TITLE END -->
    <!-- EVENT HOLDER -->
    <div class="specialevent-holder">
      <div class="specialevent" ng-repeat = "event in events track by $index">
        <div class="specialevent-title">
          {{event.name}}
          <div class="row">
            <div class="col-md-6 col-sm-6" ng-repeat= "date in event.dates track by $index">
              {{date.date}} - {{date.color}} | {{date.colorClass}}
              <div class="event-card {{date.colorClass}}">
                <div class="clearfix" ng-if="date.type == 'card1' || date.type == 'card3'">
                  <!-- TILE 1  -->
                  <div class="event-tile">
                    <!-- DATE TILE -->
                    <div class="evencard-date" ng-if="date.type == 'card1'">
                      <p>{{date.date}}</p>
                      <p>{{date.day}}</p>
                    </div>
                    <!-- DATE TILE END -->
                    <!-- IMAGE TILE -->
                    <div class="evencard-image" ng-if="date.type == 'card3' && date.section1.type == 'image'">
                      <img ng-src="{{date.section1.name}}" alt="" class="img-responsive">
                    </div>
                    <!-- IMAGE TILE END -->
                    <!-- DETAIL TILE -->
                    <div class="eventcard-detail" ng-if="date.type == 'card3' && date.section1.type == 'text'">
                      <div class="eventdetail-title">
                        {{date.section1.header}}
                      </div>
                      <div class="eventdetail-content">
                        {{date.section1.content}}
                      </div>
                    </div>
                    <!-- DETAIL TILE END -->
                  </div>
                  <!-- TILE 1 END  -->
                  <!-- TILE 2   -->
                  <div class="event-tile"></div>
                  <!-- TILE 2 END  -->
                </div>
                <div class="clearfix" ng-if="date.type == 'card3'">
                  <!-- TILE 3   -->
                  <div class="event-tile"></div>
                  <!-- TILE 3 END  -->
                  <!-- TILE 4  -->
                  <div class="event-tile"></div>
                  <!-- TILE 4 END  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- EVENT HOLDER END -->
  </div>
</div>
