<div class="sponsor-partner-page">
  <!-- CONTAINER -->
  <div class="container">
    <!-- HEADER ROW -->
    <div class="row">
      <!-- HEADER -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="sponser-partner-title">
          <h2 class="d-fjalla-one sport-color-info">SPONSORS & PARTNERS</h2>
        </div>

      </div>
      <!-- HEADER -->
    </div>
    <!-- HEADER ROW END -->

    <!-- CONTENT ROW -->
    <div class="row">
      <!-- CONTENT -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="above-content-holder">
          <p>Our vision to unearth talent from its roots and enable this talent with the right opportunities, has found steady
            support through organizations and individuals that too believe in equalizing & uplifting youth sport in India.
            It is through these harbingers of change will we as a collective realise our true sporting potential and enable
            the future champions of India! </p>
          <p>
            We thank our sponsors and partners for their continuous support in the mission to empower the future champions of India.
          </p>
        </div>

      </div>
      <!-- CONTENT END -->
    </div>
    <!-- CONTENT ROW END -->

    <!-- SPONSOR ROW -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- SPONSER HEAD -->
        <div class="sponser-head">
          <h3 class="text-uppercase">{{sponsorData[0]._id}}</h3>
        </div>
        <!-- SPONSER HEAD END -->
      </div>
      <!-- SPONSER IMAGE HODER -->
      <div class="sponser-card-holder">
        <h4 class="text-center text-uppercase">{{update}}</h4>
        <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="image in sponsorData[0].info track by $index">
          <div class="sponser-image-holder" ng-click="goSponsor(image)" ng-class="{'custom-cursor-sponsor':image.insidePage==='false'}">
            <img ng-src="{{image.headerImage | serverimage2}}" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <!-- SPONSER IMAGE HODER END -->
    </div>
    <!-- SPONSOR ROW END -->

    <!-- PARTNER ROW -->
    <div class="row">
      <!-- PARTNER HEAD -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="text-uppercase">{{sponsorData[1]._id}}</h3>
      </div>
      <!-- PARTNER HEAD -->

      <!-- PARTNER_IMAGE HODER -->
      <div class="partner-card-holder">
        <h4 class="text-center text-uppercase">{{update}}</h4>
        <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="image in sponsorData[1].info track by $index">
          <div class="partner-image-holder" ng-click="goSponsor(image)" ng-class="{'custom-cursor-sponsor':!image.insidePage}">
            <img ng-src="{{image.headerImage | serverimage2 }}" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <!-- PARTNER_IMAGE HOLDER END -->
    </div>
    <!-- PARTNER ROW END -->

    <!-- CONTENT ROW -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="below-content-holder">
          <p>The SFA Championships are the first of its kind and the largest, annual Olympic-Style multi-sporting championship
            for the youth of India. Individual athletes will no longer have to hope for miracles, as our aim is to make quality
            sport a right of every Indian athlete over the years to come. Join us as we empower an entire generation of young
            athletes, Ab Jeetega India. </p>
        </div>
      </div>
    </div>
    <!-- CONTENT ROW END -->



  </div>
  <!-- CONTAINER END -->
</div>