<div class="sponsor-partner-page">
  <!-- CONTAINER -->
  <div class="container">
    <!-- HEADER ROW -->
    <div class="row">
      <!-- HEADER -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2>SPONSOR & PARTNER</h2>
      </div>
      <!-- HEADER -->
    </div>
    <!-- HEADER ROW END -->

    <!-- CONTENT ROW -->
    <div class="row">
      <!-- CONTENT -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ex dolorum quae eum tempora incidunt dolorem quia
          necessitatibus, mollitia ipsa corporis excepturi voluptas modi illo at tempore officiis quo autem! Impedit cum
          fugit voluptas similique nobis facilis, enim accusamus obcaecati sapiente ipsum quia. Illum temporibus natus enim
          iusto, necessitatibus alias?</p>
      </div>
      <!-- CONTENT END -->
    </div>
    <!-- CONTENT ROW END -->

    <!-- SPONSOR ROW -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- SPONSER HEAD -->
        <div class="sponser-head">
          <p class="">Sponser</p>
        </div>
        <!-- SPONSER HEAD END -->
      </div>
      <!-- SPONSER IMAGE HODER -->
      <div class="sponser-card-holder">
        <div class="col-md-2" ng-repeat="image in data track by $index">
          <div class="sponser-image-holder">
            <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <!-- SPONSER IMAGE HODER END -->
    </div>
    <!-- SPONSOR ROW END -->

    <!-- PARTNER ROW -->
    <div class="row">
      <!-- PARTNER HEAD -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <p>Partner</p>
      </div>
      <!-- PARTNER HEAD -->

      <!-- PARTNER_IMAGE HODER -->
      <div class="partner-card-holder">
        <div class="col-md-2" ng-repeat="image in data track by $index">
          <div class="partner-image-holder">
            <img src="img/dishapatani1.jpg" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <!-- PARTNER_IMAGE HOLDER END -->
    </div>
    <!-- PARTNER ROW END -->

    <!-- CONTENT ROW -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="content-holder">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione accusamus adipisci fugiat dolor vel, veniam quaerat
            esse consectetur placeat possimus soluta deserunt earum fugit, doloribus maxime et impedit eligendi laboriosam?</p>
        </div>
      </div>
    </div>
    <!-- CONTENT ROW END -->



  </div>
  <!-- CONTAINER END -->
</div>