<section>
    <div class="banner my-banner-student newMargin">
        <!-- <img src="img/new-banner.png" alt="" class="img-responsive width100"> -->
        <div class="p100">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-3 col-sm-4 col-xs-12">
                        <div class="sf-school-logo sf-relative text-center border-r ">
                            <img ng-src="{{ athlete.photograph | serverimage2:200:200:'cover' }}" alt="" class="img-border img-responsive">
                            <div class="sigh-second sf-absulate l6">
                                <img ng-if="athlete.status == 'Verified'" ng-src="img/sf-right-org.png" alt="" class="w30-main">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-xs-12 col-sm-8 text-c-m">
                        <div class="sf-school-data text-c-m">
                            <div class="scl-title display-inline ">
                                <h3 class="color-orange font-semi text-up f18-main">{{fullName}}</h3>
                                <h4 class="color-white text-up f16-main">{{schoolName}}</h4>
                            </div>
                            <!-- <div class="display-inline cup">
                                <img src="img/sf-cup.png" alt="">
                            </div> -->
                        </div>
                        <div class="data-list custom-li color-white mt15 display-inline text-c-m mar0-main">
                            <ul class="padding0 sf-list-padding">
                                <!-- <li class="border-right-2">
                                    <div class="f16-zero">
                                        <p class="text-up color-orange" ng-model="abc">age group</p>
                                        <p>{{(studentProfile.dob | ageFilter) || '-'}}</p>
                                    </div>
                                </li> -->
                                <li class="border-right-2">
                                    <div class="f16-zero">
                                        <p class="text-up color-orange">SFA ID</p>
                                        <p>{{athlete.sfaId || '-'}}</p>
                                    </div>
                                </li>
                                <li class="border-right-2">
                                    <div class="f16-zero">
                                        <p class="text-up color-orange" data-id="age">Age</p>
                                        <p class="text-up">{{athlete.age}}
                                            <!-- <p class="text-up">{{athlete.dob | ageYearFilter }} -->
                                            <span ng-if="studentProfile.dob">years</span>
                                        </p>
                                    </div>
                                </li>
                                <li class="border-right-2">
                                    <div class="f16-zero">
                                        <p class="text-up color-orange">gender</p>
                                        <p class="text-up">{{athlete.gender || '-'}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="cl-mob-ps">
                            <div class="sf-list ptop-per">
                                <span class="text-center text-up color-orange f-mcell-20">Medals Won</span>
                                <ul class="padd-left padding0 mt5 second-border">
                                    <!-- <li ng-repeat="medal in medals">
                                        <div class="medal-num">
                                            <div class="img-medal display-inline">
                                                <img src="img/{{medal.badge}}" alt="">
                                            </div>
                                            <div class="display-inline f16-zero">
                                                <p class="margin0 color-orange text-center">{{medal.count || '0' }}</p>
                                                <p class="margin0 color-white">{{medal.name}}</p>
                                            </div>
                                        </div>
                                    </li> -->
                                    <li>
                                        <div class="medal-num">
                                            <div class="img-medal display-inline">
                                                <img src="img/sf-gold-big.png" alt="">
                                            </div>
                                            <div class="display-inline f16-zero">
                                                <p class="margin0 color-orange text-center">{{goldCount || '0' }}</p>
                                                <p class="margin0 color-white">Gold</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="medal-num">
                                            <div class="img-medal display-inline ">
                                                <img src="img/sf-silver-big.png" alt="">
                                            </div>
                                            <div class="display-inline f16-zero">
                                                <p class="margin0 color-orange text-center">{{silverCount || '0' }}</p>
                                                <p class="margin0 color-white">Silver</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="medal-num">
                                            <div class="img-medal display-inline">
                                                <img src="img/sf-bronze-big.png" alt="">
                                            </div>
                                            <div class="display-inline f16-zero">
                                                <p class="margin0 color-orange text-center">{{bronzeCount || '0' }}</p>
                                                <p class="margin0 color-white">Bronze</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-common mt25">
                                <button type="button" name="button" class="text-up btn-orange padd-btn" ui-sref="student-bio({'id':studentid})">athlete bio</button>
                                <button type="button" name="button" class="text-up btn-orange padd-btn ml10" ng-if="certificate" ng-click="getCertificate(studentid);">Certificate</button>
                                <button ng-if="specialAward" type="button" name="button" class="text-up btn-orange padd-btn ml10" ng-click="getSpecialAward(studentid)">Special Award</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="text-center">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
                    <div class="head-banner-city">
                        <!-- <div class="box-color-participate">
                            <h2 class="font-semi font-FjallaOne">Participated at SFA MUMBAI 2015-16 / 2016-17</h2>
                        </div> -->
                        <div ng-class="sfaCity == 'Hyderabad'?'box-color-hyderabad':'box-color-mumbai'">
                            <h2 class="font-semi font-FjallaOne">Competing at SFA {{sfaCity}} {{eventYear}}</h2>
                        </div>
                        <!-- <div class="box-color-mumbai" ng-if="sfaCity == 'Mumbai'">
                            <h2 class="font-semi font-FjallaOne">Competing at SFA MUMBAI 2017-18</h2>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bottom-padding">
    <div class="container mt40">
        <div class="row">
            <div class="text-center">
                <h4 class="text-up color-blue display-inline">Year</h4>
                <div class="display-inline">
                    <div class="sfa-select">
                        <select ng-change="changeYear()" class="select" ng-model="filter.year">
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017-18</option>
                        </select>
                        <span class="only-border"></span>
                    </div>
                </div>
                <h4 class="color-blue text-up font-semi mt25">sports participated</h4>
                <h5 ng-if="!(sport.length > 0)" class="mt25">{{sport === undefined && 'Loading ..' || 'No Sports Participated'}}</h5>
                <div class="sf-relative mt15">
                    <div class="sport-icon-list sf-list blue-cat">
                        <ul>
                            <hovericon game="game" ng-repeat="game in sport | orderBy:'sportslist.sportsListSubCategory.name'" ng-click="sportsSelected(game);">
                            </hovericon>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-content bx-mob" ng-if="filterStatistics.sport">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3 class="color-orange font-semi text-up margin0">statistics</h3>
                        </div>
                    </div>
                </div>
                <div class="row mt25 text-center">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-c-m">
                        <h4 class="text-up color-blue display-inline">Year</h4>
                        <div class="display-inline">
                            <div class="sfa-select">
                                <select class="select" ng-change="getStats()" ng-model="filterStatistics.year">
                                    <option value="2015">{{year15}}</option>
                                    <option value="2016">{{year16}}</option>
                                </select>
                                <span class="only-border"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt25" ng-if="filterStatistics.sport">
                    <div class="col-md-12 mt25 main-over">
                        <div class="table-statistics w700">
                            <table class="table">
                                <thead>
                                    <tr class="text-up color-white bg-table">
                                        <th>
                                            <span>year</span>
                                        </th>
                                        <th>
                                            <span>CATEGORY</span>
                                        </th>
                                        <th>
                                            <span>ROUND</span>
                                        </th>
                                        <th ng-if="table.layout == 'Knockout' || table.layout == 'League' || table.layout == 'League cum Knockout' || table.layout == 'Swiss League' || table.layout == 'Qualifying Knockout'">
                                            <span> OPPONENT NAME</span>
                                        </th>
                                        <th ng-if="table.layout != 'Swiss League'">
                                            <span>{{table.layout == 'Heats' ? (nowSport.name == 'Athletics' ? 'Timing/Distance/Height'
                                                : 'Timing') : 'Score'}}</span>

                                        </th>
                                        <th>
                                            <span>result</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="background:transparent;" ng-repeat="stat in studentStats">
                                        <td>
                                            <span>{{stat.year}}</span>
                                        </td>
                                        <td class="pointer" ng-click="drawDispatcher(stat.sport.drawFormat,stat.sport._id)">
                                            <span class="text-up">{{stat.sport.agegroup.name}}
                                                <br> {{stat.sport.gender}}
                                                <br>{{stat.sport.firstcategory.name}}</span>
                                        </td>
                                        <td class="text-up">{{(table.layout == 'Qualifying Knockout' && stat.qualifyingknockout.round) || (table.layout
                                            == 'Qualifying Round' && stat.qualifyinground.round) || (table.layout == 'Knockout'
                                            && stat.knockout.round) || (table.layout == 'Swiss League' && stat.swissleague.round)
                                            || (table.layout == 'Heats' && stat.heat.round) || (table.layout == 'League'
                                            && stat.league.round) || (table.layout == 'League cum Knockout' && stat.leagueknockout.leagueknockoutround
                                            == 'Final' ? stat.leagueknockout.round : stat.leagueknockout.leagueknockoutround)
                                            || '-'}}</td>
                                        <td class="text-up" ng-if="table.layout == 'Qualifying Knockout' || table.layout == 'Knockout' || table.layout == 'League' || table.layout == 'League cum Knockout' || table.layout == 'Swiss League'">
                                            <img src="img/sf-cup-mini.png" alt="" class="table-img" ng-if="stat.opponent.result == 'Won' || stat.opponent.result == 'Bye' || stat.opponent.result == 'Walkover'">{{stat.opponent.detail.name || '-' | removeSchool:stat.opponent.detail.school.name
                                            }}
                                            <p>{{stat.opponent.detail.school.name}}</p>
                                        </td>
                                        <td ng-if="table.layout != 'Swiss League'">
                                            <!-- score -->
                                            <div ng-if="table.layout == 'Knockout'">{{stat.knockout.score || '-'}}</div>
                                            <div ng-if="table.layout == 'League'">{{stat.league.score || '-'}}</div>
                                            <div ng-if="table.layout == 'League cum Knockout'">{{stat.leagueknockout.score || '-'}}</div>
                                            <div ng-if="table.layout == 'Qualifying Knockout'">{{stat.qualifyingknockout.heats.length == 0 ? stat.qualifyingknockout.score :
                                                stat.self.score || '-'}} </div>
                                            <div ng-if="table.layout == 'Heats'">{{stat.self.timing || '-'}}</div>
                                            <div ng-if="stat.qualifyinground.score">{{stat.qualifyinground.score}}</div>
                                        </td>
                                        <td>
                                            <div class="text-center display-inline ver-mid ">
                                                <div class="sf-play">
                                                    <span>{{table.layout == 'Qualifying Knockout'&& (stat.qualifyingknockout.heats.length
                                                        == 0 ? stat.self.result : ((stat.self.position || ordinal)+' / '+stat.self.result))
                                                        || table.layout == 'Swiss League'&& stat.self.result || table.layout
                                                        == 'Knockout'&& stat.self.result || (table.layout == 'Heats' && ((stat.self.standing
                                                        || ordinal) ?(stat.self.result?(stat.self.standing || ordinal)+'
                                                        / '+stat.self.result:(stat.self.standing || ordinal)):stat.self.result))
                                                        || (table.layout == 'League' && stat.self.result) || (table.layout
                                                        == 'League cum Knockout' && stat.self.result) || (table.layout ==
                                                        "Qualifying Round" && stat.qualifyinground.result) || ""}}</span>
                                                </div>
                                                <div class="replay-img " ng-if="stat.knockout.video || stat.heat.video || stat.league.video || stat.leagueknockout.video || stat.qualifyinground.video || stat.qualifyingknockout.video">
                                                    <a class="various fancybox.iframe" ng-if="stat.year == '2015' && stat.knockout.video != 'YTU' && stat.heat.video != 'YTU' && stat.league.video != 'YTU' && stat.leagueknockout.video != 'YTU' && stat.qualifyinground.video != 'YTU' && stat.qualifyingknockout.video != 'YTU' && stat.knockout.video != 'NA' && stat.heat.video != 'NA' && stat.league.video != 'NA' && stat.leagueknockout.video != 'NA' && stat.qualifyinground.video != 'NA' && stat.qualifyingknockout.video != 'NA'"
                                                        href="https://www.youtube.com/embed/{{stat.knockout.video || stat.heat.video || stat.league.video || stat.leagueknockout.video || stat.qualifyinground.video || stat.qualifyinground.video}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"
                                                        rel="gallery1" fancybox>
                                                        <img src="img/sf-play.png" alt="">
                                                    </a>
                                                    <a class="various fancybox.iframe" ng-if="stat.year == '2016' && stat.knockout.video != 'YTU' && stat.heat.video != 'YTU' && stat.league.video != 'YTU' && stat.leagueknockout.video != 'YTU' && stat.qualifyinground.video != 'YTU' && stat.qualifyingknockout.video != 'YTU' && stat.knockout.video != 'NA' && stat.heat.video != 'NA' && stat.league.video != 'NA' && stat.leagueknockout.video != 'NA' && stat.qualifyinground.video != 'NA' && stat.qualifyingknockout.video != 'NA'"
                                                        href="https://player.vimeo.com/video/{{stat.knockout.video || stat.heat.video || stat.league.video || stat.leagueknockout.video || stat.qualifyinground.video || stat.qualifyinground.video}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1 frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen"
                                                        rel="gallery1" fancybox>
                                                        <img src="img/sf-play.png" alt="">
                                                    </a>
                                                    <a ng-if="stat.knockout.video == 'NA' || stat.heat.video == 'NA' || stat.league.video == 'NA' || stat.leagueknockout.video == 'NA' || stat.qualifyinground.video == 'NA' || stat.qualifyingknockout.video == 'NA'"
                                                        ng-click="videoNA()">
                                                        <img src="img/sf-play.png" alt="">
                                                    </a>
                                                    <a ng-if="stat.knockout.video == 'YTU' || stat.heat.video == 'YTU' || stat.league.video == 'YTU' || stat.leagueknockout.video == 'YTU' || stat.qualifyinground.video == 'YTU' || stat.qualifyingknockout.video == 'YTU'"
                                                        ng-click="videoYTU()">
                                                        <img src="img/sf-play.png" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div ng-if="stat.qualifyinground.position">{{stat.qualifyinground.position}}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-if="!(studentStats.length > 0) " class="text-center">
                                <span ng-if="studentStats === undefined">Loading ..</span>
                                <div ng-if="studentStats.length === 0"> {{participatedSports[filterStatistics.year].length>0 && 'Athlete registered but did not participate.
                                    No statistics and videos available.' || 'No Data found.'}}
                                    <span ng-repeat="sport in participatedSports[filterStatistics.year]">{{$index !== participatedSports[filterStatistics.year].length-1 && ',' || ''}}&nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>