<!-- <section>
    <div class="head-banner">
        <img src="img/sfa-teams.png" class="img-responsive img width100 margin-auto">
    </div>
</section> -->
<section>
    <div class="head-banner new-head-banner">
        <img src="img/sfa-ath-new.png" class="img-responsive img width100 margin-auto newMargin">
        <h1 class="text-up font-FjallaOne font-semi newHeadStyle">TEAMS</h1>
    </div>
</section>
<section class="bottom-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="search-title text-center">
                    <h3 class="color-blue text-up font-semi f162">search from
                        <span class="color-orange">{{total}}</span> teams</h3>
                </div>
                <div class="mt15 text-center" ng-class="{'border-bottom':inputs.search}">
                    <form class="">
                        <input type="text" class="search-input" name="q" value="Type student name" placeholder="Type team name or ID" ng-change="searchInTable(inputs.search);"
                            ng-model="inputs.search">
                        <input type="image" value="Search" src="img/sfa-search.png" class="search-btn" ng-click="doSearch();">
                    </form>
                </div>
            </div>
        </div>
        <div class="row" ng-if="inputs.search">
            <div class="text-center mt40">
                <h3 class="font-semi color-orange text-up">{{totalItem || '0'}} Search Results</h3>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="data in getSearchData | orderBy:'sport.sportslist.sportsListSubCategory.name'"
                ng-if="getSearchData.length > 0">
                <a ui-sref="team-detail({id:data._id})">
                    <div class="school-sec">
                        <!-- <img src="img/sf-cl.png" alt="" class="mt-min-18"> -->
                        <div class="stu-img text-center sf-relative w100p ovr-fl">
                            <img ng-src="{{data.profile | serverimage2}}" alt="" class="mx-width">
                            <div class="sigh-pro2 sf-absulate">
                                <!-- <img ng-show="data.status" ng-src="img/sf-right-org.png" alt=""> -->
                            </div>
                        </div>
                        <div class="stu-name text-center tm-pdl" title="{{data.name | removeSchoolWithDash:data.schoolName}}">
                            <h4 class="color-blue text-up f162">{{data.name | removeSchoolWithDash:data.schoolName | letterLimit : 30}}</h4>
                        </div>
                        <div class="stu-name text-center tm-pdl" title="{{data.schoolName}}">
                            <h4 class="color-d text-up f162">{{data.schoolName | letterLimit : 20}}</h4>
                        </div>
                        <div class="stu-id text-center main-f">
                            <h4 class="color-white f162">MATCH ID: {{data.teamId}}</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="row" ng-if="totalItem > maxSize">
                <div class="col-md-12">
                    <div class="float-right sf-list">
                        <nav aria-label="Page navigation" ng-if="inputs.search && totalItem > 1">
                            <uib-pagination ng-change="doSearch()" total-items="totalItem" ng-model="searchFilter.page" items-per-page="maxSize" class="pagination-sm"
                                max-size="template.pageMax" class="pagination-sm" boundary-links="true" force-ellipses="true"></uib-pagination>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
</section>