<div class="chamionshipschedule-page">
    <!-- VIEW DRAW FORM CARD -->
    <section>
        <div class="championsip-draws">
            <div class="container">
                <div class="row championshipdraw-cardrow">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="championship-drawstitle">
                            <h3 class="sport-type-head d-fjalla-one">SFA Championship 2017-18</h3>
                            <!-- <p hidden>To view Draws & Schedules of your match kindly select the relevent categories to get results.
                            </p> -->
                            <p ng-if="sfaCity == 'Mumbai'">Draws and Schedules publishing date will be announced soon.</p>
                            <!-- <a ng-if="sfaCity == 'Hyderabad'" ng-click="downloadPdf('badminton')">
                                <p class="champions-bold">Click here to download <span class="text-uppercase">Badminton Draws & Schedule</span>.</p>
                            </a>
                            <a ng-if="sfaCity == 'Hyderabad'" ng-click="downloadPdf('kabaddi')">
                                <p class="champions-bold">Click here to download <span class="text-uppercase">Kabaddi Draws & Schedule</span>.</p>
                            </a>
                            <p ng-if="sfaCity == 'Hyderabad'">Draws & Schedule for other sports will be available shortly.</p> -->
                        </div>
                        <div class="championshipdraw-card hide">
                            <form name=championshipDrawsForm class="championshipdraw-card-form">
                                <!-- SPORT -->
                                <div class="form-group">
                                    <div class="display-inline championshipdraw-card-lable">
                                        <label for="">Sport</label>
                                    </div>

                                    <div class="display-inline championshipdraw-card-dropdown">
                                        <ui-select name="selectsporttype" ng-model="formData.sportId" theme="bootstrap" ng-change="sportName($select.selected.name,formData.sportId)"
                                            required>
                                            <ui-select-match placeholder="Select Sport">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="sport._id as sport in sportList | filter: $select.search">
                                                <div>
                                                    <p>{{sport.name}}</p>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="label label-danger pull-right" ng-if="championshipDrawsForm.selectsporttype.$invalid && championshipDrawsForm.selectsporttype.$touched">Please Enter Sport</span>
                                    </div>
                                </div>
                                <!-- SPORT END -->
                                <!-- EVENT start -->
                                <div class="form-group">
                                    <div class="display-inline championshipdraw-card-lable">
                                        <label for="">Event</label>
                                    </div>

                                    <div class="display-inline championshipdraw-card-dropdown">
                                        <ui-select name="eventBySport" ng-model="formData.sportslist" theme="bootstrap" ng-change="sportName($select.selected.name);getAgeOrWeightsByEvent($select.selected)"
                                            required>

                                            <ui-select-match placeholder="Select Event">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="sport._id as sport in getAllBySport | filter: $select.search">
                                                <div>
                                                    <p>{{sport.name}}</p>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <!-- <div class="error-msg" ng-if="championshipDrawsForm.eventBySport.$invalid && championshipDrawsForm.eventBySport.$touched">Please Enter Event Type*</div> -->
                                        <span class="label label-danger pull-right" ng-if="championshipDrawsForm.eventBySport.$invalid && championshipDrawsForm.eventBySport.$touched">Please Enter Event</span>
                                    </div>
                                </div>
                                <!-- EVENT end -->
                                <!-- GENDER -->
                                <div class="form-group">
                                    <div class="display-inline championshipdraw-card-lable">
                                        <label for="">Gender</label>
                                    </div>
                                    <div class="display-inline championshipdraw-card-dropdown">
                                        <!-- <ui-select ng-model="item.selected" theme="bootstrap"> -->
                                        <ui-select name="gender" ng-model="formData.gender" theme="bootstrap" required>
                                            <ui-select-match placeholder="Select Gender">{{$select.selected|firstcapitalize}}</ui-select-match>
                                            <ui-select-choices repeat="item in genderList | filter: $select.search">
                                                <div>
                                                    <p>{{item |firstcapitalize}}</p>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="label label-danger pull-right" ng-if="championshipDrawsForm.gender.$invalid && championshipDrawsForm.gender.$touched">Please Enter Gender</span>
                                    </div>
                                </div>
                                <!-- GENDER END -->
                                <!-- AGE GROUP -->
                                <div class="form-group" ng-if="ageGroups.length>0">
                                    <div class="display-inline championshipdraw-card-lable">
                                        <label for="">Age Group</label>
                                    </div>

                                    <div class="display-inline championshipdraw-card-dropdown">
                                        <ui-select name="agegroup" ng-model="formData.ageGroup" theme="bootstrap" required>
                                            <ui-select-match placeholder="Select Age Group">{{$select.selected.ageGroupName}}</ui-select-match>
                                            <ui-select-choices repeat="age.ageGroupId  as age in ageGroups | filter: $select.search">
                                                <div>
                                                    <p>{{age.ageGroupName}}</p>

                                                </div>

                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="label label-danger pull-right" ng-if="championshipDrawsForm.agegroup.$invalid && championshipDrawsForm.agegroup.$touched">Please Enter Age</span>
                                    </div>

                                </div>
                                <!-- AGE GROUP END -->
                                <!-- EVENT -->
                                <div class="form-group" ng-if="showWeight && allWeights.length>0">
                                    <div class="display-inline championshipdraw-card-lable">
                                        <label for="">Weight</label>
                                    </div>
                                    <div class="display-inline championshipdraw-card-dropdown">
                                        <ui-select name="weight" ng-model="formData.weight" theme="bootstrap" required>
                                            <ui-select-match placeholder="Select Weight">{{$select.selected.weightName}}</ui-select-match>
                                            <ui-select-choices repeat="weight.weightId as weight in allWeights | filter: $select.search">
                                                <div>
                                                    <p>{{weight.weightName}}</p>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="label label-danger pull-right" ng-if="championshipDrawsForm.weight.$invalid && championshipDrawsForm.weight.$touched">Please Enter Age</span>
                                    </div>

                                </div>
                                <!-- EVENT -->
                                <!-- VIEW DRAW BUTTON -->

                                <!---->
                                <div class="championshipdraw-card-lable display-inline">

                                </div>
                                <div class=" championshipdraw-card-dropdown display-inline">

                                    <button class="btn championshipdraw-card-btn" ng-click="viewDraw(formData);" ng-disabled="championshipDrawsForm.$invalid">View Draw</button>
                                </div>
                                <!-- VIEW DRAW BUTTON -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- VIEW DRAW FORM CARD END -->
    <!-- CHAMPIONSHIP SCHEDULE -->
    <!-- <section>
        <div class="championship-schedule championship-schedule-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">

                        <div class="championship-scheduletitle ">
                            <h2 class="text-center text-capitalize d-fjalla-one m-clear">Championship schedule</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
                                <div class="championshipschedule-tableholder tale-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Sport </th>
                                                <th>Dates</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="schedule in schedulelist track by $index">
                                                <td>
                                                    <div class="schedulesport-name">
                                                        {{schedule.sport}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="schedulesport-dates">
                                                        <span ng-if="schedule.sport!='Athletics' && schedule.sport!='Hockey'">  {{schedule.date1}} <sup>th</sup> <span>-</span>{{schedule.date2}}<sup>th</sup>{{schedule.month}}
                                                        </span>
                                                        <span ng-if="schedule.sport=='Athletics' || schedule.sport=='Hockey'">TBA</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="championshipschedule-tableholder tale-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Sport </th>
                                                <th>Dates</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="schedule in schedulelist2 track by $index">
                                                <td>
                                                    <div class="schedulesport-name">
                                                        {{schedule.sport}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="schedulesport-dates">
                                                        <span ng-if="schedule.sport == ''" style="opacity:0;">dummy</span>
                                                        <span ng-if="schedule.sport!='Water Polo' && schedule.sport != ''">  {{schedule.date1}} <sup>th</sup> <span>-</span>{{schedule.date2}}<sup>th</sup>{{schedule.month}}
                                                        </span>
                                                        <span ng-if="schedule.sport=='Water Polo' ">{{schedule.date}} <sup>th</sup> {{schedule.month}}  </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="championship-schedule-tablefooter">
                            <p class="m-clear">
                                *SFA shall keep you informed in-case there is any change of dates.
                            </p>
                            <p class="m-clear">*Football qualifiers will be held in November. Dates will be announced soon.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="">
        <div class="championship-schedule championship-schedule-line mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">

                        <div class="championship-scheduletitle ">
                            <h2 class="text-center text-capitalize d-fjalla-one m-clear">Championship schedule</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
                                <div class="championshipschedule-tableholder table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Sport </th>
                                                <th>Dates</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="schedule in schedulelist track by $index">
                                                <td>
                                                    <div class="schedulesport-name">
                                                        {{schedule.sport}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="schedulesport-dates">
                                                        <span ng-if="schedule.date1 && schedule.date2"> {{schedule.date1}}
                                                            <sup ng-if="schedule.date1 != '2' && schedule.date1 != '22'">th</sup>
                                                            <sup ng-if="schedule.date1 == '2' || schedule.date1 == '22'">nd</sup>
                                                            <span>-</span> {{schedule.date2}}
                                                            <sup ng-if="schedule.date2 != '2' && schedule.date2 != '22'">th</sup>
                                                            <sup ng-if="schedule.date2 == '2' || schedule.date2 == '22'">nd</sup> {{schedule.month}}
                                                        </span>
                                                        <span ng-if="schedule.date">{{schedule.date}}
                                                            <sup>th</sup> {{schedule.month}} </span>
                                                        <span ng-if="!schedule.date && !schedule.date1 && !schedule.date2">TBA</span>
                                                    </div>
                                                    <div class="championsschdule-pdfbutton" ng-if="schedule.live">
                                                        <a ui-sref="results">
                                                            <span class="champions-viewdraws">
                                                                View Results
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="championsschdule-pdfbutton" ng-if="schedule.liveResult">
                                                        <a href="{{schedule.liveResult}}" target="_blank">
                                                            <span class="champions-viewdraws">
                                                                View Result Day 1
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="championsschdule-pdfbutton" ng-if="schedule.link && !schedule.live">
                                                        <a href="{{schedule.link}}" target="_blank">
                                                            <span class="champions-viewdraws">
                                                                View Draws-Schedule
                                                            </span>
                                                            <span class="pdf-champions">
                                                                <i class="fa fa-file-pdf-o"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="championsschdule-pdfbutton" ng-if="schedule.detail">
                                                        <span class="champions-viewdraw">
                                                            Will be published by {{schedule.detail}}
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="championshipschedule-tableholder tale-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Sport </th>
                                                <th>Dates</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="schedule in schedulelist2 track by $index">
                                                <td>
                                                    <div class="schedulesport-name">
                                                        {{schedule.sport}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="schedulesport-dates">
                                                        <span ng-if="schedule.sport == ''" style="opacity:0;">dummy</span>
                                                        <span ng-if="schedule.date1 && schedule.date2"> {{schedule.date1}}
                                                            <sup ng-if="schedule.date1 != '2' && schedule.date1 != '22'">th</sup>
                                                            <sup ng-if="schedule.date1 == '2' || schedule.date1 == '22'">nd</sup>
                                                            <span>-</span> {{schedule.date2}}
                                                            <sup ng-if="schedule.date2 != '2' && schedule.date2 != '22'">th</sup>
                                                            <sup ng-if="schedule.date2 == '2' || schedule.date2 == '22'">nd</sup> {{schedule.month}}
                                                        </span>
                                                        <span ng-if="schedule.date">{{schedule.date}}
                                                            <sup>th</sup> {{schedule.month}} </span>
                                                    </div>
                                                    <div class="championsschdule-pdfbutton" ng-if="schedule.live">
                                                        <a ui-sref="results">
                                                            <span class="champions-viewdraws">
                                                                View Results
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="championsschdule-pdfbutton" ng-if="schedule.link && !schedule.live">
                                                        <a href="{{schedule.link}}" target="_blank">
                                                            <span class="champions-viewdraws">
                                                                View Draws-Schedule
                                                            </span>
                                                            <span class="pdf-champions">
                                                                <i class="fa fa-file-pdf-o"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="championsschdule-pdfbutton" ng-if="schedule.detail">
                                                        <span class="champions-viewdraw">
                                                            Will be published by {{schedule.detail}}
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-11 col-sm-12 col-xs-12">
                                <div class="">
                                    <p class="m-clear">
                                        *SFA shall keep you informed in-case there is any change of dates.
                                    </p>
                                    <p class="m-clear" ng-if="isCollege == false && sfaCity == 'Mumbai'">*Football qualifiers will be held in November. Dates will be announced soon.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CHAMPIONSHIP SCHEDULE END -->
</div>