<div class="heat-rounds">
  <div class="container">
    <!--SPORT NAME-->
    <div class="heat-sportname text-center">
      <h3 class="d-fjalla-one text-uppercase sport-type-head">
        <span>athletics</span> |
        <span>girls</span> |
        <span> U-14</span>
      </h3>
      <div class="draws-downloadpdf draws-a">
        <a href="#">Download the schedule in pdf format</a>
      </div>
    </div>
    <!--END SPORT NAME-->

    <!--EVENT NAME-->
    <div class="heat-eventname text-center">
      <h3 class="d-fjalla-one sport-color-primary">100m.</h3>
    </div>
    <!--END EVENT NAME-->

    <!--OUTER HOLDER DIV-->
    <div class="heats-finalrounds-holder">
      <div class="">
        <!--FINAL HEAD-->
        <div class="heats-finalhead">
          <h3 class="d-fjalla-one sport-color-primary m-clear text-uppercase">final</h3>
          <p class="sport-color-primary"><span>17th August,</span>
            <span>2017</span> |
            <span>10.30am</span></p>
        </div>
        <!--END FINAL HEAD-->
        <!--FINAL TABLE-->
        <div class="heats-final-table table-responsive q-orange-table">
          <table class="table-draws-schedule table-six">
            <thead>
              <tr>
                <th>
                  <div>
                    <h4 class="m-clear">lane no</h4>
                  </div>
                </th>
                <th>
                  <div>
                    <h4 class="m-clear">name</h4>
                  </div>
                </th>
                <th>
                  <div>
                    <h4 class="m-clear">school</h4>
                  </div>
                </th>
                <th>
                  <div>
                    <h4 class="m-clear">standings</h4>
                  </div>
                </th>
                <th>
                  <div>
                    <h4 class="m-clear">time</h4>
                  </div>
                </th>
                <th>
                  <div>
                    <a href="">
                        <img src="img/sf-play.png" alt="">
                      </a>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="final in heatsTable | limitTo:3 track by $index">
                <td>
                  <div class="text-capitalize">
                    {{$index+1}}
                  </div>
                </td>
                <td>
                  <div class="text-capitalize">
                    {{final.name}}
                  </div>
                </td>
                <td>
                  <div class="text-capitalize">
                    {{final.schoolname}}
                  </div>
                </td>
                <td>
                  <div class="text-capitalize">
                    {{$index+1}}
                  </div>
                </td>
                <td>
                  <div class="text-capitalize">
                    {{final.time}}
                  </div>
                </td>
                <td>
                  <div class="text-capitalize"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="heats-viewmore text-right ">
            <button class="btn sport-btn-blue-outline text-uppercase">View More</button>
          </div>
        </div>
        <!--END FINAL TABLE-->
      </div>
      <div class="heats-semiqualifying-holder" ng-repeat="semi in semiTable track by $index">
        <!-- HEAD-->
        <div class="heats-semifinalhead">
          <h3 class="d-fjalla-one text-uppercase sport-color-primary m-clear">{{semi.round}}</h3>
          <p class="sport-color-primary"><span>17th August,</span>
            <span>2017</span> |
            <span>10.30am</span></p>
        </div>
        <!--END HEAD-->

        <!-- ACCORDIAN-->
        <div class="time-trial-accordian heat-trial-accordian">
          <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-default" is-open="s.open" ng-repeat="saccordian in semi.tablecontent  track by $index">
              <uib-accordion-heading class="clearfix">
                <!--<a href="" class="text-right"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>-->
                <a href="">
                  <h4 class="d-fjalla-one text-uppercase sport-color-primary m-clear">Heat {{$index+1}}</h4>
                </a>

                <!--<a href=""> <i class="fa " ng-class="{'fa-chevron-up': s.open, 'fa-chevron-down': !s.open}"></i></a>-->
              </uib-accordion-heading>
              <div class="time-trial-accordioncontent heat-trial-accordiancontent">
                <div class="accordian-timetrial-table q-blue-table">
                  <table class="table-draws-schedule table-five">
                    <thead>
                      <tr>
                        <th>
                          <div class="">
                            <h4 class="m-clear">lane no</h4>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <h4 class="m-clear">name</h4>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <h4 class="m-clear">school</h4>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <h4 class="m-clear">result</h4>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <h4 class="m-clear">time</h4>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="semifinal in heatsTable track by $index">
                        <td>
                          <div class="text-capitalize">
                            {{$index+1}}
                          </div>
                        </td>
                        <td>
                          <div class="text-capitalize">
                            {{saccordian.name}}
                          </div>
                        </td>
                        <td>
                          <div class="text-capitalize">
                            {{saccordian.schoolname}}
                          </div>
                        </td>
                        <td>
                          <div class="text-capitalize">
                            {{saccordian.result}}
                          </div>
                        </td>
                        <td>
                          <div class="text-capitalize">
                            {{saccordian.time}}
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>


            </div>
          </uib-accordion>
        </div>
        <!--END  ACCORDIAN-->



        <div class="heats-viewmore text-right " ng-if="semi.round==='Qualifying'">
          <button class="btn sport-btn-blue-outline text-uppercase">View More</button>
        </div>

      </div>

    </div>
    <!--OUTER HOLDER DIV END-->
  </div>
</div>