<div class="knockout-round">
  <div class="container">
    <!--SPORT NAME-->
    <div class="knockout-sportname text-center">
      <h3 class="d-fjalla-one text-uppercase sport-type-head"><span>{{roundsList[0].match[0].sport.sportslist.sportsListSubCategory.name}}</span> |
        <span>{{roundsList[0].match[0].sport.gender}}</span> |
        <span>{{roundsList[0].match[0].sport.ageGroup.name}}</span> <span ng-if="roundsList[0].match[0].sport.weight">| {{roundsList[0].match[0].sport.weight.name}}</span></h3>
      <div class="draws-downloadpdf draws-a">
        <a href="{{trustedURL}}" target="_new" ng-if="showPdf">Download the schedule in pdf format</a>
      </div>
    </div>
    <!--END SPORT NAME-->

    <!--SWIPER BUTTON DIV-->

    <div class="knockout-eventtype singles text-center">
      <!--EVENT TYPE-->
      <h3 class="d-fjalla-one text-uppercase sport-color-primary">
        {{roundsList[0].match[0].sport.sportslist.name}}
      </h3>
      <!--EVENT TYPE END-->
    </div>
    <!--SWIPER-->
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="knockout-swiper-holder">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" ng-repeat="roundName in roundsListName track by $index">
                <div class="knockout-viewmore" ng-click="getSportSpecificRounds(roundName)">
                  <button class="btn sport-btn-blue-outline">{{roundName}}</button>
                </div>
              </div>
            </div>
            <!-- Add Arrows -->
          </div>
          <div class="swiper-button-next"><span class="fa fa-chevron-right"></div>
          <div class="swiper-button-prev"><span class="fa fa-chevron-left"></div>
        </div>
      </div>
    </div>

    <!--SWIPER-->
    <!--SWIPER BUTTON DIV END-->


    <!--OUTER DIV -->
    <div class="knockout-schedulecardsholder">
      <!--ROUNDS HEAD-->
      <!-- <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="round in roundsListName |limitTo:3 track by $index">
          <div class="text-center text-uppercase">
            <h3 class="sport-success d-fjalla-one">{{round}}
            </h3>
          </div>
        </div>
      </div> -->
      <!--ROUNDS HEAD END-->
      <div class="row">
        <!--ROUND 1-->
        <div class="col-md-3 col-sm-6 col-xs-12">

              <div>
             <h3 class="sport-success d-fjalla-one text-center text-uppercase">{{roundsList[0].name}}
            </h3>
          <div class="knockout-cardholder" ng-repeat="card in roundsList[0].match track by $index">
            <div class="knockout-card"  ng-if="card.opponentsSingle.length>0" ng-repeat="player in card.opponentsSingle track by $index" ng-class="{'knockout-winnercard':player.isWinner===true}">
              <div class="knockout-cardimage display-inline ver-mid" >
                <img ng-src="{{player.athleteId.photograph|serverimage2:50:50:'cover'}}" alt="{{player.athleteId.fullName}}" class="img-responsive">
              </div>

              <div class="display-inline knockout-cardplayername ver-mid">
                <p class="m-clear knockout-winner-name d-opensans-regular" title="{{player.athleteId.fullName}}">{{player.athleteId.fullName | truncate:'15'}}</p>
                <p class="m-clear knockout-winner-school" title="{{player.athleteId.school.name}}">{{player.athleteId.school.name | truncate:'20'}}</p>
              </div>
            </div>

            <div ng-if="card.opponentsSingle.length===0">
              <div class="knockout-card" style="height:63px">
               </div>
              <div class=""  style="height:63px">

               </div>
            </div>

            <div class="knockout-card-content" ng-class="{'knockout-winner-card-content':card.isWinner===true || card.isNoMatch === true , 'knockout-live-foot': card.status === 'IsLive'}">

              <p class="m-clear scheduledata-knockout" ng-if="!card.status || card.status==='' || card.status === 'IsPending'">

               <span>Date: {{card.scheduleDate|englishNumeralDate}}</span> <span class="pull-right">{{card.scheduleTime}} </span>
            </p>
            <p class="m-clear " ng-if="card.reason ==='Bye'">
              <span class="custom-knockout-color">Bye</span>
            </p>
            <p class="m-clear " ng-if="card.walkover">
              <span class="custom-knockout-color">Walkover</span>
            </p>
            <p class="m-clear " ng-if="card.isNoMatch">
              <span class="custom-knockout-color">No Match</span>
            </p>
            <div ng-if="!card.walkover">
              <p class="m-clear knockout-live-text pull-right" ng-if="card.status==='IsLive'">
                <span class="knockout-dot-live"><i class="fa fa-circle"></i></span> <span>Live</span>
              </p>
              <div ng-if="card.status==='IsCompleted'">
                <div class="knockout-videoholder" ng-if="card.video">
                  <a href="">
                 <img src="img/sf-play.png" alt="play" class="img-responsive">
                 </a>
                </div>
                <p class="m-clear pointer" ng-if="!card.resultsCombat && card.reason!=='Bye' && !card.isNoMatch" ng-click="matchCenter(card)">
                  <span class="custom-knockout-color">Match Center</span>
                </p>
                <p class="m-clear" ng-if="card.resultsCombat && card.opponentsSingle.length>1">
                  <span class="pull-right combatreasonresult" ng-if="card.reason && card.reason!=='undefined' && roundsList[0].match[0].sport.sportslist.name === 'Boxing'">Reason:{{card.reason}}</span>
                  <span ng-if="!card.isNoMatch && roundsList[0].match[0].sport.sportslist.name!=='Kata'"><span class="combatscoreresult" ng-repeat="score in card.resultsCombat.players track by $index">{{score.sets[0].point}} </span></span>
                  <span ng-if="!card.isNoMatch && roundsList[0].match[0].sport.sportslist.name=='Kata'"><span class="combatscoreresultforkata">3/4</span></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END ROUND 1-->

    <!--ROUND 2-->
    <div class="col-md-3 col-sm-6 col-xs-12 hidden-xs">
      <h3 class="sport-success d-fjalla-one text-center text-uppercase"> {{roundsList[1].name}} </h3>
      <div class="knockout-cardholder-round2 relate" ng-repeat="card in roundsList[1].match track by $index">
        <div class="get-center knockout-round-width">
          <div class=" knockout-cardholder">
            <div class="knockout-card " ng-if="card.opponentsSingle.length>0" ng-repeat="player in card.opponentsSingle track by $index "
              ng-class="{'knockout-winnercard':player.isWinner===true}">
              <div class="knockout-cardimage display-inline ver-mid ">
                <img ng-src="{{player.athleteId.photograph|serverimage2:50:50:'cover'}}" alt="{{player.athleteId.fullName}}" class="img-responsive ">
              </div>
              <div class="display-inline knockout-cardplayername ver-mid ">
                <p class="m-clear knockout-winner-name " title="{{player.athleteId.fullName}}">{{player.athleteId.fullName | truncate:'15'}}</p>
                <p class="m-clear knockout-winner-school" title="{{player.athleteId.school.name}}">{{player.athleteId.school.name | truncate:'20'}}</p>
              </div>
            </div>

            <div ng-if="card.opponentsSingle.length===0">
              <div class="knockout-card" style="height:63px">

              </div>
              <div class="" style="height:63px">

              </div>
            </div>
            <div class="knockout-card-content" ng-class="{'knockout-winner-card-content':card.isWinner===true || card.isNoMatch === true ,'knockout-live-foot': card.status === 'IsLive'}">
              <p class="m-clear scheduledata-knockout" ng-if="!card.status || card.status==='' || card.status === 'IsPending'">
                <span>Date: {{card.scheduleDate|englishNumeralDate}}</span> <span class="pull-right">  {{card.scheduleTime}} </span>
              </p>
              <p class="m-clear" ng-if="card.reason ==='Bye'">
                <span class="custom-knockout-color">Bye</span>
              </p>
              <p class="m-clear " ng-if="card.walkover">
                <span class="custom-knockout-color">Walkover</span>
              </p>
              <p class="m-clear " ng-if="card.isNoMatch">
                <span class="custom-knockout-color">No Match</span>
              </p>
              <div ng-if="!card.walkover">
                <p class="m-clear knockout-live-text pull-right" ng-if="card.status==='IsLive'">
                  <span class="knockout-dot-live"><i class="fa fa-circle"></i></span> <span>Live</span>
                </p>
                <div ng-if="card.status==='IsCompleted'">
                  <div class="knockout-videoholder" ng-if="card.video">
                    <a href="">
                   <img src="img/sf-play.png" alt="play" class="img-responsive">
                   </a>
                  </div>
                  <p class="m-clear pointer" ng-if="!card.resultsCombat && card.reason!=='Bye' && !card.isNoMatch  && roundsList[0].match[0].sport.sportslist.name!=='Kata'"
                    ng-click="matchCenter(card) ">
                    <span class="custom-knockout-color ">Match Center</span>
                  </p>
                  <p class="m-clear " ng-if="card.resultsCombat && card.opponentsSingle.length>1">
                    <span class="pull-right combatreasonresult" ng-if="card.reason && card.reason!=='undefined' && roundsList[0].match[0].sport.sportslist.name === 'Boxing' && card.reason!=='Bye'">Reason:{{card.reason}}</span>
                    <span ng-if="!card.isNoMatch && card.reason!=='Bye'  && roundsList[0].match[0].sport.sportslist.name!=='Kata'"><span class="combatscoreresult" ng-repeat="score in card.resultsCombat.players track by $index">{{score.sets[0].point}} </span></span>
                    <span ng-if="!card.isNoMatch && roundsList[0].match[0].sport.sportslist.name=='Kata'"><span class="combatscoreresultforkata">3/4</span></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END ROUND 2-->

    <!--ROUND 3-->
    <div class="col-md-3 col-sm-4 col-xs-12 hidden-sm hidden-xs">
      <h3 class="sport-success d-fjalla-one text-center text-uppercase"> {{roundsList[2].name}} </h3>
      <div class="knockout-cardholder-round3 relate" ng-repeat="card in roundsList[2].match track by $index">
        <div class="get-center knockout-round-width">
          <div class=" knockout-cardholder">
            <div class="knockout-card " ng-class="{'knockout-winnercard':player.isWinner===true}" ng-repeat="player in card.opponentsSingle track by $index"
              ng-if="card.opponentsSingle.length>0">
              <div class="knockout-cardimage display-inline ver-mid ">
                <img ng-src="{{player.athleteId.photograph|serverimage2:50:50:'cover'}}" alt="{{player.athleteId.fullName}}" class="img-responsive ">
              </div>
              <div class="display-inline knockout-cardplayername ver-mid ">
                <p class="m-clear knockout-winner-name " title="{{player.athleteId.fullName}}">{{player.athleteId.fullName | truncate:'15'}}</p>
                <p class="m-clear knockout-winner-school" title="{{player.athleteId.school.name}}">{{player.athleteId.school.name | truncate:'20'}}</p>
              </div>
            </div>

            <div ng-if="card.opponentsSingle.length===0">
              <div class="knockout-card" style="height:63px">

              </div>
              <div class="" style="height:63px">

              </div>
            </div>
            <div class="knockout-card-content" ng-class="{'knockout-winner-card-content':card.isWinner===true || card.isNoMatch === true,'knockout-live-foot': card.status === 'IsLive'}">

              <p class="m-clear scheduledata-knockout" ng-if="!card.status || card.status==='' || card.status === 'IsPending'">
                <span>Date: {{card.scheduleDate|englishNumeralDate}}</span> <span class="pull-right">  {{card.scheduleTime}} </span>
              </p>
              <p class="m-clear" ng-if="card.reason === 'Bye'">
                <span class="custom-knockout-color">Bye</span>
              </p>
              <p class="m-clear" ng-if="card.walkover">
                <span class="custom-knockout-color">Walkover</span>
              </p>
              <p class="m-clear " ng-if="card.isNoMatch">
                <span class="custom-knockout-color">No Match</span>
              </p>
              <div ng-if="!card.walkover">
                <p class="m-clear knockout-live-text pull-right" ng-if="card.status==='IsLive'">
                  <span class="knockout-dot-live"><i class="fa fa-circle"></i></span> <span>Live</span>
                </p>
                <div ng-if="card.status==='IsCompleted'">
                  <div class="knockout-videoholder" ng-if="card.video">
                    <a href="">
                    <img src="img/sf-play.png" alt="play" class="img-responsive">
                    </a>
                  </div>
                  <p class="m-clear pointer" ng-if="!card.resultsCombat && card.reason!=='Bye' && !card.isNoMatch  && roundsList[0].match[0].sport.sportslist.name!=='Kata'"
                    ng-click="matchCenter(card)">
                    <span class="custom-knockout-color">Match Center</span>
                  </p>
                  <p class="m-clear" ng-if="card.resultsCombat && card.opponentsSingle.length>1">
                    <span class="pull-right combatreasonresult" ng-if="card.reason && card.reason!=='undefined' && roundsList[0].match[0].sport.sportslist.name === 'Boxing' && card.reason!=='Bye' ">Reason:{{card.reason}}</span>
                    <span ng-if="!card.isNoMatch && card.reason!=='Bye'  && roundsList[0].match[0].sport.sportslist.name!=='Kata'"><span class="combatscoreresult" ng-repeat="score in card.resultsCombat.players track by $index">{{score.sets[0].point}} </span></span>
                    <span ng-if="!card.isNoMatch && roundsList[0].match[0].sport.sportslist.name=='Kata'"><span class="combatscoreresultforkata">3/4</span></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--ROUND 3-->

    <!--WINNERS-->
    <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs hidden-sm">
      <div class="knockout-winnercardholder" ng-repeat="winner in winnerCard | orderBy:'rank' track by $index">
        <div class="display-inline knockout-winnercardname">
          <div class="knockout-winnercardimgage display-inline">
            <img ng-src="{{winner.profile | serverimage2:50:50:'cover'}}" alt="image" class="img-responsive">
          </div>
          <div class="knockout-winnercardplayername display-inline">
            <p class="m-clear d-opensans-regular winner-knockout-player ">{{winner.name}}</p>
            <p class="m-clear d-opensans-regular winner-knockout-school ">{{winner.school | truncate:25}}</p>
          </div>
        </div>
        <div class="display-inline knockout-winnermedalholder">
          <img ng-src="/img/medal-icon/{{winner.medaltype}}-blue.png" alt="" class="img-responsive">
        </div>
      </div>
    </div>

    <!--END WINNERS-->
  </div>
</div>
<!--END OUTER DIV-->
</div>
</div>