<div class="league-knockout-round">
  <div class="container">
    <!--SPORT NAME-->
    <div class="league-knockout-sportname text-center">
      <h3 class="text-uppercase d-fjalla-one sport-type-head">
        <span ng-bind-html="oneSportDetail.sportslist.name"></span> |
        <span ng-bind-html="oneSportDetail.gender"></span> |
        <span ng-bind-html="oneSportDetail.ageGroup.name"> </span>
      </h3>
      <div class="draws-downloadpdf draws-a" ng-if="showPdf">
        <a href="{{trustedURL}}" target="_new">Download the schedule in pdf format</a>
      </div>
    </div>
    <!--END SPORT NAME-->

    <!--OUTER HOLDER DIV-->
    <div class="league-knockout-outerholder">
      <!--KNOCKOUT HEAD-->
      <div class="league-knockout-knockouthead">
        <h3 class="d-fjalla-one text-uppercase sport-color-primary">knockout</h3>
      </div>
      <!--END KNOCKOUT HEAD-->

      <!--KNOCKOUT TABLE-->
      <div class="league-knockout-table table-responsive  q-orange-table table-responsive">
        <table class="table-draws-schedule table-five">
          <thead>
            <tr>
              <th>
                <div>
                  <h4 class="m-clear">Round</h4>
                </div>
              </th>
              <th>
                <div>
                  <h4 class="m-clear" ng-if="isTeam">team1</h4>
                  <h4 class="m-clear" ng-if="!isTeam">Player1</h4>
                </div>
              </th>
              <th>
                <div>
                  <h4 class="m-clear" ng-if="isTeam">team2</h4>
                  <h4 class="m-clear" ng-if="!isTeam">player2</h4>
                </div>
              </th>
              <th>
                <div>
                  <h4 class="m-clear">Result</h4>
                </div>
              </th>
              <th hidden>
                <div>
                  <h4 class="m-clear">video</h4>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="data in knockout | limitTo:knockoutLimit track by $index">
              <td>
                <div class="text-capitalize">
                  {{data.round}}
                </div>
              </td>
              <td>
                <div class="text-capitalize" title="{{data.opponentsTeam[0].schoolName}}">
                  <span class="knockout-dot-live v-mid" ng-if="data.opponentsTeam[0].isWinner || data.opponentsSingle[0].isWinner "><i class="fa fa-circle"></i></span>
                  <span>{{data.opponentsTeam[0].teamId | filterConcate : data.opponentsTeam[0].schoolName |  truncate:'30' }}</span>
                  <span ng-if="data.opponentsTeam[0].teamId === undefined && isTeam">TBD</span>
                  <p class="m-clear text-capitalize ">{{data.opponentsSingle[0].fullName | truncate:'30'}} </p>
                  <p class="m-clear text-capitalize ">{{data.opponentsSingle[0].schoolName | truncate:'30'}} </p>
                  <span ng-if="!data.opponentsSingle[0].athleteId && !isTeam">TBD</span>
                </div>
              </td>
              <td>
                <div class="text-capitalize">
                  <span class="knockout-dot-live v-mid" ng-if="data.opponentsTeam[1].isWinner || data.opponentsSingle[1].isWinner "><i class="fa fa-circle"></i></span>
                  <span title="{{data.opponentsTeam[1].schoolName}}">{{data.opponentsTeam[1].teamId | filterConcate : data.opponentsTeam[1].schoolName |  truncate:'30' }}</span>
                  <span ng-if="data.opponentsTeam[1].teamId === undefined && isTeam">TBD</span>
                  <p class="m-clear text-capitalize ">{{data.opponentsSingle[1].fullName | truncate:'30'}} </p>
                  <p class="m-clear text-capitalize ">{{data.opponentsSingle[1].schoolName | truncate:'30'}} </p>
                  <span ng-if="!data.opponentsSingle[1].athleteId && !isTeam">TBD</span>
                </div>
              </td>
              <td>
                <div class="text-capitalize">
                  <div ng-if="data.status === 'Pending' || !data.status"> <span class="display-block">{{data.scheduleDate |englishNumeralDateOne}}</span>
                    <span>{{data.scheduleTime}}</span>
                  </div>
                  <span ng-if="data.status === 'IsLive'" class="text-uppercase knockout-live-text">
                      <span class="knockout-dot-live v-mid"><i class="fa fa-circle"></i></span>
                  <span class="v-mid">Live</span>
                  </span>
                  <span class="display-block" ng-if="data.status === 'IsCompleted' && data.walkover">Won by walkover</span>
                  <span class="display-block" ng-if="data.status === 'IsCompleted' && data.isNoMatch">No match</span>
                  <a class="display-block" ng-if="data.status === 'IsCompleted' && !data.isNoMatch && !data.walkover" ng-click="matchCenter(data)">Match Center</a>
                </div>
              </td>
              <td hidden>
                <div class="text-capitalize">
                  <a href="">
                        <img src="img/sf-play.png" alt="">
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="league-knockout-viewmore text-right" ng-click="showMoreData(true,'knockout');" ng-if="!showKnockout && knockout.length>8">
          <button class="btn sport-btn-blue-outline text-uppercase">View More</button>
        </div>
        <div class="league-knockout-viewmore text-right" ng-click="showMoreData(false,'knockout');" ng-if="showKnockout">
          <button class="btn sport-btn-blue-outline text-uppercase">View Less</button>
        </div>
      </div>
      <!--END KNOCKOUT TABLE-->


      <!--POINTS TABLE-->
      <div class="league-knockout-pointstable" ng-if="tablePoint.length>0">
        <!--HEAD-->
        <div class="league-knockout-pointshead">
          <h3 class="d-fjalla-one text-uppercase sport-color-primary">points table</h3>
        </div>
        <!--END HEAD-->

        <!--ACCORDIAN POINTS -->
        <div class="time-trial-accordian league-knockout-pointsaccordian">
          <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-default" is-open="points.open" ng-repeat="pool in tablePoint |limitTo :pointsLimit  track by $index"
              ng-init="limitValue=2">
              <uib-accordion-heading class="clearfix">
                <!--<a href="" class="text-right"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>-->
                <a href="">
                  <h4 class="d-fjalla-one text-uppercase  text-center sport-color-primary m-clear">{{pool.name}}</h4>
                </a>
                <!--<a href=""> <i class="fa " ng-class="{'fa-chevron-up': s.open, 'fa-chevron-down': !s.open}"></i></a>-->
              </uib-accordion-heading>
              <!--TIME TABLE-->
              <div class="time-trial-accordioncontent heat-trial-accordiancontent">
                <div class="accordian-timetrial-table q-blue-table table-responsive">
                  <table class="table-draws-schedule table-seven">
                    <thead>
                      <tr>
                        <th>
                          <div class="">
                            <h4 class="m-clear">Position</h4>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <h4 class="m-clear">Team</h4>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <h4 class="m-clear">Matches</h4>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <h4 class="m-clear">Won</h4>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <h4 class="m-clear">lost</h4>
                          </div>
                        </th>
                        <th>
                          <div>
                            <h4 class="m-clear">Draw</h4>
                          </div>
                        </th>
                        <th>
                          <div>
                            <h4 class="m-clear">No Show</h4>
                          </div>
                        </th>
                        <th>
                          <div>
                            <h4 class="m-clear">Points</h4>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="content in pool.points | orderBy :'-points' track by $index">
                        <td>
                          <div class="text-capitalize">
                            {{$index+1}}
                          </div>
                        </td>
                        <td>
                          <div class="text-capitalize">
                            {{content.teamid | filterConcate : content.schoolName | truncate:40}}
                          </div>
                        </td>
                        <td>
                          <div class="text-capitalize">
                            {{content.matchCount}}
                          </div>
                        </td>
                        <td>
                          <div class="text-capitalize">
                            {{content.win}}
                          </div>
                        </td>
                        <td>
                          <div class="text-capitalize">
                            {{content.loss}}
                          </div>
                        </td>
                        <td>
                          <div class="text-capitalize">
                            {{content.draw}}
                          </div>
                        </td>
                        <td>
                          <div class="text-capitalize">
                            <span> {{content.noShow}}</span>

                          </div>
                        </td>
                        <td>
                          <div class="text-capitalize">
                            {{content.points}}
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--END TIME TABLE-->
            </div>
          </uib-accordion>
          <!--VIEW BUTTON TIME TRIAL-->
          <div class="league-knockout-pointsviewmore text-right " ng-click="showMorePoints(true)" ng-if="!showPoints && tablePoint.length>3">
            <button class="btn sport-btn-blue-outline text-uppercase">View More</button>
          </div>
          <div class="league-knockout-pointsviewmore text-right " ng-click="showMorePoints(false)" ng-if="showPoints">
            <button class="btn sport-btn-blue-outline text-uppercase">View Less</button>
          </div>
          <!--END VIEW BUTTON FOR TIME TRIAL-->
        </div>
        <!--END ACCORDIAN POINTS-->

      </div>
      <!--END POINTS TABLE-->


      <!--MATCH DETAIL TABLE-->
      <div class="league-knockout-matchestable">
        <!--HEAD-->
        <div class="league-knockout-matchhead">
          <h3 class="d-fjalla-one text-uppercase sport-color-primary">
            Matches
          </h3>
        </div>
        <!--END HEAD-->

        <!--ACCORDIAN MATCH-->
        <div class="time-trial-accordian league-knockout-matchaccordian">
          <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-default" is-open="points.open" ng-repeat="points in matches |limitTo:limitValue track by $index">
              <uib-accordion-heading class="clearfix">
                <!--<a href="" class="text-right"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>-->
                <a href="">
                  <h4 class="d-fjalla-one text-uppercase  text-center sport-color-primary m-clear">{{points.name}}</h4>
                </a>
                <!--<a href=""> <i class="fa " ng-class="{'fa-chevron-up': s.open, 'fa-chevron-down': !s.open}"></i></a>-->
              </uib-accordion-heading>
              <!--MATCHES TABLE-->
              <div class="time-trial-accordioncontent league-knockout-accordiancontent">
                <div class="accordian-timetrial-table q-blue-table table-responsive">
                  <table class="table-draws-schedule table-seven">
                    <thead>
                      <tr>
                        <th>
                          <div class="">
                            <h4 class="m-clear">Match no</h4>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <h4 class="m-clear" ng-if="isTeam">Team A</h4>
                            <h4 class="m-clear" ng-if="!isTeam">Player A</h4>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <h4 class="m-clear" ng-if="isTeam">Team B</h4>
                            <h4 class="m-clear" ng-if="!isTeam">Player B</h4>
                          </div>
                        </th>
                        <th>
                          <div class="">
                            <h4 class="m-clear">Result</h4>
                          </div>
                        </th>
                        <th hidden>
                          <div class="">
                            <h4 class="m-clear">Video</h4>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="content in points.match track by $index">
                        <td>
                          <div class="text-capitalize">
                            {{$index+1}}
                          </div>
                        </td>
                        <td>
                          <div class="text-capitalize">
                            <span class="knockout-dot-live v-mid" ng-if="content.opponentsTeam[0].isWinner === true || content.opponentsSingle[0].isWinner === true"><i class="fa fa-circle"></i></span>
                            <span>{{content.opponentsTeam[0].teamId | filterConcate : content.opponentsTeam[0].schoolName | truncate:'30'}} </span>
                            <span ng-if="content.opponentsTeam[0].teamId === undefined && isTeam">-</span>
                            <p class="m-clear text-capitalize ">{{content.opponentsSingle[0].fullName | truncate:'30'}} </p>
                            <p class="m-clear text-capitalize ">{{content.opponentsSingle[0].schoolName | truncate:'30'}} </p>

                            <span ng-if="!content.opponentsSingle[0].athleteId && !isTeam">-</span>
                          </div>
                        </td>
                        <td>
                          <div class="text-capitalize">
                            <span class="knockout-dot-live v-mid" ng-if="content.opponentsTeam[1].isWinner === true || content.opponentsSingle[1].isWinner === true"><i class="fa fa-circle"></i></span>
                            <span>{{content.opponentsTeam[1].teamId | filterConcate : content.opponentsTeam[1].schoolName | truncate:'30'}} </span>
                            <span ng-if="content.opponentsTeam[1].teamId === undefined && isTeam">-</span>
                            <p class="m-clear text-capitalize ">{{content.opponentsSingle[1].fullName | truncate:'30'}} </p>
                            <p class="m-clear text-capitalize ">{{content.opponentsSingle[1].schoolName | truncate:'30'}} </p>

                            <span ng-if="!content.opponentsSingle[1].athleteId && !isTeam">-</span>
                          </div>
                        </td>
                        <td>
                          <!-- <div class="text-capitalize" ng-if="content.opponentsTeam[0].finalPoint && content.opponentsTeam[1].finalPoint">
                            <span>{{content.opponentsTeam[0].finalPoint | filterConcate : content.opponentsTeam[1].finalPoint}} </span>
                          </div> -->
                          <div class="text-capitalize">
                            <div ng-if="content.status === 'Pending'||!content.status ">
                              <span class="display-block">{{content.scheduleDate |englishNumeralDateOne}}</span>
                              <span>{{content.scheduleTime}}</span>
                            </div>
                            <span ng-if="content.status === 'IsLive'" class="text-uppercase knockout-live-text">
                            <span class="knockout-dot-live v-mid"><i class="fa fa-circle"></i></span>
                            <span class="v-mid">Live</span>
                            </span>
                            <span class="display-block" ng-if="content.status === 'IsCompleted' && content.walkover">Won by walkover</span>
                            <span class="display-block" ng-if="content.status === 'IsCompleted' && content.isNoMatch">No Match</span>
                            <a class="display-block" ng-if="content.status === 'IsCompleted' && !content.isNoMatch && !content.walkover" ng-click="matchCenter(content)">Match Center</a>
                          </div>
                        </td>
                        <td hidden>
                          <div class="text-capitalize ">
                            <a href=" ">
                        <img src="img/sf-play.png " alt=" ">
                      </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--MATCHES TABLE END-->
            </div>
          </uib-accordion>
          <div class="league-knockout-viewmore text-right " ng-click="showMoreData(true, 'match'); " ng-if="!showMatch
                              && matches.length>8">
            <button class="btn sport-btn-blue-outline text-uppercase">View More</button>
          </div>
          <div class="league-knockout-viewmore text-right" ng-click="showMoreData(false,'match');" ng-if="showMatch">
            <button class="btn sport-btn-blue-outline text-uppercase">View Less</button>
          </div>
        </div>
        <!--END ACCORDIAN MATCH-->
      </div>
      <!--END MATCH DETAIL TABLE-->


    </div>
    <!--OUTER HOLDER DIV-->

  </div>
</div>