<div class="swiss-league-round">
  <div class="container">
    <!--SPORT NAME  -->
    <div class="swiss-league-sportname text-center">
      <h3 class="d-fjalla-one text-uppercase sport-type-head"> <span>{{roundsList[0].match[0].sport.sportslist.sportsListSubCategory.name}}</span> |
        <span>{{roundsList[0].match[0].sport.gender}}</span> |
        <span>{{roundsList[0].match[0].sport.ageGroup.name}}</span></h3>
      <div class="draws-downloadpdf draws-a" ng-if="showPdf">
        <a href="{{trustedURL}}" target="_new">Download the schedule in pdf format</a>
      </div>
    </div>
    <!--SPORT NAME END  -->

    <!-- OUTER HOLDER DIV  -->
    <div class="swiss-league-holder">
      <!-- FINAL STANDING TABLE -->
      <div class="swiss-league-finaltable q-orange-table" ng-if="swissWinners.length>0">
        <div class="table-responsive">
          <!--SWISS LEAGUE HEAD-->
          <div class="swiss-league-finalhead">
            <h3 class="d-fjalla-one text-uppercase sport-type-head">Final standing</h3>
          </div>
          <!--SWISS LEAGUE HEAD-->

          <table class="table-draws-schedule table-four ">
            <thead>
              <tr>
                <th>
                  <div>
                    <h4 class="m-clear ">Standing</h4>
                  </div>
                </th>
                <th>
                  <div class="text-center ">
                    <h4 class="m-clear ">Name</h4>
                  </div>
                </th>
                <th>
                  <div class="text-center ">
                    <h4 class="m-clear ">School</h4>
                  </div>
                </th>
                <th>
                  <div class="text-center">
                    <h4 class="m-clear ">Points</h4>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="final in swissWinners|orderBy:'rank'| limitTo :swissLimit track by $index ">
                <td>
                  <div class="text-capitalize swissleague-standingholder">
                    <img src="img/medal-icon/{{final.medaltype}}-blue.png" alt="" class="img-responsive">
                  </div>
                </td>
                <td>
                  <div class="text-center ">
                    <p class="m-clear text-capitalize ">{{final.name}}</p>
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    <p class="m-clear text-capitalize ">{{final.school}}</p>
                  </div>
                </td>
                <td>
                  <div>
                    {{final.result}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- VIEW MORE -->
        <div class="swiss-league-viewmore text-right" ng-click=showMoreSwiss(true) ng-if="!showMoreRecords && swissWinners.length>3">
          <button class="btn sport-btn-blue-outline text-uppercase "> View More</button>

        </div>
        <div class="swiss-league-viewmore text-right" ng-click=showMoreSwiss(false) ng-if="showMoreRecords">
          <button class="btn sport-btn-blue-outline text-uppercase ">View Less</button>

        </div>
        <!-- VIEW MORE END -->
      </div>

      <!-- FINAL STANDING TABLE END -->

      <!-- ROUNDS TABLE -->
      <div class="swiss-league-roundtable q-orange-table table-responsive" ng-repeat="data in roundsList">
        <div class="table-responsive">
          <!--SWISS LEAGUE HEAD-->
          <div class="swiss-league-finalhead">
            <h3 class="d-fjalla-one text-uppercase sport-color-primary ">{{data.name}}</h3>
          </div>
          <!--SWISS LEAGUE HEAD-->
          <table class="table-draws-schedule table-six ">
            <thead>
              <tr>
                <th>
                  <div>
                    <h4 class="m-clear ">Standing</h4>
                  </div>
                </th>
                <th>
                  <div class="text-left ">
                    <h4 class="m-clear ">Name</h4>
                  </div>
                </th>
                <th>
                  <div class="text-center ">
                    <h4 class="m-clear ">Points</h4>
                  </div>
                </th>
                <th>
                  <div class="text-center">
                    <h4 class="m-clear ">Standing</h4>
                  </div>
                </th>
                <th>
                  <div class="text-left">
                    <h4 class="m-clear ">Name</h4>
                  </div>
                </th>
                <th>
                  <div class="text-center">
                    <h4 class="m-clear ">Points</h4>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="round in data.match | limitTo:data.limitVale track by $index ">
                <td>
                  <div class="text-center">

                    <span>{{round.opponentsSingle[0].rank}}</span>
                    <span ng-if="round.opponentsSingle[0].rank == undefined">-</span>
                  </div>
                </td>
                <td>

                  <div class="text-left relate">
                    <p class="m-clear text-capitalize ">
                      <span class="swiss-dot-live" ng-if="round.opponentsSingle[0].isWinner"><i class="fa fa-circle"></i></span>
                      <span> {{round.opponentsSingle[0].athleteId.fullName}}</span>
                    </p>
                    <p class="m-clear text-capitalize ">{{round.opponentsSingle[0].athleteId.school.name}}</p>
                  </div>
                </td>
                <td>
                  <div>
                    <span>{{round.opponentsSingle[0].score}}</span>
                    <span ng-if="round.opponentsSingle[0].score == undefined">-</span>
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    <span>{{round.opponentsSingle[1].rank}}</span>
                    <span ng-if="round.opponentsSingle[1].rank == undefined">-</span>
                  </div>
                </td>
                <td>
                  <div class="text-left relate">
                    <span class="swiss-dot-live" ng-if="round.opponentsSingle[1].isWinner"><i class="fa fa-circle"></i></span>
                    <p class="m-clear text-capitalize ">{{round.opponentsSingle[1].athleteId.fullName}}</p>
                    <p class="m-clear text-capitalize ">{{round.opponentsSingle[1].athleteId.school.name}}</p>
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    <span>{{round.opponentsSingle[1].score}}</span>
                    <span ng-if="round.opponentsSingle[1].score == undefined">-</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- VIEW MORE -->
        <div class="swiss-league-viewmore text-right" ng-if="data.showMore && data.match.length>8" ng-click="showMoreData(true,$index)">
          <button class="btn sport-btn-blue-outline text-uppercase">View More</button>
        </div>
        <div class="swiss-league-viewmore text-right " ng-if="!data.showMore" ng-click="showMoreData(false,$index)">
          <button class="btn sport-btn-blue-outline text-uppercase">View Less</button>
        </div>
        <!-- VIEW MORE END -->
      </div>

      <!-- ROUNDS TABLE END -->
    </div>
    <!-- OUTER HOLDER DIV END  -->
  </div>
</div>