<div class="changedetail-modal">
  <!-- CLOSE -->
  <!-- <div class="modal-close" ng-click="$uibModal.cancel()">
    <img src="img/icon/modal-cancel.png" alt="Close" class="img-responsive">
  </div> -->
  <!-- CLOSE END -->
  <!-- CHANGE REGISTERED -->
  <div class="forgotmodal-input ">
    <div class="forgotmodal-title">To change Registered Email/Mobile</div>
    <ul class="list-unstyled">
      <li>
        <p class="m-clear">Email us at: <a href="mailto:info@sfanow.in">info@sfanow.in</a></p>
      </li>
      <li>
        <p>Call: <a href="tel:0224578542515">022 45785 42515</a> / <a href="tel:0224578544547">022 45785 44547</a></p>
      </li>
    </ul>
  </div>
  <!-- CHANGE REGISTERED END -->
</div>
