<div class="modal-body">
    <div class="">
        <h2 class="Uppercase text-center">Thank you</h2>
        <p class="text-justify">
            you have to pay the registration fee of Rs.
            <span ng-if="isCollege == false && sfaCity == 'Mumbai'">400</span>
            <span ng-if="isCollege == false && sfaCity == 'Hyderabad'">200</span>
            <span ng-if="isCollege == true">200</span> (Inclusive of all applicable taxes) by Cash/Cheque/Demand Draft in
            favour of ‘SFA Sporting Services Pvt Ltd’ which is to be couriered/hand delivered with Athlete Name and Contact
            No to:
            <span ng-if="sfaCity == 'Mumbai'">17A, Raviraj House, 6th Floor, Saraswati Road, Off Linking Road, Santacruz (West) - 400053.</span>
            <span ng-if="sfaCity == 'Hyderabad'">‘SFA Sporting Services Pvt Ltd’,17A, Raviraj House, 6th Floor, Saraswati Road, Off Linking Road, Santacruz (West) - 400053.<br>
                        <span
                            style="font-size:12px">(Head Office:SFA Sporting Services Pvt Ltd.,17A, Raviraj House, 6th Floor, Saraswati Road, Off Linking Road, Santacruz (West) - 400053.)</span>
            </span> within 10 working days.
        </p>
        <div class="text-center">
            <button class="btn btn-primary" ui-sref="register">OK</button>
        </div>
    </div>
</div>