<div class="modal-body">
    <div class="">
        <h2 class="Uppercase text-center">Thank you</h2>
        <p class="text-justify">
            you have to pay the registration fee of Rs.
            <span ng-if="isCollege == false && sfaCity == 'Mumbai'">400</span>
            <span ng-if="isCollege == false && sfaCity == 'Hyderabad'">200</span>
            <span ng-if="isCollege == true">200</span> (Inclusive of all applicable taxes) by Cash/Cheque/Demand Draft in
            favour of ‘SFA Events Private Limited’ which is to be couriered/hand delivered with Athlete Name and Contact
            No to:
            <span ng-if="sfaCity == 'Mumbai'">1306, Panchratna Building, Opera House (Next
                        to Roxy Cinema), Charni Road, Mumbai – 400004</span>
            <span ng-if="sfaCity == 'Hyderabad'">‘SFA Events Private Limited’ C/O Wizcraft International Entertainment Pvt. Ltd., 1st Floor,
                        Advant Delta, Plot No. 4, Kavuri Hills, Phase 1, Jubilee Hills Road, Hyderabad - 500081.<br>
                        <span
                            style="font-size:12px">(Head Office: SFA Events Pvt. Ltd., Panchratna Building, Opera House, Mumbai - 400004)</span>
            </span> within 10 working days.
        </p>
        <div class="text-center">
            <button class="btn btn-primary" ui-sref="register">OK</button>
        </div>
    </div>
</div>