<div class="forgotpassword-modal d-opensans-regular ">
  <div class="forgotmodal-title " ng-if="!hideSec">Forgot Password</div>
  <div class="forgotmodal-content">
    <!-- ENTER SFA ID -->
    <div class="forgotmodal-input " ng-if="!hideSec">
      <label for="">Kindly Enter</label>
      <form name="forgotPassform" ng-submit="sendOtp(forgotPassword)">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="SFA ID" name="sfaId" touppercase ng-model="forgotPassword.sfaId" required>
          <div class="input-group-btn">
            <button class="btn m-clear" ng-disabled="forgotPassform.$invalid" type="submit">Send OTP</button>
          </div>
        </div>
      </form>
      <p ng-if="!hideThis">An OTP will be sent to your registered Mobile Number & Email Id</p>
    </div>
    <!-- ENTER SFA ID END -->
    <!-- ENTER OTP -->
    <div class="forgotmodal-input" ng-if="showThis">
      <p>An OTP has been sent to your registered Mobile no: <span>{{mobileNumber|securedEmailmobile:'mobile'}}</span> | Email
        Id: <span>{{emailId|securedEmailmobile:'email'}}</span></p>
      <form ng-submit="validateOtp(validateOtpObj)" name="validationForm">
        <div class="input-group forgototp-input">
          <input type="text" class="form-control" placeholder="OTP" ng-model="validateOtpObj.otp" only-digits required>
          <div class="input-group-btn">
            <button type="submit" class="btn m-clear" ng-disabled="validationForm.$invalid"><span class="fa fa-arrow-right"></span></button>
          </div>
        </div>
      </form>
      <ul class="list-inline">
        <li ng-click="sendOtp(forgotPassword)">Resend OTP</li>
        <li>|</li>
        <li ng-click="toChangeMObile()"> Change Registered Mobile</li>
      </ul>
    </div>
    <!-- ENTER OTP END  -->
    <!-- CHANGE REGISTERED -->
    <div class="forgotmodal-input" ng-if="showSec2">
      <div class="forgotmodal-title">To change Registered Email/Mobile</div>
      <ul class="list-unstyled">
        <li>
          <p>Email us at: <a href="mailto:info@sfanow.in">info@sfanow.in</a></p>
        </li>
        <li>
          <p>Call: <a class="" href="tel:7045684365">7045684365</a> / <a class="" href="tel:7045684366">7045684366</a> / <a class="" href="tel:7045684367">7045684367</a></p>
        </li>
      </ul>
    </div>
    <!-- CHANGE REGISTERED END -->
    <!-- RESET PASSWORD -->
    <div class="forgotmodal-input" ng-if="showSec3">
      <form ng-submit="resetPass(resetPassObj)" name="resetForm">
        <div class="forgotmodal-title">Reset Password</div>
        <div class="resetpassword-holder">
          <input type="password" class="form-control" placeholder="New Password" ng-model="resetPassObj.newPassword" ng-paste="$event.preventDefault();"
            required disallow-spaces>
          <input type="password" class="form-control" placeholder="Confirm Password" ng-model="resetPassObj.confirmPassword" ng-paste="$event.preventDefault();"
            disallow-spaces>
          <!-- <a href="" class="btn-resetsubmit">SUBMIT AND RESET</a> -->
          <p ng-if="resetPassObj.newPassword.length<8" class="text-warning">Password length should be minimum 8 characters.</p>
          <!-- ng-disabled=" (mt0||mt1||mt2) ? false : true"> -->
          <button type="submit" class=" btn btn-resetsubmit" ng-disabled="((resetPassObj.newPassword.length<8) || (resetPassObj.confirmPassword!==resetPassObj.newPassword) ? true:false)"> SUBMIT AND RESET</button>
        </div>
      </form>
    </div>
    <!-- RESET PASSWORD END -->
  </div>
</div>
