<div class="forgotpassword-modal d-opensans-regular ">
  <div class="forgotmodal-title ">Forgot Password</div>
  <div class="forgotmodal-content">
    <!-- ENTER SFA ID -->
    <div class="forgotmodal-input ">
      <label for="">Kindly Enter</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="SFA ID">
        <div class="input-group-btn">
          <button class="btn m-clear">Send OTP</button>
        </div>
      </div>
      <p>An OTP has been sent to your registered Mobile Number</p>
    </div>
    <!-- ENTER SFA ID END -->
    <!-- ENTER OTP -->
    <div class="forgotmodal-input ">
      <p>An OTP has been sent to your registered Mobile no: <span>98xxxxxx14</span> | Email Id: <span>xxxxx@gmail.com</span></p>
      <div class="input-group forgototp-input">
        <input type="number" class="form-control" placeholder="OTP">
        <div class="input-group-btn">
          <button class="btn m-clear"><span class="fa fa-arrow-right"></span></button>
        </div>
      </div>
      <ul class="list-inline">
        <li><a href="">Resend OTP</a></li>
        <li>|</li>
        <li><a href="">Change Registered Mobile</a></li>
      </ul>
    </div>
    <!-- ENTER OTP END  -->
    <!-- CHANGE REGISTERED -->
    <div class="forgotmodal-input ">
      <div class="forgotmodal-title">To change Registered Email/Mobile</div>
      <ul class="list-unstyled">
        <li>
          <p>Email us at: <a href="mailto:info@sfanow.in">info@sfanow.in</a></p>
        </li>
        <li>
          <p>Call: <a href="tel:0224578542515">022 45785 42515</a> / <a href="tel:0224578544547">022 45785 44547</a></p>
        </li>
      </ul>
    </div>
    <!-- CHANGE REGISTERED END -->
    <!-- RESET PASSWORD -->
    <div class="forgotmodal-input">
      <div class="forgotmodal-title">Reset Password</div>
      <div class="resetpassword-holder">
        <input type="text" class="form-control" placeholder="New Password">
        <input type="text" class="form-control" placeholder="Confirm Password">
        <a href="" class="btn-resetsubmit">SUBMIT AND RESET</a>
      </div>
    </div>
    <!-- RESET PASSWORD END -->
  </div>
</div>
