<div class="matchcenter-modal">
  <div class="modal-header">
    <div class="matchstart-header clearfix">
      <div class="pull-right">
        <p class="m-clear">match id: <span>{{match.matchId}}123456789</span> </p>
      </div>
      <p class="m-clear"><span>{{match.sportsName}}Tennis</span> - <span>{{match.age}}U-19</span> <span>{{match.gender}}M</span> <span>{{match.round}}1</span></p>

    </div>
  </div>
  <div class="modal-body">
    <div class="modal-container">
      <div class="row">
        <div class="matchwinner">
          <p>Match Winner: <span class="matchwinner-title"> <span>Disha</span> <span>Patani</span> </span>
          </p>
        </div>
        <div class="racquet-setscore">
          <div class="scoring-set form-group" ng-repeat="player in data | limitTo:2 track by $index">
            <div class="matchplayer-image" title="{{match.players[$index].firstName}} {{match.players[$index].surname}} | {{match.players[$index].sfaId}}">
              <img ng-src="{{match.players[$index].photograph|serverimage}}" src="img/dishapatani1.jpg" alt="{{match.players[$index].firstName}} {{match.players[$index].surname}}"
                class="img-responsive">
            </div>
            <div class="relate setpoint-element" ng-repeat="player in data | limitTo:7 track by $index">
              <label for="player1score" class="text-uppercase">SET <span>{{$index+1}}</span></label>
              <input type="number" ng-model="set.point" id="player1score" min="0" class="score-number display-inline form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- PLAYER CARDS -->
        <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="card in data | limitTo:2 track by $index">
          <div class="combatscore-player">
            <div class="matchplayer-card {{player.player}}">
              <div class="matchplayer-playerid">
                <p>SFA ID: <span>{{player.sfaId}}123456789123</span></p>
              </div>
              <div class="matchplayer-image">
                <img ng-src="img/dishapatani1.jpg" alt="{player.firstName}} {{player.surname}}" class="img-responsive">
              </div>
              <div class="matchplayer-details">
                <p class="matchplayer-name"><span> {{player.firstName}}dishapatani1 </span> <span> {{player.surname}}dishapatani1 </span></p>
                <p class="matchplayer-school">{{player.school.name | truncate:'22'}} Jamnabai Narsee School</p>
              </div>
            </div>
          </div>
          <!-- PLAYER RESULT SET END -->
          <div class="row" ng-repeat="d in data | limitTo:3 track by $index" hidden>
            <div class="">
              <h4>Set {{$index+1}}</h4>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <label for="">Ace</label>
                <input type="number" ng-model="set.ace" min="0" class="display-inline form-control">
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <label for="">Winner</label>
                <input type="number" ng-model="set.ace" min="0" class="display-inline form-control">
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <label>Unforced Error</label>
                <input type="number" ng-model="set.ace" min="0" class="display-inline form-control">
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <label>Unforced Error</label>
                <input type="number" ng-model="set.ace" min="0" class="display-inline form-control">
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <label>Unforced Error</label>
                <input type="number" ng-model="set.ace" min="0" class="display-inline form-control">
              </div>
            </div>

          </div>
          <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-default" is-open="s.open" ng-repeat="d in data | limitTo:3 track by $index">
              <uib-accordion-heading class="clearfix">
                <!-- <a href="" class="text-right"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a> -->
                <span class="pull-right edit-team-button">Final Point:</span>
                <a href="">
                  <p class="d-fjalla-one text-uppercase sport-color-primary m-clear">
                    <span>Set {{$index + 1}}</span> <span class="teamplayer-fullname"></span>
                  </p>
                </a>
              </uib-accordion-heading>
              <div class="row">
                <div class="">
                  <!-- <h4>Set {{$index+1}}</h4> -->
                  <div class="col-md-4 col-sm-4 col-xs-6">
                    <label for="">Ace</label>
                    <input type="number" ng-model="set.ace" min="0" class="display-inline form-control">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6">
                    <label for="">Winner</label>
                    <input type="number" ng-model="set.ace" min="0" class="display-inline form-control">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6">
                    <label>Unforced Error</label>
                    <input type="number" ng-model="set.ace" min="0" class="display-inline form-control">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6">
                    <label>Unforced Error</label>
                    <input type="number" ng-model="set.ace" min="0" class="display-inline form-control">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6">
                    <label>Unforced Error</label>
                    <input type="number" ng-model="set.ace" min="0" class="display-inline form-control">
                  </div>
                </div>

              </div>
            </div>
          </uib-accordion>
          <!-- PLAYER RESULT SET END -->
        </div>
        <!-- PLAYER CARDS END -->
      </div>
    </div>



  </div>
  <div class="modal-footer">
    <!-- <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button> -->
  </div>
</div>