<!-- SFA FUND PAGE -->
<div class="sfa-fund-modal">
  <div class="cross-close-term pull-right">
    <!-- <button type="button" aria-label="Close" ng-click="$dismiss()" class="float-right close-btn">X</button> -->
    <i class="fa  fa-lg fa-times float-right sfa-fund-close" ng-click="$dismiss()" aria-hidden="true"></i>
    <!--<i class="fa  fa-times" aria-hidden="true"></i> -->
  </div>
  <!-- HEADER -->
  <div class="modal-header sfa-fund-header">
    <h4 class="text-center m-clear"><b>CHAMPIONSHIP FUND</b></h4>
  </div>
  <!-- HEADER END -->

  <!-- BODY -->
  <div class="modal-body modal-container sfa-fund-content">
    <h5 class="text-center"><b>TERMS AND CONDITIONS</b></h5>
    <p class="sfa-fundpd40">The following is the eligibility criteria for the SFA Championship Fund, 2017:</p>
    <ol class="mobile-order">
      <!-- NUMBER1 -->
      <li>
        <div class="text-justify">
          Only Registered Schools (schools that have paid the registration fee of Rs. 12,000/- to SFA Events Pvt. Ltd.) featuring in
          the top 10 schools of the SFA Championship Ranking Table shall be eligible for the prize money allocated under
          the SFA Championship Fund, 2017.
        </div>
        <div class="sfa-first-content">
          <p class="sfafund-sake">For the sake of clarity:</p>
          <ul class="sfa-fund-ul">
            <li class="text-justify">
              Any school that has not registered with SFA and athletes from such schools are participating at the SFA Championship in their
              independent capacity shall not be eligible to receive any prize money;
            </li>
            <li>
              A school which has been sponsored by SFA to play at the SFA Championship shall not be eligible to receive any prize money;
            </li>
            <li>
              The prize money shall be awarded as per the ranking achieved on the SFA Championship ranking table and no registered school
              shall be moved up the table for the reason that a sponsored / unregistered school has featured in the top 10.
            </li>
          </ul>
        </div>
      </li>
      <!-- NUMBER1 END -->

      <!-- NUMBER2 -->
      <li>
        <div>
          The prize money shall be used towards:
        </div>
        <div class="sfa-second-content">
          <ul class="sfa-fund-ul">
            <li>
              Creation and/or betterment of sports infrastructure in the school.
            </li>
            <li>
              Buying and/or renting quality equipment.
            </li>
            <li>
              Awarding sports scholarship to students for training and development.
            </li>
            <li>
              Hiring of experts in the field of sports.
            </li>
            <li>
              Participation in district, state and/or national level tournaments.
            </li>
            <li>
              Sports Apparel
            </li>
            <li>
              Any other sports related expenditure to ensure quality sport.
            </li>
            <li>
              The registration fee for SFA Mumbai, 2018.
            </li>
          </ul>

        </div>
      </li>
      <!-- NUMBER2 END -->

      <!-- NUMBER3 -->
      <li class="text-justify">
        The prize money shall be paid by cheque issued in favor of the school and/or the trust/body managing the school and no cheques
        shall be issued any individual name.
      </li>
      <!-- NUMBER3 END -->
    </ol>
  </div>
  <!-- BODY END -->
</div>
<!-- SFA FUND PAGE END -->