<div class="forgotpassword-modal upgradepackage-modal d-opensans-regular ">
  <div class="forgotpassword-modalclose">
    <img src="img/icon/modal-cancel.png" alt="close" ng-click="$dismiss()" class="img-responsive">
  </div>
  <div class="forgotmodal-title ">Upgrade Package</div>
  <div class="formregister-mtb20 upgradepackage-modalcontent ">
    <p>You are currently on the <span>599</span>/- <span>PRO Package</span> and can participate in only upto <span>2</span> Event Categories.</p>
    <p>To participate in more events kindly upgrade your package.</p>
    <div class="">
      <button class="btn formregister-btn text-uppercase"> Upgrade Package Now</button>
    </div>
  </div>
</div>
