// COLOR VARIABLES
$sport-primary: #0a1a72!default; //blue
$sport-success: #27b465 !default; //green
$sport-warning: #ffb026 !default; //yellow
$sport-danger: #da495b !default; //red
$sport-info: #000072 !default; //lighter-blue
$sport-base: #1a1a1a !default; //black
$sport-white: #fff !default;
$sport-grey: #e1e1e1 !default;
$sport-dark-grey: #757575 !default;
$sport-light-grey: #e5e5e5 !default;
$sport-other-blue: #2a45d4 !default;
$sport-light-green:#bcd200 !default;
$sport-bg-table: #f2f2f2 !default;
$sport-grey-year: #c0c0c0 !default;
$sport-green-graph: #0edb87 !default;
$sport-green-table:#5aeba4 !default;
$sport-blue-table:#7fdfff !default;
$sport-table-knockout:#f5f4f4 !default;
$sport-type-head:#fb7700 !default;
$sport-table-grey:#efeeee !default;
// COLOR VARIABLES END
// FONT IMPORTS
@font-face {
  font-family: "Fjalla One";
  src: url('../fonts/FJALLAONE-REGULAR_1.OTF');
}

@font-face {
  font-family: "Opensans Semibold";
  src: url('../fonts/OPENSANS-SEMIBOLD_3.TTF');
}

@font-face {
  font-family: "Opensans Regular";
  src: url('../fonts/OPENSANS-REGULAR_3.TTF');
}

@font-face {
  font-family: "Teko";
  src: url('../fonts/Teko-Regular_0.ttf');
}

@font-face {
  font-family: "Teko Semibold";
  src: url('../fonts/Teko-SemiBold_0.ttf');
}

.d-fjalla-one {
  font-family: "Fjalla One";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-opensans-semibold {
  font-family: "Opensans Semibold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-opensans-regular {
  font-family: "Opensans Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-teko {
  font-family: "Teko";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-teko-semibold {
  font-family: "Teko Semibold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// END FONT FAMILY IMPORTS
// COMMON CLASS
.display-block {
  display: block;
}

.sport-type-head {
  color: $sport-type-head;
}

.sport-color-primary {
  color: $sport-primary;
}

.sport-color-info {
  color: $sport-info;
}

.sport-color-warning {
  color: $sport-warning;
}

.sport-success {
  color: $sport-success;
}

.sport-green-table {
  color: $sport-green-table;
}

.sport-blue-table {
  color: $sport-blue-table;
}

.draws-a {
  a {
    color: $sport-primary;
    text-decoration: underline;
    &:active,
    &:focus,
    &:hover,
    &.active {
      color: $sport-primary;
    }
  }
}

.get-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%,
  -50%));
}

.relate {
  position: relative;
}

.m-clear {
  margin: 0px;
}

.sport-btn-blue-outline {
  border: 1px solid $sport-primary;
  background-color: transparent;
  color: $sport-primary;
  &:hover,
  &:active,
  &:focus {
    border: 1px solid $sport-primary;
    background-color: transparent;
    color: $sport-primary;
    outline: none;
  }
}

// ********************COMMON TABLE FOR ALL SCHEDULE *************
.table-draws-schedule {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: separate;
  border-spacing: 0px 5px;
  thead {
    tr {
      th {
        border: 1px solid #000;
        padding: 8px;
        line-height: 1.428571429;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  tbody {
    tr {
      td {
        border: 1px solid #000;
        padding: 8px;
        line-height: 1.428571429;
        text-align: center;
      }
    }
  }
}

// *******************END COMMON TABLE FOR SCHEDULE ****************
// *******************TABLE FOUR *******************
.table-four {
  thead {
    tr {
      th {
        &:nth-child(-n+3) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        &:nth-child(-n+3) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
}

// *******************END TABLE FOUR ****************
// *******************TABLE FIVE ********************
.table-five {
  thead {
    tr {
      th {
        &:nth-child(-n+4) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        &:nth-child(-n+4) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
}

// *******************TABLE FIVE END  *********************
// ******************TABLE SIX ************************
.table-six {
  thead {
    tr {
      th {
        &:nth-child(-n+5) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        &:nth-child(-n+5) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
}

// ******************END TABLE SIX *********************
// *******************TABLE SEVEN ***************
.table-seven {
  thead {
    tr {
      th {
        &:nth-child(-n+6) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        &:nth-child(-n+6) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
}

// *******************END TABLE SEVEN **************
// ********************BLUE TABLE ******************
.q-blue-table {
  .table-draws-schedule {
    thead {
      tr {
        background-color: $sport-blue-table;
        border: none;
        th {
          border: none;
          h4 {
            color: $sport-primary;
            @extend .d-fjalla-one;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border: none;
          background-color: $sport-table-grey;
          @extend .d-opensans-regular;
        }
      }
    }
  }
}

// ********************END BLUE TABLE*****************
// ********************ORANGE TABLE *******************
.q-orange-table {
  .table-draws-schedule {
    thead {
      tr {
        background-color: $sport-warning;
        border: none;
        th {
          border: none;
          h4 {
            color: $sport-primary;
            @extend .d-fjalla-one;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border: none;
          background-color: $sport-table-grey;
          @extend .d-opensans-regular;
        }
      }
    }
  }
}

// ********************END ORANGE TABLE ***************
// END COMMON CLASS
// *******************QUALIFYING+ FINAL ROUND************************
.qualifying-final-round {
  min-height: 100vh;
  padding-bottom: 50px;
  .qf-final-event-holder {
    border: 1px solid $sport-grey-year;
    padding: 25px;
  }
  .qf-final-finalround {
    border-bottom: 2px solid $sport-primary;
  }
  .qf-final-qualifyinground {
    margin: 25px 0px;
  }
  .qf-final-viewmore {
    text-align: right;
  }
  .qf-final-sportname {
    margin: 40px;
    border-bottom: 1px solid $sport-grey-year;
  }
  .draws-downloadpdf {
    margin-bottom: 30px;
  }
}

// WINNER TABLE
.border-line-qf-final {
  padding-bottom: 10px;
  border-bottom: 2px solid #0a1a72
} // WINNER TABLE END
.qf-final-finalround-head {
  margin-top: 25px;
}

.qualifying-final-medals {
  width: 25px;
  margin: 0 auto;
}

// FINAL ROUND TABLE
.qf-final-finaltable,
.qf-final-qualifyinground {
  margin-bottom: 10px;
  .table-draws-schedule {
    thead {
      tr {
        background-color: $sport-blue-table;
        border: none;
        th {
          border: none;
          h4 {
            color: $sport-primary;
            @extend .d-fjalla-one;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border: none;
          background-color: $sport-table-grey;
          @extend .d-opensans-regular;
        }
      }
    }
  }
}

// END FINAL ROUND TABLE
// *******************END QUALIFYING + FINAL ROUND********************
// CHAMPIONSHIP SCHEDULE PAGE
.chamionshipschedule-page {
  padding: 40px 0;
   ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
   ::-webkit-scrollbar-track {
    background-color: transparent;
  }
   ::-webkit-scrollbar-thumb {
    background-color: #e1e1e1;
  }
  .dropdown-menu {
    margin: 2px 0px 0px;
    left: 0px;
  }
}

.championshipdraw-card-form {
  border: 1px solid $sport-dark-grey;
  padding: 30px;
}

// .championshipdraw-cardrow {
//   padding-bottom: 30px;
//   border-bottom: 1px solid $sport-primary;
// }
.championship-drawstitle {
  padding: 20px 0;
  text-align: center;
  p {
    font-size: 16px;
  }
}

.championshipdraw-card-lable {
  width: 25%;
  padding: 8px;
  color: $sport-primary;
  vertical-align: middle;
  font-size: 14px;
  text-align: right;
  @extend .d-opensans-semibold;
}

.championshipdraw-card-dropdown {
  width: 50%;
  vertical-align: middle;
}

.championshipdraw-card-btn {
  width: 100%;
  background-color: $sport-warning;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.championship-scheduletitle {
  padding: 50px 0px 30px 0px;
  border-top: 2px solid $sport-primary;
  h2 {
    color: #0eda85;
  }
}

.championshipdraw-card {
  padding-bottom: 50px;
}

.championship-schedule-tablefooter {
  padding-left: 70px;
}

.championsschdule-pdfbutton {
  font-size: 14px;
}

.pdf-champions {
  color: red;
}

.champions-bold {
  font-weight: bold;
}

.champions-viewdraws {
  color: $brand-warning;
  font-weight: bold;
}

// CHAMPIONS TABLE
.championshipschedule-tableholder {
  table {
    thead {
      tr {
        th {
          background-color: #0eda85;
          border-right: 1px solid #fff;
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          @extend .d-opensans-regular;
        }
      }
    }
    tbody {
      tr {
        td {
          border-right: 1px solid #fff;
          @extend .d-opensans-regular;
        }
      }
    }
  }
  .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: $sport-grey;
  }
  .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
  }
  .table-striped>tbody>tr:nth-last-child(1) {
    // opacity: 0;
  }
}

// NEW NG_CLASS FOR CHAMPIONS
.champions-draw-orange {
  color: $sport-warning;
  font-weight: bold;
}

.champions-result-green {
  color: #0eda85;
}

.champions-height-odd {
  height: 43px;
}

.table2-championstable {
  text-align: left;
}

.champions-table-td {
  vertical-align: top !important;
  padding: 8px 8px 8px 10px !important;
}

// NEW NG_CLASS FOR CHAMPIONS END
// END CHAMPIONS TABLE
// CHAMPIONSHIP SCHEDULE PAGE END
//*********************** QUALIFYING + KNOCKOUT ******************
.qualifying-knockout-round {
  min-height: 100vh;
  padding-bottom: 50px;
  .qf-knockout-sportname {
    margin: 30px 40px;
    border-bottom: 1px solid $sport-grey-year;
  }
  .qf-knockout-sporteventname {
    margin: 30px 0;
  }
  .draws-downloadpdf {
    padding-bottom: 25px;
  }
  .qf-knockout-holder {
    border: 1px solid $sport-grey-year;
    padding: 25px;
  }
  .qf-knockout-viewmore {
    padding-bottom: 25px;
    border-bottom: 2px solid $sport-primary;
  }
  .qf-knockout-qualifyinghead {
    padding-top: 40px;
  }
}

//  *********************END QUALIFYING + KNOCKOUT ***************
// **********************TIME TRIAL ROUND *************************
.time-trial-round {
  min-height: 100vh;
  padding-bottom: 50px;
  .time-trial-sportname {
    margin: 30px 40px;
  }
  .draws-downloadpdf {
    padding-bottom: 25px;
    border-bottom: 1px solid $sport-grey-year;
  }
  .time-trial-winnerholder {
    border: 1px solid $sport-grey-year;
    padding: 25px;
  }
  .time-trial-eventname {
    padding-bottom: 25px;
  }
  .time-trial-winnerhead {
    padding-bottom: 30px;
  }
  .time-trial-winnertable {
    padding-bottom: 25px;
    border-bottom: 2px solid $sport-primary;
  }
  .time-trial-timehead {
    padding-top: 40px;
  }
}

// ACCORDIAN
.time-trial-accordian {
  .panel-default>.panel-heading {
    background-color: $sport-blue-table;
  }
  .panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .panel-default {
    border-color: #fff;
  }
}

.time-trial-accordioncontent {
  .q-blue-table {
    .table-draws-schedule {
      thead {
        tr {
          background-color: #dbdbdb;
          border: none;
          th {
            border: none;
            h4 {
              color: $sport-primary;
              @extend .d-fjalla-one;
            }
          }
        }
      }
    }
  }
}

// END ACCORDIAN
// **********************END TIME TRIAL ROUND *********************
// **********************HEATS ROUNDS*************************
.heat-rounds {
  min-height: 100vh;
  padding-bottom: 50px;
  .heat-sportname {
    margin: 30px 40px;
  }
  .draws-downloadpdf {
    padding-bottom: 25px;
    border-bottom: 1px solid $sport-grey-year;
  }
  .heats-finalrounds-holder {
    border: 1px solid $sport-grey-year;
    padding: 25px;
  }
  .heats-semifinalhead {
    padding-top: 30px;
  }
  .heats-final-table {
    padding-bottom: 25px;
    border-bottom: 2px solid $sport-primary;
  }
  .heat-eventname {
    padding-bottom: 25px;
  }
}

.heat-medal-width {
  width: 25px;
  margin: 0 auto;
}

// ACCORDIAN
.heat-trial-accordian {
  .panel-default>.panel-heading {
    background-color: $sport-green-table;
  }
}

.bluecolor-accordian {
  .panel-default>.panel-heading {
    background-color: #7fdfff;
  }
}

// END ACCORDIAN
// **********************END HEATS ROUNDS ********************
//*********************** LEAGUE CUM KNOCKOUT ***************
.league-knockout-round {
  min-height: 100vh;
  padding-bottom: 50px;
  .league-knockout-sportname {
    margin: 30px 40px;
  }
  .league-knockout-outerholder {
    padding: 25px;
    border: 1px solid $sport-grey-year;
  }
  .league-knockout-table,
  .league-knockout-accordian,
  .league-knockout-pointsviewmore {
    padding-bottom: 25px;
    border-bottom: 2px solid $sport-primary;
  }
  .league-knockout-pointshead {
    padding-top: 25px;
  }
}

.league-knockout-pointsaccordian {
  .panel-default>.panel-heading {
    background-color: $sport-green-table;
  }
}

// **********************END LEAUGE CUM KNOCKOUT ************
// **********************KNOCKOUT **************************
.knockout-round {
  min-height: 100vh;
}

.knockout-swiper-holder {
  margin: 20px 0px;
  .knockout-viewmore {
    width: 100%;
    margin: 0px 5px;
  }
  .sport-btn-blue-outline {
    width: 100%;
  }
  .swiper-button-next {
    right: -25px;
  }
  .swiper-button-prev {
    left: -25px;
  }
}

.knockout-viewmore {
  .sport-btn-blue-outline {
    font-size: 18px;
  }
}

// Custom SWiper
.knockout-swiper-holder {
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    background-image: none;
    width: auto;
    height: auto;
    padding: 5px;
    margin: -15px;
  }
}

// End Custom Swiper
// KNOCKOUT CARD
.knockout-schedulecardsholder {
  margin: 20px 0;
  border-top: 1px solid $sport-grey-year;
}

.knockout-cardholder {
  min-height: 160px; // box-shadow: 0 0 10px $sport-grey-year;
  border: 1px solid #c6c6c6;
  margin-bottom: 15px;
  position: relative;
  .knockout-card {
    &:nth-child(2) {
      border-bottom: none;
    }
  }
}

.knockout-card {
  padding: 11px 5px;
  border-bottom: 1px solid #c6c6c6;
  border-left: 10px solid transparent;
}

// ONLY FOR KNOCKOUT DOUBLES
.knockout-custom-padding {
  padding: 10px 5px;
}

// ONLY FOR KNOCKOUT DOUBLES END
.knockout-winner-name {
  color: $sport-primary;
  font-weight: 600;
}

.knockout-winner-school {
  font-size: 12px;
  @extend .d-opensans-regular;
}

.winner-knockout-school {
  font-size: 12px;
}

.winner-knockout-player {
  color: $sport-primary;
  font-weight: 600;
}

.knockout-winnercard {
  border-left: 5px solid $sport-success;
  .knockout-winner-name {
    color: $sport-success;
  }
}

.knockout-cardimage {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  img.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.knockout-round-width {
  width: 100%;
}

.combatscoreresult {
  display: block;
  line-height: 1;
  font-size: 10px;
  text-decoration: underline;
  &:last-child {
    text-decoration: none;
  }
}

.combatscoreresultforkata {
  visibility: hidden;
}

.combatreasonresult {
  font-weight: 700;
  font-size: 12px;
}

.knockout-card-content {
  width: 100%;
  padding: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #0a1a72;
  color: #fff;
  .knockout-videoholder {
    width: 18px;
    height: 18px;
    float: right;
  }
}

.knockout-live-foot {
  background-color: #ffb026;
}

.knockout-live-text {
  color: #27b465;
  font-weight: 700;
  text-transform: uppercase;
}

.knockout-dot-live {
  color: #27b465; // font-weight:700;
  font-size: 10px;
}

.custom-knockout-color {
  text-transform: capitalize;
  font-weight: 600;
}

.knockout-winner-card-content {
  background-color: #373737;
}

.knockout-cardplayername {
  width: calc(100% - 55px);
  padding-left: 5px;
  @extend .d-opensans-regular;
}

.knockout-cardholder-round2 {
  min-height: 350px;
}

.knockout-cardholder-round3 {
  min-height: 700px;
}

// END KNOCKOUT CARD
// KNOCKOUT TEAM 
.knockout-round-team {
  .knockout-card {
    padding: 12px 5px;
  }
}

// KNOCKOUT TEAM 
// WINNER CARD
.knockout-winnercardholder {
  // box-shadow: 0 0 10px $sport-grey-year;
  border: 1px solid #c6c6c6;
  padding: 5px;
  margin: 5px 8px;
}

.knockout-winnercardname {
  width: calc(100% - 30px);
  vertical-align: middle;
}

.knockout-winnercardimgage {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  img.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.knockout-winnercardplayername {
  width: calc(100% - 45px);
  vertical-align: middle;
}

.knockout-winnermedalholder {
  width: 25px;
  vertical-align: middle;
}

// END WINNER CARD
// **********************END KNOCKOUT **********************
// **********************KNOCKOUT DOUBLES*******************
.knockout-doubles-round {
  min-height: 100vh;
}

.knockout-doubles-cardholder {
  min-height: 280px; // box-shadow: 0 0 10px $sport-grey-year;
  border: 1px solid $sport-grey-year;
  margin-bottom: 15px;
  position: relative;
  .knockout-card {
    &:nth-child(even) {
      border-bottom: none;
    } // &:nth-child(2) {
    //   border-bottom: 3px solid $sport-primary;
    // }
  }
  .knockout-cardimage {
    width: 40px;
    height: 40px;
  }
  .knockoutdouble-teamplayer {
    &:first-child {
      border-bottom: 3px solid $sport-primary;
    }
  }
}

.knockout-doubles-cardholder-round2 {
  min-height: 560px;
}

.knockout-doubles-cardholder-round3 {
  min-height: 1120px;
}

// WINNER CARD
.knockout-winnercardname-holder {
  margin: 0 0 5px;
}

// WINNER CARD END
// **********************KNOCKOUT DOUBLES END*******************
// ***********************SWISS LEAGUE **************************
.swiss-league-holder {
  border: 1px solid $sport-grey-year;
  padding: 25px;
}

.swiss-league-round {
  .swissleague-standingholder {
    width: 18px;
    margin: 0 auto;
  }
}

.swiss-league-sportname {
  margin-bottom: 30px;
}

.swiss-dot-live {
  position: absolute;
  top: 5px;
  left: -15px;
}

// ***********************SWISS LEAGUE END*************************
// MATCH CENTER MODAL
// MATCH CENTER
.matchcenter-modal {
  .modal-content {
    border-radius: 0;
  }
  .matchwinner-title {
    font-size: 16px;
    font-weight: 700;
  }
  .modal-header {
    padding: 0px;
  }
  .matchcenter-sporticon {
    position: absolute;
    top: 5px;
    left: 20px;
    width: 65px;
  }
  .matchwinner {
    position: absolute;
    top: 0;
    left: 90px;
  }
  .combatscore-page {
    min-height: calc(100vh - 60px);
  }
  .scoring-set {
    padding: 10px 0; // border-bottom: 1px solid #ccc;
  }
  .combatscore-scorecard {
    text-align: center;
    &:last-child {
      .scoring-set {
        border-bottom: none;
      }
    }
  }
  .scoring-set {
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  .score-number {
    width: 60px;
    height: 60px;
    padding: 5px 10px;
    border: none;
    margin: 0 10px;
    background-color: #e1e1e1;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  .matchcenter-playerpoint {
    border: none;
    background-color: #e1e1e1;
    font-size: 24px;
    font-weight: 700;
  }
  .score-buttons {
    padding: 10px 13px;
    margin: 0px 5px;
    border: 1px solid $dark-grey;
    border-radius: 100%;
    box-shadow: 2px 2px 5px #a0a0a0;
    background-color: transparent;
    cursor: pointer;
    font-size: 21px;
    line-height: 1;
    &:active,
    &:focus,
    &:hover {
      outline: 0;
      outline-offset: 0;
      box-shadow: 2px 2px 5px #a0a0a0;
    }
  }
  .combatscore-uploads {
    margin: 20px 0 30px;
    text-align: center;
  }
  .btn-uploadscoring {
    width: auto;
  }
  .matchstart-uploadholder {
    position: relative;
    overflow: hidden;
  }
  .upload-scorecard {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
  }
  .combatscore-uploadpic {
    width: 110px;
    height: auto;
    padding: 2px;
    border: 1px solid #ccc;
    margin: 0px 10px 10px 0;
    display: inline-block;
    position: relative; // background-color: #757575;
    color: #fff;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .combatscore-pics,
  .combatscore-selects {
    margin: 20px 0;
  } // MATCH START PAGE
  .matchstart-page,
  .racketscore-page,
  .scorefootball-page {
    min-height: calc(100vh - 100px);
    position: relative;
  }
  .matchstart-header {
    padding: 10px 15px;
    padding-left: 90px;
    background-color: $brand-primary;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
  }
  .matchcenter-heading {
    font-weight: 700;
  }
  .matchplayer-card {
    padding: 10px;
    margin: 20px auto 0;
    box-shadow: 0 0 10px #a0a0a0;
    position: relative;
  }
  .teamdetail-playerholder {
    padding: 10px;
    border: 1px solid #e1e1e1;
  }
  .scoringset-school {
    width: 200px;
    display: inline-block;
    font-weight: 600;
    text-align: left;
  }
  .teamdetail-player {
    padding: 5px;
    border-bottom: 1px solid #e1e1e1;
    &:last-child {
      border-bottom: none;
    }
  }
  .player1 {
    border-bottom: 10px solid #7fdfff;
  }
  .player2 {
    border-bottom: 10px solid $brand-danger;
  }
  .matchplayer-playerid {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 12px;
    color: $sport-dark-grey;
  }
  .modal-container {
    padding: 0;
  }
  .playerpoint-accordion {
    .panel-default>.panel-heading {
      border-bottom: 1px solid #ddd;
      background-color: transparent;
    }
    .panel-group .panel {
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
    .setpoint-label {
      font-weight: 600;
      font-size: 10px;
    }
    .panel-default>.panel-heading+.panel-collapse>.panel-body {
      border: none;
    }
  }
  .matchplayer-image {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0 10px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
  }
  .matchplayer-details {
    width: calc(100% - 125px);
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    .matchplayer-name {
      margin: 0;
      color: $sport-primary;
      font-size: 16px;
      font-weight: 700;
    }
    .matchplayer-school {
      font-size: 14px;
    }
  }
  .matchstart-noshow,
  .matchstart-uploadpic {
    width: 100%;
    height: 150px;
    margin: 50px 0 20px;
    position: relative;
    background-color: $dark-grey;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    p {
      width: 100%;
    }
  }
  .matchstart-uploadpic {
    margin: 10px;
    margin-left: 0;
    display: inline-block;
    background-color: transparent;
  }
  .remove-pic {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
  }
  .matchstart-score {
    padding: 10px 0;
    margin: 20px 0;
  }
  .btn-scoring {
    width: 100%;
    text-transform: uppercase;
  }
  .opponentsingle-selector {
    padding: 3px 20px;
    margin: 0;
  }
  .match-selectwinner {
    .ui-select-bootstrap .ui-select-choices-row>span {
      padding: 0;
    }
  } // MATCH START PAGE END
  // RACKET-SCORE PAGE
  .datapoint-name {
    position: absolute;
    top: 20%;
    left: 0px;
    @include transform(translateY(-50%));
  }
  .showhide-set {
    padding: 10px 0;
    .form-group {
      margin: 0;
    }
  }
  .addset {
    float: right;
  }
  .setshow-element {
    margin: 0px 10px;
  }
  .racquet-setscore {
    margin: 0;
    text-align: center;
    .scoring-set {
      padding: 0;
      border: none;
      margin: 10px 0;
      &:last-child {
        .setpointlabel {
          display: none;
        }
      }
    }
  }
  .setpoint-element {
    display: inline-block;
    vertical-align: middle;
    label {
      display: block;
    }
  } // RACKET-SCORE PAGE END
  .playerhead-accordion {
    font-weight: 700;
  }
  .playerangle-accordion {
    font-size: 24px;
  }
}

// MATCH CENTER END
// MATCH CENTER MODAL END
// SPONSER PAGE
.sponsor-partner-page {
  padding: 50px 0px;
}

.sponser-partner-title {
  h2 {
    font-size: 48px;
  }
}

.above-content-holder {
  text-align: justify;
}

.below-content-holder {
  padding-top: 40px;
  text-align: justify;
}

.sponser-image-holder,
.partner-image-holder {
  margin: 10px 0px;
  border: 1px solid #e1e1e1;
  padding: 10px;
  cursor: pointer;
  &:hover {
    border: 2px solid $sport-primary;
  }
}

.custom-cursor-sponsor {
  cursor: default;
  &:hover {
    border: 1px solid #e1e1e1;
  }
}

// SPONSER PAGE END
// INDIVIDUAL SPONSER
.individualsponser-page {
  .specific-sponserimage-holder {
    margin: 0 auto;
    display: inline-block;
  }
  .individual-sponsercontent {
    text-align: justify;
  }
  .individual-banner-image {
    padding: 40px 0px;
    cursor: pointer;
  }
}

.logo-caption {
  padding-bottom: 35px;
}

.logo-link-holder-link {
  cursor: pointer;
  &:hover {
    color: $sport-primary;
    text-decoration: underline;
  }
}

// SPONSER_PLAY_BUTTON
.sponser-videoplay-holder {
  padding: 15px 20px;
  border: 1px solid #da495b;
  background-color: #da495b;
  position: absolute;
  right: 0px;
  bottom: 0px;
  .sponer-playe-button {
    font-size: 21px;
    color: #fff;
  }
}

// SPONSER_PLAY_BUTTON_END
// SWIPER CARD
.sponser-swipercard {
  // border: 1px solid;
  position: relative;
  padding: 0px 30px;
  padding-right: 70px;
  .inverted-commos-bottom {
    width: 60px;
    position: absolute;
    bottom: 20px;
    right: 0px;
  }
  .inverted-commos-top {
    width: 60px;
    position: absolute;
    left: 20px;
    top: 5px;
  }
}

.sponser-swipercard-image {
  padding: 10px;
  vertical-align: middle;
}

.sponser-swipercard-imageholder {
  width: 105px;
  height: 105px;
  border-radius: 100%;
  overflow: hidden;
}

.sponser-swipercard-contentholder {
  width: calc(100% - 135px);
  vertical-align: middle;
}

.individual-swiper-holder {
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    background-image: none;
    right: -50px;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    background-image: none;
    left: -50px;
  }
}

.sponser-swipercard-header {
  text-align: left;
  @extend .d-fjalla-one;
}

.sponser-swipercard-content {
  text-align: justify;
  font-size: 16px;
}

.sponser-ceo {
  text-align: right;
  @extend .d-fjalla-one;
}

// SWIPER CARD END
// SPONSER_GALLERY
.individual-sponsergalleryholder {
  padding: 40px 0px;
  .sponser-videoplay-gallery {
    padding: 4px 12px;
    border: 1px solid #da495b;
    background-color: #da495b;
    position: absolute;
    right: 0px;
    bottom: 0px;
    .sponser-gallery-play {
      font-size: 14px;
      color: #ffffff;
    }
  }
}

.individual-sponsergallerycard {
  margin: 15px 0px;
}

// SPONSER_GALLERY END
// INDIVIDUAL SPONSER END
// *********************************END*********************************
// EVENT ATTENDANCE
.event-attendance-page {
  margin-top: 50px;
  min-height: 100vh;
  .event-individual-holder {
    padding: 25px;
    box-shadow: 0 0 10px $sport-grey-year;
    min-height: 330px;
    position: relative;
  }
  .event-attendance-label {
    width: 25%;
    vertical-align: middle;
  }
  .event-individual-view {
    // margin-top: 70px;
  }
  .athleteonselectview {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%)
  }
  .event-attendance-dropdown {
    width: calc(100% - 140px);
    vertical-align: middle;
     ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
     ::-webkit-scrollbar-track {
      background-color: transparent;
    }
     ::-webkit-scrollbar-thumb {
      background-color: #e1e1e1;
    }
    .dropdown-menu {
      margin: 2px 0px 0px;
      left: 0px;
    }
  }
  .event-teamtable-title {
    margin-top: 20px;
  }
  .event-team-holder {
    padding: 25px;
    box-shadow: 0 0 10px $sport-grey-year;
    min-height: 330px;
  }
  .event-teamholder {
    margin-top: 30px;
  }
  .view-profile {
    .btn {
      padding: 3px 10px;
      font-size: 12px;
    }
  }
  .override-glyp {
    .glyphicon {
      font: normal normal normal 14px/1 FontAwesome;
    }
    .glyphicon-remove:before {
      content: "\f00d";
    }
  }
}

// EVENT ATTENDANCE END
// EVENT ATTENDANCE PROFILE
.eventattendance-profile-page {
  // min-height: 100vh;
  margin-top: 50px;
  .event-athleteprofile-cardholder {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
  }
  .event-athleteprofile-imageholder {
    width: 200px;
    height: 200px;
    border: 5px solid $sport-dark-grey;
    border-radius: 100%;
    overflow: hidden;
  }
  .event-athleteprofile-detailholder {
    width: calc(100% - 220px);
    padding: 0px 0px 0px 10px;
    vertical-align: top;
  }
  .event-athleteprofilebutton {
    margin-top: 30px; // text-align: center;
  }
  .bib-check {
    position: absolute;
    left: 25px;
    bottom: 15px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: #fff;
    background-color: #ffb026;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    z-index: 1;
  }
  .eventbib-ageheader {
    font-size: 12px;
  }
  p {
    margin: 0 0 15px;
    font-size: 18px;
  }
  .label-bibGiven {
    font-size: 18px;
  }
}

// EVENT ATTENDANCE PROFILE END
// END REGISTRATION MODAL
.endregistration-modal {
  .endregistration-table {
    border: 1px solid gray;
  }
  .endregistration-header {
    background-color: $sport-primary;
    color: #fff;
  }
}

// END REGISTRATION MODAL END
// GALLERY
.adspace {
  background-color: #ddd;
  height: 130px;
  margin: 40px 0px;
  font-size: 30px;
}

.event-gallery-page {
  min-height: 100vh;
  margin: 50px 0px;
  .event-gallery-header {
    // margin: 40px 0px;
    font-size: 45px;
  }
  .event-gallery-subtitle {
    font-size: 16px;
  }
}

.event-gallery-videoholder {
  margin: 40px 0px;
}

// COMMON
.album-holder {
  .album-pic-holder {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 175px;
    margin: 8px 0px;
  }
  .album-title-holder {
    margin-top: 10px;
  }
  .album-subtitle {
    font-size: 18px;
  }
}

.event-video-holder {
  width: 100%;
  .event-thumbnailholder {
    // background-image: url('/img/dishapatani1.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 175px;
    width: 100%;
    margin: 8px 0px;
  }
  .evnt-thumbnailtitle {
    text-align: left;
    font-size: 16px;
  }
}

.event-gallery-swiperholder {
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    background-image: none;
    width: auto;
    height: auto;
    padding: 5px;
    margin: -15px;
  }
  .swiper-button-prev {
    left: -15px;
  }
  .swiper-button-next {
    right: -15px;
  }
}

// COMMON END
// FEATURED GALLERY
.featured-gallery-page {
  min-height: 100vh;
  margin: 50px 0px;
  .featured-gallery-header {
    font-size: 45px;
  }
  .feature-masonry-picholder {
    margin: 15px 0px;
  }
  .featured-gallery-dropdown,
  .featured-gallery-dropdown-boysgirls,
  .featured-gallery-dropdown-sports {
    position: relative;
    color: #27b465;
    cursor: pointer;
    font-size: 24px;
    text-transform: capitalize;
    @extend .d-fjalla-one;
  }
  .featured-gallery-dropdownfilter {
    width: 350px;
    padding: 5px 10px;
    box-shadow: 0 0 10px #e5e5e5;
    position: absolute;
    top: 30px;
    left: 0px;
    background: #fff;
    color: #1a1a1a;
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
    z-index: 1;
  }
  .custom-featuredgallery-dropdown {
    border-bottom: 1px solid #e1e1e1;
    padding: 8px;
  }
}

// FEATURED GALLERY END
// GALLERY END
// FEATURED VIDEO
.allfeaturedheader {
  font-size: 45px;
}

.featuredmatchvideo-page {
  min-height: 100vh;
  padding: 50px 0px;
}

.featurevideo-feature {
  padding-bottom: 30px;
  margin: 40px 0px;
  border-bottom: 1px solid $sport-dark-grey;
}

.featurevideo-card:nth-child(1) {
  width: 100%;
}

.featurevideo-card {
  width: 50%;
  float: left;
  position: relative;
  padding-right: 10px;
  margin-bottom: 10px;
}

.featurevideo-play {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #d8485a;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  .fa-play {
    font-size: 18px;
    line-height: 40px;
  }
}

.featurevideo-subheader:nth-child(1) {
  font-size: 20px;
}

.featurevideo-subheader {
  font-size: 18px;
  margin: 5px;
  font-weight: 600;
  text-transform: capitalize;
}

.featurevideo-sportplay {
  @extend .featurevideo-play;
  width: 25px;
  height: 25px;
  .fa-play {
    font-size: 14px;
    line-height: 25px;
  }
}

.featurevideo-sportvideocardfooter {
  font-size: 14px;
  margin: 5px;
  text-transform: capitalize;
  font-weight: 600;
}

.featurevideo-sportsholder {
  margin: 40px 0px;
}

// FEATURED VIDEO END