// COLOR VARIABLES
$sport-primary: #0a1a72!default; //blue
$sport-success: #27b465 !default; //green
$sport-warning: #ffb026 !default; //yellow
$sport-danger: #da495b !default; //red
$sport-info: #000072 !default; //lighter-blue
$sport-base: #1a1a1a !default; //black
$sport-white: #fff !default;
$sport-grey: #e1e1e1 !default;
$sport-dark-grey: #757575 !default;
$sport-light-grey: #e5e5e5 !default;
$sport-other-blue: #2a45d4 !default;
$sport-light-green:#bcd200 !default;
$sport-bg-table: #f2f2f2 !default;
$sport-grey-year: #c0c0c0 !default;
$sport-green-graph: #0edb87 !default;
$sport-green-table:#5aeba4 !default;
$sport-blue-table:#7fdfff !default;
$sport-table-knockout:#f5f4f4 !default;
$sport-type-head:#fb7700 !default;
$sport-table-grey:#efeeee !default;
// COLOR VARIABLES END
// FONT IMPORTS
@font-face {
  font-family: "Fjalla One";
  src: url('../fonts/FJALLAONE-REGULAR_1.OTF');
}

@font-face {
  font-family: "Opensans Semibold";
  src: url('../fonts/OPENSANS-SEMIBOLD_3.TTF');
}

@font-face {
  font-family: "Opensans Regular";
  src: url('../fonts/OPENSANS-REGULAR_3.TTF');
}

@font-face {
  font-family: "Teko";
  src: url('../fonts/Teko-Regular_0.ttf');
}

@font-face {
  font-family: "Teko Semibold";
  src: url('../fonts/Teko-SemiBold_0.ttf');
}

.d-fjalla-one {
  font-family: "Fjalla One";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-opensans-semibold {
  font-family: "Opensans Semibold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-opensans-regular {
  font-family: "Opensans Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-teko {
  font-family: "Teko";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-teko-semibold {
  font-family: "Teko Semibold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// END FONT FAMILY IMPORTS
// COMMON CLASS
.sport-type-head {
  color: $sport-type-head;
}

.sport-color-primary {
  color: $sport-primary;
}

.sport-color-warning {
  color: $sport-warning;
}

.sport-green-table {
  color: $sport-green-table;
}

.sport-blue-table {
  color: $sport-blue-table;
}

.draws-a {
  a {
    color: $sport-primary;
    text-decoration: underline;
    &:active,
    &:focus,
    &:hover,
    &.active {
      color: $sport-primary;
    }
  }
}

.m-clear {
  margin: 0px;
}

.sport-btn-blue-outline {
  border: 1px solid $sport-primary;
  background-color: transparent;
  color: $sport-primary;
  &:hover,
  &:active,
  &:focus {
    border: 1px solid $sport-primary;
    background-color: transparent;
    color: $sport-primary;
    outline: none;
  }
}

// ********************COMMON TABLE FOR ALL SCHEDULE *************
.table-draws-schedule {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: separate;
  border-spacing: 0px 5px;
  thead {
    tr {
      th {
        border: 1px solid #000;
        padding: 8px;
        line-height: 1.428571429;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  tbody {
    tr {
      td {
        border: 1px solid #000;
        padding: 8px;
        line-height: 1.428571429;
        text-align: center;
      }
    }
  }
}

// *******************END COMMON TABLE FOR SCHEDULE ****************
// *******************TABLE FOUR *******************
.table-four {
  thead {
    tr {
      th {
        &:nth-child(-n+3) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        &:nth-child(-n+3) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
}

// *******************END TABLE FOUR ****************
// *******************TABLE FIVE ********************
.table-five {
  thead {
    tr {
      th {
        &:nth-child(-n+4) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        &:nth-child(-n+4) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
}

// *******************TABLE FIVE END  *********************
// ******************TABLE SIX ************************
.table-six {
  thead {
    tr {
      th {
        &:nth-child(-n+5) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        &:nth-child(-n+5) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
}

// ******************END TABLE SIX *********************
// *******************TABLE SEVEN ***************
.table-seven {
  thead {
    tr {
      th {
        &:nth-child(-n+6) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        &:nth-child(-n+6) {
          border-right: none;
        }
        &:nth-child(n+2) {
          border-left: none;
        }
      }
    }
  }
}

// *******************END TABLE SEVEN **************
// ********************BLUE TABLE ******************
.q-blue-table {
  .table-draws-schedule {
    thead {
      tr {
        background-color: $sport-blue-table;
        border: none;
        th {
          border: none;
          h4 {
            color: $sport-primary;
            @extend .d-fjalla-one;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border: none;
          background-color: $sport-table-grey;
          @extend .d-opensans-regular;
        }
      }
    }
  }
}

// ********************END BLUE TABLE*****************
// ********************ORANGE TABLE *******************
.q-orange-table {
  .table-draws-schedule {
    thead {
      tr {
        background-color: $sport-warning;
        border: none;
        th {
          border: none;
          h4 {
            color: $sport-primary;
            @extend .d-fjalla-one;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border: none;
          background-color: $sport-table-grey;
          @extend .d-opensans-regular;
        }
      }
    }
  }
}

// ********************END ORANGE TABLE ***************
// END COMMON CLASS
// *******************QUALIFYING+ FINAL ROUND************************
.qualifying-final-round {
  min-height: 100vh;
  .qf-final-event-holder {
    border: 1px solid $sport-grey-year;
    padding: 25px;
  }
  .qf-final-finalround {
    border-bottom: 2px solid $sport-primary;
  }
  .qf-final-qualifyinground {
    margin: 25px 0px;
  }
  .qf-final-viewmore {
    text-align: right;
  }
  .qf-final-sportname {
    margin: 40px;
    border-bottom: 1px solid $sport-grey-year;
  }
  .draws-downloadpdf {
    margin-bottom: 30px;
  }
}

// FINAL ROUND TABLE
.qf-final-finaltable,
.qf-final-qualifyinground {
  margin-bottom: 10px;
  .table-draws-schedule {
    thead {
      tr {
        background-color: $sport-blue-table;
        border: none;
        th {
          border: none;
          h4 {
            color: $sport-primary;
            @extend .d-fjalla-one;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border: none;
          background-color: $sport-table-grey;
          @extend .d-opensans-regular;
        }
      }
    }
  }
}

// END FINAL ROUND TABLE
// *******************END QUALIFYING + FINAL ROUND********************
// CHAMPIONSHIP SCHEDULE PAGE
.chamionshipschedule-page {
  padding: 40px 0;
}

.championship-drawstitle {
  padding: 20px 0;
  text-align: center;
  h3 {
    color: $sport-warning;
  }
  p {
    font-size: 16px;
  }
}

.championshipdraw-card-lable {
  width: 25%;
  vertical-align: middle;
  font-size: 16px;
  text-align: right;
  padding: 8px;
}

.championshipdraw-card-dropdown {
  vertical-align: middle;
  width: 60%;
}

// CHAMPIONSHIP SCHEDULE PAGE END
//*********************** QUALIFYING + KNOCKOUT ******************
.qualifying-knockout-round {
  min-height: 100vh;
  .qf-knockout-sportname {
    margin: 30px 40px;
    border-bottom: 1px solid $sport-grey-year;
  }
  .qf-knockout-sporteventname {
    margin: 30px 0;
  }
  .draws-downloadpdf {
    padding-bottom: 25px;
  }
  .qf-knockout-holder {
    border: 1px solid $sport-grey-year;
    padding: 25px;
  }
  .qf-knockout-viewmore {
    padding-bottom: 25px;
    border-bottom: 2px solid $sport-primary;
  }
  .qf-knockout-qualifyinghead {
    padding-top: 40px;
  }
}

//  *********************END QUALIFYING + KNOCKOUT ***************
// **********************TIME TRIAL ROUND *************************
.time-trial-round {
  min-height: 100vh;
  .time-trial-sportname {
    margin: 30px 40px;
  }
  .draws-downloadpdf {
    padding-bottom: 25px;
    border-bottom: 1px solid $sport-grey-year;
  }
  .time-trial-winnerholder {
    border: 1px solid $sport-grey-year;
    padding: 25px;
  }
  .time-trial-eventname {
    padding-bottom: 25px;
  }
  .time-trial-winnerhead {
    padding-bottom: 30px;
  }
  .time-trial-winnertable {
    padding-bottom: 25px;
    border-bottom: 2px solid $sport-primary;
  }
  .time-trial-timehead {
    padding-top: 40px;
  }
}

// ACCORDIAN
.time-trial-accordian {
  .panel-default>.panel-heading {
    background-color: $sport-blue-table;
  }
  .panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .panel-default {
    border-color: #fff;
  }
}

.time-trial-accordioncontent {
  .q-blue-table {
    .table-draws-schedule {
      thead {
        tr {
          background-color: #dbdbdb;
          border: none;
          th {
            border: none;
            h4 {
              color: $sport-primary;
              @extend .d-fjalla-one;
            }
          }
        }
      }
    }
  }
}

// END ACCORDIAN
// **********************END TIME TRIAL ROUND *********************
// **********************HEATS ROUNDS*************************
.heat-rounds {
  min-height: 100vh;
  .heat-sportname {
    margin: 30px 40px;
  }
  .draws-downloadpdf {
    padding-bottom: 25px;
    border-bottom: 1px solid $sport-grey-year;
  }
  .heats-finalrounds-holder {
    border: 1px solid $sport-grey-year;
    padding: 25px;
  }
  .heats-semifinalhead {
    padding-top: 30px;
  }
  .heats-final-table {
    padding-bottom: 25px;
    border-bottom: 2px solid $sport-primary;
  }
  .heat-eventname {
    padding-bottom: 25px;
  }
}

// ACCORDIAN
.heat-trial-accordian {
  .panel-default>.panel-heading {
    background-color: $sport-green-table;
  }
}

// END ACCORDIAN
// **********************END HEATS ROUNDS ********************
//*********************** LEAGUE CUM KNOCKOUT ***************
.league-knockout-round {
  min-height: 100vh;
  .league-knockout-sportname {
    margin: 30px 40px;
  }
  .league-knockout-outerholder {
    padding: 25px;
    border: 1px solid $sport-grey-year;
  }
  .league-knockout-table,
  .league-knockout-accordian,
  .league-knockout-pointsviewmore {
    padding-bottom: 25px;
    border-bottom: 2px solid $sport-primary;
  }
  .league-knockout-pointshead {
    padding-top: 25px;
  }
}

.league-knockout-pointsaccordian {
  .panel-default>.panel-heading {
    background-color: $sport-green-table;
  }
}

// **********************END LEAUGE CUM KNOCKOUT ************