// REGISTERED SPORTS
.step7 {
    @extend .step3;
    width: 200px;
    height: 36px;
    border: 1px solid #d3d3d3;
    font-size: 17px;
    text-align: center; // padding: 5px 20px;
    -webkit-box-shadow: 0px 0px 3px 1px lightgrey;
    -moz-box-shadow: 0px 0px 3px 1px lightgray;
    box-shadow: 0px 0px 3px 1px lightgrey;
    &:after {
        display: none;
    }
}

.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus {
    color: #333;
    background-color: transparent;
    border-color: inherit;
    outline: 0;
}

.btn-default:hover {
    color: #333;
    background-color: transparent;
    border-color: inherit;
}

.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: transparent;
    border-color: inherit;
    outline: 0;
}

.list-sportregistered {
    margin: 10px 0;
}

.sportregistered-title {
    display: inline-block;
    padding: 10px 15px;
    width: 79%;
    margin-right: 5px;
    border: 1px solid #091a71;
    vertical-align: middle;
    p {
        margin: 0;
    }
}

.sportregistered-viewbtn {
    display: inline-block;
    width: 19%;
    padding: 10px;
    border: 1px solid #091a71;
    text-align: center;
    vertical-align: middle;
}

// REGISTERED SPORTS END
// SPORT DETAIL INDIVIDUAl
.sport-detailpage {
    margin: 30px 0;
}

.sportdetail-header {
    color: #f37720;
    h3 {
        margin: 10px 0;
    }
}

.sportdetail-table {
    padding: 30px 10px;
    border-top: 2px solid #091a71;
    &:first-child {
        border-top: none;
    }
    .table {
        th {
            background: #091a71;
            color: #fff;
        }
        tr {
            background: transparent;
            td {
                text-align: left;
            }
        }
    }
}

.sport-individualtable {
    max-height: 310px;
    overflow-y: auto;
    .table {
        border: none;
        tbody {
            border: none;
            tr {
                background-color: transparent;
                border: none;
                td {
                    padding: 8px;
                    border: none;
                    text-align: left;
                }
                .sportdetail-td {
                    border: 1px solid #ccc;
                    padding: 5px;
                }
            }
        }
        thead {
            border: none;
            th {
                color: #fff;
                border: none;
            }
            .sportdetail-th {
                padding: 8px;
                background-color: #091a71;
            }
        }
    }
}

// SPORT DETAIL INDIVIDUAl END
// CITY-VIDEO
.modal-container {
    padding: 15px;
    video::-internal-media-controls-download-button {
        display: none;
    }
    video::-webkit-media-controls-enclosure {
        overflow: hidden;
    }
    video::-webkit-media-controls-panel {
        width: calc(100% + 30px);
        /* Adjust as needed */
    }
    video {
        max-width: 100%;
        height: auto;
    }
}

.sfavideo-content {
    p {
        font-size: 20px;
        margin-top: 10px;
    }
    .video-city {
        background-color: #53bb74;
        color: #fff;
        font-family: Titillium Web;
        font-size: 16.68px;
        font-weight: 400
    }
}

// END CITY-VIDEO
// ABOUT CHAMPIONSHIP HYDERABAD
.hyderabad-sporticonholder {
    padding: 30px 0px;
    .sport-icon-championship {
        padding: 0;
        text-align: center;
    }
    .sport-icon-championship li {
        width: 10%;
        padding: 0 20px;
    }
}

.prosport-holder {
    .proffessional {
        padding: 20px;
    }
    .brand-blue {
        color: #0a1a72;
        &:before {
            background-color: #0a1a72;
            border: 1px solid #0a1a72;
        }
    }
    .hyderabad-prosportimageholder {
        width: 90%;
    }
    .hyderabad-prosportexperience {
        h3 {
            color: #0da24a;
        }
    }
}

.prosporteducation-head {
    h3 {
        color: #0da24a;
    }
}

.prosporteducation-holder {
    .proffessional {
        padding: 5px;
    }
}

.pro-dataanalytics-head {
    color: #0da24a;
    letter-spacing: 1px;
}

// .another-pro-data-holder {
//     margin-top: 55px;
// }
// END ABOUT CHAMPIONSHIP
// MATCH CENTER
.matchcenter-modal {
    // color: red;
    .matchwinner-title {
        font-size: 16px;
        font-weight: 700;
    }
    .modal-header {
        padding: 0px;
    }
    .combatscore-page {
        min-height: calc(100vh - 60px);
    }
    .scoring-set {
        padding: 10px 0; // border-bottom: 1px solid #ccc;
    }
    .combatscore-scorecard {
        text-align: center;
        &:last-child {
            .scoring-set {
                border-bottom: none;
            }
        }
    }
    .scoring-set {
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
    .score-number {
        width: 60px;
        height: 60px;
        padding: 5px 10px;
        margin: 0 auto;
        font-size: 24px;
        text-align: center;
    }
    .score-buttons {
        padding: 10px 13px;
        margin: 0px 5px;
        border: 1px solid $dark-grey;
        border-radius: 100%;
        box-shadow: 2px 2px 5px #a0a0a0;
        background-color: transparent;
        cursor: pointer;
        font-size: 21px;
        line-height: 1;
        &:active,
        &:focus,
        &:hover {
            outline: 0;
            outline-offset: 0;
            box-shadow: 2px 2px 5px #a0a0a0;
        }
    }
    .combatscore-uploads {
        margin: 20px 0 30px;
        text-align: center;
    }
    .btn-uploadscoring {
        width: auto;
    }
    .matchstart-uploadholder {
        position: relative;
        overflow: hidden;
    }
    .upload-scorecard {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;
    }
    .combatscore-uploadpic {
        width: 110px;
        height: auto;
        padding: 2px;
        border: 1px solid #ccc;
        margin: 0px 10px 10px 0;
        display: inline-block;
        position: relative; // background-color: #757575;
        color: #fff;
        overflow: hidden;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
    }
    .combatscore-pics,
    .combatscore-selects {
        margin: 20px 0;
    } // MATCH START PAGE
    .matchstart-page,
    .racketscore-page,
    .scorefootball-page {
        min-height: calc(100vh - 100px);
        position: relative;
    }
    .matchstart-header {
        padding: 10px 15px;
        background-color: $brand-primary;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
    }
    .matchplayer-card {
        padding: 10px;
        margin: 20px auto;
        box-shadow: 0 0 10px #a0a0a0;
        position: relative;
    }
    .player1 {
        border-bottom: 10px solid #7fdfff;
    }
    .player2 {
        border-bottom: 10px solid $brand-danger;
    }
    .matchplayer-playerid {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        font-size: 12px;
    }
    .matchplayer-image {
        width: 60px;
        height: 60px;
        border: 1px solid red;
        border-radius: 100%;
        margin: 0 10px;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
    }
    .matchplayer-details {
        width: calc(100% - 125px);
        margin-top: 10px;
        display: inline-block;
        vertical-align: middle;
        .matchplayer-name {
            font-size: 16px;
            font-weight: 700;
        }
        .matchplayer-school {
            font-size: 14px;
        }
    }
    .matchstart-noshow,
    .matchstart-uploadpic {
        width: 100%;
        height: 150px;
        margin: 50px 0 20px;
        position: relative;
        background-color: $dark-grey;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        p {
            width: 100%;
        }
    }
    .matchstart-uploadpic {
        margin: 10px;
        margin-left: 0;
        display: inline-block;
        background-color: transparent;
    }
    .remove-pic {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;
    }
    .matchstart-score {
        padding: 10px 0;
        margin: 20px 0;
    }
    .btn-scoring {
        width: 100%;
        text-transform: uppercase;
    }
    .opponentsingle-selector {
        padding: 3px 20px;
        margin: 0;
    }
    .match-selectwinner {
        .ui-select-bootstrap .ui-select-choices-row>span {
            padding: 0;
        }
    } // MATCH START PAGE END
    // RACKET-SCORE PAGE
    .datapoint-name {
        position: absolute;
        top: 20%;
        left: 0px;
        @include transform(translateY(-50%));
    }
    .showhide-set {
        padding: 10px 0;
        .form-group {
            margin: 0;
        }
    }
    .addset {
        float: right;
    }
    .setshow-element {
        margin: 0px 10px;
    }
    .racquet-setscore {
        margin: 20px 0;
        text-align: center;
        .scoring-set {
            border: none;
            margin: 0px;
        }
    }
    .setpoint-element {
        display: inline-block;
        vertical-align: middle;
        label {
            display: block;
        }
    } // RACKET-SCORE PAGE END
}

// MATCH CENTER END