<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{title}} Gallery</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <form name="detailForm" role="form" class="sec">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Type</label>
                                    <select name="selectgender" class="form-control" ng-model="formData.folderType
                                    " placeholder="Enter Type" ng-change="getFolderNames(formData,true);" required>
 <option style="display:none" >Enter Type</option>
                                                   <option value="Sport">Sport</option>
                                                   <option value="Category">Category</option>
                                                  </select>
                                    <div class="error-msg" ng-if="detailForm.selectgender.$invalid && detailForm.selectgender.$touched">Please Enter Gender*</div>
                                </div>
                                <div class="form-group">
                                    <label>Folder Name </label>
                                    <ui-select name="selectSchoolName" id="selectSchoolName" theme="bootstrap" ng-model="formData.folderName" required>
                                        <pre>{{$select.selected}}</pre>
                                        <ui-select-match placeholder="Enter Folder Name" allow-clear="true">
                                            {{$select.selected.fileName}}
                                        </ui-select-match>
                                        <ui-select-choices refresh.delay="0" repeat="item.fileName as item in folderNames | filter:$select.search" refresh=" ">
                                            <span ng-bind-html="item.fileName"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="error-msg" ng-if="detailForm.selectSchoolName.$invalid && detailForm.selectSchoolName.$touched">Please Enter Folder Name *</div>
                                </div>
                                <div class="text-center mt20 odd-even-button">
                                    <button class="btn btn-default" type="submit" ng-click="saveData(formData)" ng-disabled="detailForm.$invalid">Save</button>
                                    <button class="btn btn-default" ng-click="onCancel('gallery')">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <!--<div class="text-center mt20 odd-even-button">
                            <button class="btn btn-default" type="submit" ng-click="saveData(data)">Save</button>
                            <button class="btn btn-default" ng-click="onCancel(json.json.action[1].stateName)">Cancel</button>
                        </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>