<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>Cloud folder</h2>
      </div>
    </div>
  </div>
</div>
<!--Table-->
<div class=" panel-content ">
  <div class="row ">
    <div class="col-md-12 ">
      <div class="widget ">
        <div class="table-area ">
          <div class="widget-title ">
            <div class="pull-right">
              <label for="">
                <strong>Select type to view data</strong>
              </label>
              <select name="foldertype" class="form-control" id="" ng-model="folderType" ng-change="getFolder(folderType)">
                <option value="Category">Category</option>
                <option value="Sport">Sports</option>
              </select>
            </div>
            <h3>List of Cloud Folder<span class="tableTotal ">(Total : {{foldersData.length}}) </span></h3>
          </div>
          <div class="table-responsive ">
            <!--<div class="table-responsive " ng-show="totalItems>0 ">-->
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>
                    Folder Name
                  </th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <!--<tr ng-repeat="item in items">-->
                <tr ng-repeat="item in foldersData | orderBy:'fileName'  track by $index">
                  <!--<tr>-->
                  <td>{{$index + 1}}</td>
                  <!--<td>{{($index + 1)}}</td>-->
                  <td>{{item.fileName}}</td>
                  <td>
                    <a class="btn btn-danger" ng-click="confDel(item.fileName)">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="tableData " ng-show="totalItems===0 ">
            <h5>No data found</h5>
          </div>
          <div class="tableData " ng-show="totalItems===undefined ">
            <h5>Loading Data</h5>
          </div>
          <ul ng-if="totalItems" ng-change="viewTable()" uib-pagination total-items="totalItems" items-per-page="maxRow" ng-model="formData.page"
            max-size="template.pageMax" class="pagination-sm" boundary-links="true " force-ellipses="true "></ul> -->
        </div>
      </div>
    </div>
  </div>
</div>