<!-- REGISTER FORM SCHOOL -->
<div class="registerform-schoolpage registerform-page ">
  <!-- CONTAINER -->
  <div class="container">
    <!-- HEADER -->
    <div class="registerform-schoolheader registerform-title ">
      {{type | capitalize}} REGISTRATION form
    </div>
    <!-- HEADER END -->

    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
        <!-- REGISTER GUIDELINES -->
        <section class="registerform-schoolguidelines">
          <!-- GUIDELINE CARD -->
          <div class="form-card">
            <!-- <a class="fancybox.iframe" fancybox href="img/pdf/sfa_agegroup_event.pdf#toolbar=0">
                  demo click
              </a> -->
            <p>The annual {{type}} registration fee for SFA Championship {{eventYear}}, {{sfaCity}} is Rs. 2,500 (+ applicable
              taxes)
              <a ng-click="regisBenModal(type,sfaCity,year,eventYear)">
                <strong>Click here</strong>
              </a> to view registered {{type}} benefits for SFA Championships City {{eventYear}}, {{sfaCity}}. </p>
            <p class="formregister-heading text-uppercase formregister-mtb20">
              REGSITRATION FOR SFA CHAMPIONSHIP {{eventYear}}, {{sfaCity}} IS A 2-STEP PROCESS.
            </p>
            <p class="formregister-heading text-uppercase formregister-mtb20">
              STEP 1 OF THE REGISTRATION PROCESS WILL BE CONSIDERED COMPLETE ONLY WHEN SFA RECEIVES THE PAYMENT SUCCESSFULLY. YOU WILL
              BE SENT AN EMAIL CONFIRMING THE SAME.
            </p>
            <p class="formregister-heading">
              We request you to keep the following details ready to ensure a smooth registration process:
              <ul class="formregister-list">
                <li>
                  Mobile Number which you wish to register with SFA
                </li>
                <li>
                  Email ID which you wish to register with SFA
                </li>
                <li>
                  Credit Card/Debit Card/Bank Details (in case of online payment)
                </li>
                <li>
                  Your {{type}}'s logo in jpeg/PNG format (Optional).
                </li>
              </ul>
            </p>
            <p class="formregister-heading form-register-mtb20">
              *The applicant represents that the information provided is true and correct. SFA will keep confidential and protect your
              personal information expect where disclosure is required or permitted by law.
            </p>
          </div>
          <!-- GUIDELINE CARD END -->
        </section>
        <!-- REGISTER GUIDELINES END -->


        <!-- MANDANTORY -->
        <div class="registerform-mandanatory formregister-mtb20">
          Please Note : All fields with * are mandatory
        </div>
        <!-- MANDANTORY END -->

        <!-- FORM -->
        <form name="schoolRegisterForm" class="form-horizontal" ng-submit="saveRegis(formData,schoolRegisterForm)">
          <!-- SCHOOL DETAILS -->
          <section class="registorform-schooldetails">
            <!-- TAB -->
            <div class="section-tab">
              Step 1: {{type| firstcapitalize}} Details
            </div>
            <!-- TAB END -->
            <div class="form-card">
              <!-- <pre>{{schoolRegisterForm | json}}</pre> -->
              <!-- SCHOOL/COLLEGE NAME -->
              <div class="form-group">
                <label class="col-sm-2 control-label"> *{{type| firstcapitalize}} Name :</label>
                <div class="col-sm-10">
                  <input class="form-control" id="schoolName" capitalize ng-model="formData.schoolName" autocomplete="schoolName" name="schoolName"
                    type="text" placeholder="Enter {{type | firstcapitalize }} Name" required>
                  <div class="label label-danger pull-right" ng-show="schoolRegisterForm.schoolName.$invalid && schoolRegisterForm.schoolName.$touched">Please Enter Your {{type| firstcapitalize}} Name *</div>
                </div>
              </div>
              <!-- SCHOOL/COLLEGE NAME END -->

              <!-- SFA ID -->
              <div class="form-group" ng-if="formFlag==='edit'">
                <label class="col-sm-2 control-label">SFAID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="formData.sfaID" autocomplete="sfaID" name="sfaID" ng-readonly="formFlag==='edit'">
                </div>
              </div>
              <!-- SFA ID END -->

              <!--SCHOOL/COLLEGE TYPE  -->
              <div class="form-group">
                <label class="col-sm-2 control-label"> *{{type| firstcapitalize}} Type : </label>
                <div class="col-sm-10">
                  <select name="schoolType" ng-model="formData.schoolType" class="form-control" required>
                    <option style="display:none"></option>
                    <option>Co-Educational</option>
                    <option>Boys</option>
                    <option>Girls</option>
                  </select>
                  <div class="label label-danger pull-right " ng-show="schoolRegisterForm.schoolType.$invalid && schoolRegisterForm.schoolType.$touched">Please Enter Your {{type| firstcapitalize}} Type*</div>
                </div>
              </div>
              <!--SCHOOL/COLLEGE TYPE END  -->

              <!-- CATEGORY -->
              <div class="form-group">
                <label class="col-sm-2 control-label"> *{{type| firstcapitalize}} Category : </label>
                <div class="col-sm-10">
                  <select name="schoolCategory" ng-model="formData.schoolCategory" class="form-control" title="Select Category" required>
                    <option style="display:none"></option>
                    <option>Un-aided </option>
                    <option>Government </option>
                    <option> Aided</option>
                  </select>
                  <div class="label label-danger pull-right " ng-show="schoolRegisterForm.schoolCategory.$invalid && schoolRegisterForm.schoolCategory.$touched">Please Enter Your {{type| firstcapitalize}} Category*</div>
                </div>
              </div>
              <!-- CATEGORY END -->

              <!-- SCHOOL BOARD -->
              <div class="form-group" ng-if="isCollege == false">
                <label class="col-sm-2 control-label"> * Affiliated Board : </label>
                <div class="col-sm-10">
                  <select name="affiliatedBoard" class="form-control" ng-model="formData.affiliatedBoard" required>
                    <option style="display:none"></option>
                    <option>Central Board of Secondary Education (CBSE) </option>
                    <option>Cambridge & IB</option>
                    <option>International Baccalaureate (IB)</option>
                    <option>Indian Certificate of Secondary Education (ICSE)</option>
                    <option>International General Certificate of Secondary Education (IGCSE)</option>
                    <option>National Institute of Open Schooling (NIOS)</option>
                    <option>Secondary School Certificate (SSC)</option>
                    <option>A Level</option>
                  </select>
                  <div class="label label-danger pull-right " ng-show="schoolRegisterForm.affiliatedBoard.$invalid && schoolRegisterForm.affiliatedBoard.$touched">Please Enter Your Affiliated Board*</div>
                </div>
              </div>
              <!-- SCHOOL BOARD END -->

              <!-- COLLEGE -->
              <div class="form-group" ng-if="isCollege == true">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-4 control-label"> * University :</label>
                    <div class="col-sm-8">
                      <select name="affiliatedBoardCollege" class="form-control" ng-model="formData.affiliatedBoard" required>
                        <option style="display:none"></option>
                        <option>Mumbai University (MU)</option>
                        <option>Other</option>
                      </select>
                      <div class="label label-danger pull-right" ng-show="schoolRegisterForm.affiliatedBoardCollege.$invalid && schoolRegisterForm.affiliatedBoardCollege.$touched">Please Enter Your College Board *</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group" ng-if="formData.affiliatedBoard == 'Other'">
                    <label class="col-sm-4 control-label"> Other:</label>
                    <div class="col-sm-8">
                      <input name="affiliatedBoardOther" placeholder="Enter Other University" ng-model="formData.affiliatedBoards" type="text"
                        class="form-control" required>
                      <div class="label label-danger pull-right" ng-show="schoolRegisterForm.affiliatedBoardOther.$invalid && schoolRegisterForm.affiliatedBoardOther.$touched">Please Enter Your Locality *</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- COLLEGE END -->

              <!-- UPLOAD -->
              <div class="form-group">
                <label class="col-sm-2 control-label">Upload {{type| firstcapitalize}} Logo:</label>
                <div class="col-sm-5">
                  <div class="dirctive-op text-left">
                    <upload-image2 class="up-img schoolLogo ng-isolate-scope" file-types="'image/jpeg,image/png'" ng-disabled="type.disabled"
                      ng-callback="changeitSchoolLogo" ng-model="formData.schoolLogo" ng-click="show=1" no-view></upload-image2>
                  </div>
                  <div class="registerform-uploadimageholder">
                    <div class="register-imageplace" ng-if="show==1 && formData.schoolLogo">
                      <a fancybox href="{{formData.schoolLogo | serverimage2}}" data-fancybox="group" data-caption="{{gallery.image}}" rel="arcGal"
                        share="https://sfanow.in">
                        <img src="{{formData.schoolLogo |serverimage2}}" class="img-responsive">
                      </a>
                    </div>
                  </div>
                  <div class="hover-img" ng-if="show==1 && formData.schoolLogo">
                    <img src="img/icon/x.png" alt="logo" class="img-responsive myicon" ng-click="removeImage(formData.schoolLogo, 'schoolLogo')">
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-infonote">
                    This Logo will be displayed on your SFA {{type | firstcapitalize}} profile. Kindly upload only .jpg or .png format. Maximum
                    file size 5MB.
                  </div>
                </div>
              </div>
              <!-- UPLOAD END -->

              <!-- SET PASSWORD -->
              <div class="form-group">
                <!-- PASSWORD -->
                <div class="col-sm-8">
                  <!-- SET PASSWORD -->
                  <div class="form-group">
                    <label class="col-sm-4 control-label">*Create Password : </label>
                    <div class="col-sm-8">
                      <input class="form-control" id="setPassword" capitalize ng-model="formData.password" name="setPassword" type="password" placeholder="Enter Password - Minimum 8 Characters"
                        minlength="8" autocomplete="new-password" ng-change="clearPassword()" required>
                      <div class="label label-danger pull-right" ng-show="schoolRegisterForm.setPassword.$invalid && schoolRegisterForm.setPassword.$touched">Please Enter Your Password Minimum 8 Character required*</div>
                    </div>
                  </div>
                  <!-- SET PASSWORD END -->

                  <!-- CONFIRM PASSWORD -->
                  <div class="form-group  has-feedback" ng-class=" { 'has-success':matchedSuccess===true , 'has-error':notMatchedError===true} ">
                    <label class="col-sm-4 control-label"> *Confirm Password : </label>
                    <div class="col-sm-8">
                      <input class="form-control" id="confirmPassword" capitalize ng-model="confirmPassword" ng-change="validatePassword(formData.password,confirmPassword)"
                        name="confirmPassword" type="password" placeholder="Re-enter Password to Confirm Password" minlength="8"
                        autocomplete="new-password" required>
                      <span class="fa fa-check form-control-feedback" ng-if="matchedSuccess"></span>
                      <span class="fa fa-times form-control-feedback" ng-if="notMatchedError"></span>
                      <div class="label label-danger pull-right" ng-show="schoolRegisterForm.confirmPassword.$invalid && schoolRegisterForm.confirmPassword.$touched">Please Enter Confirm Password -Minimum 8 characters*</div>
                      <div class="label label-danger pull-right" ng-if="!(schoolRegisterForm.confirmPassword.$invalid && schoolRegisterForm.confirmPassword.$touched)"
                        ng-show="notMatchedError">Entered Password Does Not Match *</div>
                    </div>
                  </div>
                  <!-- CONFIRM PASSWORD END -->
                </div>
                <!-- PASSWORD END -->

                <!-- INFO NOTE -->
                <div class="col-sm-4">
                  <div class="form-infonote">
                    You will need this password to complete sports registration (STEP 2). This password must be kept confidential.
                  </div>
                </div>
                <!-- INFO NOTE END -->
              </div>
              <!-- SET PASSWORD END -->

            </div>
          </section>
          <!-- SCHOOL DETAILS END -->

          <!-- CONTACT DETAILS -->
          <section class="registorform-schoolcontactdetails ">
            <!-- TAB -->
            <div class="section-tab">
              <span>Step 2: </span> Contact Details
            </div>
            <!-- TAB END -->

            <!-- CONTACT CARD -->
            <div class="form-card">

              <div class="formregister-heading">
                {{type | firstcapitalize}} Address
              </div>
              <!-- LINE 1 ADDRESS -->
              <div class="form-group">
                <label class="col-sm-2 control-label"> *Line 1:</label>
                <div class="col-sm-10">
                  <input class="form-control" id="schoolAdd" autocomplete='address-line1' capitalize ng-model="formData.schoolAddress" name="schoolAdd"
                    type="text" placeholder="Enter {{type | firstcapitalize}} Address" required>
                  <div class="label label-danger pull-right" ng-show="schoolRegisterForm.schoolAdd.$invalid && schoolRegisterForm.schoolAdd.$touched">Please Enter Your {{type}} Address *</div>
                </div>
              </div>
              <!-- LINE 1 ADDRESS END -->

              <!-- LINE 2 ADDRESS -->
              <div class="form-group">
                <label class="col-sm-2 control-label">Line 2:</label>
                <div class="col-sm-10">
                  <input class="form-control" id="schoolAddressLine2" autocomplete='address-line2' capitalize ng-model="formData.schoolAddressLine2"
                    name="schoolAddressLine2" type="text" placeholder="Enter {{type | firstcapitalize}} Address">
                  <!-- <div class="label label-danger pull-right" ng-show="schoolRegisterForm.schoolAddressLine2.$invalid && schoolRegisterForm.schoolAddressLine2.$touched">Please Enter Your School Address *</div> -->
                </div>
              </div>
              <!-- LINE 2 ADDRESS END -->

              <!-- STATE/DISTRICT -->
              <div class="form-group">
                <!-- STATE -->
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-4 control-label">State:</label>
                    <div class="col-sm-8">
                      <input class="form-control" id="focusedInput" autocomplete='address-level1' capitalize ng-model="formData.state" name="state"
                        type="text" readonly>
                      <!-- <div class="label label-danger pull-right" ng-show="schoolRegisterForm.city.$invalid && schoolRegisterForm.city.$touched">Please Enter Your City *</div> -->
                    </div>
                  </div>
                </div>
                <!-- STATE END -->
                <!-- DISTRICT -->
                <div class="col-sm-6">
                  <div class="form-group" ng-if="district.length > 0">
                    <label class="col-sm-4 control-label">*District:</label>
                    <div class="col-sm-8">
                      <!-- <input name="district" only-alpha ng-model="formData.district" capitalize type="text" class="form-control" required> -->
                      <select class="sfa-drop2 form-control sf-list" name="district" ng-model="formData.district" ng-options="districts for districts in district"
                        required>
                      </select>
                      <div class="label label-danger pull-right" ng-show="schoolRegisterForm.district.$invalid && schoolRegisterForm.district.$touched">Please Enter Your District*</div>
                    </div>
                  </div>
                </div>
                <!-- DISTRICT END -->
              </div>
              <!-- STATE/DISTRICT END -->

              <!-- CITY/AREA/ -->
              <div class="form-group">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-4 control-label"> * City :</label>
                    <div class="col-sm-8">
                      <select name="city" ng-model="formData.city" autocomplete='address-level2' class="form-control" ng-options="cities for cities in city"
                        required>
                      </select>
                      <div class="label label-danger pull-right" ng-show="schoolRegisterForm.city.$invalid && schoolRegisterForm.city.$touched">Please Enter Your City *</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-4 control-label">*Area/Locality :</label>
                    <div class="col-sm-8">
                      <input name="regislocality" id='locality' only-alpha ng-model="formData.locality" capitalize type="text" class="form-control"
                        required>
                      <div class="label label-danger pull-right" ng-show="schoolRegisterForm.regislocality.$invalid && schoolRegisterForm.regislocality.$touched">Please Enter Your Locality *</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- CITY/AREA/ END -->

              <!-- PINCODE -->
              <div class="form-group">
                <label class="col-sm-2 control-label">* Pincode :</label>
                <div class="col-sm-4">
                  <input type="text" name="regispincode" ng-model="formData.pinCode" autocomplete='postal-code' only-Digits class="sfa-drop2 form-control"
                    minlength="6" maxlength="6" placeholder="Enter Pincode" required>
                  <div class="label label-danger pull-right" ng-show="schoolRegisterForm.regispincode.$invalid && schoolRegisterForm.regispincode.$touched">Please Enter Your Pincode *</div>
                </div>
              </div>
              <!-- PINCODE END -->

              <!-- CORRESPONDANCE -->
              <div class="correspondence-schoolholder">
                <!-- CORRESPONDENCE TEXT -->
                <div class="registerform-schooldetailcorrespondence">
                  <div class="formregister-heading">
                    Details For Correspondence
                  </div>
                  <p>All communication regarding SFA {{sfaCity | capitalize}} {{eventYear}} for e.g. last date of registration,
                    draws & schedules, changes in schedule etc. will be sent on the below mentioned details.</p>
                </div>
                <!-- CORRESPONDENCE TEXT END -->

                <!-- DETAILS -->
                <div class="registerform-schoolcorrespondancecontact">
                  <!-- CONTACT/DESIGNATION -->
                  <div class="form-group">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">*Contact Person:</label>
                        <div class="col-sm-8">
                          <input name="contactPerson" ng-model="formData.contactPerson" capitalize only-alpha type="text" class="form-control" placeholder="Enter Contact Person"
                            required>
                          <div class="label label-danger pull-right" ng-show="schoolRegisterForm.contactPerson.$invalid && schoolRegisterForm.contactPerson.$touched">Please Enter Contact Person *</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">Designation:</label>
                        <div class="col-sm-8">
                          <input name="contactDesignation" id='contactDesignation' ng-model="formData.contactDesignation" capitalize only-alpha type="text"
                            class="form-control" placeholder="Enter the Designation">
                          <!-- <div class="label label-danger pull-right" ng-show="schoolRegisterForm.contactDesignation.$invalid && schoolRegisterForm.contactDesignation.$touched">Please Enter Your Locality *</div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--CONTACT/DESIGNATION END -->

                  <!-- LANDLINE /MOBILE -->
                  <div class="form-group">
                    <!-- LANDLINE -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">Landline :</label>
                        <div class="col-sm-8">
                          <input ng-model="formData.landline" name="regisLandline" autocomplete="landline" only-Digits type="text" class="form-control"
                            minlength="10" maxlength="11" placeholder="Enter Landline Number">
                          <div class="label label-danger pull-right" ng-show="schoolRegisterForm.regisLandline.$invalid && schoolRegisterForm.regisLandline.$touched">Please Enter Landline *</div>
                        </div>
                      </div>
                    </div>
                    <!-- LANDLINE END -->

                    <!-- MOBILE -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">*Mobile :</label>
                        <div class="col-sm-8">
                          <input name="mobile" ng-model="formData.mobile" type="text" autocomplete='tel' only-Digits class="form-control" minlength="10"
                            maxlength="10" required placeholder="Enter the Mobile no">
                          <div class="label label-danger pull-right" ng-show="schoolRegisterForm.mobile.$invalid && schoolRegisterForm.mobile.$touched">Please Enter Mobile No *</div>
                        </div>
                      </div>
                    </div>
                    <!-- MOBILE END -->
                  </div>
                  <!-- LANDLINE /MOBILE END -->

                  <!-- WEBSITE -->
                  <div class="form-group">
                    <label class="col-sm-2 control-label"> Website :</label>
                    <div class="col-sm-10">
                      <input ng-model="formData.website" name="website" type="text" class="form-control" placeholder="Enter your Website Name">
                      <!-- <div class="label label-danger pull-right" ng-show="schoolRegisterForm.website.$invalid && schoolRegisterForm.website.$touched">Please Enter Your Website Name *</div> -->
                    </div>
                  </div>
                  <!-- WEBSITE END -->

                  <!-- PAN/GST NO -->
                  <div class="form-group">
                    <!-- PAN -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">PAN No :</label>
                        <div class="col-sm-8">
                          <input ng-model="formData.panNo" touppercase name="panno" type="text" class="form-control" minlength="10" maxlength="10"
                            placeholder="Enter PAN No">
                          <!-- <div class="label label-danger pull-right" ng-show="schoolRegisterForm.panno.$invalid && schoolRegisterForm.panno.$touched">Please Enter Pan No *</div> -->
                        </div>
                      </div>
                    </div>
                    <!-- PAN END -->

                    <!-- GST NO -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">GSTIN No :</label>
                        <div class="col-sm-8">
                          <input name="gstNo" ng-model="formData.gstNo" type="text" class="bor-t form-control" minlength="15" maxlength="15" placeholder="Enter GSTIN No">
                          <p>If you do not enter your GSTIN No. it will be considered that you have not registered for GSTIN</p>
                          <!-- <div class="label label-danger pull-right" ng-show="schoolRegisterForm.gstNo.$invalid && schoolRegisterForm.gstNo.$touched">Please Enter Your Gst No *</div> -->
                        </div>
                      </div>
                    </div>
                    <!-- GST NO END -->
                  </div>
                  <!-- PAN/GSTN NO END -->

                  <!-- EMAIL/OTP -->
                  <div class="form-group">
                    <!-- EMAIL -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">*Email :</label>
                        <div class="col-sm-8">
                          <div class="input-group">
                            <input name="email1" placeholder="Email ID" autocomplete='email' ng-model="formData.email" ng-change="checkChange('email')"
                              type="email" class="form-control" required>
                            <div class="input-group-btn" ng-if="showOtpSuccess===true && formFlag==='edit' || formFlag==='create'">
                              <button type="button" class="formregister-btn" ng-click="sendOTP(formData.email)">
                                <i class="">Send OTP</i>
                              </button>
                            </div>
                          </div>
                          <div class="label label-danger pull-right" ng-show="schoolRegisterForm.email1.$invalid && schoolRegisterForm.email1.$touched">Please Enter Your Email*</div>
                        </div>
                      </div>
                    </div>
                    <!-- EMAIL END -->

                    <!-- OTP NO -->
                    <div class="col-sm-6" ng-if="showOtpSuccess===true && formFlag==='edit' || formFlag==='create'">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">OTP :</label>
                        <div class="col-sm-8">
                          <div class="input-group">
                            <input ng-model="formData.enterOTP" ng-change="checkOTP(formData.enterOTP)" autocomplete='otpData' only-Digits type="text"
                              maxlength="4" class="form-control" required placeholder="Enter OTP Sent to Email ID">
                            <div class="label label-danger pull-right" ng-if="formRegister.email1.$invalid && formRegister.email1.$touched">Please Enter Your Email Id</div>
                            <div ng-if="!(formRegister.email1.$invalid && formRegister.email1.$touched)" class="label label-danger pull-right" ng-show="showOtpSuccess">Please Enter Correct Email OTP</div>
                            <div ng-if="formRegister.email1.$invalid && formRegister.email1.$touched" class="label label-danger pull-right" ng-show="showOtpSuccess">Please Enter Correct Email OTP</div>
                          </div>
                          <p>Please enter the OTP which has been sent to your email ID</p>
                          <!-- <div class="label label-danger pull-right" ng-show="schoolRegisterForm.gstNo.$invalid && schoolRegisterForm.gstNo.$touched">Please Enter Your Gst No *</div> -->
                        </div>
                      </div>
                    </div>
                    <!-- OTP NO END -->
                  </div>
                  <!-- EMAIL/OTP END -->

                </div>
                <!-- DETAILS END -->
              </div>
              <!-- CORRESPONDANCE END -->



              <!-- SCHOOL/COLLEGE PRINCIPAL -->
              <div class="registerform-schoolprincipal">
                <!-- HEADING -->
                <div class="formregister-heading">
                  {{type| firstcapitalize}} Principal
                </div>
                <!-- HEADING END -->

                <!-- PRINCIPAL NAME -->
                <div class="form-group">
                  <label class="col-sm-2 control-label"> * Name :</label>
                  <div class="col-sm-10">
                    <input ng-model="formData.schoolPrincipalName" capitalize name="schoolPrincipal" only-alpha type="text" class="form-control"
                      required placeholder="Enter Principal Name">
                    <div class="label label-danger pull-right" ng-show="schoolRegisterForm.schoolPrincipal.$invalid && schoolRegisterForm.schoolPrincipal.$touched">Please Enter Your {{type| firstcapitalize}} Principal Name *</div>
                  </div>
                </div>
                <!-- PRINCIPAL NAME END -->

                <!-- PRINCIPAL MOBILE / LANDLINE -->
                <div class="form-group">
                  <!-- MOBILE -->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-sm-4 control-label"> Mobile :</label>
                      <div class="col-sm-8">
                        <input ng-model="formData.schoolPrincipalMobile" name="principalmobile" autocomplete="pricipalMobile" only-Digits type="text"
                          class="form-control" minlength="10" maxlength="10" placeholder="Enter Principal Mobile No">
                        <!-- <div class="label label-danger pull-right" ng-show="schoolRegisterForm.principalmobile.$invalid && schoolRegisterForm.principalmobile.$touched">Please Enter Principal Mobile *</div> -->
                      </div>
                    </div>
                  </div>
                  <!-- MOBILE END -->

                  <!-- LANDLINE -->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-sm-4 control-label"> Landline :</label>
                      <div class="col-sm-8">
                        <input ng-model="formData.schoolPrincipalLandline" autocomplete='address-level1' name="principalLandline" only-Digits type="text"
                          class="form-control" minlength="10" maxlength="11" placeholder="Enter Principal Landline">
                        <!-- <div class="label label-danger pull-right" ng-show="schoolRegisterForm.principalLandline.$invalid && schoolRegisterForm.principalLandline.$touched">Please Enter Your Principal Landline *</div> -->
                      </div>
                    </div>
                  </div>
                  <!-- LANDLINE END -->
                </div>
                <!-- PRINCIPAL MOBILE / LANDLINE END -->

                <!-- EMAIL -->
                <div class="form-group">
                  <label class="col-sm-2 control-label"> Email :</label>
                  <div class="col-sm-10">
                    <input ng-model="formData.schoolPrincipalEmail" name="schoolPrincipalEma" autocomplete='schoolPrincipal' type="email" class="form-control"
                      placeholder="Enter Principal Email Id">
                    <div class="label label-danger pull-right" ng-show="schoolRegisterForm.schoolPrincipalEma.$invalid && schoolRegisterForm.schoolPrincipalEma.$touched">Please Enter Your {{type| firstcapitalize}} Principal Email *</div>
                  </div>
                </div>
                <!-- EMAIL END -->

              </div>
              <!-- SCHOOL/COLLEGE PRINCIPAL END -->

              <!-- SCHOOL DEPARTMENT OPTIONAL -->
              <div class="registerform-schoolsportoptional">
                <!-- HEADING -->
                <div class="registerform-schoolsportoptional-heading">
                  <span class="formregister-heading">Sports Department</span>
                  <span class="formregister-lightheadingschool">( Optional)</span>
                </div>
                <!-- HEADING END -->
                <p>Coaches play an extremely vital role in shaping the future of young athletes. As part of your {{type}}’s
                  sporting profile, SFA would be happy to highlight the efforts of your sports department. Kindly request
                  you to fill in the following details.</p>


                <!--DETAILS  -->
                <div class="registerform-schooloptionaldetails" ng-repeat="x in formData.sportsDepartment track by $index">
                  <div class="registerform-schoolclose" ng-click="removeSportForm($index)" ng-if="$index != 1">
                    <img src="img/icon/cross.png" alt="crosslogo" class="">
                  </div>
                  <!-- DEPARTMENT NAME -->
                  <div class="form-group">
                    <label class="col-sm-2 control-label"> Name :</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="sportName" only-alpha capitalize ng-model="x.name" placeholder="Enter Coach/Teachers Name">
                      <!-- <div class="label label-danger pull-right" ng-show="schoolRegisterForm.sportName.$invalid && schoolRegisterForm.sportName.$touched">Please Enter Name *</div> -->
                    </div>
                  </div>
                  <!-- DEPARTMENT NAME END -->

                  <!-- DEPARTMENT DESIGNATION/MOBILE -->
                  <div class="form-group">
                    <!-- DESIGNATION -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="col-sm-4 control-label"> Designation :</label>
                        <div class="col-sm-8">
                          <input type="text" name="designt" alpha-special class="form-control" capitalize ng-model="x.designation" placeholder="Enter Designation">
                          <!-- <div class="label label-danger pull-right" ng-show="schoolRegisterForm.designt.$invalid && schoolRegisterForm.designt.$touched">Please Enter Designation *</div> -->
                        </div>
                      </div>
                    </div>
                    <!-- DESIGNATION END -->

                    <!-- MOBILE -->
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="col-sm-4 control-label"> Mobile :</label>
                        <div class="col-sm-8">
                          <input type="text" only-Digits ng-model="x.mobile" name="deptSch" autocomplete='tel' class="form-control" minlength="10"
                            maxlength="10" placeholder="Enter Mobile">
                          <!-- <div class="label label-danger pull-right" ng-show="schoolRegisterForm.deptSch.$invalid && schoolRegisterForm.deptSch.$touched">Please Enter Your Department Mobile *</div> -->
                        </div>
                      </div>
                    </div>
                    <!-- MOBILE END -->
                  </div>
                  <!-- DEPARTMENT DESIGNATION/MOBILE END -->

                  <!-- EMAIL NAME -->
                  <div class="form-group">
                    <label class="col-sm-2 control-label"> Email :</label>
                    <div class="col-sm-10">
                      <input name="xEmail" type="email" class="form-control" ng-model="x.email" autocomplete="departmentEmail" placeholder="Enter Email">
                      <!-- <div class="label label-danger pull-right" ng-show="schoolRegisterForm.xEmail.$invalid && schoolRegisterForm.xEmail.$touched">Please Enter Department Email *</div> -->
                    </div>
                  </div>
                  <!-- EMAIL  END -->

                  <!-- UPLOAD -->
                  <!-- UPLOAD -->
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Upload Photograph:</label>
                    <div class="col-sm-5">
                      <div class="dirctive-op  text-left">
                        <upload-image2 class="up-img arrayPhoto ng-isolate-scope" file-types="'image/jpeg,image/png'" ng-disabled="type.disabled"
                          ng-callback="changeitPhotograph" ng-model="x.photograph" ng-click="show=1" no-view></upload-image2>
                      </div>
                      <div class="registerform-uploadimageholder">
                        <div class="register-imageplace" ng-if="show==1 && x.photograph">
                          <a fancybox href="{{x.photograph |serverimage2}}" data-fancybox="group" data-caption="{{gallery.image}}" rel="deptGal" share="https://sfanow.in">
                            <img ng-src="{{x.photograph |serverimage2}}" class="img-responsive">
                          </a>
                        </div>
                      </div>
                      <div class="hover-img" ng-if="show==1 && x.photograph">
                        <img src="img/icon/x.png " alt="logo " class="img-responsive myicon " ng-click="removeArrayImage($index,
                        'arrayPhoto') ">
                      </div>
                    </div>
                    <div class="col-md-5 ">
                      <div class="form-infonote ">
                        Kindly upload only .jpg or .png format. Maximum file size 5MB.
                      </div>
                    </div>
                  </div>
                  <!-- UPLOAD END -->
                  <!-- UPLOAD END -->

                  <!-- ADD BUTTON -->
                  <div class="form-group ">
                    <div class="text-center">
                      <img src="img/icon/p.png" alt="Add Button" class="pointer" ng-click="addSportForm()">
                      <p class="formregister-lightheadingschool">Add Sports Department</p>
                    </div>
                  </div>
                  <!-- ADD BUTTON END -->
                </div>
                <!--DETAILS END  -->
              </div>
              <!-- SCHOOL DEPARTMENT OPTIONAL END -->

            </div>
            <!-- CONTACT CARD END -->

          </section>
          <!-- CONTACT DETAILS END -->

          <!-- SPORTS INTERESTED IN -->
          <section class="registerform-schoolsportselection">
            <!-- TAB -->
            <div class="section-tab">
              Step 3 :Sports Interested In
            </div>
            <!-- TAB END -->

            <div class="form-card">
              <!-- TEXT DISPLAY -->
              <div class="registerform-schoolsportselection-text">
                <p>SELECTION OF ANY/ALL OF THE BELOW MENTIONED SPORTS DOES NOT MEAN THAT YOUR {{type | capitalize}} HAS REGISTERED
                  FOR THOSE SPORTS. IN ORDER TO CONFIRM PARTICIPATION PLAYERS/TEAMS FROM YOUR {{type | capitalize}} MUST
                  COMPLETE THE REQUIRED PLAYER AND SPORT REGISTRATION PROCESS. </p>
              </div>
              <!-- TEXT DISPLAY END -->

              <!-- SPORTS DISPLAY -->
              <div class="registerform-schoolallsportholder">
                <!-- INDIVIDUAL/TEAM -->
                <div class="registerform-schoolsportsdisplayindividualandteam" ng-repeat="sportData in schoolRegisterSportsForm track by $index">

                  <!-- HEADING -->
                  <div class="formregister-heading">
                    {{sportData.name}}
                  </div>

                  <!-- HEADING END -->
                  <!-- SPORT NAMES -->
                  <div class="form-group">
                    <div class="col-sm-4 col-xs-6" ng-repeat="item in sportData.sportName track by $index">
                      <!-- <pre>{{item | json}}</pre> -->
                      <div class="checkbox" ng-repeat="dataItem in item track by $index">
                        <label class="sfa-registercheckbox">
                          <span>{{dataItem.name}}</span>
                          <input type="checkbox" id="{{dataItem.name}}" value="" ng-click="addSportsTest(dataItem.name,dataItem.type)">
                          <span class="checkmark-sfatick"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <!-- SPORT NAMES END -->

                </div>

                <!-- DOUBLES/RELAY -->
                <div class="register-schoolsportdisplaydoublesandrelay">
                  <div class="form-group">
                    <div class="col-sm-4 col-xs-6" ng-repeat="doubleRelayData in schoolRegisterSportForm2 track by $index">
                      <div class="formregister-heading">
                        {{doubleRelayData.name}}
                      </div>
                      <div class="checkbox" ng-repeat="dataItem in doubleRelayData.sportName track by $index">
                        <label class="sfa-registercheckbox">
                          <span>{{dataItem.name}}</span>
                          <input type="checkbox" id="{{dataItem.name}}" value="" ng-click="addSportsTest(dataItem.name,dataItem.type)">
                          <span class="checkmark-sfatick"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="label label-danger pull-right" ng-show="showTeamSports">Please select atleast one sports Type</div>
              </div>
              <!-- SPORTS DISPLAY END -->

              <!-- TERMS AND CONDITION  DESKTOP-->
              <div class="registerform-schooltermscondition hidden-xs">
                <label class="sfa-registercheckbox">
                  <!-- <a ng-click="termcondition('', type, sfaCity, year)" title="Click here"><strong>terms and conditions</strong></a> -->
                  I have carefully read and understood the
                  <a href="https://storage.googleapis.com/sportsforall/termschool.pdf#toolbar=0" fancybox class="fancybox.iframe" title="Click here">
                    <strong>terms and conditions</strong>
                  </a> of this form / disclaimer / waiver and as described in this form / disclaimer / waiver and consent to all
                  of them.
                  <input type="checkbox" ng-checked="termsCheck(formData.termsAndCondition)" ng-model="formData.termsAndCondition">
                  <span class="checkmark-sfatick"></span>
                </label>
                <div class="label label-danger pull-right" ng-show="showTerm">Please accept terms and condition</div>
              </div>
              <!-- TERMS AND CONDITION DESKTOP END -->

              <!-- TERMS AND CONDITION MOBILE -->
              <div class="registerform-schooltermscondition visible-xs">
                <label class="sfa-registercheckbox">
                  <!-- <a ng-click="termcondition('', type, sfaCity, year)" title="Click here"><strong>terms and conditions</strong></a> -->
                  I have carefully read and understood the
                  <a href="https://storage.googleapis.com/sportsforall/termschool.pdf#toolbar=0" class="" target="_new" title="Click here">
                    <strong>terms and conditions</strong>
                  </a> of this form / disclaimer / waiver and as described in this form / disclaimer / waiver and consent to all
                  of them.
                  <input type="checkbox" ng-checked="termsCheck(formData.termsAndCondition)" ng-model="formData.termsAndCondition">
                  <span class="checkmark-sfatick"></span>
                </label>
                <div class="label label-danger pull-right" ng-show="showTerm">Please accept terms and condition</div>
              </div>
              <!-- TERMS AND CONDITION MOBILE END -->

              <!-- KINDILY NOTE -->
              <div class="termscondition-text">
                A registration fee of 2,500 /- (+ applicable taxes) will be payable.*Kindly Note: This is an annual fee that enables your
                {{type}} to send any number of athletes who have registered for SFA Championship {{eventYear}}, {{sfaCity}}
                across all the above mentioned sports. This fee structure has been devised to encourage {{type}}s and athletes
                to participate in multiple sports and to maintain a high quality of competition.
              </div>
              <!-- KINDILY NOTE END -->
            </div>
          </section>
          <!-- SPORTS INTERESTED IN END -->


          <!-- REGISTRATION FEE -->
          <section class="registerform-schoolregistrationfee">
            <!-- HEADER -->
            <div class="section-tab">
              Step 4 :Registration Fee
            </div>
            <!-- HEADER END -->

            <!-- CONTENT -->
            <div class="form-card">
              <div class="form-group">
                <!-- ONLINE PAYU -->
                <div class="col-sm-4">
                  <label class="sfa-radiobox">
                    <input type="radio" ng-click="show=9" id="radio02" name="optradio" value="online PAYU" ng-model="formData.registrationFee"
                      required>
                    <span class="sfa-radio"></span>Online Payment</label>
                </div>
                <!-- ONLINE PAYU END -->

                <!-- CASH -->
                <div class="col-sm-4">
                  <label class="sfa-radiobox">
                    <input type="radio" ng-click="show=10" id="radio03" name="optradio" value="cash" ng-model="formData.registrationFee" required>
                    <span class="sfa-radio"></span>Cash/Cheque/Demand Draft</label>
                </div>
                <!-- CASH END -->
                <div class="label label-danger pull-right" ng-show="schoolRegisterForm.optradio.$invalid && schoolRegisterForm.optradio.$touched">Please Select Payment Option*</div>
                <!-- <div class="" ng-show="showTeamSports">Please select atleast one sports Type</div> -->
              </div>

              <div>
                <!-- CASH PAYMENT -->
                <p ng-if="show==10">
                  Cash/Cheque/Demand Draft: Selecting this option will enable you to pay the registration fee of Rs. 2,950 (inclusive of all taxes) by Cash/Cheque/Demand
                  Draft in favour of ‘SFA Sporting Services Pvt Ltd’ which is to be couriered/hand delivered to: 17A, Raviraj
                  House, 6th Floor, Saraswati Road, Off Linking Road, Santacruz (West) - 400054.
                </p>
                <!-- CASH PAYMENT END -->
                <!-- ONLINE -->
                <p ng-if="show==9">
                  Online Payment: Selecting this option will enable you to pay the registration fee of Rs. 2,950 (inclusive of all taxes) via one of the
                  following methods: 1) Credit Card 2) Debit Card 3) Net Banking
                </p>
                <!-- ONLINE END -->
              </div>
            </div>
            <!-- CONTENT END -->
          </section>
          <!-- REGISTRATION FEE END -->

          <!-- ACCEPT & SUBMIT -->
          <section class="registerform-schoolacceptsubmitform">
            <div class="text-center">
              <button class="formregister-btn" ng-disabled="isDisabled==true" type="submit">Accept & Submit</button>
            </div>
          </section>
          <!-- ACCEPT & SUBMIT END -->
          <!-- <pre>{{schoolRegisterForm | json}}</pre> -->
        </form>
        <!-- FORM END -->
      </div>
    </div>




  </div>
  <!-- CONTAINER END -->
</div>
<!-- REGISTER FORM SCHOOL END -->
