<!-- REGISTER FORM SCHOOL -->
<div class="registerform-schoolpage">
  <!-- CONTAINER -->
  <div class="container">

    <div class="section-tab" style="margin-top:60px;">
      Step:1 school details
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-infonote" style="margin:60px 0px;">
          This Logo will be displayed on your SFA School profile. This Logo will be displayed on your SFA School profile.
        </div>
      </div>
    </div>

    <div class="form-registerlabel">
      School Principal
    </div>

  </div>
  <!-- CONTAINER END -->
</div>
<!-- REGISTER FORM SCHOOL END -->