<div class="registerplayer-page">
  <div class="container">
    <!-- HEADER -->
    <section class="registerplayer-header">
      <!-- TITLE -->
      <div class="registerplayer-title">
        REGISTRATIONS
        <span class="regiterplayer-titlesmall">Sfa {{sfaCity}} {{eventYear}}</span>
      </div>
      <!-- TITLE END -->
      <!-- BANNER -->
      <div class="registerplayer-bannerslider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide hidden-xs" ng-repeat="banner in banners.desktop track by $index">
              <div class="registerplayer-banner">
                <img ng-src="{{banner.image|serverimage2}}" alt="Player Registrations | Sports For All" class="img-responsive">
              </div>
            </div>
            <div class="swiper-slide visible-xs" ng-repeat="banner in banners.mobile track by $index">
              <div class="registerplayer-banner">
                <img ng-src="{{banner.image|serverimage2}}" alt="Player Registrations | Sports For All" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- BANNER END -->
      <!-- ACCORDION -->
      <div class="registerplayer-accordion">
        <uib-accordion close-others="oneAtATime">
          <div uib-accordion-group class="panel-default" is-open="true" is-disabled="true">
            <uib-accordion-heading class="clearfix">
              <span class="hide pull-right register-accordion-view"> View
                <span ng-if="!s.open">Details</span>
                <span ng-if='s.open'>Less</span>
                <i class="fa " ng-class="{'fa-chevron-up': s.open, 'fa-chevron-down': !s.open}"></i>
              </span>
              <h4 class="d-fjalla-one text-capitalize m-clear">The Ultimate Interschool Championship</h4>
            </uib-accordion-heading>
            <div class="register-accordioncontent">
              <div class="register-contentholder" ng-if="individualSports.length>0">
                <label class="display-block">Individual Sports:</label>
                <span class="register-sportlist" ng-repeat="sport in individualSports track by $index"> {{sport}}<span class="register-seperator">,</span>
                </span>
              </div>
              <div class="register-contentholder" ng-if="teamSports.length>0">
                <label class="display-block">Team Sports:</label>
                <span class="register-sportlist" ng-repeat="sport in teamSports track by $index"> {{sport}}<span class="register-seperator">,</span>
                </span>
                <p class="registeraccordion-note">All sports are conducted under the aegis of certfied sport governing bodies.</p>
              </div>
              <div class="register-contentholder register-contentdate" ng-if="sfaDates">
                <label for="">Dates:</label>
                <span>{{sfaDates}}</span>
              </div>
              <div class="register-contentholder" ng-if="venue.length>0">
                <label for="">Venue:</label>
                <span class="register-venue" ng-repeat="place in venue track by $index"> {{place}}
                  <span class="register-seperator">|</span>
                </span>
              </div>
              <div class="register-contentholder registeraccordion-linksholder">
                <ul class="list-inline">
                  <li>
                    <a class="registeraccordion-links" target="_new" ui-sref="aboutchampionship">About Championship</a>
                  </li>
                  <li>
                    <a class="registeraccordion-links" target="_new" ui-sref="championshipschedule">Championship Schedule</a>
                  </li>
                  <li>
                    <a href="https://storage.googleapis.com/sportsforall/age-event.pdf" target="_new" class="registeraccordion-links">Age & Event Categories</a>
                  </li>
                  <li>
                    <a class="registeraccordion-links" ui-sref="faq" target="_new">FAQs</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>
      <!-- ACCORDION END -->
      <!-- INTRO SECTION -->
      <div class="registerplayer-intro">
        <div class="registerplayer-introtitle">
          <span ng-if="pageType == 'player'">Player</span>
          <span ng-if="pageType == 'school'">School</span> Registrations</div>
        <div class="registerplayer-introcontent" ng-bind-html="content"></div>
      </div>
      <!-- INTRO SECTION END -->
    </section>
    <!-- HEADER END -->
    <!-- PACKAGE TABLE -->
    <section class="registerplayer-package">
      <sfa-package-table user="{{formData.type}}" caption="hello" cashback="true"></sfa-package-table>
    </section>
    <!-- PACKAGE TABLE END -->
    <!-- REGISTER FORM  -->
    <section class="registerplayer-form">
      <div class="registerform-btnholder">
        <button class="btn btn-mainregister" ng-click="registerOpen();" ng-class="{'active': showForm, 'btn-mainregister-blink': !showForm}">Click Here To Register <span class="hidden-xs">For SFA Mumbai 2018-19</span></button>
      </div>
      <div class="registerform-holder" ng-show="showForm">
        <p class="registerform-intro">All
          <span ng-if="pageType == 'player'">players</span>
          <span ng-if="pageType == 'school'">schools</span> must complete the following two step registration process</p>
        <!-- STEP BUTTONS -->
        <ul class="list-inline register-stepbtns clearfix">
          <li>
            <button class="btn btn-registerstep hidden-xs" ng-click="showStep(1) ;formData={}" ng-class="{'active': stepTab == 1}">Step 1: Registration & Verification</button>
            <div class="btn btn-registerstep visible-xs" ng-click="showStep(1) ;formData={}" ng-class="{'active': stepTab == 1}"><span class="text-underline">Step 1:</span> </br>Registration & Verification</div>
          </li>
          <li>
            <button class="btn btn-registerstep hidden-xs" ng-click="showStep(2);formData={}" ng-class="{'active': stepTab == 2}">Step 2: Sports Registration</button>
            <button class="btn btn-registerstep visible-xs" ng-click="showStep(2);formData={}" ng-class="{'active': stepTab == 2}"><span class="text-underline">Step 2:</span> </br>Sports Registration</button>
          </li>
        </ul>
        <!-- STEP BUTTONS END -->
        <!-- STEP 1 FORM -->
        <div class="registerform-step1-holder" ng-show="stepTab == 1" ng-class="{'active': stepTab == 1}">
          <div class="registerstep-btnholder">
            <ul class="list-unstyled">
              <li>
                <button class="btn btn-register1 text-capitalize" ui-sref="registerformplayer({flag: 'create'})" ng-if="pageType == 'player'">I am Participating for the First Time</button>
                <button class="btn btn-register1 text-capitalize" ui-sref="registerformschool({flag: 'create'})" ng-if="pageType == 'school'">Participating for the First Time</button>
              </li>
              <li>
                <button class="btn btn-register1 text-capitalize" ng-click="showStepForm()" ng-class="{'active': stepForm}">I Have Participated Before</button>
              </li>
            </ul>
          </div>
          <div class="registerform-step1" ng-show="stepForm">
            <p>Kindly Enter</p>
            <div class="input-group">
              <!-- <input type="text" class="form-control" placeholder="SFA ID"> -->
              <ui-select name="playername" class="registerform1-uiselect" ng-model="searchSfaObj.sfaId" theme="bootstrap" ng-change="checkSearchChange(searchSfaObj.sfaId)" required>
                <ui-select-match placeholder="Search by Sfa ID/Name" allow-clear="true" title="{{$select.selected.fullName}}">{{$select.selected.fullName}}</ui-select-match>
                <ui-select-choices repeat="player as player in masterData | filter: $select.search" refresh="masterSearchSFA($select.search)"
                  refresh-delay="300">
                  <div>
                    <span class="text-capitalize" ng-bind-html="player.fullName"></span>
                  </div>
                  <div class="formsearch-uiloadmore" ng-if="$index == masterData.length-1 && loading">
                    <button class="btn btn-primary form-control" ng-click="masterSearchSFA($select.search, $event);">Click to load more...</button>
                  </div>
                </ui-select-choices>
              </ui-select>
              <!-- <input type="text" class="form-control" placeholder="SFA ID" ng-model="formData.keyword" ng-change="getMasterData(formData)"> -->
              <div class="input-group-btn">
                <button class="btn m-clear" ng-click="generateOtp(searchSfaObj)" ng-disabled="noContact">Send OTP</button>
              </div>
              <!-- <div class="input-group-btn">
                <button class="btn m-clear">Send OTP</button>
              </div> -->
            </div>
            <!-- && !searchSfaObj.sfaId -->
            <p ng-if="!showRegisteredCredentials && !noContact">An OTP will be sent to your registered Mobile Number & Email Id</p>
            <div class="register-step-error" ng-show="noContact">
              <p >Your Mobile Number & Email Id does not exist.
                <br> Kindly Contact us on
                <span class="infono-config" ng-repeat="infono in infoNoArr track by $index" >
                  <a href="tel:{{infono}}">{{infono}}</a>
                  <span class="infono-seperator"  ng-class="{'hide':(infoNoArr.length-1) == $index}"> / </span>
                </span>
                 or Email us at:
                <a href="mailto:info@sfanow.in">info@sfanow.in</a>.</p>
            </div>
            <div class="" ng-if="showRegisteredCredentials">
              <p>An OTP has been sent to your registered
                <span ng-if="searchSfaObj.sfaId.mobile">Mobile no: {{registeredMobileNo|securedEmailmobile:'mobile'}}</span>
                <span ng-if="searchSfaObj.sfaId.email && searchSfaObj.sfaId.mobile">|</span>
                <span ng-if="searchSfaObj.sfaId.email">Email Id: {{registeredEmail|securedEmailmobile:'email'}}</span>
              </p>
              <div class="input-group forgototp-input">
                <input type="text" class="form-control" ng-model="verifyOtpObj.otp" placeholder="OTP">
                <div class="input-group-btn">
                  <button class="btn m-clear" ng-disabled="!verifyOtpObj.otp" ng-click="verifyOTP(verifyOtpObj)">
                    <span class="fa fa-arrow-right"></span>
                  </button>
                </div>
              </div>
              <ul class="list-inline formoption-li">
                <li ng-click="regenerateOtp(searchSfaObj)">
                  <a href="">Resend OTP</a>
                </li>
                <li>|</li>
                <li>
                  <a ng-click="changeDetails();">Change Registered Email/Mobile</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- STEP 1 FORM END -->
        <!-- STEP 2 FORM -->
        <div class="registerform-step2 " ng-show="stepTab == 2" ng-class="{'active': stepTab == 2}">
          <div class="register-step2holder" ng-if="!showErrorMsg">
            <form name="formsports">
              <p>Kindly Enter</p>
              <div class="form-group">
                <input type="text" placeholder="SFA ID" name="sportsid" class="form-control register-stepinput" touppercase ng-model="formData.sfaid"
                  required>

                <!-- <div class="validate-col" ng-if="formData.sfaid. ==0  && formsports.sportsid.$dirty && formsports.sportsid.$invalid && formsports.sportsid.$touched">Please Enter Your SFA ID *</div> -->
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" class="form-control register-stepinput" name="sportspasswrd" ng-model="formData.password"
                  required>
                <!-- <div class="validate-col" ng-if="formsports.sportspasswrd.$invalid && formsports.sportspasswrd.$touched">Please Enter password *</div> -->
              </div>
              <div class="form-group">
                <button class="btn btn-register2" type="submit" ng-click="login(formData,formsports)" promise-btn="yourPromise">Enter</button>
              </div>
            </form>
            <div class="form-group">
              <a class="btn btn-link" ng-click="showForgotPassword()">Forgot Password</a>
            </div>
          </div>
          <div class="text-center" ng-if="showErrorMsg">
            <ul class="list-inline">
              <li>
                <a ui-sref="sports-selection">Go to selection page</a>
              </li>
              <li>|</li>
              <li>
                <a ng-click="logoutCandidate()">Logout</a>
              </li>
            </ul>
          </div>
          <!-- <div class="register-step-error">
            <p class="m-clear">You have not completed the Registration & Verification process.</p>
            <p class="m-clear">Kindly complete Step 1 and then proceed to Sports Registration.</p>
          </div> -->
        </div>
        <!-- STEP 2 FORM END -->
      </div>
    </section>
    <!-- REGISTER FORM END  -->
    <!-- QUESTIONS  -->
    <section class="registerplayer-questions" ng-if="questionList.length>0">
      <div class="registerplayer-questiontitle">
        Questions you may have
      </div>
      <div class="registerplayer-questionlist">
        <ul class="list-unstyled">
          <li ng-repeat="question in questionList|limitTo:questionLimit.value track by $index">
            <div class="registerplayer-questionitem" ng-bind-html="question.question" ng-class="{'registerplayer-questionitem-full': !questionLimit.more}"></div>
          </li>
        </ul>
      </div>
      <div class="registerplayer-questionknowmore text-right" ng-if="questionList.length>2">
        <a ng-click="moreQuestions();" class="btn">View
          <span ng-if="questionLimit.more">More</span>
          <span ng-if="!questionLimit.more">Less</span>
        </a>
      </div>
    </section>
    <!-- QUESTIONS END  -->
    <!-- TESTIMONIALS  -->
    <section class="registerplayer-testimonials" ng-if="testimonials.length>0">
      <div class="registerplayer-introtitle">Testimonials From Past Championships</div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
          <div class="registerplayer-testimonialslider">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="card in testimonials track by $index">
                  <div class="register-testimonialcard">
                    <div class="register-testimonialimg">
                      <img ng-src="{{card.image|serverimage2}}" alt="Testimonial | Sports For All" class="img-responsive">
                      <div class="register-testimonialquote">
                        <img src="img/icon/quote-open.png" alt="Sports For All" class="img-responsive">
                      </div>
                    </div>
                    <div class="register-testimonialcontent" ng-bind-html="card.content"></div>
                    <div class="register-testimonialauthor text-right">
                      <p class="register-testimonialname">-
                        <span>{{card.author}}</span>
                      </p>
                      <p class="register-testimonialposition">{{card.designation}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Add Arrows -->
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- TESTIMONIALS END  -->
  </div>
  <!-- COUNTS  -->
  <section class="registerplayer-counts " ng-if="counts.length>0">
    <div class="container">
      <div class="registercount-flex">
        <div class="registercount-item" ng-repeat="count in counts track by $index">
          <div class="registercount-number">{{count.value}}</div>
          <div class="registercount-label">{{count.name}}</div>
        </div>
      </div>
    </div>
  </section>
  <!-- COUNTS END  -->
  <!-- PHOTOS  -->
  <section class="registerplayer-photos" ng-if="gallery.length>0">
    <div class="container">
      <div class="registerplayer-introtitle">Photos From Past Championships</div>
      <div class="registerplayer-galleryslider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="slide in allGallery.slidePhotos track by $index">
              <div class="registergallery-slide">
                <div class="row">
                  <div class="col-md-6 col-sm-6 registergallery-photoslide" ng-repeat="photoList in slide track by $index">
                    <div class="registergallery-photo">
                      <div class="registergallery-photoholder" ng-repeat="photo in photoList|limitTo:3">
                        <img ng-src="{{photo.mediaLink|serverimage2}}" alt="Sports For All" class="img-responsive">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </section>
  <!-- PHOTOS END  -->
</div>
