<div class="registerform-page registerform-playerpage">
  <!-- START -->
  <div class="container">
    <!-- TITLE -->
    <div class="registerform-title">
      PLAYER REGISTRATINN FORM
    </div>
    <!-- TITLE END -->
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <section class="form-card">
          <div class="form-group">
            <label class="sfa-radiobox">One
              <input type="radio" checked="checked" name="radio">
              <span class="sfa-radio"></span>
            </label>
            <label class="sfa-radiobox">two
              <input type="radio" checked="checked" name="radio">
              <span class="sfa-radio"></span>
            </label>
          </div>
          <button type="button" name="button" class="btn formregister-btn">Form</button>
        </section>
      </div>
    </div>
  </div>
  <!-- END -->
</div>
