<div class="upgradepackage-page">
  <div class="container">
    <div class="upgradepackage-title">
      Upgrade Package
    </div>
    <div class="upgradepackage-content">
      <p>You are currently on the <span>599/- PRO Package</span> and can participate in upto <span>2</span> Event Categories.</p>
      <p>To participate in more events and enjoy a host of other benefits, simply select the package and upgrade.</p>
    </div>
    <div class="upgradepackage-selection">
      <form name="upgradePackage">
        <!-- UPGRADE RADIO -->
        <div class="upgradepackage-radioholder">
          <label for="packageRadio{{$index}}" class="sfa-radiobox" ng-repeat = "package in packages| orderBy:'order' track by $index">
            <input type="radio" name="packageRadio" id="packageRadio{{$index}}" value="{{package._id}}" class="form-control" ng-model="formData.package" required>
            <span class="sfa-radio"></span>
            <div class="upgradepackage-radiocontent" ng-class="{'package-radio-blue': package.color == 'blue', 'package-radio-green': package.color == 'green', 'package-radio-red': package.color == 'red', 'package-radio-yellow': package.color == 'yellow'}">
              <span class="upgradepackage-radioprice"><span class="upgradepackage-radioinr fa fa-inr"></span>{{package.finalPrice}}</span>
              <span class="upgradepackage-radioname">{{package.name}}</span>
            </div>
          </label>
        </div>
        <!-- UPGRADE RADIO END -->
        <!-- UPGRADE TABLE  -->
        <div class="registerform-mtb20">
          <sfa-package-table user="athlete" caption="hello" cashback="false"></sfa-package-table>
        </div>
        <!-- UPGRADE TABLE END -->
        <!-- UPGRADE PAYMENT TABLE -->
        <div class="upgradepackage-payment">
          <div class="row">
            <div class="col-md-6">
              <div class="registerform-tablepayment">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="text-left">
                          Registration Fees - <span>{{formData.packageName}}</span></td>
                        </div>
                      <td>
                        <span>{{formData.amountToPay}}</span>
                      </td>
                    </tr>
                    <!-- PROMO CODE -->
                    <!-- <tr>
                      <td>
                        <div class="text-left">
                          <label for="" class="display-block">Enter Promo Code:</label>
                          <input type="text" name="promocode" placeholder="Promo Code" ng-model="promoCode.code" class="register-promobadge form-control">
                          <button class="formregister-link" ng-hide="promoApplied" ng-click="validatePromoCode(promoCode)">Apply</button>
                          <button class="formregister-link" ng-show="promoApplied" ng-click="setPackageDetails()">Remove</button>
                        </div>
                      </td>
                      <td>- <span>{{formData.discount}}</span></td>
                    </tr> -->
                    <!-- PROMO CODE END -->
                    <!-- IF IGST -->
                    <tr ng-if="formData.igstAmt != ''">
                      <td><div class="text-left">
                        +IGST@{{formData.igstPercent}}%
                      </div></td>
                      <td>
                        <span>{{formData.igstAmt}}</span>
                      </td>
                    </tr>
                    <!-- IF IGST END -->
                    <!-- IF CGST  -->
                    <tr ng-if="formData.cgstAmt != ''">
                      <td><div class="text-left">
                        +CST@{{formData.cgstPercent}}%
                      </div></td>
                      <td>
                        <span>{{formData.cgstAmt}}</span>
                      </td>
                    </tr>
                    <!-- IF CGST END  -->
                    <!-- IF SGST  -->
                    <tr  ng-if="formData.sgstAmt != ''">
                      <td>
                        <div class="text-left">+GST@{{formData.sgstPercent}}%</div></td>
                      <td>
                        <span>{{formData.sgstAmt}}</span>
                      </td>
                    </tr>
                    <!-- IF SGST END  -->
                    <tr>
                      <td>
                        <div class="text-left">
                          <span class="r-titillium-web-semibold">Total Amount Payable</span>
                        </div>
                      </td>
                      <td>
                        <span>{{formData.amountPaid}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- UPGRADE PAYMENT TABLE END -->
      </form>
    </div>
  </div>
</div>
