<footer ng-controller="footerctrl">
  <section ng-if="hideFooter">
    <!-- OLD SPONSORS -->
    <div class="footer-slider hide" ng-if="selectedCity != 'hyderabad'">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="color-grey2 text-up font-semi text-c">sponsors</p>
            <div class="sponser-list sf-list" style="width:100%;overflow:hidden;">
              <!-- mycircle -->
              <ul class="padding0 text-c w1200" style="">
                <li class="text-center" ng-repeat="slid in games track by $index">
                  <a ng-if="slid.href" href="{{slid.href}}" target="_blank">
                    <img ng-src="{{slid.img}}" alt="">
                  </a>
                  <img ng-if="!slid.href" ng-src="{{slid.img}}" alt="">
                  <p class="color-grey2 f12 font-bold mt10 text-center text-up">{{slid.game}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="color-grey2 text-up font-semi text-c">partners</p>
            <div class="sponser-list sf-list" style="width:100%;overflow:hidden;">
              <!-- mycircle -->
              <ul class="padding0 text-c w1200">
                <li class="text-center" ng-repeat="slid in partner track by $index">
                  <a ng-if="slid.href" href="{{slid.href}}" target="_blank">
                    <img ng-src="{{slid.img}}" alt="">
                  </a>
                  <img ng-if="!slid.href" ng-src="{{slid.img}}" alt="">
                  <p class="color-grey2 f12 font-bold mt10 text-center text-up">{{slid.game}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-slider hide" ng-if="selectedCity == 'hyderabad'">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="color-grey2 text-up font-semi text-c">Supported by:</p>
            <div class="sponser-list sf-list" style="width:100%;overflow:hidden;">
              <!-- mycircle -->
              <ul class="padding0 text-c w1200" style="">
                <li class="text-center" ng-repeat="slid in supportedBy track by $index">
                  <a ng-if="slid.href" href="{{slid.href}}" target="_blank">
                    <img ng-src="{{slid.img}}" alt="">
                  </a>
                  <img ng-if="!slid.href" ng-src="{{slid.img}}" alt="">
                  <p class="color-grey2 f12 font-bold mt10 text-center text-up">{{slid.game}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="color-grey2 text-up font-semi text-c">Sponsors & Partners:</p>
            <div class="sponser-list sf-list" style="width:100%;overflow:hidden;">
              <!-- mycircle -->
              <ul class="padding0 text-c w1200">
                <li class="text-center" ng-repeat="slid in sponsor_partner track by $index">
                  <a ng-if="slid.href" href="{{slid.href}}" target="_blank">
                    <img ng-src="{{slid.img}}" alt="">
                  </a>
                  <img ng-if="!slid.href" ng-src="{{slid.img}}" alt="">
                  <p class="color-grey2 f12 font-bold mt10 text-center text-up">{{slid.game}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- OLD SPONSORS END-->
    <!-- SPONSOR ROW -->
    <div class="footer-slider">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- SPONSER HEAD -->
            <div class="sponser-head">
              <p class="color-grey2 text-up font-semi text-c text-uppercase">{{sponsorData[0]._id}}</p>
            </div>
            <!-- SPONSER HEAD END -->
          </div>
          <!-- SPONSER IMAGE HODER -->
          <div class="sponser-card-holder">
            <div class="col-md-2 col-sm-4 col-xs-6" ng-if="image.status == 'enable'" ng-repeat="image in sponsorData[0].info track by $index">
              <div class="card-holder" ng-class="{'custom-cursor-sponsor':image.insidePage==='false'}">
                <div class="" ng-click="goSponsor(image)">
                  <img ng-src="{{image.footerImage | serverimage2}}" alt="" class="img-responsive m-clear-auto">
                </div>
                <p class="color-grey2 f12 font-bold mt10 text-center text-up">{{image.logoCaption}}</p>
              </div>
            </div>
          </div>
          <!-- SPONSER IMAGE HODER END -->
        </div>
        <!-- SPONSOR ROW END -->

        <!-- PARTNER ROW -->
        <div class="row">
          <!-- PARTNER HEAD -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <p class="color-grey2 text-up font-semi text-c text-uppercase">{{sponsorData[1]._id}}</p>
          </div>
          <!-- PARTNER HEAD -->

          <!-- PARTNER_IMAGE HODER -->
          <div class="partner-card-holder">
            <div class="col-md-2 col-sm-4 col-xs-6" ng-if="image.status == 'enable'" ng-repeat="image in sponsorData[1].info track by $index">
              <div class="card-holder" ng-class="{'custom-cursor-sponsor':image.insidePage==='false'}">
                <div class="" ng-click="goSponsor(image)">
                  <img ng-src="{{image.footerImage | serverimage2}}" alt="" class="img-responsive m-clear-auto">
                </div>
                <p class="color-grey2 f12 font-bold mt10 text-center text-up">{{image.logoCaption}}</p>
              </div>
            </div>
          </div>
          <!-- PARTNER_IMAGE HOLDER END -->
        </div>
        <!-- PARTNER ROW END -->
      </div>
    </div>
  </section>
  <div class="second-slider">
    <div class="container">
      <div class="row">
        <!-- SPORTS HOLDER -->
        <div class="col-md-4">
          <div class="f-list">
            <span class="footer-header-color"> SPORTS</span>
            <ul class="padding0 cl-nt">
              <li ng-repeat="sport in mumbaiFooter track by $index" ng-if="selectedCity !== 'hyderabad'">
                <a href="{{linkForAllSports}}{{sport.name | firstcapitalize}}" target="_new">
                  {{sport.name}}
                </a>
              </li>
              <li ng-repeat="sport in hyderabadFooter track by $index" ng-if="selectedCity ==='hyderabad'">
                <a href="{{linkForAllSports}}{{sport.name | firstcapitalize}}" target="_new">
                  {{sport.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- SPORTS HOLDER END -->

        <!-- SFA MUMBAI / HYDERABAD 2017-18 -->
        <div class="col-md-3">
          <div class="f-list">
            <span class="footer-header-color"> SFA
              <span class="text-uppercase">{{sfaCity}} </span>{{eventYear}}</span>
            <ul class="padding0">
              <!-- MUMBAI -->
              <li ng-repeat="champions in mumbaiChampion track by $index" ng-if="selectedCity !=='hyderabad'">
                <label class="footer-champ-header" hidden>{{champions.name}}</label>
                <ul class="padding0" ng-if="champions.name != 'school championship'" hidden>
                  <li ng-repeat="detail in champions.champDetail track by $index">
                    <a href="{{registerCollege}}/{{detail.link}}" target="_new">
                      {{detail.name}}
                    </a>
                  </li>
                </ul>
                <ul class="padding0" ng-if="champions.name == 'school championship'">
                  <li ng-repeat="detail in champions.champDetail track by $index">
                    <a href="{{registerSchool}}/{{detail.link}}" target="_new" ng-if="!detail.live && !detail.score">
                      {{detail.name}}
                    </a>
                    <a style="color:#27b465" href="{{linkForAll}}liveupdates" target="_new" ng-if="detail.live">
                      {{detail.name}}
                    </a>
                    <a style="color:#27b465" href="{{registerSchool}}/{{detail.link}}" target="_new" ng-if="detail.score">
                      {{detail.name}}
                    </a>
                  </li>
                </ul>
              </li>
              <!-- MUMBAI END -->

              <!-- HYDERABAD -->

              <li ng-repeat="champions in hyderabadChampion track by $index" ng-if="selectedCity ==='hyderabad'">
                <label class="footer-champ-header">{{champions.name}}</label>
                <ul class="padding0">
                  <li>
                    <a style="color:#27b465" href="{{linkForAll}}liveupdates" target="_new">
                      Live Update
                    </a>
                  </li>
                  <li ng-repeat="detail in champions.champDetail track by $index">
                    <a href="{{registerSchool}}/{{detail.link}}" target="_new">
                      {{detail.name}}
                    </a>
                  </li>
                </ul>
              </li>
              <!-- HYDERABAD END -->
            </ul>
          </div>
        </div>
        <!-- SFA MUMBAI / HYDERABAD 2017-18 END -->

        <!-- PROFILE -->
        <div class="col-md-2">
          <div class="f-list">
            <span class="footer-header-color">PROFILE</span>
            <ul class="padding0">
              <li ng-repeat="profileh in hyderabadProfile track by $index" ng-if="selectedCity=== 'hyderabad'">

                <a href="{{registerSchool}}/{{profileh.link}}" target="_new">
                  <span>2018</span>
                  <span>{{profileh.name}}</span>
                </a>
              </li>
              <li ng-repeat="profile in sfamumbaiProfile track by $index" ng-if="selectedCity !=='hyderabad'">
                <label class="footer-champ-header" hidden>{{profile.name}}</label>
                <ul class="padding0">
                  <li ng-repeat="detail in profile.detail track by $index">
                    <a href="{{registerSchool}}/{{detail.link}}" target="_new">
                      <span>{{detail.name}}</span>
                    </a>
                  </li>
                  <li>
                    <span class="footer-header-color">Previous Profile</span>
                  </li>
                  <li>
                    <a href="{{linkForAll}}students">ATHLETES</a>
                  </li>
                  <li>
                    <a href="{{linkForAll}}school">SCHOOLS</a>
                  </li>
                  <li>
                    <a href="{{linkForAll}}team">TEAMS</a>
                  </li>



              </li>

              </li>
              <li ng-repeat="profileC in profileCollege track by $index" ng-if="selectedCity !=='hyderabad'" hidden>
                <label class="footer-champ-header">{{profileC.name}}</label>
                <ul class="padding0">
                  <li ng-repeat="detail in profileC.detail track by $index">
                    <a href="{{registerCollege}}/{{detail.link}}" target="_new">
                      <span>{{detail.name}}</span>
                    </a>
                  </li>

              </li>
              <!-- MUMBAI END -->


              </ul>
          </div>

        </div>
        <!-- PROFILE END -->


        <div class="col-md-3">
          <div class="f-list">
            <!-- RESULTS -->
            <span style="color:#27b465" ng-if="selectedCity !=='hyderabad'">RESULTS</span>
            <!-- RESULTS HOLDER -->
            <!-- MUMBAI -->
            <ul class="padding0" ng-if="selectedCity !=='hyderabad'">
              <li>
                <a href="{{registerSchool}}/results/" target="_new">
                  SFA MUMBAI 2018
                </a>
              </li>
              <li hidden>
                <a href="{{registerCollege}}/results/" target="_new">
                  2018 COLLEGE RANKING
                </a>
              </li>
            </ul>
            <div class="gallery-mumbai">
              <span style="color:#27b465" ng-if="selectedCity !=='hyderabad'">GALLERY</span>
              <!-- RESULTS HOLDER -->

              <!-- MUMBAI GALLERY -->

              <ul class="padding0" ng-if="selectedCity !=='hyderabad'">
                <!-- <li>
                  <a href="{{registerSchool}}/media-gallery" target="_new">
                    SCHOOL
                  </a>
                </li> -->
                <li>
                  <a href="{{linkForAll}}media-gallery" target="_new">
                    SCHOOL
                  </a>
                </li>
                <li hidden>
                  <a href="{{registerCollege}}/media-gallery" target="_new">
                    COLLEGE
                  </a>
                </li>
              </ul>
              <!-- MUMBAI END -->
            </div>
            <!-- MUMBAI MEDIA PRESS -->
            <div class="mediapress-mumbai">
              <span style="color:#27b465" ng-if="selectedCity !=='hyderabad'">PRESS & MEDIA</span>
              <!-- MUMBAI -->
              <ul class="padding0" ng-if="selectedCity !=='hyderabad'">
                <!-- <li>
                  <a href="{{registerSchool}}/media-press" target="_new">
                    SCHOOL
                  </a>
                </li> -->
                <li>
                  <a href="{{linkForAll}}media-press" target="_new">
                    SCHOOL
                  </a>
                </li>
                <li hidden>
                  <a href="{{registerCollege}}/media-press" target="_new">
                    COLLEGE
                  </a>
                </li>
              </ul>
              <!-- MUMBAI END -->
            </div>
            <!-- MUMBAI MEDIA PRESS END -->



            <ul class="padding0" ng-if="selectedCity ==='hyderabad'">
              <li class="footer-header-color">
                <a href="{{registerSchool}}/results/" style="color:#27b465" target="_new">Results</a>
              </li>
            </ul>
            <!-- RESULTS HOLDER -->

            <!-- GALLERY -->
            <div class="mt5" ng-if="selectedCity==='hyderabad'">
              <a href="{{registerSchool}}/media-gallery" target="_new" class="footer-header-color text-up">gallery</a>
            </div>
            <!-- GALLERY END -->
            <!-- PRESS MEDIA -->
            <div class="mt5" ng-if="selectedCity==='hyderabad'">
              <a href="{{registerSchool}}/media-press" target="_new" class="footer-header-color text-up">PRESS &amp; MEDIA</a>
            </div>
            <!-- PRESS MEDIA END -->
            <!-- SPONSOR  -->
            <div class="mt5">
              <a href="{{registerSchool}}/sponsors-partner" target="_new" class="footer-header-color text-up">SPONSORS &amp; PARTNERS</a>
            </div>
            <!-- SPONSOR END -->
            <!-- ABOUT US -->
            <div class="mt5">
              <a href="{{linkForAll}}about-us" target="_new" class="footer-header-color text-up">ABOUT US</a>
            </div>
            <!-- ABOUT US -->
            <!-- CONTACT -->
            <div class="mt5">
              <a href="{{linkForAll}}contact" target="_new" class="footer-header-color text-up">CONTACT US</a>
            </div>
          </div>
          <!-- RESULTS -->
        </div>

      </div>
      <!--SOCIAL MEDIA LOGO -->
      <div class="row mt25">
        <div class="col-md-5">
          <div class="">
            <div class="sf-list">
              <ul class="footer-logos">
                <li>
                  <a href="https://www.facebook.com/sportsforallnow" target="_blank">
                    <i class="fa fa-facebook s-l-i"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/sfanow" target="_blank">
                    <i class="fa fa-twitter s-l-i"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCWoiHFley8hGy0ad_t-0O7w" target="_blank">
                    <i class="fa fa-youtube s-l-i"></i>
                  </a>
                </li>
                <li>
                  <a href="https://instagram.com/sfanow/" target="_blank">
                    <i class="fa fa-instagram s-l-i"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- SOCIAL MEDIA LOGO -->
      <!-- DISCLAMER -->
      <div class="row mt25">
        <div class="col-md-12">
          <div class="di">
            <p class="color-white m-clear">Disclaimer:</p>
            <p class="di-inline color-white"> All material available on this website is intellectual property and copyrighted content of SFA Sporting Services
              Pvt Ltd., unless otherwise indicated. Unauthorized use and/or duplication of this material without written
              permission from this site’s author and/or owner is strictly prohibited</p>
          </div>
        </div>
      </div>
      <!-- DISCLAMER END -->
      <div class="row mt25">
        <div class="col-md-7">
          <div class="sf-list all-l">
            <ul class="padding0">
              <li>
                All rights reserved
              </li>
              <li>
                <a ui-sref="terms-condition">
                  Terms and Conditions
                </a>
              </li>
              <li>
                Disclaimer
              </li>
              <li>
                © Copyright - SFA Sporting Services Pvt Ltd.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>