<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>Package</h2>
      </div>
    </div>
  </div>
</div>
<!--Table-->
<div class=" panel-content ">
  <div class="row ">
    <div class="col-md-12 ">
      <div class="widget ">
        <div class="table-area ">
          <div class="widget-title ">
            <h3>List of Medals<span class="tableTotal ">(Total : {{totalItems}}) </span></h3>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <div class="mtp5">
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="pull-right">
                  <a class="btn btn-success" ui-sref="detailpackage">
                                   Create
                 </a>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive ">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th>
                    Price
                  </th>
                  <th>
                    Discount
                  </th>
                  <th>
                    finalPrice
                  </th>
                  <th>
                    eventCount
                  </th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in items">
                  <td>
                    {{item.name|firstcapitalize}}
                  </td>
                  <td>
                    {{item.price}}
                  </td>
                  <td>
                    {{item.discount}}
                  </td>
                  <td>
                    {{item.finalPrice}}
                  </td>
                  <td>
                    {{item.eventCount}}
                  </td>
                  <td>
                    <a class="btn btn-primary" target="_blank" ui-sref="detailpackage({id:item._id})">
                    <i class="fa fa-pencil"></i> Edit
                  </a>
                    <a class="btn btn-danger" ng-click="confirmDelete(item._id)">
                    <i class="fa fa-trash"></i> Delete
                  </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tableData " ng-show="totalItems===0 ">
            <h5>No data found</h5>
          </div>
          <div class="tableData " ng-show="totalItems===undefined ">
            <h5>Loading Data</h5>
          </div>
          <ul ng-if="totalItems" ng-change="viewTable()" uib-pagination total-items="totalItems" items-per-page="maxRow" ng-model="formData.page"
            max-size="template.pageMax" class="pagination-sm" boundary-links="true " force-ellipses="true "></ul>
        </div>
      </div>
    </div>
  </div>
</div>