<div class="">
    <div class="relate">
        <img src="{{image}}" alt="" id="rotateimg" class="img-responsive" />
        <canvas id="canvas"></canvas>
    </div>
    <p>
        <strong>Rotate Image: </strong>
        <button ng-click="rotateImage(90)" id="rotate90" class="btn">90&deg;</button>
        <button ng-click="rotateImage(180)" id="rotate180" class="btn">180&deg;</button>
        <button ng-click="rotateImage(270)" id="rotate270" class="btn">270&deg;</button>
        <button ng-click="rotateImage()" id="resetImage" class="btn">Reset Image</button>
    </p>
    <div class="">
        <button class="btn" ng-click="saveImage();" ng-hide="showResult">Save</button>
    </div>
    <image-rotate image="" width="" height="" result=""></image-rotate>
</div>
