<div class="modal-header">
  <h4 class="modal-title text-center">Account Detail -(Cash Mode)</h4>
</div>
<div class="modal-body">
  <div class="modal-container">

    <form name="accountForm">
      <!-- <pre>{{formData | json }}</pre> -->
      <div class="row">
        <!-- SGST -->
        <div class="col-md-2">
          <div class="form-group">
            <label for="">Sgst Amt</label>
            <input type="text" name="sgst" class="form-control" only-digits ng-model="formData.sgst" id="sgst" placeholder="Enter Sgst">
          </div>
        </div>
        <!-- SGST END -->
        <!-- CGST -->
        <div class="col-md-2">
          <div class="form-group">
            <label for="">Cgst Amt</label>
            <input type="text" name="cgst" class="form-control" only-digits ng-model="formData.cgst" id="cgst" placeholder="Enter Cgst">
          </div>
        </div>
        <!-- CGST END -->

        <!-- IGST -->
        <div class="col-md-2">
          <div class="form-group">
            <label for="">Igst</label>
            <input type="text" name="igst" class="form-control" only-digits ng-model="formData.igst" id="igst" placeholder="Enter Igst">
          </div>
        </div>
        <!-- IGST END -->

        <!-- DISCOUNT -->
        <div class="col-md-2">
          <div class="form-group">
            <label for="">Discount Amt</label>
            <input type="text" name="discount" class="form-control" only-digits ng-model="formData.discount" id="cgst" placeholder="Enter Discount">
          </div>
        </div>
        <!-- DISCOUNT END -->

        <!-- NET TOTAL -->
        <div class="col-md-2 hide">
          <div class="form-group">
            <label for="">Net Total</label>
            <input type="text" name="nettotal" class="form-control" only-digits ng-model="formData.netTotal" id="cgst" placeholder="Enter Net Total"
              readonly>
            <div class="label label-danger pull-right" ng-if="accountForm.nettotal.$invalid && accountForm.nettotal.$touched">Please Enter Valid Total *</div>
          </div>
        </div>
        <!-- NET  TOTAL END -->

        <!-- OUTSTANDING -->
        <div class="col-md-2">
          <div class="form-group">
            <label> Outstanding</label>
            <input type="text" name="outstanding" class="form-control" only-digits ng-model="formData.outstandingAmount" id="outstandingAmount"
              placeholder="Enter Outstanding Amount" readonly>
          </div>
        </div>
        <!-- OUTSTANDING END -->


        <!-- CHECK NO -->
        <!-- <div class="col-md-3">
          <div class="form-group">
            <label for="">Chq No</label>
            <input type="text" class="form-control" id="checkno" only-digits ng-model="formData.checkNo" name="checkno" placeholder="Enter Check No">
          </div>
        </div> -->
        <!-- CHECK NO END -->

        <div class="col-md-12">
          <div class="form-group">
            <label for="">Remarks</label>
            <input type="text" class="form-control" id="remarks" ng-model="formData.remarks" name="remarks" placeholder="Enter Remarks">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <!-- <div class="pull-right">
              <span><i class="btn btn-primary" aria-hidden="true" ng-click="manualPackageEntry(formData)">Add</i></span>
            </div> -->
            <div class="text-center">
              Package Details
            </div>
            <div class="pull-right">
              <label for="note" class="label label-danger">Note: Cheq no and receipt no should be comma seprated</label>
            </div>
          </div>
          <div class="tablepackageholder table-responsive">
            <table class="table table-condensed">
              <thead>
                <th>
                  <div class="fz12 text-capitalize">
                    Payment Date
                  </div>
                </th>
                <th>
                  <div class="text-capitalize fz12">
                    Payment Mode
                  </div>
                </th>
                <th>
                  <div class="text-capitalize fz12">
                    Package Name
                  </div>
                </th>
                <th>
                  <div class="text-capitalize fz12">
                    Package Amount
                  </div>
                </th>
                <th>
                  <div class="text-capitalize fz12">
                    Amount Paid
                  </div>
                </th>
                <th>
                  <div class="text-capitalize fz12">
                    Recipt No
                  </div>
                </th>
                <th>
                  <div class="text-capitalize fz12">
                    Chq No
                  </div>
                </th>
                <th>
                  <div class="text-capitalize">
                    Status
                  </div>
                </th>

              </thead>
              <tbody>
                <!-- {{formData.transactions| json}} -->
                <tr ng-repeat="packageDetail in formData.transactions track by $index" ng-class="{'highligh-tablerow':packageDetail.currentSchoolPackage===true}">

                  <!-- DATE  -->
                  <td>
                    <div class="form-group m-clear">
                      <input name="datefield" ui-date="dateOptions" ng-model="packageDetail.dateOfTransaction" class="form-control" ng-required="true"
                        placeholder="Enter Event Date" required ng-readonly="packageDetail.paymentMode==='online PAYU' || packageDetail.currentSchoolPackage===false">
                    </div>
                    <div class="label label-danger pull-right" ng-if="accountForm.datefield.$invalid && accountForm.datefield.$touched">Please Enter End Date *</div>
                  </td>
                  <!-- DATE  END -->
                  <!--MODE OF PAYMENT  -->
                  <td>
                    <div class="form-group m-clear">
                      <select name="modepayment" id="modepayment" class="form-control custom-select" ng-model="packageDetail.paymentMode">
                        <option value="online PAYU">Online</option>
                        <option value="cash">Cash</option>
                        <option value="sponsor">Sponsor</option>
                      </select>
                      <!-- <input type="text" class="form-control" name="modepayment" id="modepayment" ng-model="packageDetail.paymentMode" readonly> -->
                      <div class="label label-danger pull-right" ng-if="accountForm.modepayment.$invalid && accountForm.modepayment.$touched">Please Enter Mode *</div>
                    </div>
                  </td>
                  <!--MODE OF PAYMENT END  -->
                  <!-- PACKAGE SELECTION -->
                  <td>
                    <div class="form-group m-clear">
                      <select name="packageName" id="packagename" class="form-control custom-select" ng-model="packageDetail.package" ng-options="{_id:data._id,name:data.name,finalPrice:data.finalPrice} as data.name for data in packageNameData track by data._id"
                        readonly disabled="true">
                      </select>
                    </div>
                    <div class="label label-danger pull-right" ng-if="accountForm.packageName.$invalid && accountForm.packageName.$touched">Please Enter Valid Package Name *</div>
                  </td>
                  <!-- PACKAGE SELECTION END -->

                  <!-- PACKAGE  PRICE -->
                  <td>
                    <div class="form-group m-clear">
                      <input type="text" ng-model="packageDetail.package.finalPrice" class="form-control" readonly>
                    </div>
                  </td>
                  <!-- PACKAGE PRICE END -->

                  <!-- AMOUNT PAID -->
                  <td>
                    <div class="form-group m-clear">
                      <input type="text" ng-model="packageDetail.amountPaid" only-digits class="form-control" placeholder="Amount Paid" ng-readonly="packageDetail.paymentMode==='online PAYU' || packageDetail.currentSchoolPackage===false ">
                    </div>
                  </td>
                  <!-- AMOUNT PAID -->

                  <!-- RECIPT NO -->
                  <td>
                    <div class="form-group m-clear">
                      <input type="text" placeholder="Enter Recipt no" name="reciptno" class="form-control" ng-model="packageDetail.receiptId"
                        ng-list ng-readonly="packageDetail.paymentMode==='online PAYU'">
                    </div>
                    <div class="label label-danger pull-right" ng-if="accountForm.reciptno.$invalid && accountForm.reciptno.$touched">Please Enter Valid Recipt No *</div>
                  </td>
                  <!-- RECIPT NO END -->

                  <!-- CHQ NO -->
                  <td>
                    <div class="form-group m-clear">
                      <input type="text" placeholder="Enter checkNo" name="checkNo" class="form-control" ng-model="packageDetail.checkNo" ng-list
                        ng-readonly="packageDetail.paymentMode==='online PAYU' ||  packageDetail.currentSchoolPackage===false">
                      <div class="label label-danger pull-right" ng-if="accountForm.checkNo.$invalid && accountForm.checkNo.$touched">Please Enter Valid Recipt No *</div>
                    </div>

                  </td>
                  <!-- CHQ NO END -->

                  <!-- STATUS -->
                  <td>
                    <div class="form-group m-clear">
                      <select name="status" id="status" class="form-control custom-select" ng-model="packageDetail.paymentStatus" ng-disabled="packageDetail.paymentMode==='online PAYU' ||  packageDetail.currentSchoolPackage===false">
                        <option value="Paid">Paid</option>
                        <option value="Pending">Pending</option>
                      </select>
                    </div>
                  </td>
                  <!-- STATUS END -->


                  <td class="hide">
                    <span class="text-center" ng-click="deleteRow(formData,$index,isDelete)">
                      <i class="fa btn btn-danger fa-trash" aria-hidden="true"></i>
                    </span>
                  </td>
                  <div class="highlighted-package" ng-if="packageDetail.currentSchoolPackage">
                    <label class="label label-success pull-right">current package</label>
                  </div>
                </tr>
              </tbody>
            </table>
            <div class="form-group">
              <label for="note1" class="label label-info">Note : Highlighted row in table is current package of school</label>
            </div>
          </div>
        </div>



      </div>
    </form>

  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success btn-outline btn-small" type="button" ng-click="saveTable(formData)">Save</button>
  <button type="submit" class="btn btn-danger btn-small" ng-click="$dismiss()">Close</button>
</div>