<div class="modal-header">
  <h4 class="modal-title text-center">Account Detail -(Cash Mode)</h4>
</div>
<div class="modal-body">
  <div class="modal-container">

    <form name="accountForm">
      <pre>{{formData | json }}</pre>
      <div class="row">
        <!-- SGST -->
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Sgst Amt</label>
            <input type="text" name="sgst" class="form-control" only-digits ng-model="formData.sgst" id="sgst" placeholder="Enter Sgst">
          </div>
        </div>
        <!-- SGST END -->
        <!-- CGST -->
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Cgst Amt</label>
            <input type="text" name="cgst" class="form-control" only-digits ng-model="formData.cgst" id="cgst" placeholder="Enter Cgst">
          </div>
        </div>
        <!-- CGST END -->

        <!-- DISCOUNT -->
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Discount Amt</label>
            <input type="text" name="cgst" class="form-control" only-digits ng-model="formData.discount" id="cgst" placeholder="Enter Discount">
          </div>
        </div>
        <!-- DISCOUNT END -->

        <!-- NET TOTAL -->
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Net Total</label>
            <input type="text" name="cgst" class="form-control" only-digits ng-model="formData.netTotal" id="cgst" placeholder="Enter Net Total">
          </div>
        </div>
        <!-- NET  TOTAL END -->

        <!--MODE OF PAYMENT  -->
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Mode Payment</label>
            <select name="modepayment" id="modepayment" class="form-control" ng-model="formData.modePayment">
                <option value="cash">Cash</option>
                <option value="sponsor">Sponsered</option>
              </select>
          </div>
        </div>
        <!--MODE OF PAYMENT END  -->

        <!-- CHECK NO -->
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Chq No</label>
            <input type="text" class="form-control" id="checkno" only-digits ng-model="formData.checkNo" name="checkno" placeholder="Enter Check No">
          </div>
        </div>
        <!-- CHECK NO END -->

        <div class="col-md-6">
          <div class="form-group">
            <label for="">Remarks</label>
            <input type="text" class="form-control" id="remarks" ng-model="formData.remarks" name="remarks" placeholder="Enter Remarks">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <div class="pull-right">
              <span><i class="btn btn-primary" aria-hidden="true" ng-click="manualPackageEntry(formData)">Add</i></span>
            </div>
            <div class="text-center">
              Enter the Packages
            </div>
          </div>
          <div class="tablepackageholder">
            <table class="table table-condensed">
              <thead>
                <th>
                  <div class="text-capitalize">
                    Package Name
                  </div>
                </th>
                <th>
                  <div class="text-capitalize">
                    Recipt No
                  </div>
                </th>
                <th>
                  <div class="text-capitalize">
                    Action
                  </div>
                </th>
              </thead>
              <tbody>
                <!-- {{reciptnoData| json}} -->
                <tr ng-repeat="packageDetail in formData.packageData track by $index">
                  <!-- PACKAGE SELECTION -->
                  <td>
                    <select name="packageName" id="packagename" class="form-control" ng-model="packageDetail.package" ng-options="{_id:data._id,name:data.name,amount:data.price} as data.name for data in packageNameData track by data._id"
                      required>
                    </select>
                    <div class="label label-danger pull-right" ng-if="accountForm.packageName.$invalid && accountForm.packageName.$touched">Please Enter Valid Package Name *</div>
                  </td>
                  <!-- PACKAGE SELECTION END -->

                  <!-- RECIPT NO -->
                  <td>
                    <input type="text" placeholder="Enter Recipt no" name="reciptno" class="form-control" ng-model="packageDetail.reciptNo" required>
                    <div class="label label-danger pull-right" ng-if="accountForm.reciptno.$invalid && accountForm.reciptno.$touched">Please Enter Valid Recipt No *</div>
                  </td>
                  <!-- RECIPT NO END -->
                  <td>
                    <span class="text-center" ng-click="deleteRow(formData,$index)"><i class="fa btn btn-danger fa-trash" aria-hidden="true"></i></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>



      </div>
    </form>

  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success btn-outline btn-small" type="button" ng-click="saveTable(formData)">Save</button>
</div>