<div class="modal-header">
  <h4 class="modal-title text-center">Rules To Follow</h4>
</div>
<div class="modal-body">
  <div class="modal-container">
    <p><b>Note:Opponents can be changed only for round-1 , while for the rest of the rounds it would be done through automation </b></p>
    <p>1:To change the opponent of the Match , please delete the result of match</p>
    <p>2:Opponent in the dropdown will only appear if that opponent is not included in any of the other match </p>
    <p>3:To add opponent you have delete the opponent first</p>
    <p>3:Once the Opponent have been changed ensure to click <strong>Save Opponent</strong></p>
    <p>4:<strong>Need not  click save button</strong> if your changing only opponent of the match</p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-outline btn-small" type="button" ng-click="$dismiss()">Ok</button>
</div>