<div class="match-nomatch-modal">
  <!-- <div class="modal-close pointer" ng-click="$dismiss()">
        <span><i class="fa fa-times"></i></span>
    </div> -->
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 drop-1">
        <select class="form-control">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <div class="col-md-12 drop-2">
        <select class="form-control">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!--<button class="btn btn-green-outline btn-scoring"> Upload Image</button>-->
         <upload-image no-view type="excel" ng-model="form.file" ng-callback="excelUploaded();"></upload-image>
      </div>
    </div>

    <div class="match-nomatch-buttons">
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-green-outline btn-scoring" ng-click="$dismiss()">back</button>
        </div>

        <div class="col-md-4">
          <button class="btn btn-green-outline btn-scoring">Save</button>
        </div>

      </div>
    </div>
  </div>
</div>
