<div class="match-nomatch-modal">
  <!-- <div class="modal-close pointer" ng-click="$dismiss()">
        <span><i class="fa fa-times"></i></span>
    </div> -->
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 drop-1">
        <select class="form-control" ng-model="form.resultType">
          <option  value="knockout">Knockout</option>
          <option  value="heat">Heat</option>
          <option  value="league">League</option>
          <option  value="league-cum-knockout">League cum Knockout</option>
          <option  value="qualifying-knockout">Qualifying Knockout</option>
          <option  value="qualifying-round">Qualifying Round</option>
          <option  value="swiss-league">Swiss League</option>
        </select>
      </div>
      <div class="col-md-12 drop-2">
        <select class="form-control" ng-model="form.playerType">
          <option  value="team">Team</option>
          <option  value="individual">Individual</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!--<button class="btn btn-green-outline btn-scoring"> Upload Image</button>-->
        <upload-image no-view type="excel" ng-model="form.file" ng-callback="excelUploaded();"></upload-image>
      </div>
    </div>

    <div class="match-nomatch-buttons">
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-green-outline btn-scoring" ng-click="$dismiss()">back</button>
        </div>

        <div class="col-md-4">
          <button class="btn btn-green-outline btn-scoring" ng-click="uploadExcelMatch(form)">Save</button>
        </div>

      </div>
    </div>
  </div>
</div>