<div class="" id="printSection">
  <div class="printpage-mc-raquet">
    <!-- PRINT -->
    <div class="" id="print-btnholder">
      <button type="button" class="btn btn-blueoutline" ng-click="printFunction()">Print</button>
    </div>
    <!-- PRINT END -->
    <!-- SFA LOGO -->
    <div class="matchcenter-sfaholder">
      <div class="matchcenter-sfalogo">
        <img src="img/logo.png" alt="Sport For All" class="img-responsive">
      </div>
      <p class="matchcenter-sfatext"><span>Licensed by:</span> SFA Sporting Services Pvt. Ltd</p>
    </div>
    <!-- SFA LOGO END -->
  <!-- TITLE -->
  <div class="matchcenter-title">
    <div class="matchcenter-header">
      {{eventName}}
    </div>
  </div>
  <!-- TITLE END -->
  <!-- HEADER -->
  <div class="matchstart-header">
    <!-- HEADER LOGO  -->
    <div class="matchcenter-sporticon">
      <img ng-src="{{match.sportName|sporticon:'icon'}}" alt="{{match.sportName}}" title="{{match.sportName}}" class="img-responsive">
    </div>
    <!-- HEADER LOGO END -->
    <!-- HEADER CONTENT  -->
    <div class="matchcenter-heading">
      <span class="pull-right">{{match.matchId}}</span>
      <p class="m-clear"><span>{{match.sport.sportslist.sportsListSubCategory.name}}</span> - <span>{{match.sport.ageGroup.name}}</span> <span>{{match.sport.gender}} </span> <span>{{match.round}}</span></p>
    </div>
    <!-- HEADER CONTENT END  -->
  </div>
  <!-- HEADER END -->
  <!-- CONTENT -->
  <div class="matchcenter-content">
    <!-- WINNER -->
    <div class="matchwinner">
      <p>Match Winner: <label class="matchwinner-title"> {{match.winner.schoolName}}</label></p>
    </div>
    <!-- WINNER END -->
    <!-- OVERVIEW -->
    <div class="match-overview">
      <div class="matchoverview-table">
        <table>
          <tbody>
            <tr>
              <td>
                <label for="">Team</label>
              </td>
              <td ng-repeat="set in match.resultsRacquet.teams[0].sets track by $index">
                <div class="text-center">
                  <label for="">SET {{$index+1}}</label>
                </div>
              </td>
            </tr>
            <tr ng-repeat="team in match.resultsRacquet.teams track by $index ">
              <td>
                <div class="matchoverview-playername">
                  <label class="m-clear">{{team.teamId}}</label>
                  <p class="m-clear">{{team.schoolName}}</p>
                </div>
              </td>
              <td ng-repeat="set in team.sets track by $index">
                <div class="match-pointholder">
                  {{set.point}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- OVERVIEW END -->
    <!-- MATCH SCORES -->
    <div class="matchcenter-row clearfix">
      <div class="col-50" ng-repeat="team in match.resultsRacquet.teams track by $index ">
        <div class="player-card">
          <label class="m-clear">{{team.schoolName}}</label>
          <label>{{team.teamId}}</label>
          <div class="teamplayer-card" ng-repeat= "player in team.players track by $index">
            <p class="m-clear"><span>{{player.sfaId}}</span> - <span>{{player.fullName}}</span></p>
          </div>
        </div>

        <div class="player-scorecard clearfix" ng-repeat="set in team.sets track by $index">
          <label>SET {{$index+1}}</label>
          <div class="scoreholder"  ng-if="match.sport.sportslist.name=='Tennis Doubles'">
            <label>ACE</label>
            <div class="match-pointholder">
              {{set.ace}}
            </div>
          </div>
          <div class="scoreholder">
            <label>WINNER</label>
            <div class="match-pointholder">
              {{set.winner}}
            </div>
          </div>
          <div class="scoreholder">
            <label>Unforced Error</label>
            <div class="match-pointholder">
              {{set.unforcedError}}
            </div>
          </div>
          <div class="scoreholder" ng-if="match.sport.sportslist.name=='Badminton Doubles' || match.sport.sportslist.name == 'Table Tennis Doubles' || match.sport.sportslist.name == 'Squash'">
            <label>Service Error</label>
            <div class="match-pointholder">
              {{set.serviceError}}
            </div>
          </div>
          <div class="scoreholder" ng-if="match.sport.sportslist.name=='Tennis Doubles'">
            <label>Double Faults</label>
            <div class="match-pointholder">
              {{set.doubleFaults}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MATCH SCORES END -->
  </div>
  <!-- CONTENT END -->
</div>
</div>
<!-- <pre>{{match|json}}</pre> -->
