<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
    </title>
    <style>
        @font-face {
            font-family: 'TitilliumWeb-Bold';
            src: url("../views/font/TitilliumWeb-Bold.ttf");
        }

        @font-face {
            font-family: 'TitilliumWeb-LightItalic';
            src: url("../views/font/TitilliumWeb-LightItalic.ttf");
        }

        @font-face {
            font-family: 'TitilliumWeb-Regular';
            src: url("../views/font/TitilliumWeb-Regular.ttf");
        }

        TitilliumWeb-ExtraLightItalic.ttf .body {
            color: #000;
            font-family: TitilliumWeb-Regular;
        }

        .img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .inline-block {
            display: inline-block;
        }

        .text-center {
            text-align: center;
        }

        .list-inline>li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }

        .color-primary {
            color: #0a1a72;
        }

        .bold {
            font-weight: bold;
        }

        .sfa-bold {
            font-family: TitilliumWeb-Bold
        }

        .m-clear {
            margin: 0px;
        }
        table {
            width: 600px;
            margin: 0 auto;
        }

        tr,
        td,
        span,
        p {
            color: #000;
        }
    </style>
</head>

<body>
    <table>
      <tbody>
        <tr>
          <td>
            <div class="">
              <!-- ******************150 VOUCHER****************************** -->
              <img src="https://storage.googleapis.com/sportsforall/voucher150.jpg" alt="Smaaash Voucher by Sports For All" class="img-responsive">
              <!-- ******************150 VOUCHER****************************** -->
              <!-- ******************200 VOUCHER****************************** -->
              <!-- <img src="https://storage.googleapis.com/sportsforall/voucher200.jpg" alt="Smaaash Voucher by Sports For All" class="img-responsive"> -->
              <!-- ******************200 VOUCHER****************************** -->
              <!-- ******************300 VOUCHER****************************** -->
              <!-- <img src="https://storage.googleapis.com/sportsforall/voucher300.jpg" alt="Smaaash Voucher by Sports For All" class="img-responsive"> -->
              <!-- ******************300 VOUCHER****************************** -->

            </div>
          </td>
        </tr>
      </tbody>
    </table>
</body>

</html>
