<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Are you sure you want to reset the match result?</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="confirmation-message">
    <p><span class="fa fa-exclamation-triangle warning-logo"></span>On reset all results of the match will be erased.</p>
  </div>
</div>
<div class="modal-footer">
  <div class="confirmationmodal-button">
    <button class="btn btn-modalconfirm text-center" type="button" ng-click="resetMatchResult();">Yes</button>
    <button class="btn btn-modalconfirm text-center" type="button" ng-click="$dismiss();">No</button>
  </div>
</div>
