<div class="modal-header">
  <h4 class="modal-title"><span class="pull-right">Jersey No: <span>{{selectedPlayer.jerseyNo}}</span></span> Score</h4>
</div>
<div class="modal-body">
  <div class="scoreteam-playerpoints">
    <div class="row">
      <!-- FREE THROW -->
      <div class="col-md-3 col-sm-3">
        <div class="teamscore-pointholder text-center">
          <label for=""> Free-Throw </label>
          <div class="relate teamscore-point mtb-10">
            <button class="btn score-buttons teamscore-buttons score-decrement" ng-click="scorePlayerPoints(selectedPlayer,'freeThrow','-');"
              ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-minus"></i></button>
            <input type="number" ng-model="selectedPlayer.playerPoints.freeThrow.length" min="0" max="99" class="score-number teamscore-number display-inline form-control"
              readonly>
            <button class="btn score-buttons teamscore-buttons score-increment" ng-click="scorePlayerPoints(selectedPlayer,'freeThrow','+');"
              ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-plus"></i></button>
          </div>
          <div class="input-group">
            <input type="number" class="form-control" ng-model="selectedPlayer.playerPoints.freeThrow[selectedPlayer.playerPoints.freeThrow.length-1].time"
              placeholder="Time" ng-disabled="selectedPlayer.isPlaying ==  false" ng-readonly="selectedPlayer.playerPoints.freeThrow.length==0">
            <span class="input-group-addon">Min</span>
          </div>
        </div>
      </div>
      <!-- FREE THROW -->
      <!-- POINTS 2 -->
      <div class="col-md-3 col-sm-3">
        <div class="teamscore-pointholder text-center">
          <label for=""> Points2 </label>
          <div class="relate teamscore-point mtb-10">
            <button class="btn score-buttons teamscore-buttons score-decrement" ng-click="scorePlayerPoints(selectedPlayer,'Points2','-')"
              ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-minus"></i></button>
            <input type="number" ng-model="selectedPlayer.playerPoints.Points2.length" min="0" max="99" class="score-number teamscore-number display-inline form-control"
              readonly>
            <button class="btn score-buttons teamscore-buttons score-increment" ng-click="scorePlayerPoints(selectedPlayer,'Points2','+')"
              ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-plus"></i></button>
          </div>
          <div class="input-group">
            <input type="number" class="form-control" ng-model="selectedPlayer.playerPoints.Points2[selectedPlayer.playerPoints.Points2.length-1].time"
              placeholder="Time" ng-disabled="selectedPlayer.isPlaying ==  false" ng-readonly="selectedPlayer.playerPoints.Points2.length==0">
            <span class="input-group-addon">Min</span>
          </div>
        </div>
      </div>
      <!-- POINTS 2 -->
      <!-- POINTS 3 -->
      <div class="col-md-3 col-sm-3">
        <div class="teamscore-pointholder text-center">
          <label for=""> Points3 </label>
          <div class="relate teamscore-point mtb-10">
            <button class="btn score-buttons teamscore-buttons score-decrement" ng-click="scorePlayerPoints(selectedPlayer,'Points3','-')"
              ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-minus"></i></button>
            <input type="number" ng-model="selectedPlayer.playerPoints.Points3.length" min="0" max="99" class="score-number teamscore-number display-inline form-control"
              readonly>
            <button class="btn score-buttons teamscore-buttons score-increment" ng-click="scorePlayerPoints(selectedPlayer,'Points3','+');"
              ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-plus"></i></button>
          </div>
          <div class="input-group">
            <input type="number" class="form-control" ng-model="selectedPlayer.playerPoints.Points3[selectedPlayer.playerPoints.Points3.length-1].time"
              placeholder="Time" ng-disabled="selectedPlayer.isPlaying ==  false && selectedPlayer.Points3.length <= 0" ng-readonly="selectedPlayer.playerPoints.Points3.length==0">
            <span class="input-group-addon">Min</span>
          </div>
        </div>
      </div>
      <!-- POINTS 3 -->
      <!-- PERSONAL FOUL -->
      <div class="col-md-3 col-sm-3">
        <div class="teamscore-pointholder text-center">
          <label for=""> Personal Foul </label>
          <div class="relate teamscore-point mtb-10">
            <button class="btn score-buttons teamscore-buttons score-decrement" ng-click="scorePlayerPoints(selectedPlayer,'personalFoul','-')"
              ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-minus" ></i></button>
            <input type="number" ng-model="selectedPlayer.playerPoints.personalFoul.length" min="0" max="99" class="score-number teamscore-number display-inline form-control"
              readonly>
            <button class="btn score-buttons teamscore-buttons score-increment" ng-click="scorePlayerPoints(selectedPlayer,'personalFoul','+')"
              ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-plus"></i></button>
          </div>
          <div class="input-group">
            <input type="number" class="form-control" ng-model="selectedPlayer.playerPoints.personalFoul[selectedPlayer.playerPoints.personalFoul.length-1].time"
              placeholder="Time" ng-disabled="selectedPlayer.isPlaying ==  false && selectedPlayer.personalFoul.length <= 0"
              ng-readonly="selectedPlayer.playerPoints.personalFoul.length==0">
            <span class="input-group-addon">Min</span>
          </div>
        </div>
      </div>
      <!-- PERSONAL FOUL-->
      <!-- TECHNICAL FOUL-->
      <div class="col-md-3 col-sm-3">
        <div class="teamscore-pointholder text-center">
          <label for=""> Technical Foul</label>
          <div class="relate teamscore-point mtb-10">
            <button class="btn score-buttons teamscore-buttons score-decrement" ng-click="scorePlayerPoints(selectedPlayer,'technicalFoul','-')"
              ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-minus" ></i></button>
            <input type="number" ng-model="selectedPlayer.playerPoints.technicalFoul.length" min="0" max="99" class="score-number teamscore-number display-inline form-control"
              readonly>
            <button class="btn score-buttons teamscore-buttons score-increment" ng-click="scorePlayerPoints(selectedPlayer,'technicalFoul','+')"
              ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-plus"></i></button>
          </div>
          <div class="input-group">
            <input type="number" class="form-control" ng-model="selectedPlayer.playerPoints.technicalFoul[selectedPlayer.playerPoints.technicalFoul.length-1].time"
              placeholder="Time" ng-disabled="selectedPlayer.isPlaying ==  false && selectedPlayer.technicalFoul.length <= 0"
              ng-readonly="selectedPlayer.playerPoints.technicalFoul.length==0">
            <span class="input-group-addon">Min</span>
          </div>
        </div>
      </div>
      <!-- TECHNICAL FOUL END-->
      <!-- OUT -->
      <div class="col-md-3 col-sm-3">
        <div class="teamscore-pointholder">
          <label for=""> Out </label>
          <!--<div class="relate teamscore-point mtb-10">
            <input type="number" placeholder="0" ng-model="selectedPlayer.playerPoints.out.length" min="0" max="99" class="score-number teamscore-number display-inline form-control"
              readonly>
            <button class="btn score-buttons teamscore-buttons score-increment" ng-click="scorePlayerPoints(selectedPlayer,'out','+')"
              ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-plus"></i></button>
          </div>-->
          <div class="custom-toggle">
            <label class="switch">
          <input type="checkbox" ng-model="selectedPlayer.isPlaying">
          <div class="slider round"></div>
        </label>
          </div>
          <div class="input-group">
            <input type="number" class="form-control" ng-model="inOutTime.time" placeholder="Time" ng-disabled="selectedPlayer.out.length <= 0"
              ng-readonly="selectedPlayer.isPlaying">
            <span class="input-group-addon">Min</span>
          </div>
        </div>

      </div>


      <!-- OUT -->
      <!-- IN -->
      <div class="col-md-3 col-sm-3" ng-if="!selectedPlayer.isPlaying">
        <div class="teamscore-pointholder">
          <div class="match-selectwinner">
            <label for="">Select substitute {{substitutePlayer.player}}</label>
            <ui-select id="matchWinnerPlayer" ng-model="substitutePlayer.player" theme="bootstrap">
              <ui-select-match placeholder="Select Winner">{{$select.selected.firstName}} {{$select.selected.surname}}</ui-select-match>
              <ui-select-choices repeat="player as player in match[matchData.resultVar].teams[selectedTeamIndex].players | filter: $select.search">
                <p class="opponentsingle-selector" ng-if="player.isPlaying == false "> {{player.firstName}} {{player.surname}} </p>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <!-- IN -->
    </div>
  </div>
  <div class="row">
    <pre>{{selectedPlayer|json}}</pre>
  </div>
</div>
<div class="modal-footer">
  <div class="scoreplayer-save">
    <button class="btn btn-green-outline text-center" type="button" ng-click="updatePlayerDetails(selectedPlayer,substitutePlayer.player)">Done</button>
    <button class="btn btn-green-outline text-center" type="button" ng-click="$dismiss()">Cancel</button>
  </div>
</div>