<div class="modal-header">
    <h4 class="modal-title"><span class="pull-right">Jersey No: <span>{{selectedPlayer.jerseyNo}}</span></span> Score</h4>
</div>
<div class="modal-body">
    <div class="scoreteam-playerpoints">
        <div class="row">
            <!-- GOALS -->
            <div class="col-md-3 col-sm-3">
                <div class="teamscore-pointholder">
                    <label for=""> Goal </label>
                    <div class="relate teamscore-point mtb-10">
                        <button class="btn score-buttons teamscore-buttons score-decrement" ng-click="decrementPlayerPoint(selectedPlayer,'goals');" ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-minus"></i></button>
                        <input type="number" ng-model="selectedPlayer.playerPoints.goals.length" min="0" placeholder="0" max="99" class="score-number teamscore-number display-inline form-control" readonly>
                        <button class="btn score-buttons teamscore-buttons score-increment" ng-click="incrementPlayerPoint(selectedPlayer,'goals');" ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-plus"></i></button>
                    </div>
                    <div class="input-group">
                        <input type="number" class="form-control" ng-model="selectedPlayer.playerPoints.goals[selectedPlayer.playerPoints.goals.length-1].time" placeholder="Time" ng-disabled="selectedPlayer.isPlaying ==  false" >
                        <span class="input-group-addon">Min</span>
                    </div>
                </div>
            </div>
            <!-- GOALS -->
            <!-- ASSIST -->
            <div class="col-md-3 col-sm-3">
                <div class="teamscore-pointholder">
                    <label for=""> Assits </label>
                    <div class="relate teamscore-point mtb-10">
                        <button class="btn score-buttons teamscore-buttons score-decrement" ng-click="decrementPlayerPoint(selectedPlayer,'assist');" ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-minus"></i></button>
                        <input type="number" ng-model="selectedPlayer.playerPoints.assist.length" min="0" placeholder="0" max="99" class="score-number teamscore-number display-inline form-control" readonly>
                        <button class="btn score-buttons teamscore-buttons score-increment" ng-click="incrementPlayerPoint(selectedPlayer,'assist');" ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-plus"></i></button>
                    </div>
                    <div class="input-group">
                        <input type="number" class="form-control" ng-model="selectedPlayer.playerPoints.assist[selectedPlayer.playerPoints.assist.length-1].time" placeholder="Time" ng-disabled="selectedPlayer.isPlaying ==  false">
                        <span class="input-group-addon">Min</span>
                    </div>
                </div>
            </div>
            <!-- ASSIST -->
            <!-- RED CARDS -->
            <div class="col-md-3 col-sm-3">
                <div class="teamscore-pointholder">
                    <label for=""> Red Cards </label>
                    <div class="relate teamscore-point mtb-10">
                        <button class="btn score-buttons teamscore-buttons score-decrement" ng-click="decrementPlayerPoint(selectedPlayer,'redCard');" ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-minus"></i></button>
                        <input type="number" ng-model="selectedPlayer.playerPoints.redCard.length" min="0" placeholder="0" max="99" class="score-number teamscore-number display-inline form-control" readonly>
                        <button class="btn score-buttons teamscore-buttons score-increment" ng-click="incrementPlayerPoint(selectedPlayer,'redCard');" ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-plus"></i></button>
                    </div>
                    <div class="input-group" >
                        <input type="number" class="form-control" ng-model="selectedPlayer.playerPoints.redCard[selectedPlayer.playerPoints.redCard.length-1].time" placeholder="Time" ng-disabled="selectedPlayer.isPlaying ==  false && selectedPlayer.redCard.length <= 0">
                        <span class="input-group-addon">Min</span>
                    </div>
                </div>
            </div>
            <!-- RED CARDS -->
            <!-- YELLOW CARD -->
            <div class="col-md-3 col-sm-3">
                <div class="teamscore-pointholder">
                    <label for=""> Yellow Card </label>
                    <div class="relate teamscore-point mtb-10">
                        <button class="btn score-buttons teamscore-buttons score-decrement" ng-click="decrementPlayerPoint(selectedPlayer,'yellowCard');" ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-minus" ></i></button>
                        <input type="number" ng-model="selectedPlayer.playerPoints.yellowCard.length" min="0" placeholder="0" max="99" class="score-number teamscore-number display-inline form-control" readonly>
                        <button class="btn score-buttons teamscore-buttons score-increment" ng-click="incrementPlayerPoint(selectedPlayer,'yellowCard');" ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-plus"></i></button>
                    </div>
                    <div class="input-group" >
                        <input type="number" class="form-control" ng-model="selectedPlayer.playerPoints.yellowCard[selectedPlayer.playerPoints.yellowCard.length-1].time" placeholder="Time" ng-disabled="selectedPlayer.isPlaying ==  false && selectedPlayer.yellowCard.length <= 0">
                        <span class="input-group-addon">Min</span>
                    </div>
                </div>
            </div>
            <!-- YELLOW CARD -->
        </div>
        <div class="row">
          <!-- OUT -->
          <div class="col-md-3 col-sm-3">
              <div class="teamscore-pointholder">
                  <label for=""> Out </label>
                  <div class="relate teamscore-point mtb-10">
                      <!-- <button class="btn score-buttons teamscore-buttons score-decrement" ng-click="decrementPlayerPoint(selectedPlayer,'out');" ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-minus"></i></button> -->
                      <input type="number" ng-model="selectedPlayer.playerPoints.out.length" min="0" placeholder="0" max="99" class="score-number teamscore-number display-inline form-control" readonly>
                      <button class="btn score-buttons teamscore-buttons score-increment" ng-click="incrementPlayerPoint(selectedPlayer,'out');" ng-disabled="selectedPlayer.isPlaying ==  false"><i class="fa fa-plus"></i></button>
                  </div>
                  <div class="input-group">
                      <input type="number" class="form-control" ng-model="selectedPlayer.playerPoints.out[selectedPlayer.playerPoints.out.length-1].time" placeholder="Time" ng-disabled="selectedPlayer.out.length <= 0">
                      <span class="input-group-addon">Min</span>
                  </div>
              </div>
          </div>
          <!-- OUT -->
          <!-- IN -->
          <div class="col-md-3 col-sm-3">
              <div class="teamscore-pointholder">
                <div class="match-selectwinner">
                  <label for="">Select substitute</label>
                  <ui-select id="matchWinnerPlayer" ng-model="selectedInPlayer.player" theme="bootstrap" ng-disabled="selectedPlayer.isPlaying">
                      <ui-select-match placeholder="Select Substitute">{{$select.selected.studentId.firstName}} {{$select.selected.studentId.surname}}</ui-select-match>
                      <ui-select-choices repeat="player.studentId._id as player in selectedTeam.studentTeam | filter: $select.search">
                          <p class="opponentsingle-selector" ng-if="player.isPlaying == false "> <span class="pull-right">{{player.jerseyNo}}</span> {{player.studentId.firstName}} {{player.studentId.surname}} </p>
                      </ui-select-choices>
                  </ui-select>
                </div>
              </div>
          </div>
          <!-- IN -->
        </div>
    </div>
    <!-- <div class="row">
      <pre>{{selectedInPlayer|json}}</pre>
        <pre>{{selectedPlayer|json}}</pre>
    </div> -->
</div>
<div class="modal-footer">
    <div class="scoreplayer-save">
        <button class="btn btn-green-outline text-center" type="button" ng-click="savePlayerPoints()">Done</button>
        <button class="btn btn-green-outline text-center" type="button" ng-click="cancelPlayerPoints()">Cancel</button>
    </div>
</div>
