<div class="heading-sec">
  <div class="row">
    <div class="col-md-4 column">
      <div class="heading-profile">
        <h2>{{title}} Package</h2>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="form-elements-sec">
          <form name="detailForm" role="form" class="sec">
            <div class="row">
              <!-- FEATURE NAME -->
              <div class="col-md-12">
                <div class="form-group">
                  <label>Feature Name*</label>
                  <input type="text" ng-model="formData.featureName" name="name" class="form-control" placeholder="Enter Name" required>
                  <div class="error-msg" ng-if="detailForm.name.$invalid && detailForm.name.$touched">Please Enter Valid Name *</div>
                </div>
              </div>
              <!-- FEATURE NAME END -->

              <!-- TABLE -->
              <div class="col-md-12">
                <div class="form-group">
                  <label for="packages" class="fz12">Package Selection</label>
                  <div class="pull-right" ng-click="addRow(formData);">
                    <button class="btn btn-primary" type="button">Add Row</button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="table-responsive registercontent-gallerybanners">
                    <table class="table table-condensed">
                      <thead>
                        <tr>
                          <th>
                            <div>
                              Package Name
                            </div>
                          </th>
                          <th>
                            <div>
                              Type
                            </div>
                          </th>
                          <th>
                            <div>
                              Value
                            </div>
                          </th>
                          <th>
                            <div>
                              Action
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-imageresponsive" ng-repeat="feature in formData.featureDetails track by $index">
                          <td>
                            <div class="form-group">
                              <select name="" id="" class="form-control" ng-model="feature.packageName" ng-options="{_id:item._id,packageName:item.name} as item.name for item in packages track by item._id">
                                 </select>
                            </div>
                          </td>
                          <td>
                            <div>
                              <select name="" id="" class="form-control" ng-model="feature.featureType">
                                    <option value="checkbox">Checkbox</option>
                                    <option value="text">text</option>
                              </select>
                            </div>
                          </td>
                          <td>
                            <div ng-if="feature.featureType=='checkbox'">
                              <input type="checkbox" name="" id="" class="form-control" ng-model="feature.featureCheck">
                            </div>
                            <div ng-if="feature.featureType=='text'">
                              <input type="text" class="form-control" placeholder="Enter Text" ng-model="feature.featureText">
                            </div>
                          </td>
                          <td>
                            <div ng-click="deleteRowButton(formData,$index);">
                              <button class="btn btn-danger text-center" type="submit">Delete</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- TABLE END -->

              <div class="col-md-12">
                <div class="text-center mt20 odd-even-button">
                  <button class="btn btn-default" type="submit" ng-click="saveData(formData)" ng-disabled="detailForm.$invalid">Save</button>
                  <button class="btn btn-default" ng-click="onCancel('featurepackage')">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>